/* ==========================================================================
   Side navigation
   ========================================================================== */

.#{$lumx-base-prefix}-side-navigation {
    @include lumx-list;
}

/* Item
   ========================================================================== */

/**
 * 1. https://github.com/philipwalton/flexbugs/blob/master/README.md#flexbug-3
 */

.#{$lumx-base-prefix}-side-navigation-item {
    $self: &;

    display: flex; /* [1] */
    flex-direction: column; /* [1] */
    margin-bottom: $lumx-spacing-unit / 2;

    &:last-child {
        margin-bottom: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #{$self}__link {
            flex: 1;
            margin-right: $lumx-spacing-unit-regular;
        }
    }

    &__link {
        @include lumx-side-navigation-link;

        &--level-2 {
            @include lumx-side-navigation-item-level(2);
        }

        &--level-3 {
            @include lumx-side-navigation-item-level(3);
        }

        & > i:first-child {
            @include lumx-side-navigation-link-icon(lumx-base-const('position', 'LEFT'));
        }

        & > i:last-child {
            @include lumx-side-navigation-link-icon(lumx-base-const('position', 'RIGHT'));
        }

        & > span {
            #{$self}--emphasis-high & {
                @include lumx-side-navigation-link-label(lumx-base-const('emphasis', 'HIGH'));
            }

            #{$self}--emphasis-medium & {
                @include lumx-side-navigation-link-label(lumx-base-const('emphasis', 'MEDIUM'));
            }

            #{$self}--emphasis-low & {
                @include lumx-side-navigation-link-label(lumx-base-const('emphasis', 'LOW'));
            }
        }
    }

    &__children {
        @include lumx-list;

        margin-top: $lumx-spacing-unit / 2;
    }
}

/* Item link states
   ========================================================================== */

.#{$lumx-base-prefix}-side-navigation-item .#{$lumx-base-prefix}-side-navigation-item__link {
    @include lumx-list-item-clickable;
}

.#{$lumx-base-prefix}-side-navigation-item--is-selected .#{$lumx-base-prefix}-side-navigation-item__link {
    @include lumx-list-item-selected;
}
