@mixin lumx-side-navigation-item() {
    margin-bottom: $lumx-spacing-unit / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin lumx-side-navigation-link() {
    display: flex;
    min-height: map-get($lumx-sizes, lumx-base-const('size', 'M'));
    flex-direction: row;
    align-items: center;
    padding: 0 $lumx-spacing-unit;
    border-radius: $lumx-theme-border-radius;
    outline: none;
    text-decoration: none;
}

@mixin lumx-side-navigation-link-icon($position) {
    flex-shrink: 0;

    @if $position == lumx-base-const('position', 'LEFT') {
        margin-right: $lumx-spacing-unit * 2;
    } @else if $position == lumx-base-const('position', 'RIGHT') {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-side-navigation-link-label($emphasis) {
    flex: 1 1 auto;

    @if $emphasis == lumx-base-const('emphasis', 'HIGH') {
        @include lumx-typography('title');
    } @else if $emphasis == lumx-base-const('emphasis', 'MEDIUM') {
        @include lumx-typography('subtitle1');
    } @else if $emphasis == lumx-base-const('emphasis', 'LOW') {
        @include lumx-typography('body1');
    }
}
