/* ==========================================================================
   Tabs
   ========================================================================== */

.lx-tabs {
    $self: &;

    &__links::after {
        height: 1px !important;
    }

    &__link {
        background-color: transparent !important;
        text-transform: uppercase;

        #{ $self }--theme-light & {
            color: lx-theme-color-variant(dark, L2);
        }

        #{ $self }--theme-dark & {
            color: lx-theme-color-variant(light, L2);
        }
    }
}

/* Tabs link states
   ========================================================================== */

// Hover state
.lx-tabs__link:hover {
    .lx-tabs--theme-light & {
        color: lx-theme-color-variant(primary, N);
    }

    .lx-tabs--theme-dark & {
        color: lx-theme-color-variant(light, N);
    }
}

/* Tabs link active
   ========================================================================== */

.lx-tabs__link--is-active {
    .lx-tabs--theme-light & {
        color: lx-theme-color-variant(primary, N);
    }

    .lx-tabs--theme-dark & {
        color: lx-theme-color-variant(light, N);
    }
}
