@use "sass:map";

/* ==========================================================================
   Lightbox
   ========================================================================== */

.lumx-lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map.get($lumx-base-layers, "high");
    display: none;
    overflow: auto;
    background-color: lumx-color-variant("dark", "L1");
    opacity: 1;
    transition: opacity $lumx-lightbox-transition-duration;
    animation: lumx-lightbox-show $lumx-lightbox-transition-duration;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
        animation: none;
    }

    &--is-shown {
        display: block;
    }

    &--is-hidden {
        opacity: 0;
    }

    &__close {
        position: fixed;
        top: $lumx-spacing-unit * 3;
        right: $lumx-spacing-unit * 3;
        z-index: 1;
    }

    &__wrapper {
        position: absolute;
        top: map.get($lumx-sizes, lumx-base-const("size", "L"));
        right: map.get($lumx-sizes, lumx-base-const("size", "L"));
        bottom: map.get($lumx-sizes, lumx-base-const("size", "L"));
        left: map.get($lumx-sizes, lumx-base-const("size", "L"));
        display: flex;
        flex-direction: column;
    }
}

@keyframes lumx-lightbox-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
