/* ==========================================================================
   Flag
   ========================================================================== */

.#{$lumx-base-prefix}-flag {
    display: inline-flex;
    height: map-get($lumx-sizes, lumx-base-const('size', 'XS'));
    align-items: center;
    padding: 0 $lumx-spacing-unit;
    margin: 0;
    border-radius: map-get($lumx-sizes, lumx-base-const('size', 'XS')) / 2;

    &__icon {
        margin-right: $lumx-spacing-unit-tiny;
    }

    &__label {
        @include lumx-typography('overline');
    }
}

/* Flag colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-flag--color-#{$key} {
        border: 2px solid lumx-color-variant($key, 'L4');
    }

    .#{$lumx-base-prefix}-flag--color-#{$key} .#{$lumx-base-prefix}-flag__label {
        color: lumx-color-variant($key, 'D2');
    }
}
