@use "sass:map";
@use "sass:math";

/* ==========================================================================
   Flag
   ========================================================================== */

.#{$lumx-base-prefix}-flag {
    display: inline-flex;
    align-items: center;
    height: map.get($lumx-sizes, lumx-base-const("size", "XS"));
    padding: 0 $lumx-spacing-unit;
    margin: 0;
    border-radius: math.div(map.get($lumx-sizes, lumx-base-const("size", "XS")), 2);

    &--is-truncated {
        max-width: 100%;
    }

    &__icon {
        margin-right: $lumx-spacing-unit-tiny;
    }
}

/* Flag colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-flag--color-#{$key} {
        border: 2px solid lumx-color-variant($key, "L4");

        .#{$lumx-base-prefix}-flag__label,
        .#{$lumx-base-prefix}-flag__icon {
            @if $key == "dark" or $key == "yellow" {
                color: lumx-color-variant("dark", "L1");
            } @else {
                color: lumx-color-variant($key, "N");
            }
        }
    }
}
