/* ==========================================================================
   Uploader
   ========================================================================== */

.lumx-uploader {
    $self: &;

    @include lumx-state-transition;

    display: grid;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;

    &--theme-light {
        @include lumx-state("state-default", "emphasis-medium", "dark");

        &:hover {
            @include lumx-state("state-hover", "emphasis-medium", "dark");
        }

        &:active {
            @include lumx-state("state-active", "emphasis-medium", "dark");
        }

        &[data-focus-visible-added],
        &:focus-within {
            @include lumx-state("state-focus", "emphasis-medium", "dark");
        }
    }

    &--theme-dark {
        @include lumx-state("state-default", "emphasis-medium", "light");

        &:hover {
            @include lumx-state("state-hover", "emphasis-medium", "light");
        }

        &:active {
            @include lumx-state("state-active", "emphasis-medium", "light");
        }

        &[data-focus-visible-added],
        &:focus-within {
            @include lumx-state("state-focus", "emphasis-medium", "light");
        }
    }

    &--variant-rounded {
        &, #{$self}__wrapper {
            border-radius: var(--lumx-border-radius);
        }
    }

    &--variant-circle {
        &, #{$self}__wrapper {
            border-radius: 50%;
        }
    }

    &__background,
    &__wrapper,
    &__input {
        // Stack all onto the same cell
        grid-area: 1 / 1 / 1 / 1;
    }

    &__input {
        opacity: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        user-select: none;
    }

    &--is-drag-hovering &__wrapper {
        outline: 2px dashed $lumx-color-dark-L2;
        outline-offset: -$lumx-spacing-unit;
    }

    &__icon {
        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            color: lumx-color-variant("dark", "L1");
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }

    &__label {
        @include lumx-typography("subtitle1");

        text-align: center;

        #{$self}--theme-light & {
            color: lumx-color-variant("dark", "L1");
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }
}

/* Uploader sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .lumx-uploader--size-#{$key} {
        width: $size;
    }
}

/* Uploader aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .lumx-uploader--aspect-ratio-#{$key} .lumx-uploader__background {
        padding-top: $aspect-ratio;
    }
}
