/* ==========================================================================
   Uploader
   ========================================================================== */

.#{$lumx-base-prefix}-uploader {
    $self: &;

    @include lumx-state-transition;

    position: relative;
    cursor: pointer;
    outline: none;

    &--theme-light {
        @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'MEDIUM'), 'dark');

        &:hover {
            @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'MEDIUM'), 'dark');
        }

        &:active {
            @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'MEDIUM'), 'dark');
        }

        &[data-focus-visible-added] {
            @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'MEDIUM'), 'dark');
        }
    }

    &--theme-dark {
        @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'MEDIUM'), 'light');

        &:hover {
            @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'MEDIUM'), 'light');
        }

        &:active {
            @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'MEDIUM'), 'light');
        }

        &[data-focus-visible-added] {
            @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'MEDIUM'), 'light');
        }
    }

    &--variant-square {
        border-radius: 0;
    }

    &--variant-rounded {
        border-radius: var(--lumx-border-radius);
    }

    &--variant-circle {
        border-radius: 50%;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 $lumx-spacing-unit * 2;
        user-select: none;
    }

    &__icon {
        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'N');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'N');
        }
    }

    &__label {
        @include lumx-typography('subtitle1');

        text-align: center;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'N');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'N');
        }
    }
}

/* Uploader sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-uploader--size-#{$key} {
        width: $size;
    }
}

/* Uploader aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .#{$lumx-base-prefix}-uploader--aspect-ratio-#{$key} .#{$lumx-base-prefix}-uploader__background {
        padding-top: $aspect-ratio;
    }
}
