/* ==========================================================================
   Uploader
   ========================================================================== */

.#{$lumx-base-prefix}-uploader {
    $self: &;

    @include lumx-state-transition;

    display: grid;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;

    &--theme-light {
        @include lumx-state(lumx-base-const("state", "DEFAULT"), lumx-base-const("emphasis", "MEDIUM"), "dark");

        &:hover {
            @include lumx-state(lumx-base-const("state", "HOVER"), lumx-base-const("emphasis", "MEDIUM"), "dark");
        }

        &:active {
            @include lumx-state(lumx-base-const("state", "ACTIVE"), lumx-base-const("emphasis", "MEDIUM"), "dark");
        }

        &[data-focus-visible-added],
        &:focus-within {
            @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "MEDIUM"), "dark");
        }
    }

    &--theme-dark {
        @include lumx-state(lumx-base-const("state", "DEFAULT"), lumx-base-const("emphasis", "MEDIUM"), "light");

        &:hover {
            @include lumx-state(lumx-base-const("state", "HOVER"), lumx-base-const("emphasis", "MEDIUM"), "light");
        }

        &:active {
            @include lumx-state(lumx-base-const("state", "ACTIVE"), lumx-base-const("emphasis", "MEDIUM"), "light");
        }

        &[data-focus-visible-added],
        &:focus-within {
            @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "MEDIUM"), "light");
        }
    }

    &--variant-rounded {
        &, #{$self}__wrapper {
            border-radius: var(--lumx-border-radius);
        }
    }

    &--variant-circle {
        &, #{$self}__wrapper {
            border-radius: 50%;
        }
    }

    &__background,
    &__wrapper {
        // Stack all onto the same cell
        grid-area: 1 / 1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        user-select: none;
    }

    &--is-drag-hovering &__wrapper {
        outline: 2px dashed $lumx-color-dark-L2;
        outline-offset: -$lumx-spacing-unit;
    }

    &__icon {
        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            color: lumx-color-variant("dark", "L1");
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }

    &__label {
        @include lumx-typography("subtitle1");

        text-align: center;

        #{$self}--theme-light & {
            color: lumx-color-variant("dark", "L1");
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }
}

/* Uploader sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-uploader--size-#{$key} {
        width: $size;
    }
}

/* Uploader aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .#{$lumx-base-prefix}-uploader--aspect-ratio-#{$key} .#{$lumx-base-prefix}-uploader__background {
        padding-top: $aspect-ratio;
    }
}
