<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-checkbox ng-checked="vm.checkboxes.model.checked"></lumx-checkbox>
</div>

<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-checkbox ng-model="vm.checkboxes.model.checked">
        <lumx-checkbox-label>Checkbox</lumx-checkbox-label>
    </lumx-checkbox>
</div>

<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-checkbox ng-model="vm.checkboxes.model.unchecked" ng-disabled="vm.checkboxes.states.disabled">
        <lumx-checkbox-label>Checkbox with help</lumx-checkbox-label>
        <lumx-checkbox-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lumx-checkbox-helper>
    </lumx-checkbox>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-checkbox ng-model="vm.checkboxes.model.checked" lumx-theme="dark"></lumx-checkbox>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-checkbox ng-model="vm.checkboxes.model.checked" lumx-theme="dark">
        <lumx-checkbox-label>Checkbox</lumx-checkbox-label>
    </lumx-checkbox>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-checkbox
        ng-model="vm.checkboxes.model.unchecked"
        ng-disabled="vm.checkboxes.states.disabled"
        lumx-theme="dark"
    >
        <lumx-checkbox-label>Checkbox with help</lumx-checkbox-label>
        <lumx-checkbox-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lumx-checkbox-helper>
    </lumx-checkbox>
</div>
