@use "sass:map";

@mixin lumx-typography-base() {
    font-family: var(--lumx-typography-font-family);
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

@mixin lumx-typography($key, $type: "interface") {
    @if $type == "custom" {
        font-family: var(--lumx-typography-custom-#{$key}-font-family);
        font-size: var(--lumx-typography-custom-#{$key}-font-size);
        font-style: var(--lumx-typography-custom-#{$key}-font-style);
        font-weight: var(--lumx-typography-custom-#{$key}-font-weight);
        line-height: var(--lumx-typography-custom-#{$key}-line-height);
    } @else if $type == "interface" {
        font-size: map.get(map.get($lumx-typography-interface, $key), "font-size");
        font-weight: var(--lumx-typography-interface-#{$key}-font-weight);
        line-height: map.get(map.get($lumx-typography-interface, $key), "line-height");
    }

    @if $key == "overline" {
        text-transform: uppercase;
    }
}
