@mixin lumx-typography-base() {
    font-family: var(--lumx-typography-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin lumx-typography($key) {
    font-size: var(--lumx-typography-style-#{$key}-font-size);
    font-weight: var(--lumx-typography-style-#{$key}-font-weight);
    line-height: var(--lumx-typography-style-#{$key}-line-height);

    @if $key == 'overline' {
        text-transform: uppercase;
    }
}
