/* ==========================================================================
   Typography
   ========================================================================== */
.lx-typography-caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  font-weight: 400; }

.lx-typography-body2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-weight: 400; }

.lx-typography-body1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400; }

.lx-typography-subtitle2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-weight: 500; }

.lx-typography-subtitle1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 500; }

.lx-typography-headline6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  font-weight: 500; }

.lx-typography-headline5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  font-weight: 500; }

.lx-typography-headline4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 2.125rem;
  font-weight: 500; }

.lx-typography-headline3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3rem;
  font-weight: 500; }

.lx-typography-headline2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3.75rem;
  font-weight: 500; }

.lx-typography-headline1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 6rem;
  font-weight: 500; }

/* ==========================================================================
   Theme
   ========================================================================== */
.lx-theme-background-primary {
  background-color: #2884f6; }

.lx-theme-color-primary {
  color: #2884f6; }

.lx-theme-background-secondary {
  background-color: #ffc425; }

.lx-theme-color-secondary {
  color: #ffc425; }

.lx-theme-background-dark-blue {
  background-color: #28336d; }

.lx-theme-color-dark-blue {
  color: #28336d; }

.lx-theme-background-blue {
  background-color: #2884f6; }

.lx-theme-color-blue {
  color: #2884f6; }

.lx-theme-background-golden {
  background-color: #ffc425; }

.lx-theme-color-golden {
  color: #ffc425; }

.lx-theme-background-red {
  background-color: #e94361; }

.lx-theme-color-red {
  color: #e94361; }

.lx-theme-background-green {
  background-color: #0fa15a; }

.lx-theme-color-green {
  color: #0fa15a; }

.lx-theme-background-light-grey {
  background-color: #f5f5f5; }

.lx-theme-color-light-grey {
  color: #f5f5f5; }

/* ==========================================================================
   Base
   ========================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #28336d;
  font-size: 1em;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* ==========================================================================
   Elevation
   ========================================================================== */
/* ==========================================================================
   Icon
   ========================================================================== */
/* ==========================================================================
   Button
   ========================================================================== */
.lx-button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  vertical-align: middle; }
  .lx-button:hover {
    box-shadow: none !important;
    cursor: pointer; }
  .lx-button:disabled {
    cursor: default;
    pointer-events: none; }
  .lx-button__text {
    font-weight: 600; }

/* Button sizes
   ========================================================================== */
.lx-button--type-primary.lx-button--size-s {
  height: 32px;
  border-radius: 16px; }
  .lx-button--type-primary.lx-button--size-s.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-s.lx-button--shape-circle {
    width: 32px; }
  .lx-button--type-primary.lx-button--size-s .lx-button__icon {
    font-size: 1.125rem; }
  .lx-button--type-primary.lx-button--size-s .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-s .lx-button__text {
    font-size: 0.75rem;
    line-height: 2rem; }

.lx-button--type-secondary.lx-button--size-s {
  height: 32px;
  border-radius: 16px; }
  .lx-button--type-secondary.lx-button--size-s.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-s.lx-button--shape-circle {
    width: 32px; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__icon {
    font-size: 1.125rem; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__text {
    font-size: 0.75rem;
    line-height: 1.875rem; }

.lx-button--type-primary.lx-button--size-m {
  height: 36px;
  border-radius: 18px; }
  .lx-button--type-primary.lx-button--size-m.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-m.lx-button--shape-circle {
    width: 36px; }
  .lx-button--type-primary.lx-button--size-m .lx-button__icon {
    font-size: 1.25rem; }
  .lx-button--type-primary.lx-button--size-m .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-m .lx-button__text {
    font-size: 0.875rem;
    line-height: 2.25rem; }

.lx-button--type-secondary.lx-button--size-m {
  height: 36px;
  border-radius: 18px; }
  .lx-button--type-secondary.lx-button--size-m.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-m.lx-button--shape-circle {
    width: 36px; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__icon {
    font-size: 1.25rem; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__text {
    font-size: 0.875rem;
    line-height: 2.125rem; }

.lx-button--type-primary.lx-button--size-l {
  height: 40px;
  border-radius: 20px; }
  .lx-button--type-primary.lx-button--size-l.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-l.lx-button--shape-circle {
    width: 40px; }
  .lx-button--type-primary.lx-button--size-l .lx-button__icon {
    font-size: 1.5rem; }
  .lx-button--type-primary.lx-button--size-l .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-l .lx-button__text {
    font-size: 1rem;
    line-height: 2.5rem; }

.lx-button--type-secondary.lx-button--size-l {
  height: 40px;
  border-radius: 20px; }
  .lx-button--type-secondary.lx-button--size-l.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-l.lx-button--shape-circle {
    width: 40px; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__icon {
    font-size: 1.5rem; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__text {
    font-size: 1rem;
    line-height: 2.375rem; }

/* Button colors
   ========================================================================== */
.lx-button--type-primary.lx-button--theme-light.lx-button--color-primary {
  background-color: #2884f6;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-primary:hover {
    background-color: #096ae2; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-primary:active {
    background-color: #0753b1; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-primary:disabled {
    background-color: rgba(40, 132, 246, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-primary {
  background-color: #fff;
  color: #2884f6;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-primary:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-primary:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-primary:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-primary {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-primary:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-primary:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-primary:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-primary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-primary:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-primary:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-primary:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-secondary {
  background-color: #ffc425;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-secondary:hover {
    background-color: #f1b000; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-secondary:active {
    background-color: #be8b00; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-secondary:disabled {
    background-color: rgba(255, 196, 37, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 196, 37, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-secondary {
  background-color: #fff;
  color: #ffc425;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-secondary:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-secondary:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-secondary:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-secondary {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-secondary:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-secondary:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-secondary:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-secondary:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-secondary:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-secondary:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-dark-blue {
  background-color: #28336d;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-dark-blue:hover {
    background-color: #364492; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-dark-blue:active {
    background-color: #4356b8; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-dark-blue:disabled {
    background-color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-dark-blue {
  background-color: #fff;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-dark-blue:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-dark-blue:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-dark-blue:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-dark-blue {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-dark-blue:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-dark-blue:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-dark-blue:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-dark-blue {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-dark-blue:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-dark-blue:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-dark-blue:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-blue {
  background-color: #2884f6;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-blue:hover {
    background-color: #096ae2; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-blue:active {
    background-color: #0753b1; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-blue:disabled {
    background-color: rgba(40, 132, 246, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-blue {
  background-color: #fff;
  color: #2884f6;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-blue:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-blue:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-blue:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-blue {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-blue:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-blue:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-blue:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-blue {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-blue:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-blue:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-blue:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-golden {
  background-color: #ffc425;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-golden:hover {
    background-color: #f1b000; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-golden:active {
    background-color: #be8b00; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-golden:disabled {
    background-color: rgba(255, 196, 37, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 196, 37, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-golden {
  background-color: #fff;
  color: #ffc425;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-golden:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-golden:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-golden:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-golden {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-golden:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-golden:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-golden:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-golden {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-golden:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-golden:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-golden:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-red {
  background-color: #e94361;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-red:hover {
    background-color: #df1a3e; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-red:active {
    background-color: #b11531; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-red:disabled {
    background-color: rgba(233, 67, 97, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(233, 67, 97, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-red {
  background-color: #fff;
  color: #e94361;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-red:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-red:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-red:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-red {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-red:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-red:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-red:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-red {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-red:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-red:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-red:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-green {
  background-color: #0fa15a;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-green:hover {
    background-color: #13d074; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-green:active {
    background-color: #2beb8e; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-green:disabled {
    background-color: rgba(15, 161, 90, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(15, 161, 90, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-green {
  background-color: #fff;
  color: #0fa15a;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-green:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-green:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-green:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-green {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-green:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-green:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-green:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-green {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-green:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-green:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-green:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-primary.lx-button--theme-light.lx-button--color-light-grey {
  background-color: #f5f5f5;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-light-grey:hover {
    background-color: gainsboro; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-light-grey:active {
    background-color: #c2c2c2; }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-light-grey:disabled {
    background-color: rgba(245, 245, 245, 0.4); }
  .lx-button--type-primary.lx-button--theme-light.lx-button--color-light-grey[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(245, 245, 245, 0.4); }

.lx-button--type-primary.lx-button--theme-dark.lx-button--color-light-grey {
  background-color: #fff;
  color: #f5f5f5;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-light-grey:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-light-grey:active {
    background-color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-light-grey:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-primary.lx-button--theme-dark.lx-button--color-light-grey[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

.lx-button--type-secondary.lx-button--theme-light.lx-button--color-light-grey {
  background-color: transparent;
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-light-grey:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-light-grey:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-light-grey:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--theme-light.lx-button--color-light-grey[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--theme-dark.lx-button--color-light-grey {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-light-grey:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-light-grey:active {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-light-grey:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4); }
  .lx-button--type-secondary.lx-button--theme-dark.lx-button--color-light-grey[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); }

/* ==========================================================================
   Checkbox
   ========================================================================== */
/* ==========================================================================
   Dialog
   ========================================================================== */
.lx-dialog-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.4s; }
  .lx-dialog-filter--is-shown {
    opacity: 1; }

.lx-dialog {
  position: fixed;
  top: 60px;
  left: 50%;
  display: none;
  width: 800px;
  height: calc(100% - 120px);
  opacity: 0;
  transform: translateX(-50%) translateY(-30px);
  transition: opacity 0.4s, transform 0.4s; }
  .lx-dialog--is-shown {
    opacity: 1;
    transform: translateX(-50%) translateY(0); }
  .lx-dialog__wrapper {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px; }
  .lx-dialog__header, .lx-dialog__footer {
    flex-shrink: 0; }
  .lx-dialog__content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto; }

/* ==========================================================================
   Dropdown
   ========================================================================== */
.lx-dropdown {
  display: inline-block;
  vertical-align: top; }
  .lx-dropdown__menu {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    position: fixed;
    overflow: auto;
    background-color: #fff;
    border-radius: 4px; }

/* ==========================================================================
   Select
   ========================================================================== */
.lx-select__choice--is-active {
  background-color: #ccc; }

/* ==========================================================================
   Text field
   ========================================================================== */
.lx-text-field__label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  font-weight: 400;
  display: block;
  margin-bottom: 8px; }
  .lx-text-field--theme-light .lx-text-field__label {
    color: #28336d; }
  .lx-text-field--theme-dark .lx-text-field__label {
    color: #fff; }

.lx-text-field__input {
  display: inline-flex;
  height: 36px;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-text-field--theme-light .lx-text-field__input {
    background-color: rgba(40, 51, 109, 0.05);
    box-shadow: 0 0 0 1px rgba(40, 51, 109, 0.2); }
  .lx-text-field--theme-dark .lx-text-field__input {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4); }

.lx-text-field__icon {
  margin-right: 8px;
  font-size: 1.25rem; }
  .lx-text-field--theme-light .lx-text-field__icon {
    color: #28336d; }
  .lx-text-field--theme-dark .lx-text-field__icon {
    color: #fff; }

.lx-text-field__native-control input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 36px;
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 36px;
  outline: none; }
  .lx-text-field--theme-light .lx-text-field__native-control input {
    color: #28336d; }
  .lx-text-field--theme-dark .lx-text-field__native-control input {
    color: #fff; }
  .lx-text-field--theme-light .lx-text-field__native-control input::placeholder {
    color: rgba(40, 51, 109, 0.6); }
  .lx-text-field--theme-dark .lx-text-field__native-control input::placeholder {
    color: rgba(255, 255, 255, 0.6); }

.lx-text-field__helper {
  display: flex;
  align-items: center;
  margin-top: 8px; }
  .lx-text-field--theme-light .lx-text-field__helper {
    color: rgba(40, 51, 109, 0.6); }
  .lx-text-field--theme-dark .lx-text-field__helper {
    color: rgba(255, 255, 255, 0.6); }
  .lx-text-field__helper i {
    margin-right: 4px;
    font-size: 0.875rem; }
  .lx-text-field__helper span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    font-weight: 400; }

/* Text field states
   ========================================================================== */
.lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__label,
.lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__icon,
.lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__helper {
  color: rgba(40, 51, 109, 0.4); }

.lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__input {
  background-color: transparent; }

.lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__native-control input {
  color: rgba(40, 51, 109, 0.4); }
  .lx-text-field--is-disabled.lx-text-field--theme-light .lx-text-field__native-control input::placeholder {
    color: rgba(40, 51, 109, 0.4); }

.lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__label,
.lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__icon,
.lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__helper {
  color: rgba(255, 255, 255, 0.4); }

.lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__input {
  background-color: transparent; }

.lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__native-control input {
  color: rgba(255, 255, 255, 0.4); }
  .lx-text-field--is-disabled.lx-text-field--theme-dark .lx-text-field__native-control input::placeholder {
    color: rgba(255, 255, 255, 0.4); }

.lx-text-field--is-focus.lx-text-field--theme-light .lx-text-field__input {
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.6); }

.lx-text-field--is-focus.lx-text-field--theme-dark .lx-text-field__input {
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6); }

.lx-text-field--theme-light:not(.lx-text-field--is-disabled) .lx-text-field__input:hover {
  background-color: transparent; }

.lx-text-field--theme-dark:not(.lx-text-field--is-disabled) .lx-text-field__input:hover {
  background-color: transparent; }

/* ==========================================================================
   Base
   ========================================================================== */
h1 {
  margin-bottom: 24px;
  font-size: 1.875rem;
  font-weight: 600; }

h2 {
  margin-bottom: 12px;
  font-size: 1.25rem;
  font-weight: 600; }

ul {
  padding: 0;
  margin-left: 32px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p,
ul,
table {
  margin: 0 0 24px 0; }
  p:last-child,
  ul:last-child,
  table:last-child {
    margin-bottom: 0; }

/* ==========================================================================
   App
   ========================================================================== */
.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; }

/* ==========================================================================
   Main nav
   ========================================================================== */
.main-nav {
  overflow: auto;
  width: 56px;
  flex-shrink: 0;
  background-color: #2884f6; }

/* ==========================================================================
   Sub nav
   ========================================================================== */
.sub-nav {
  display: flex;
  overflow: auto;
  width: 228px;
  flex-direction: column;
  flex-shrink: 0; }
  .sub-nav__wrapper {
    flex: 1;
    padding: 24px;
    border-right: 1px solid #e8e8e8; }
  .sub-nav__item {
    position: relative;
    display: block;
    min-height: 36px;
    padding: 0 16px;
    margin-bottom: 4px;
    border-radius: 5px;
    color: #28336d;
    font-size: 0.875rem;
    line-height: 36px;
    text-decoration: none; }
    .sub-nav__item:last-child {
      margin-bottom: 0; }
    .sub-nav__item:hover, .sub-nav__item--is-active {
      background-color: rgba(40, 132, 246, 0.1); }
    .sub-nav__item--is-active::after {
      position: absolute;
      top: 0;
      right: -25px;
      bottom: 0;
      width: 2px;
      background-color: #ffc425;
      content: ''; }

/* ==========================================================================
   Main
   ========================================================================== */
.main {
  overflow: auto;
  flex: 1;
  padding: 80px;
  padding-top: 48px; }
  .main__block {
    margin-bottom: 48px; }
    .main__block:last-child {
      margin-bottom: 0; }
