/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Theme
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #28336d;
  font-size: 1em;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* ==========================================================================
   Elevation
   ========================================================================== */
/* ==========================================================================
   Icon
   ========================================================================== */
/* ==========================================================================
   Button
   ========================================================================== */
.lx-button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  vertical-align: middle; }
  .lx-button:hover {
    box-shadow: none !important;
    cursor: pointer; }
  .lx-button:disabled {
    cursor: default;
    pointer-events: none; }
  .lx-button__text {
    font-weight: 600; }

/* Button sizes
   ========================================================================== */
.lx-button--type-primary.lx-button--size-s {
  height: 32px;
  border-radius: 16px; }
  .lx-button--type-primary.lx-button--size-s.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-s.lx-button--shape-circle {
    width: 32px; }
  .lx-button--type-primary.lx-button--size-s .lx-button__icon {
    font-size: 1.125rem; }
  .lx-button--type-primary.lx-button--size-s .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-s .lx-button__text {
    font-size: 0.75rem;
    line-height: 2rem; }

.lx-button--type-secondary.lx-button--size-s {
  height: 32px;
  border-radius: 16px; }
  .lx-button--type-secondary.lx-button--size-s.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-s.lx-button--shape-circle {
    width: 32px; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__icon {
    font-size: 1.125rem; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-s .lx-button__text {
    font-size: 0.75rem;
    line-height: 1.875rem; }

.lx-button--type-primary.lx-button--size-m {
  height: 36px;
  border-radius: 18px; }
  .lx-button--type-primary.lx-button--size-m.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-m.lx-button--shape-circle {
    width: 36px; }
  .lx-button--type-primary.lx-button--size-m .lx-button__icon {
    font-size: 1.25rem; }
  .lx-button--type-primary.lx-button--size-m .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-m .lx-button__text {
    font-size: 0.875rem;
    line-height: 2.25rem; }

.lx-button--type-secondary.lx-button--size-m {
  height: 36px;
  border-radius: 18px; }
  .lx-button--type-secondary.lx-button--size-m.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-m.lx-button--shape-circle {
    width: 36px; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__icon {
    font-size: 1.25rem; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-m .lx-button__text {
    font-size: 0.875rem;
    line-height: 2.125rem; }

.lx-button--type-primary.lx-button--size-l {
  height: 40px;
  border-radius: 20px; }
  .lx-button--type-primary.lx-button--size-l.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-primary.lx-button--size-l.lx-button--shape-circle {
    width: 40px; }
  .lx-button--type-primary.lx-button--size-l .lx-button__icon {
    font-size: 1.5rem; }
  .lx-button--type-primary.lx-button--size-l .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-primary.lx-button--size-l .lx-button__text {
    font-size: 1rem;
    line-height: 2.5rem; }

.lx-button--type-secondary.lx-button--size-l {
  height: 40px;
  border-radius: 20px; }
  .lx-button--type-secondary.lx-button--size-l.lx-button--shape-standard {
    padding: 0 16px; }
  .lx-button--type-secondary.lx-button--size-l.lx-button--shape-circle {
    width: 40px; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__icon {
    font-size: 1.5rem; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__icon--has-sibling {
    margin-right: 8px; }
  .lx-button--type-secondary.lx-button--size-l .lx-button__text {
    font-size: 1rem;
    line-height: 2.375rem; }

/* Button colors
   ========================================================================== */
.lx-button--type-primary.lx-button--color-primary {
  background-color: #2884f6;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-primary:hover {
    background-color: #096ae2; }
  .lx-button--type-primary.lx-button--color-primary:active {
    background-color: #0753b1; }
  .lx-button--type-primary.lx-button--color-primary:disabled {
    background-color: rgba(40, 132, 246, 0.4); }
  .lx-button--type-primary.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.4); }

.lx-button--type-secondary.lx-button--color-primary {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-primary:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-primary:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-primary:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-primary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-secondary {
  background-color: #ffc425;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-secondary:hover {
    background-color: #f1b000; }
  .lx-button--type-primary.lx-button--color-secondary:active {
    background-color: #be8b00; }
  .lx-button--type-primary.lx-button--color-secondary:disabled {
    background-color: rgba(255, 196, 37, 0.4); }
  .lx-button--type-primary.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 196, 37, 0.4); }

.lx-button--type-secondary.lx-button--color-secondary {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-secondary:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-secondary:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-secondary:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-secondary[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-dark-blue {
  background-color: #28336d;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-dark-blue:hover {
    background-color: #364492; }
  .lx-button--type-primary.lx-button--color-dark-blue:active {
    background-color: #4356b8; }
  .lx-button--type-primary.lx-button--color-dark-blue:disabled {
    background-color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-primary.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-secondary.lx-button--color-dark-blue {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-dark-blue:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-dark-blue:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-dark-blue:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-dark-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-blue {
  background-color: #2884f6;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-blue:hover {
    background-color: #096ae2; }
  .lx-button--type-primary.lx-button--color-blue:active {
    background-color: #0753b1; }
  .lx-button--type-primary.lx-button--color-blue:disabled {
    background-color: rgba(40, 132, 246, 0.4); }
  .lx-button--type-primary.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.4); }

.lx-button--type-secondary.lx-button--color-blue {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-blue:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-blue:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-blue:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-blue[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-golden {
  background-color: #ffc425;
  color: #28336d;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-golden:hover {
    background-color: #f1b000; }
  .lx-button--type-primary.lx-button--color-golden:active {
    background-color: #be8b00; }
  .lx-button--type-primary.lx-button--color-golden:disabled {
    background-color: rgba(255, 196, 37, 0.4); }
  .lx-button--type-primary.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(255, 196, 37, 0.4); }

.lx-button--type-secondary.lx-button--color-golden {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-golden:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-golden:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-golden:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-golden[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-red {
  background-color: #e94361;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-red:hover {
    background-color: #df1a3e; }
  .lx-button--type-primary.lx-button--color-red:active {
    background-color: #b11531; }
  .lx-button--type-primary.lx-button--color-red:disabled {
    background-color: rgba(233, 67, 97, 0.4); }
  .lx-button--type-primary.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(233, 67, 97, 0.4); }

.lx-button--type-secondary.lx-button--color-red {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-red:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-red:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-red:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-red[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

.lx-button--type-primary.lx-button--color-green {
  background-color: #0fa15a;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .lx-button--type-primary.lx-button--color-green:hover {
    background-color: #13d074; }
  .lx-button--type-primary.lx-button--color-green:active {
    background-color: #2beb8e; }
  .lx-button--type-primary.lx-button--color-green:disabled {
    background-color: rgba(15, 161, 90, 0.4); }
  .lx-button--type-primary.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(15, 161, 90, 0.4); }

.lx-button--type-secondary.lx-button--color-green {
  border: 1px solid #28336d;
  color: #28336d;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s; }
  .lx-button--type-secondary.lx-button--color-green:hover {
    border-color: #4356b8;
    color: #4356b8; }
  .lx-button--type-secondary.lx-button--color-green:active {
    border-color: #8c98d5;
    color: #8c98d5; }
  .lx-button--type-secondary.lx-button--color-green:disabled {
    border-color: rgba(40, 51, 109, 0.4);
    color: rgba(40, 51, 109, 0.4); }
  .lx-button--type-secondary.lx-button--color-green[data-focus-visible-added] {
    box-shadow: 0 0 0 2px rgba(40, 51, 109, 0.4); }

/* ==========================================================================
   Text field
   ========================================================================== */
.lx-text-field__label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
  color: #28336d; }

.lx-text-field__input {
  display: inline-flex;
  height: 36px;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(40, 51, 109, 0.05);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(40, 51, 109, 0.1);
  transition: box-shadow 0.2s; }

.lx-text-field__icon {
  margin-right: 8px;
  color: #28336d;
  font-size: 1.25rem; }

.lx-text-field__native-control input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 36px;
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  color: #28336d;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 36px;
  outline: none; }
  .lx-text-field__native-control input::placeholder {
    color: rgba(40, 51, 109, 0.6); }

.lx-text-field__helper {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: rgba(40, 51, 109, 0.6); }
  .lx-text-field__helper i {
    margin-right: 4px;
    font-size: 0.875rem; }
  .lx-text-field__helper span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    font-weight: 400; }

/* Text field states
   ========================================================================== */
.lx-text-field--is-focus .lx-text-field__input {
  box-shadow: 0 0 0 2px rgba(40, 132, 246, 0.6); }

.lx-text-field--is-disabled .lx-text-field__label,
.lx-text-field--is-disabled .lx-text-field__icon,
.lx-text-field--is-disabled .lx-text-field__helper {
  color: rgba(40, 51, 109, 0.4); }

.lx-text-field--is-disabled .lx-text-field__input {
  background-color: #fff; }

.lx-text-field--is-disabled .lx-text-field__native-control input {
  color: rgba(40, 51, 109, 0.4); }
  .lx-text-field--is-disabled .lx-text-field__native-control input::placeholder {
    color: rgba(40, 51, 109, 0.4); }

/* ==========================================================================
   App
   ========================================================================== */
.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; }

/* ==========================================================================
   Main nav
   ========================================================================== */
.main-nav {
  overflow: auto;
  width: 56px;
  flex-shrink: 0;
  background-color: #2884f6; }

/* ==========================================================================
   Sub nav
   ========================================================================== */
.sub-nav {
  display: flex;
  overflow: auto;
  width: 228px;
  flex-direction: column;
  flex-shrink: 0; }
  .sub-nav__wrapper {
    flex: 1;
    padding: 24px;
    border-right: 1px solid #e8e8e8; }
  .sub-nav__item {
    position: relative;
    display: block;
    min-height: 36px;
    padding: 0 16px;
    margin-bottom: 4px;
    border-radius: 5px;
    color: #28336d;
    font-size: 0.875rem;
    line-height: 36px;
    text-decoration: none; }
    .sub-nav__item:last-child {
      margin-bottom: 0; }
    .sub-nav__item:hover, .sub-nav__item--is-active {
      background-color: rgba(40, 132, 246, 0.1); }
    .sub-nav__item--is-active::after {
      position: absolute;
      top: 0;
      right: -25px;
      bottom: 0;
      width: 2px;
      background-color: #ffc425;
      content: ''; }

/* ==========================================================================
   Main
   ========================================================================== */
.main {
  flex: 1; }
