<div class="p+">
    <nglx-button ng-click="vm.openDialog()" id="default-dialog-source">Open dialog</nglx-button>
    <nglx-button ng-click="vm.alertDialog()" id="alert-dialog-source">Alert box</nglx-button>
    <nglx-button ng-click="vm.confirmDialog()" id="confirm-dialog-source">Confirm box</nglx-button>
</div>

<nglx-dialog id="{{ vm.dialogId }}">
    <nglx-dialog-header>
        <nglx-toolbar>
            <nglx-toolbar-label>
                <span class="lx-typography-title">Dialog title</span>
            </nglx-toolbar-label>

            <nglx-toolbar-after>
                <nglx-button ng-click="vm.addPerson()" nglx-focus-on-init>
                    <span>Add</span>
                </nglx-button>
            </nglx-toolbar-after>
        </nglx-toolbar>

        <nglx-divider></nglx-divider>
    </nglx-dialog-header>

    <nglx-dialog-content>
        <div class="p++">
            <div ng-repeat="person in vm.people">{{ person.name }} - {{ person.email }} - {{ person.age }}</div>
        </div>
    </nglx-dialog-content>

    <nglx-dialog-footer>
        <nglx-divider></nglx-divider>

        <div class="p+" lx-grid-container="row" lx-grid-h-align="center" lx-grid-v-align="right">
            <nglx-button lx-emphasis="medium" nglx-dialog-close>Cancel</nglx-button>
            <nglx-button class="ml" nglx-dialog-close>Ok</nglx-button>
        </div>
    </nglx-dialog-footer>
</nglx-dialog>
