<main-header category="Components" title="Image block">
    <p>
        Image block displays an image with its related info.
    </p>
</main-header>

<main-block title="List" path="demo/angularjs/components/image-block/partials/list.html" js-path="">
    <p>
        List image block comes in three sizes: S, M and L.
    </p>
</main-block>

<main-block title="Grid" path="demo/angularjs/components/image-block/partials/grid.html" js-path="">
    <p class="lumx-typography-subtitle2">Grid default</p>
    <span style="line-height:24px"> Grid image block has various thumbnail format: </span
    ><lumx-button-group>
        <lumx-button lumx-size="s" lumx-emphasis="high">3:2</lumx-button>
        <lumx-button lumx-size="s" lumx-emphasis="medium">2:3</lumx-button>
        <lumx-button lumx-size="s" lumx-emphasis="medium">Original image size</lumx-button>
    </lumx-button-group>
</main-block>

<main-block title="" path="demo/angularjs/components/image-block/partials/grid-padding.html" js-path="">
    <p class="lumx-typography-subtitle2">Grid with custom padding</p>
    <span style="line-height:24px"> Grid image block that can take a custom padding: </span
    ><lumx-button-group>
        <lumx-button lumx-size="s" lumx-emphasis="high">Default (16px)</lumx-button>
        <lumx-button lumx-size="s" lumx-emphasis="medium">24px</lumx-button>
        <lumx-button lumx-size="s" lumx-emphasis="medium">46px</lumx-button>
    </lumx-button-group>
</main-block>

<main-block title="" path="demo/angularjs/components/image-block/partials/grid-over.html" js-path="">
    <p class="lumx-typography-subtitle2">Grid with description over</p>
    <p>
        Grid image block that have the description over the image
    </p>
</main-block>
