<main-header category="Components" title="Image bloc">
    <p>
        Image bloc display an image with its related info.
    </p>
</main-header>

<main-block class="mt+++" title="List" path="demo/angularjs/components/image-block/partials/list.html" js-path="">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu sem et mauris convallis tempor. Mauris placerat
        enim eget ligula fermentum, in aliquam lorem congue. Vivamus lacinia consectetur mollis.
    </p>
</main-block>
