@import '~sass-mq';
@import '~@lumx/core/scss/design-tokens';
@import '~@lumx/core/scss/core';

/* Main header
   ========================================================================== */

.main-header {
    // Responsive: align with the page title
    @include mq($from: desktop) {
        position: absolute;
        top: 0;
        right: $lumx-spacing-unit-big;
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $lumx-spacing-unit-big;
}
