<ul class="sub-nav__wrapper ph++ pv+">
    <li>
        <lumx-select
            lumx-choices="vm.THEMES"
            lumx-has-filter="false"
            lumx-is-clearable="false"
            lumx-label="Change theme"
            lumx-multiple="false"
            ng-change="vm.switchTheme()"
            ng-model="vm.selectedTheme"
        >
            <lumx-select-selected>{{ $selected.label }}</lumx-select-selected>
            <lumx-select-choices>{{ $choice.label }} theme</lumx-select-choices>
        </lumx-select>
    </li>
</ul>

<ul class="sub-nav__wrapper ph+ pb+">
    <li class="sub-nav__subheader">Foundations</li>

    <li class="sub-nav__item">
        <a class="sub-nav__link">
            Colors
        </a>
    </li>

    <li class="sub-nav__item">
        <a class="sub-nav__link">
            Typography
        </a>
    </li>

    <li class="sub-nav__subheader">Components</li>

    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.button">
            Button
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.checkbox">
            Checkbox
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.chip">
            Chip
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.data-table">
            Data table
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.dialog">
            Dialog
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.dropdown">
            Dropdown
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.expansion-panel">
            Expansion panel
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.image-block">Image block</a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.list">
            List
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.notification">
            Notification
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.progress">
            Progress
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.progress-tracker">
            Progress tracker
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.radio-button">
            Radio button
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.select">
            Select
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.stepper-indicator">
            Stepper indicator
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.switch">
            Switch
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.tabs">
            Tabs
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.text-field">
            Text field
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.toolbar">
            Toolbar
        </a>
    </li>
    <li class="sub-nav__item">
        <a class="sub-nav__link" ui-sref-active="sub-nav__link--is-selected" ui-sref="app.tooltip">
            Tooltip
        </a>
    </li>
</ul>
