<div
    class="lx-radio-button"
    ng-class="{ 'lx-radio-button--is-checked': lumx.viewValue === lumx.radioButtonValue,
                'lx-radio-button--is-unchecked': lumx.viewValue !== lumx.radioButtonValue,
                'lx-radio-button--theme-light': !lumx.theme || lumx.theme === 'light',
                'lx-radio-button--theme-dark': lumx.theme === 'dark' }"
>
    <div class="lx-radio-button__input-wrapper">
        <input
            type="radio"
            id="{{ lumx.radioButtonId }}"
            class="lx-radio-button__input-native"
            ng-checked="lumx.viewValue === lumx.radioButtonValue"
            ng-click="lumx.updateViewValue()"
        />

        <div class="lx-radio-button__input-placeholder">
            <div class="lx-radio-button__input-background"></div>
            <div class="lx-radio-button__input-indicator"></div>
        </div>
    </div>

    <div class="lx-radio-button__content" ng-if="::!lumx.hasLabel && !lumx.hasHelper && lumx.hasTranscluded">
        <label for="{{ lumx.radioButtonId }}" class="lx-radio-button__label" ng-transclude></label>
    </div>

    <div class="lx-radio-button__content" ng-if="::lumx.hasLabel">
        <label for="{{ lumx.radioButtonId }}" class="lx-radio-button__label" ng-transclude="label"></label>
        <span class="lx-radio-button__helper" ng-transclude="helper" ng-if="::lumx.hasHelper"></span>
    </div>
</div>
