<div
    class="lumx-dialog"
    role="dialog"
    ng-class="{ 'lumx-dialog--size-s': lumx.size === 's',
                'lumx-dialog--size-m': lumx.size === 'm',
                'lumx-dialog--size-l': !lumx.size || lumx.size === 'l' }"
>
    <div class="lumx-dialog__wrapper" ng-if="lumx.isOpen">
        <div class="lumx-dialog__header" ng-transclude="header"></div>
        <div class="lumx-dialog__content" ng-transclude="content"></div>
        <div class="lumx-dialog__footer" ng-transclude="footer"></div>
    </div>
</div>
