/* ==========================================================================
   Main
   ========================================================================== */

.main {
    overflow: auto;
    flex: 1;
    padding: $lx-spacing-unit * 6;
    padding-top: $lx-spacing-unit * 3;

    &__block {
        margin-bottom: $lx-spacing-unit * 6;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
