/* ==========================================================================
   Main
   ========================================================================== */

.main {
    flex: 1;
    justify-content: center;
    padding: $lumx-spacing-unit * 6;
    padding-top: $lumx-spacing-unit * 3;
    overflow-y: scroll;

    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
    }
}

/* Main header
   ========================================================================== */

.main-header {
    margin-bottom: $lumx-spacing-unit * 4;
}
