<main-header category="Components" title="Dropdown">
    <p>
        Use dropdown to present multiple actions in a small area. Dropdown are common used for contextual menus and in
        form selects.
    </p>
</main-header>

<demo-block
    title="Dropdown for menu"
    path="demo/angularjs/components/dropdown/partials/default.html"
    js-path="demo/angularjs/components/dropdow//controller.js"
    has-theme-switcher="false"
>
    <p>
        Trigger a dropdown with a button. Dropdown can have divider, icons, user picture and thumbnail.
    </p>
</demo-block>

<demo-block
    title="Open dropdown on target"
    path="demo/angularjs/components/dropdown/partials/target.html"
    js-path="demo/angularjs/components/dropdow//controller.js"
    has-theme-switcher="false"
>
    <p>
        Dropdown can be triggered on a target item.
    </p>
</demo-block>
