/* ==========================================================================
   Progress
   ========================================================================== */

.#{$lumx-base-prefix}-progress {
    &--variant-circular {
        width: $lumx-progress-circular-size;
        height: $lumx-progress-circular-size;
    }
}

/* Circular
   ========================================================================== */

.#{$lumx-base-prefix}-progress-circular {
    position: relative;
    width: $lumx-progress-circular-size;
    height: $lumx-progress-circular-size;

    &__double-bounce1,
    &__double-bounce2 {
        position: absolute;
        top: 0;
        left: 0;
        display: var(--lumx-progress-bounce);
        width: 100%;
        height: 100%;
        animation: lumx-progress-bounce 2s infinite ease-in-out;
        border-radius: 50%;
    }

    .#{$lumx-base-prefix}-progress--theme-light &__double-bounce1,
    .#{$lumx-base-prefix}-progress--theme-light &__double-bounce2 {
        background-color: lumx-color-variant('primary', 'L3');
    }

    .#{$lumx-base-prefix}-progress--theme-dark &__double-bounce1,
    .#{$lumx-base-prefix}-progress--theme-dark &__double-bounce2 {
        background-color: lumx-color-variant('light', 'L3');
    }

    &__double-bounce2 {
        animation-delay: -1s;
    }

    &__svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: var(--lumx-progress-rotate);
        width: $lumx-progress-circular-size;
        height: $lumx-progress-circular-size;
        margin: auto;
        animation: lumx-progress-rotate 2s linear infinite;
        transform-origin: center center;
    }

    &__path {
        animation: lumx-progress-dash 1.5s ease-in-out infinite;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: butt;
    }

    .#{$lumx-base-prefix}-progress--theme-light &__path {
        stroke: lumx-color-variant('primary', 'N');
    }

    .#{$lumx-base-prefix}-progress--theme-dark &__path {
        stroke: lumx-color-variant('light', 'N');
    }
}

@keyframes lumx-progress-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes lumx-progress-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes lumx-progress-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

/* Linear
   ========================================================================== */

.#{$lumx-base-prefix}-progress-linear {
    position: relative;
    overflow: hidden;
    height: $lumx-progress-linear-size;
    border-radius: 2px;

    &__line1,
    &__line2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .#{$lumx-base-prefix}-progress--theme-light &__line1,
    .#{$lumx-base-prefix}-progress--theme-light &__line2 {
        background-color: lumx-color-variant('primary', 'L3');
    }

    .#{$lumx-base-prefix}-progress--theme-dark &__line1,
    .#{$lumx-base-prefix}-progress--theme-dark &__line2 {
        background-color: lumx-color-variant('light', 'L3');
    }

    &__line2 {
        animation: lumx-progress-expand 2s infinite ease-in-out;
        transform: scaleX(0);
        transform-origin: center left;
    }
}

@keyframes lumx-progress-expand {
    0% {
        transform: scaleX(0);
        transform-origin: center left;
    }

    49% {
        transform: scaleX(1);
        transform-origin: center left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: center right;
    }

    99% {
        transform: scaleX(0);
        transform-origin: center right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: center left;
    }
}
