<div
    class="lx-radio-button"
    ng-class="{ 'lx-radio-button--is-checked': lxRadioButton.viewValue === lxRadioButton.radioButtonValue,
                'lx-radio-button--is-unchecked': lxRadioButton.viewValue !== lxRadioButton.radioButtonValue,
                'lx-radio-button--theme-light': !lxRadioButton.theme || lxRadioButton.theme === 'light',
                'lx-radio-button--theme-dark': lxRadioButton.theme === 'dark' }"
>
    <div class="lx-radio-button__input-wrapper">
        <input
            type="radio"
            id="{{ lxRadioButton.radioButtonId }}"
            class="lx-radio-button__input-native"
            ng-checked="lxRadioButton.viewValue === lxRadioButton.radioButtonValue"
            ng-click="lxRadioButton.updateViewValue()"
        />

        <div class="lx-radio-button__input-placeholder">
            <div class="lx-radio-button__input-background"></div>
            <div class="lx-radio-button__input-indicator"></div>
        </div>
    </div>

    <div
        class="lx-radio-button__content"
        ng-if="::!lxRadioButton.hasLabel && !lxRadioButton.hasHelper && lxRadioButton.hasTranscluded"
    >
        <label for="{{ lxRadioButton.radioButtonId }}" class="lx-radio-button__label" ng-transclude></label>
    </div>

    <div class="lx-radio-button__content" ng-if="::lxRadioButton.hasLabel">
        <label for="{{ lxRadioButton.radioButtonId }}" class="lx-radio-button__label" ng-transclude="label"></label>
        <span class="lx-radio-button__helper" ng-transclude="helper" ng-if="::lxRadioButton.hasHelper"></span>
    </div>
</div>
