<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <lx-switch ng-checked="vm.switches.model.checked"></lx-switch>
</div>

<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <lx-switch ng-model="vm.switches.model.checked">
        <lx-switch-label>Switch</lx-switch-label>
    </lx-switch>
</div>

<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <lx-switch ng-model="vm.switches.model.unchecked" ng-disabled="vm.switches.states.disabled">
        <lx-switch-label>Switch with help</lx-switch-label>
        <lx-switch-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lx-switch-helper>
    </lx-switch>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <lx-switch ng-model="vm.switches.model.checked" lx-theme="dark"></lx-switch>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <lx-switch ng-model="vm.switches.model.checked" lx-theme="dark">
        <lx-switch-label>Switch</lx-switch-label>
    </lx-switch>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <lx-switch ng-model="vm.switches.model.unchecked" ng-disabled="vm.switches.states.disabled" lx-theme="dark">
        <lx-switch-label>Switch with help</lx-switch-label>
        <lx-switch-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lx-switch-helper>
    </lx-switch>
</div>
