<div class="sub-nav__wrapper">
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.button">Button</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.checkbox">Checkbox</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.chip">Chip</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.data-table">Data table</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.dialog">Dialog</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.dropdown">Dropdown</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.list">List</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.notification">Notification</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.progress">Progress</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.radio-button">Radio button</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.select">Select</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.switch">Switch</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.tabs">Tabs</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.text-field">Text field</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.toolbar">Toolbar</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.tooltip">Tooltip</a>
</div>
