<main-header category="Components" title="Toolbar">
    <p>
        The toolbar displays informations and actions relating to its current context.
    </p>
</main-header>

<demo-block
    title="Anatomy"
    path="demo/angularjs/components/toolbar/partials/default.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
    <p>
        The toolbar is divided in three section.<br />
        The title is placed to the left, while contextual actions are placed to the right.
    </p>
</demo-block>

<demo-block
    subtitle="Dialog toolbar"
    path="demo/angularjs/components/toolbar/partials/dialog.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
></demo-block>

<demo-block
    subtitle="Media picker toolbar"
    path="demo/angularjs/components/toolbar/partials/media-picker.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
></demo-block>

<demo-block
    subtitle="With contextual icon button"
    path="demo/angularjs/components/toolbar/partials/back.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
    <p>
        A contextual icon button can be placed to the left.
    </p>
</demo-block>
