<main-header category="Components" title="Toolbar">
    <p>
        The toolbar displays informations and actions relating to its current context.
    </p>
</main-header>

<main-block
    path="demo/angularjs/components/toolbar/partials/default.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
</main-block>

<main-block
    title="Examples"
    path="demo/angularjs/components/toolbar/partials/dialog.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
    <p>
        The toolbar is divided in three section. The title is placed to the left, while contextual actions are placed to
        the right.
    </p>
    <div class="pt+++">
        <strong>
            Dialog toolbar
        </strong>
    </div>
</main-block>

<main-block
    path="demo/angularjs/components/toolbar/partials/media-picker.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
    <div class="pt+">
        <strong>
            Media picker toolbar
        </strong>
    </div>
</main-block>

<main-block
    path="demo/angularjs/components/toolbar/partials/back.html"
    js-path="demo/angularjs/components/toolbar/controller.js"
>
    <div class="pt+">
        <strong>
            With contextual icon button
        </strong>
    </div>
    <p class="pt">
        A contextual icon button can be placed to the left.
    </p>
</main-block>
