<lumx-toolbar>
    <lumx-toolbar-before>
        <lumx-button lumx-emphasis="low" lumx-variant="icon">
            <lumx-icon lumx-path="{{ vm.icons.mdiChevronLeft }}"></lumx-icon>
        </lumx-button>
    </lumx-toolbar-before>

    <lumx-toolbar-label>
        <span class="lumx-typography-title">Toolbar label</span>
    </lumx-toolbar-label>

    <lumx-toolbar-after>
        <div lumx-grid-container="row">
            <lumx-button lumx-emphasis="low" lumx-variant="icon">
                <lumx-icon lumx-path="{{ vm.icons.mdiMagnify }}"></lumx-icon>
            </lumx-button>

            <lumx-button lumx-emphasis="low" lumx-variant="icon">
                <lumx-icon lumx-path="{{ vm.icons.mdiDotsVertical }}"></lumx-icon>
            </lumx-button>
        </div>
    </lumx-toolbar-after>
</lumx-toolbar>
