/// Icon base mixin to apply mdi font.
@mixin lx-icon-base() {
    display: inline-block;
    font: normal normal normal #{$mdi-font-size-base}/1 '#{$mdi-font-name}';
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: inherit;
    text-rendering: auto;
}
