/* ==========================================================================
   Dropdown
   ========================================================================== */

.lx-dropdown {
    display: inline-block;
    vertical-align: top;

    &__menu {
        @include lx-elevation(2);

        position: fixed;
        overflow: auto;
        padding: $lx-base-spacing-unit 0;
        background-color: lx-theme-color-variant(light, N);
        border-radius: 4px;
    }
}
