/* ==========================================================================
   Dropdown
   ========================================================================== */

.lx-dropdown {
    display: inline-block;
    vertical-align: top;

    &__menu {
        @include lx-elevation(8);

        position: fixed;
        overflow: auto;
        background-color: #fff;
        border-radius: 4px;
    }
}
