/* ==========================================================================
   Select
   ========================================================================== */

.#{$lumx-base-prefix}-select {
    $self: &;

    padding-top: var(--lumx-text-field-padding-top);
    padding-bottom: var(--lumx-text-field-padding-bottom);

    &__header {
        margin-bottom: var(--lumx-text-field-header-margin-bottom);
    }

    &__label {
        @include lumx-text-field-label;
    }

    &__wrapper {
        cursor: pointer;

        #{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'DARK'));
        }
    }

    &__chips {
        @include lumx-text-field-chips;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'DARK'));
        }

        &--placeholder {
            #{$self}--theme-light & {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'DARK'));
            }
        }

        span {
            display: block;
            margin: var(--lumx-text-field-wrapper-padding-vertical) 0;
            word-break: break-word;
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__input-indicator {
        #{$self}--theme-light & {
            @include lumx-select-input-indicator(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-select-input-indicator(lumx-base-const('theme', 'DARK'));
        }
    }

    &__helper {
        margin-top: $lumx-spacing-unit;
    }

    &__choices-filter {
        @include lumx-select-choices-filter;

        i {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'LIGHT'));
        }

        input {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'));

            &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }
        }
    }

    &__choices-loader {
        @include lumx-select-choices-loader;
    }

    &__choices-helper {
        @include lumx-select-choices-helper;
    }
}

/* Select states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-select--is-disabled {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-select--theme-light {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-select--theme-dark {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
}

.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'DARK'));
}

// Focus state
.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'LIGHT'));
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'DARK'));
}

/* Select validity
   ========================================================================== */

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'DARK'));
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'DARK'));
    }
}
