/* ==========================================================================
   Select
   ========================================================================== */

.lumx-select {
    $self: &;

    --lumx-text-field-wrapper-padding-vertical:
        calc(
            (var(--lumx-text-field-input-min-height) - var(--lumx-material-text-field-input-content-line-height)) / 2
        );

    padding-top: var(--lumx-material-text-field-padding-top);
    padding-bottom: var(--lumx-material-text-field-padding-bottom);

    &__header {
        margin-bottom: var(--lumx-material-text-field-header-wrapper-margin-bottom);
    }

    &__label {
        @include lumx-text-field-label;

        #{$self}--theme-light & {
            @include lumx-text-field-label-color(
                lumx-base-const("state", "DEFAULT"),
                lumx-base-const("theme", "LIGHT")
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-label-color(lumx-base-const("state", "DEFAULT"), lumx-base-const("theme", "DARK"));
        }
    }

    &__wrapper {
        cursor: pointer;

        #{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const("theme", "LIGHT"));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const("theme", "DARK"));
        }
    }

    &__input-icon {
        #{$self}--theme-light & {
            @include lumx-text-field-input-icon(lumx-base-const("theme", "LIGHT"));
            @include lumx-text-field-input-content-color(
                lumx-base-const("state", "DEFAULT"),
                lumx-base-const("theme", "LIGHT")
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-icon(lumx-base-const("theme", "DARK"));
            @include lumx-text-field-input-content-color(
                lumx-base-const("state", "DEFAULT"),
                lumx-base-const("theme", "DARK")
            );
        }
    }

    &__chips {
        @include lumx-text-field-chips;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native(lumx-base-const("theme", "LIGHT"));
            @include lumx-text-field-input-content-color(
                lumx-base-const("state", "DEFAULT"),
                lumx-base-const("theme", "LIGHT")
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native(lumx-base-const("theme", "DARK"));
            @include lumx-text-field-input-content-color(
                lumx-base-const("state", "DEFAULT"),
                lumx-base-const("theme", "DARK")
            );
        }

        &--placeholder {
            #{$self}--theme-light & {
                @include lumx-text-field-input-placeholder-color(
                    lumx-base-const("state", "DEFAULT"),
                    lumx-base-const("theme", "LIGHT")
                );
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-placeholder-color(
                    lumx-base-const("state", "DEFAULT"),
                    lumx-base-const("theme", "DARK")
                );
            }
        }

        span {
            display: block;
            margin: var(--lumx-text-field-wrapper-padding-vertical) 0;
            word-break: break-word;
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__input-indicator {
        #{$self}--theme-light & {
            @include lumx-select-input-indicator(lumx-base-const("theme", "LIGHT"));
        }

        #{$self}--theme-dark & {
            @include lumx-select-input-indicator(lumx-base-const("theme", "DARK"));
        }
    }

    &__helper {
        margin-top: $lumx-spacing-unit;
    }

    &__choices-filter {
        @include lumx-select-choices-filter;

        i {
            @include lumx-text-field-input-icon(lumx-base-const("theme", "LIGHT"));
        }

        input {
            @include lumx-text-field-input-native(lumx-base-const("theme", "LIGHT"));

            &::placeholder {
                color: lumx-color-variant("dark", "L2");
            }
        }
    }

    &__choices-loader {
        @include lumx-select-choices-loader;
    }

    &__choices-helper {
        @include lumx-select-choices-helper;
    }
}

/* Select states
   ========================================================================== */

// Disabled state
.lumx-select--is-disabled {
    .lumx-select__wrapper {
        @include lumx-state-disabled-input;
    }

    &.lumx-select--theme-light {
        .lumx-select__label {
            @include lumx-state-disabled-text(lumx-base-const("theme", "LIGHT"));
        }
    }

    &.lumx-select--theme-dark {
        .lumx-select__label {
            @include lumx-state-disabled-text(lumx-base-const("theme", "DARK"));
        }
    }
}

// Hover state
.lumx-select--theme-light {
    .lumx-select__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const("state", "HOVER"), lumx-base-const("theme", "LIGHT"));
    }

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            lumx-base-const("state", "HOVER"),
            lumx-base-const("theme", "LIGHT")
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                lumx-base-const("state", "HOVER"),
                lumx-base-const("theme", "LIGHT")
            );
        }
    }
}

.lumx-select--theme-dark {
    .lumx-select__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const("state", "HOVER"), lumx-base-const("theme", "DARK"));
    }

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            lumx-base-const("state", "HOVER"),
            lumx-base-const("theme", "DARK")
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                lumx-base-const("state", "HOVER"),
                lumx-base-const("theme", "DARK")
            );
        }
    }
}

// Focus state
.lumx-select--theme-light.lumx-select--is-open .lumx-select__wrapper,
.lumx-select--theme-light .lumx-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const("state", "FOCUS"), lumx-base-const("theme", "LIGHT"));

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            lumx-base-const("state", "FOCUS"),
            lumx-base-const("theme", "LIGHT")
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                lumx-base-const("state", "FOCUS"),
                lumx-base-const("theme", "LIGHT")
            );
        }
    }
}

.lumx-select--theme-dark.lumx-select--is-open .lumx-select__wrapper,
.lumx-select--theme-dark .lumx-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const("state", "FOCUS"), lumx-base-const("theme", "DARK"));

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            lumx-base-const("state", "FOCUS"),
            lumx-base-const("theme", "DARK")
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                lumx-base-const("state", "FOCUS"),
                lumx-base-const("theme", "DARK")
            );
        }
    }
}

/* Select validity
   ========================================================================== */

.lumx-select--theme-light.lumx-select--is-valid {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("valid", lumx-base-const("theme", "LIGHT"));
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("valid", lumx-base-const("theme", "LIGHT"));
    }
}

.lumx-select--theme-light.lumx-select--has-error {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("error", lumx-base-const("theme", "LIGHT"));
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("error", lumx-base-const("theme", "LIGHT"));
    }
}

.lumx-select--theme-dark.lumx-select--is-valid {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("valid", lumx-base-const("theme", "DARK"));
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("valid", lumx-base-const("theme", "DARK"));
    }
}

.lumx-select--theme-dark.lumx-select--has-error {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("error", lumx-base-const("theme", "DARK"));
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("error", lumx-base-const("theme", "DARK"));
    }
}
