/* ==========================================================================
   Select
   ========================================================================== */

.lumx-select {
    $self: &;

    --lumx-text-field-wrapper-padding-vertical:
        calc(
            (var(--lumx-text-field-input-min-height) - var(--lumx-material-text-field-input-content-line-height)) / 2
        );

    padding-top: var(--lumx-material-text-field-padding-top);
    padding-bottom: var(--lumx-material-text-field-padding-bottom);

    &__header {
        margin-bottom: var(--lumx-material-text-field-header-wrapper-margin-bottom);
    }

    &__label {
        @include lumx-text-field-label;

        #{$self}--theme-light & {
            @include lumx-text-field-label-color(
                "state-default",
                "theme-light"
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-label-color("state-default", "theme-dark");
        }
    }

    &__wrapper {
        cursor: pointer;

        #{$self}--theme-light & {
            @include lumx-text-field-wrapper("theme-light");
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper("theme-dark");
        }
    }

    &__input-icon {
        #{$self}--theme-light & {
            @include lumx-text-field-input-icon("theme-light");
            @include lumx-text-field-input-content-color(
                "state-default",
                "theme-light"
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-icon("theme-dark");
            @include lumx-text-field-input-content-color(
                "state-default",
                "theme-dark"
            );
        }
    }

    &__chips {
        @include lumx-text-field-chips;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native("theme-light");
            @include lumx-text-field-input-content-color(
                "state-default",
                "theme-light"
            );
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native("theme-dark");
            @include lumx-text-field-input-content-color(
                "state-default",
                "theme-dark"
            );
        }

        &--placeholder {
            #{$self}--theme-light & {
                @include lumx-text-field-input-placeholder-color(
                    "state-default",
                    "theme-light"
                );
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-placeholder-color(
                    "state-default",
                    "theme-dark"
                );
            }
        }

        span {
            display: block;
            margin: var(--lumx-text-field-wrapper-padding-vertical) 0;
            word-break: break-word;
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__input-indicator {
        #{$self}--theme-light & {
            @include lumx-select-input-indicator("theme-light");
        }

        #{$self}--theme-dark & {
            @include lumx-select-input-indicator("theme-dark");
        }
    }

    &__helper {
        margin-top: $lumx-spacing-unit;
    }

    &__choices-filter {
        @include lumx-select-choices-filter;

        i {
            @include lumx-text-field-input-icon("theme-light");
        }

        input {
            @include lumx-text-field-input-native("theme-light");

            &::placeholder {
                color: lumx-color-variant("dark", "L2");
            }
        }
    }

    &__choices-loader {
        @include lumx-select-choices-loader;
    }

    &__choices-helper {
        @include lumx-select-choices-helper;
    }
}

/* Select states
   ========================================================================== */

// Disabled state
.lumx-select--is-disabled {
    .lumx-select__wrapper {
        @include lumx-state-disabled-input;
    }

    &.lumx-select--theme-light {
        .lumx-select__label {
            @include lumx-state-disabled-text("theme-light");
        }
    }

    &.lumx-select--theme-dark {
        .lumx-select__label {
            @include lumx-state-disabled-text("theme-dark");
        }
    }
}

// Hover state
.lumx-select--theme-light {
    .lumx-select__wrapper:hover {
        @include lumx-text-field-wrapper-state("state-hover", "theme-light");
    }

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            "state-hover",
            "theme-light"
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                "state-hover",
                "theme-light"
            );
        }
    }
}

.lumx-select--theme-dark {
    .lumx-select__wrapper:hover {
        @include lumx-text-field-wrapper-state("state-hover", "theme-dark");
    }

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            "state-hover",
            "theme-dark"
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                "state-hover",
                "theme-dark"
            );
        }
    }
}

// Focus state
.lumx-select--theme-light.lumx-select--is-open .lumx-select__wrapper,
.lumx-select--theme-light .lumx-select__wrapper:focus {
    @include lumx-text-field-wrapper-state("state-focus", "theme-light");

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            "state-focus",
            "theme-light"
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                "state-focus",
                "theme-light"
            );
        }
    }
}

.lumx-select--theme-dark.lumx-select--is-open .lumx-select__wrapper,
.lumx-select--theme-dark .lumx-select__wrapper:focus {
    @include lumx-text-field-wrapper-state("state-focus", "theme-dark");

    .lumx-text-field__input-native {
        @include lumx-text-field-input-content-color(
            "state-focus",
            "theme-dark"
        );

        &--placeholder {
            @include lumx-text-field-input-placeholder-color(
                "state-focus",
                "theme-dark"
            );
        }
    }
}

/* Select validity
   ========================================================================== */

.lumx-select--theme-light.lumx-select--is-valid {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("valid", "theme-light");
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("valid", "theme-light");
    }
}

.lumx-select--theme-light.lumx-select--has-error {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("error", "theme-light");
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("error", "theme-light");
    }
}

.lumx-select--theme-dark.lumx-select--is-valid {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("valid", "theme-dark");
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("valid", "theme-dark");
    }
}

.lumx-select--theme-dark.lumx-select--has-error {
    .lumx-select__wrapper {
        @include lumx-text-field-wrapper-validity("error", "theme-dark");
    }

    .lumx-select__input-validity {
        @include lumx-text-field-input-validity("error", "theme-dark");
    }
}
