@mixin lumx-select-input-indicator($theme) {
    @include lumx-text-field-input-clear;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-select-choices-filter() {
    @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'));

    display: flex;
    align-items: center;
    padding: $lumx-spacing-unit $lumx-spacing-unit * 2;
}

@mixin lumx-select-choices-loader() {
    display: flex;
    justify-content: center;
    padding: $lumx-spacing-unit * 2 0;
}

@mixin lumx-select-choices-helper() {
    @include lumx-typography('body1');

    display: flex;
    justify-content: center;
    padding: $lumx-spacing-unit * 2 0;
    color: lumx-color-variant('dark', 'L3');
}
