@import "./variables";

@mixin lx-list() {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin lx-list-row() {
    display: flex;
    height: $lx-list-row-height;
    align-items: center;
    padding: 0 $lx-list-row-horizontal-padding;
    color: lx-theme-color-variant(dark, N);
}

@mixin lx-list-row-clickable() {
    cursor: pointer;

    &:hover {
        background-color: lx-theme-color-variant(dark, L5);
    }
}

@mixin lx-list-row-primary() {
    flex-shrink: 0;
    margin-right: $lx-base-spacing-unit;
}

@mixin lx-list-row-content() {
    flex: 1;
    font-size: 14px;
    line-height: 20px;
}

@mixin lx-list-row-secondary() {
    flex-shrink: 0;
    margin-left: $lx-base-spacing-unit;
}

@mixin lx-list-subheader() {
    display: flex;
    height: $lx-list-row-height;
    align-items: center;
    padding: 0 $lx-list-row-horizontal-padding;
    color: lx-theme-color-variant(dark, L3);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin lx-list-divider() {
    height: 1px;
    margin: $lx-base-spacing-unit 0;
    background-color: lx-theme-color-variant(dark, L5);
}
