/* ==========================================================================
   Slider
   ========================================================================== */

.#{$lumx-base-prefix}-slider {
    $self: &;

    display: flex;
    align-items: center;
    user-select: none;

    &__label {
        font-size: 10px;

        #{$self}--theme-light & {
            color: lumx-theme-color-variant(dark, L2);
        }

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant(light, L2);
        }

        &--min {
            padding-right: $lumx-spacing-unit * 2;
        }

        &--max {
            padding-left: $lumx-spacing-unit * 2;
        }
    }

    &__wrapper {
        position: relative;
        height: map-get($lumx-sizes, s);
        flex: 1;
        cursor: pointer;
    }

    &__track {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 2px;
        transform: translateY(-50%);

        &--background {
            #{$self}--theme-light & {
                background-color: lumx-theme-color-variant(dark, L5);
            }

            #{$self}--theme-dark & {
                background-color: lumx-theme-color-variant(light, L5);
            }
        }

        &--active {
            #{$self}--theme-light & {
                background-color: lumx-theme-color-variant(primary, N);
            }

            #{$self}--theme-dark & {
                background-color: lumx-theme-color-variant(light, N);
            }
        }
    }

    &__handle {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        cursor: pointer;
        transform: translateX(-50%) translateY(-50%);

        #{$self}--theme-light & {
            background-color: lumx-theme-color-variant(primary, N);
        }

        #{$self}--theme-dark & {
            background-color: lumx-theme-color-variant(light, N);
        }
    }

    &__ticks {
        position: absolute;
        top: (map-get($lumx-sizes, s) / 2) + 2;
        right: 0;
        left: 0;
    }

    &__tick {
        position: absolute;
        top: 0;
        width: 2px;
        height: 4px;
        transform: translateX(-50%);

        &:first-child,
        &:last-child {
            display: none;
        }

        #{$self}--theme-light & {
            background-color: lumx-theme-color-variant(dark, L5);
        }

        #{$self}--theme-dark & {
            background-color: lumx-theme-color-variant(light, L5);
        }
    }
}
