@import "./variables";

@mixin lx-button-base() {
    @include lx-typography(button);

    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: $lx-button-height;
    border-radius: 4px;
    border: none;
    outline: none;
    text-decoration: none;

    line-height: inherit;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:active {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: rgba(#000, map-get($lx-theme-text-opacities, disabled));
        cursor: default;
        pointer-events: none;
    }
}

@mixin lx-button__icon() {
    margin-right: $lx-base-spacing-unit;
    font-size: lx-typography-to-rem(18px);
}

@mixin lx-button__icon-contained() {
    margin-left: -($lx-base-spacing-unit / 2);
}

@mixin lx-button--text($theme) {
    padding: 0 $lx-button-text-horizontal-padding;
    background-color: transparent;
    color: map-get($lx-theme-colors, $theme);

    &:hover:before {
        background-color: rgba(map-get($lx-theme-colors, $theme), map-get($lx-ripple-light-opacities, hover));
    }

    &:focus:before {
        background-color: rgba(map-get($lx-theme-colors, $theme), map-get($lx-ripple-light-opacities, focus));
    }

    #{$lx-ripple-identifier} {
        background-color: rgba(map-get($lx-theme-colors, $theme), map-get($lx-ripple-light-opacities, ripple));
    }
}

@mixin lx-button--contained($theme) {
    padding: 0 $lx-button-contained-horizontal-padding;
    background-color: map-get($lx-theme-colors, $theme);
    color: map-get($lx-theme-colors, #{on-}$theme);

    &:hover:before {
        background-color: rgba(#fff, map-get($lx-ripple-dark-opacities, hover));
    }

    &:focus:before {
        background-color: rgba(#fff, map-get($lx-ripple-dark-opacities, focus));
    }

    #{$lx-ripple-identifier} {
        background-color: rgba(#fff, map-get($lx-ripple-dark-opacities, ripple));
    }

    &:disabled {
        background-color: rgba(#000, .12);
    }
}
