<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <div style="width:64px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="original"
            lumx-image="https://picsum.photos/320/240/?random"
            lumx-size="l"
            lumx-theme="{{ demoBlock.theme }}"
            lumx-variant="rounded"
        ></lumx-thumbnail>
    </div>
    <div style="width:36px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="vertical"
            lumx-image="https://picsum.photos/240/320/?random"
            lumx-size="m"
            lumx-theme="{{ demoBlock.theme }}"
            lumx-variant="rounded"
        ></lumx-thumbnail>
    </div>
    <div style="width:128px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="https://picsum.photos/128/128/?random"
            lumx-size="xl"
            lumx-theme="{{ demoBlock.theme }}"
            lumx-variant="rounded"
        ></lumx-thumbnail>
    </div>
</div>

<!-- class="lumx-image-block__image" -->
