<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-size="xl"
        lumx-image="http://placecorgi.com/320/240"
        lumx-theme="{{ demoBlock.theme }}"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="square"
        lumx-variant="rounded"
        lumx-size="xl"
        lumx-image="http://placecorgi.com/320/240"
        lumx-theme="{{ demoBlock.theme }}"
    ></lumx-thumbnail>
</div>

<!-- class="lumx-image-block__image" -->
