<lumx-grid lumx-orientation="horizontal" lumx-v-align="space-around">
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/320/240/?random"
        lumx-size="l"
        lumx-variant="rounded"
    ></lumx-thumbnail>

    <lumx-thumbnail
        lumx-aspect-ratio="vertical"
        lumx-image="https://picsum.photos/240/320/?random"
        lumx-size="m"
        lumx-variant="rounded"
    ></lumx-thumbnail>

    <lumx-thumbnail
        lumx-aspect-ratio="square"
        lumx-image="https://picsum.photos/128/128/?random"
        lumx-size="xl"
        lumx-variant="rounded"
    ></lumx-thumbnail>
</lumx-grid>
