<div class="p++" lumx-grid-container="row" lumx-grid-v-align="center">
    <img class="mr++" src="demo/angularjs/components/thumbnail/partials/xs (20).png" height="20" />
    <img class="mr++" src="demo/angularjs/components/thumbnail/partials/s (24).png" height="24" />
    <img class="mr++" src="demo/angularjs/components/thumbnail/partials/m (36).png" height="36" />
    <img class="mr++" src="demo/angularjs/components/thumbnail/partials/l (64).png" height="64" />
    <img class="mr++" src="demo/angularjs/components/thumbnail/partials/xl (128).png" height="128" />
</div>
