<div lumx-grid-container="row" lumx-grid-v-align="space-between">
    <div style="width:150px">
        <lumx-thumbnail lumx-aspect-ratio="square" lumx-image="https://picsum.photos/150/150/?random"></lumx-thumbnail>
    </div>

    <lumx-thumbnail lumx-aspect-ratio="original" lumx-image="https://picsum.photos/150/80/?random"></lumx-thumbnail>

    <div style="width:150px">
        <lumx-thumbnail
            lumx-aspect-ratio="vertical"
            lumx-image="https://picsum.photos/150/150/?random"
        ></lumx-thumbnail>
    </div>

    <div style="width:150px">
        <lumx-thumbnail
            lumx-aspect-ratio="horizontal"
            lumx-image="https://picsum.photos/150/150/?random"
        ></lumx-thumbnail>
    </div>
</div>
