<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="http://placecorgi.com/126/126"
            lumx-theme="{{ demoBlock.theme }}"
        ></lumx-thumbnail>
    </div>

    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="http://placecorgi.com/126/63"
        lumx-theme="{{ demoBlock.theme }}"
        class="mr++"
    ></lumx-thumbnail>
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="vertical"
            lumx-image="http://placecorgi.com/126/189"
            lumx-theme="{{ demoBlock.theme }}"
            class="mr++"
        ></lumx-thumbnail>
    </div>
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="horizontal"
            lumx-image="http://placecorgi.com/126/84"
            lumx-theme="{{ demoBlock.theme }}"
            class="mr++"
        ></lumx-thumbnail>
    </div>
</div>
