<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="https://picsum.photos/126/126/?random"
            lumx-theme="{{ demoBlock.theme }}"
        ></lumx-thumbnail>
    </div>

    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/126/63/?random"
        lumx-theme="{{ demoBlock.theme }}"
        class="mr++"
    ></lumx-thumbnail>
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="vertical"
            lumx-image="https://picsum.photos/126/189/?random"
            lumx-theme="{{ demoBlock.theme }}"
            class="mr++"
        ></lumx-thumbnail>
    </div>
    <div style="width:126px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="horizontal"
            lumx-image="https://picsum.photos/126/84/?random"
            lumx-theme="{{ demoBlock.theme }}"
            class="mr++"
        ></lumx-thumbnail>
    </div>
</div>
