<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <style>
        .thumb-no-flex-shrink {
            flex-shrink: 0;
        }
    </style>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/28/28/?random"
        lumx-size="xxs"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/40/40/?random"
        lumx-size="xs"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/48/48/?random"
        lumx-size="s"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/72/72/?random"
        lumx-size="m"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/128/128/?random"
        lumx-size="l"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <lumx-thumbnail
        lumx-aspect-ratio="original"
        lumx-image="https://picsum.photos/256/256/?random"
        lumx-size="xl"
        lumx-theme="{{ demoBlock.theme }}"
        class="thumb-no-flex-shrink mr++"
    ></lumx-thumbnail>
    <div style="width:300px">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="https://picsum.photos/400/400/?random"
            lumx-theme="{{ demoBlock.theme }}"
        ></lumx-thumbnail>
    </div>
</div>
