<div class="p++" lumx-grid-container="row" lumx-grid-v-align="space-around">
    <div style="width:128px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="http://placecorgi.com/126/126"
            lumx-size="xl"
            lumx-theme="{{ demoBlock.theme }}"
            lumx-variant="squared"
        ></lumx-thumbnail>
    </div>
    <div style="width:128px" class="mr++">
        <lumx-thumbnail
            lumx-aspect-ratio="square"
            lumx-image="http://placecorgi.com/126/126"
            lumx-size="xl"
            lumx-theme="{{ demoBlock.theme }}"
            lumx-variant="rounded"
        ></lumx-thumbnail>
    </div>
</div>
