@import './variables';

@mixin lx-chip() {
    display: inline-flex;
    height: $lx-chip-height;
    align-items: center;
    padding: 0 $lx-base-spacing-unit;
    border-radius: 2px;
    vertical-align: top;
}

@mixin lx-chip-primary() {
    flex-shrink: 0;
    margin-right: $lx-base-spacing-unit;
}

@mixin lx-chip-label() {
    @include lx-typography(caption);

    flex: 1;
    white-space: nowrap;
}

@mixin lx-chip-secondary() {
    flex-shrink: 0;
    margin-left: $lx-base-spacing-unit;
}
