<div
    class="lx-progress"
    ng-class="{ 'lx-progress--circular': !lxProgress.variant || lxProgress.variant === 'circular' }"
>
    <div class="lx-progress-circular" ng-if="::!lxProgress.variant || lxProgress.variant === 'circular'">
        <div class="lx-progress-circular__double-bounce1"></div>
        <div class="lx-progress-circular__double-bounce2"></div>
    </div>

    <div class="lx-progress-linear" ng-if="::lxProgress.variant === 'linear'">
        <div class="lx-progress-linear__line1"></div>
        <div class="lx-progress-linear__line2"></div>
    </div>
</div>
