@use "sass:map";

/* ==========================================================================
   Mosaic
   ========================================================================== */

.lumx-mosaic {
    $self: &;

    position: relative;
    padding-top: map.get($lumx-thumbnail-aspect-ratio, "horizontal");

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        gap: 2px;

        #{$self}--has-1-thumbnail & {
            grid: minmax(0, 1fr) / 1fr;
            grid-template-areas: "b";
        }

        #{$self}--has-2-thumbnails & {
            grid: minmax(0, 1fr) / 1fr 1fr;
            grid-template-areas: "b21 b22";
        }

        #{$self}--has-3-thumbnails & {
            grid: minmax(0, 1fr) minmax(0, 1fr) / 3fr 1fr;
            grid-template-areas:
                "b3 s31"
                "b3 s32";
        }

        #{$self}--has-4-thumbnails & {
            grid: minmax(0, 2fr) minmax(0, 1fr) / 1fr 1fr 1fr;
            grid-template-areas:
                "b4 b4 b4"
                "s41 s42 s43";
        }
    }

    &__thumbnail {
        position: relative;
        display: flex;
        flex-direction: column;

        &:has([data-focus-visible-added]) {
            z-index: 1;
        }

        #{$self}--has-1-thumbnail & {
            &:nth-child(1) {
                grid-area: b;
            }
        }

        #{$self}--has-2-thumbnails & {
            &:nth-child(1) {
                grid-area: b21;
            }

            &:nth-child(2) {
                grid-area: b22;
            }
        }

        #{$self}--has-3-thumbnails & {
            &:nth-child(1) {
                grid-area: b3;
            }

            &:nth-child(2) {
                grid-area: s31;
            }

            &:nth-child(3) {
                grid-area: s32;
            }
        }

        #{$self}--has-4-thumbnails & {
            &:nth-child(1) {
                grid-area: b4;
            }

            &:nth-child(2) {
                grid-area: s41;
            }

            &:nth-child(3) {
                grid-area: s42;
            }

            &:nth-child(4) {
                grid-area: s43;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        background-color: lumx-color-variant("dark", "L3");

        span {
            @include lumx-typography("subtitle1");

            color: lumx-color-variant("light", "N");
        }
    }
}
