/* ==========================================================================
   Mosaic
   ========================================================================== */

.#{$lumx-base-prefix}-mosaic {
    $self: &;

    position: relative;
    overflow: hidden;
    padding-top: map-get($lumx-thumbnail-aspect-ratio, 'horizontal');

    &__wrapper {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        display: grid;
        /* Safari hack to make the mosaic fit the height of the parent */
        height: stretch;

        #{$self}--has-1-thumbnail & {
            grid-template-areas: 'b';
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        #{$self}--has-2-thumbnails & {
            grid-template-areas: 'b21 b22';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        #{$self}--has-3-thumbnails & {
            grid-template-areas:
                'b3 s31'
                'b3 s32';
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        #{$self}--has-4-thumbnails & {
            grid-template-areas:
                'b4 b4 b4'
                's41 s42 s43';
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 2fr 1fr;
        }
    }

    &__thumbnail {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1px;

        #{$self}--has-1-thumbnail & {
            &:nth-child(1) {
                grid-area: b;
            }
        }

        #{$self}--has-2-thumbnails & {
            &:nth-child(1) {
                grid-area: b21;
            }

            &:nth-child(2) {
                grid-area: b22;
            }
        }

        #{$self}--has-3-thumbnails & {
            &:nth-child(1) {
                grid-area: b3;
            }

            &:nth-child(2) {
                grid-area: s31;
            }

            &:nth-child(3) {
                grid-area: s32;
            }
        }

        #{$self}--has-4-thumbnails & {
            &:nth-child(1) {
                grid-area: b4;
            }

            &:nth-child(2) {
                grid-area: s41;
            }

            &:nth-child(3) {
                grid-area: s42;
            }

            &:nth-child(4) {
                grid-area: s43;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lumx-color-variant('dark', 'L3');
        pointer-events: none;

        span {
            @include lumx-typography('subtitle1');

            color: lumx-color-variant('light', 'N');
        }
    }
}
