/** DEMO THEME - LUMAPPS */
@import "@lumx/core/scss/lumx";

/* ==========================================================================
   Base
   ========================================================================== */

*:not(.focus-visible) {
    outline: none;
}
