/** DEMO THEME - MATERIAL */

@import '~@lumx/icons/font';
@import '~@lumx/core/scss/lumx-theme-material';
@import './base/base';
@import './components/asset-block';
@import './components/demo-block';
@import './components/demo-colors';
@import './components/demo-grid';
@import './components/prop-table';
@import './layout/app/app';
@import './layout/main-nav/main-nav';
@import './layout/main/main';
