.mdi-x-twitter:before {
    content: '\F0544';
}

.mdi-google-pages:before {
    content: '\F2BA';
}

.mdi-baidu:before {
    content: '\F16E0';
}

.mdi-tencent-qq:before {
    content: '\F16E1';
}

.mdi-tencent-video:before {
    content: '\F16E2';
}

.mdi-tik-tok:before {
    content: '\F16E3';
}
