/* ==========================================================================
   Dropdown
   ========================================================================== */

.lx-dropdown {
    &--has-toggle {
        display: inline-block;
        vertical-align: top;
    }

    &__menu {
        @include lx-elevation(3);

        position: fixed;
        overflow: auto;
        padding: $lx-base-spacing-unit 0;
        background-color: lx-theme-color-variant(light, N);
        border-radius: 4px;
    }
}
