/* ==========================================================================
   Select
   ========================================================================== */

.#{$lumx-base-prefix}-select {
    $self: &;

    position: relative;
    padding-top: $lumx-spacing-unit * 4;
    padding-bottom: $lumx-spacing-unit;

    &__label {
        #{$self}--theme-light & {
            @include lumx-text-field-material-label(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-material-label(lumx-base-const('theme', 'DARK'));
        }

        #{$self}--has-placeholder &,
        #{$self}--has-value & {
            transform: scale(0.75) translateY(0);
        }
    }

    &__wrapper {
        padding-left: 0 !important;

        #{$self}--theme-light & {
            @include lumx-text-field-material-wrapper(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-material-wrapper(lumx-base-const('theme', 'DARK'));
        }
    }

    &__input-native {
        @include lumx-text-field-material-input-native('select');

        span {
            margin: $lumx-spacing-unit / 2 0;
        }
    }

    &__input-chip {
        margin-right: 6px;
        margin-left: 0;
    }
}

/* Select states
   ========================================================================== */

// Focus state
.#{$lumx-base-prefix}-select--is-focus,
.#{$lumx-base-prefix}-select--is-open {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-material-wrapper-focus;
    }
}

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-focus,
.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-open {
    .#{$lumx-base-prefix}-select__label {
        @include lumx-text-field-material-label-focus(lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-focus,
.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-open {
    .#{$lumx-base-prefix}-select__label {
        @include lumx-text-field-material-label-focus(lumx-base-const('theme', 'DARK'));
    }
}

/* Select validity
   ========================================================================== */

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__label {
        @include lumx-text-field-material-label-validity('valid');
    }

    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-material-wrapper-validity('valid');
    }
}

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__label {
        @include lumx-text-field-material-label-validity('error');
    }

    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-material-wrapper-validity('error');
    }
}
