**/node_modules/**
**/dist/*
**/public/*
yo-generators/**
**/.yarn/**
storybook
**/style-dictionary
**/*.config.js
**/*.config.mjs
packages/site-demo/plugins
packages/lumx-angularjs
packages/lumx-react/jest
packages/lumx-react/src/stories/generated
packages/yo-generators
