<table
    class="lx-data-table"
    ng-class="{ 'lx-data-table--has-border': lumx.hasBorder,
                'lx-data-table--has-bulk': lumx.hasBulk,
                'lx-data-table--has-thumbnail': lumx.hasThumbnail,
                'lx-data-table--is-activable': lumx.isActivable,
                'lx-data-table--is-selectable': lumx.isSelectable,
                'lx-data-table--theme-light': !lumx.theme || lumx.theme === 'light',
                'lx-data-table--theme-dark': lumx.theme === 'dark' }"
>
    <thead>
        <tr
            class="lx-data-table__row lx-data-table__row--thead"
            ng-class="{ 'lx-data-table__row--is-selected': lumx.hasBulk && lumx.isSelectable && lumx.allRowsSelected }"
        >
            <th align="center" class="lx-data-table__cell lx-data-table__cell--thead" ng-if="::lumx.hasThumbnail">
                <nglx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lumx.theme }}"
                    ng-checked="lumx.allRowsSelected"
                    ng-click="lumx.toggleAllSelected()"
                    ng-if="::lumx.hasBulk && lumx.isSelectable"
                ></nglx-checkbox>
            </th>
            <th
                align="center"
                class="lx-data-table__cell lx-data-table__cell--thead"
                ng-if="::lumx.isSelectable && !lumx.hasThumbnail"
            >
                <nglx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lumx.theme }}"
                    ng-checked="lumx.allRowsSelected"
                    ng-click="lumx.toggleAllSelected()"
                    ng-if="lumx.hasBulk"
                ></nglx-checkbox>
            </th>
            <th
                align="left"
                class="lx-data-table__cell lx-data-table__cell--thead"
                ng-class=" { 'lx-data-table__cell--is-sortable': th.sortable,
                             'lx-data-table__cell--is-sorted': th.sortable && th.sort }"
                ng-click="lumx.sort(th)"
                ng-repeat="th in lumx.thead track by $index"
                ng-if="!lumx.hasThumbnail || (lumx.hasThumbnail && $index != 0)"
            >
                <nglx-icon lx-path="{{ th.icon }}" lx-size="xxs" ng-if="th.icon && !th.sortable"></nglx-icon>
                <nglx-icon
                    lx-path="{{ lumx.icons.mdiArrowUp }}"
                    lx-size="xxs"
                    ng-if="th.sortable && th.sort === 'asc'"
                ></nglx-icon>
                <nglx-icon
                    lx-path="{{ lumx.icons.mdiArrowDown }}"
                    lx-size="xxs"
                    ng-if="th.sortable && th.sort === 'desc'"
                ></nglx-icon>
                <span>{{ th.label }}</span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr
            class="lx-data-table__row lx-data-table__row--tbody"
            ng-class="{ 'lx-data-table__row--is-enabled': lumx.isSelectable && !tr.lxDataTableDisabled,
                        'lx-data-table__row--is-disabled': lumx.isSelectable && tr.lxDataTableDisabled,
                        'lx-data-table__row--is-selected': lumx.isSelectable && tr.lxDataTableSelected,
                        'lx-data-table__row--is-activated': lumx.isActivable && tr.lxDataTableActivated }"
            ng-repeat="tr in lumx.tbody"
            ng-click="lumx.toggleActivation(tr)"
        >
            <td align="center" class="lx-data-table__cell lx-data-table__cell--tbody" ng-if="::lumx.hasThumbnail">
                <div class="lx-data-table__thumbnail">
                    <nglx-thumbnail
                        lx-image="{{ tr[lumx.thead[0].name] }}"
                        lx-variant="{{ lumx.thead[0].variant }}"
                    ></nglx-thumbnail>
                </div>

                <nglx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lumx.theme }}"
                    ng-checked="tr.lxDataTableSelected"
                    ng-click="lumx.toggleSelection(tr, undefined, $event)"
                    ng-if="lumx.isSelectable && !tr.lxDataTableDisabled"
                ></nglx-checkbox>
            </td>
            <td
                align="center"
                class="lx-data-table__cell lx-data-table__cell--tbody"
                ng-if="::lumx.isSelectable && !lumx.hasThumbnail"
            >
                <nglx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lumx.theme }}"
                    ng-checked="tr.lxDataTableSelected"
                    ng-click="lumx.toggleSelection(tr, undefined, $event)"
                    ng-disabled="tr.lxDataTableDisabled"
                ></nglx-checkbox>
            </td>
            <td
                align="left"
                class="lx-data-table__cell lx-data-table__cell--tbody"
                ng-repeat="th in lumx.thead track by $index"
                ng-if="!lumx.hasThumbnail || (lumx.hasThumbnail && $index != 0)"
            >
                <span ng-if="!th.format">{{ tr[th.name] }}</span>
                <div ng-if="th.format" ng-bind-html="lumx.$sce.trustAsHtml(th.format(tr))"></div>
            </td>
        </tr>
    </tbody>
</table>
