@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";

/* ==========================================================================
   Asset block
   ========================================================================== */

.asset-block {
    border: 1px solid lumx-color-variant("dark", "L4");
    border-radius: var(--lumx-border-radius);

    &__content {
        padding: $lumx-spacing-unit * 3;
        text-align: center;
        background-color: lumx-color-variant("dark", "L6");
    }

    &__thumbnail {
        display: inline-block !important;
        max-width: 100%;
    }

    &__toolbar {
        display: flex;
        align-items: center;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 2 $lumx-spacing-unit $lumx-spacing-unit;
        border-top: 1px solid lumx-color-variant("dark", "L4");
    }

    &__filename {
        flex: 1 1 auto;
        padding-left: $lumx-spacing-unit * 2;
    }
}
