/* ==========================================================================
   Grid
   ========================================================================== */

[lx-grid-container] {
    @include mq($from: desktop) {
        display: flex;
    }
}

[lx-grid-container='row'] {
    @include mq($from: desktop) {
        flex-direction: row;
    }
}

[lx-grid-container='column'] {
    @include mq($from: desktop) {
        flex-direction: column;
    }
}

/* Grid wrap
   ========================================================================== */

[lx-grid-wrap] {
    flex-wrap: wrap;
}

/* Grid alignment
   ========================================================================== */

[lx-grid-container='row'][lx-grid-h-align='top'],
[lx-grid-container='column'][lx-grid-v-align='left'] {
    @include mq($from: desktop) {
        align-items: flex-start;
    }
}

[lx-grid-container='row'][lx-grid-h-align='center'],
[lx-grid-container='column'][lx-grid-v-align='center'] {
    @include mq($from: desktop) {
        align-items: center;
    }
}

[lx-grid-container='row'][lx-grid-h-align='bottom'],
[lx-grid-container='column'][lx-grid-v-align='right'] {
    @include mq($from: desktop) {
        align-items: flex-end;
    }
}

[lx-grid-container='row'][lx-grid-v-align='left'],
[lx-grid-container='column'][lx-grid-h-align='top'] {
    @include mq($from: desktop) {
        justify-content: flex-start;
    }
}

[lx-grid-container='row'][lx-grid-v-align='center'],
[lx-grid-container='column'][lx-grid-h-align='center'] {
    @include mq($from: desktop) {
        justify-content: center;
    }
}

[lx-grid-container='row'][lx-grid-v-align='right'],
[lx-grid-container='column'][lx-grid-h-align='bottom'] {
    @include mq($from: desktop) {
        justify-content: flex-end;
    }
}

[lx-grid-container='row'][lx-grid-v-align='space-around'],
[lx-grid-container='column'][lx-grid-h-align='space-around'] {
    @include mq($from: desktop) {
        justify-content: space-around;
    }
}

[lx-grid-container='row'][lx-grid-v-align='space-between'],
[lx-grid-container='column'][lx-grid-h-align='space-between'] {
    @include mq($from: desktop) {
        justify-content: space-between;
    }
}

/* Grid item
   ========================================================================== */

[lx-grid-item] {
    @include mq($from: desktop) {
        position: relative;
        flex: 1;
    }
}

[lx-grid-item-align='center'] {
    @include mq($from: desktop) {
        align-self: center;
    }
}

[lx-grid-item-align='start'] {
    @include mq($from: desktop) {
        align-self: flex-start;
    }
}

[lx-grid-item-align='end'] {
    @include mq($from: desktop) {
        align-self: flex-end;
    }
}

@for $i from 1 through 16 {
    [lx-grid-item-order='#{$i}'] {
        @include mq($from: desktop) {
            order: $i;
        }
    }
}

/* Grid spacings
   ========================================================================== */

[lx-grid-gutter='8'] {
    @include mq($from: desktop) {
        margin: 0 (($lx-spacing-unit / 2) * -1);
    }

    & > [lx-grid-item] {
        @include mq($until: desktop) {
            margin-bottom: $lx-spacing-unit;
        }

        @include mq($from: desktop) {
            padding: 0 $lx-spacing-unit / 2;
        }
    }
}

[lx-grid-gutter='16'] {
    @include mq($from: desktop) {
        margin: 0 ($lx-spacing-unit * -1);
    }

    & > [lx-grid-item] {
        @include mq($until: desktop) {
            margin-bottom: $lx-spacing-unit * 2;
        }

        @include mq($from: desktop) {
            padding: 0 $lx-spacing-unit;
        }
    }
}

[lx-grid-gutter='24'] {
    @include mq($from: desktop) {
        margin: 0 ($lx-spacing-unit * 1.5) * -1;
    }

    & > [lx-grid-item] {
        @include mq($until: desktop) {
            margin-bottom: $lx-spacing-unit * 3;
        }

        @include mq($from: desktop) {
            padding: 0 $lx-spacing-unit * 1.5;
        }
    }
}

[lx-grid-gutter='32'] {
    @include mq($from: desktop) {
        margin: 0 (($lx-spacing-unit * 2) * -1);
    }

    & > [lx-grid-item] {
        @include mq($until: desktop) {
            margin-bottom: $lx-spacing-unit * 4;
        }

        @include mq($from: desktop) {
            padding: 0 $lx-spacing-unit * 2;
        }
    }
}

/* Grid widths
   ========================================================================== */

@for $i from 1 through 12 {
    [lx-grid-container='row'] > [lx-grid-item='#{$i}'] {
        @include mq($from: desktop) {
            max-width: #{(100 / 12) * $i + '%'};
            flex: unquote('0 0 #{(100 / 12) * $i + ' % '}');
        }
    }

    [lx-grid-container='column'] > [lx-grid-item='#{$i}'] {
        @include mq($from: desktop) {
            max-height: #{(100 / 12) * $i + '%'};
            flex: unquote('0 0 #{(100 / 12) * $i + ' % '}');
        }
    }
}
