/* ==========================================================================
   Data table
   ========================================================================== */

.#{$lumx-base-prefix}-table {
    $self: &;

    @include lumx-table;

    &__row {
        @include lumx-table-row;

        #{$self}--theme-light#{$self}--has-dividers & {
            @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark#{$self}--has-dividers & {
            @include lumx-has-divider(lumx-base-const('theme', 'DARK'));
        }

        #{$self}--has-dividers &:last-child {
            border-bottom: none;
        }

        &--is-selected {
            #{$self}--theme-light & {
                @include lumx-table-row-is-selected(lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-table-row-is-selected(lumx-base-const('theme', 'DARK'));
            }
        }
    }

    &__cell {
        &--head {
            #{$self}--theme-light & {
                @include lumx-table-cell('head', lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell('head', lumx-base-const('theme', 'DARK'));
            }
        }

        &--body {
            #{$self}--theme-light & {
                @include lumx-table-cell('body', lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell('body', lumx-base-const('theme', 'DARK'));
            }
        }

        &:first-child {
            padding-left: $lumx-spacing-unit * 3;
        }

        #{$self}--has-before &:first-child {
            @include lumx-table-cell-before;
        }

        &--is-sortable {
            cursor: pointer;
        }

        &--is-sorted {
            #{$self}--theme-light & {
                @include lumx-table-cell-is-sorted(lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell-is-sorted(lumx-base-const('theme', 'DARK'));
            }
        }
    }

    &__row--is-disabled &__cell {
        opacity: 0.5;
        pointer-events: none;
    }

    &__cell-wrapper {
        @include lumx-table-cell-wrapper;

        #{$self}--has-before #{$self}__cell--head:first-child & {
            @include lumx-table-cell-content-before;
        }
    }

    &__cell-icon {
        @include lumx-table-cell-icon;
    }

    &__cell-content {
        #{$self}__cell--head & {
            @include lumx-table-cell-content('head');
        }

        #{$self}__cell--body & {
            @include lumx-table-cell-content('body');
        }

        #{$self}--has-before #{$self}__cell--body:first-child & {
            @include lumx-table-cell-content-before;
        }

        #{$self}__cell--is-sortable:hover &,
        #{$self}__cell--is-sortable[data-focus-visible-added] & {
            text-decoration: underline;
        }
    }
}

/* Clickable row
   ========================================================================== */

.#{$lumx-base-prefix}-table__row--is-clickable:not(.#{$lumx-base-prefix}-table__row--is-selected) {
    .#{$lumx-base-prefix}-table--theme-light & {
        @include lumx-table-row-is-clickable(lumx-base-const('theme', 'LIGHT'), false);
    }

    .#{$lumx-base-prefix}-table--theme-dark & {
        @include lumx-table-row-is-clickable(lumx-base-const('theme', 'DARK'), false);
    }
}

.#{$lumx-base-prefix}-table__row--is-clickable.#{$lumx-base-prefix}-table__row--is-selected {
    .#{$lumx-base-prefix}-table--theme-light & {
        @include lumx-table-row-is-clickable(lumx-base-const('theme', 'LIGHT'), true);
    }

    .#{$lumx-base-prefix}-table--theme-dark & {
        @include lumx-table-row-is-clickable(lumx-base-const('theme', 'DARK'), true);
    }
}
