$lumx-typography-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif !default;

$lumx-typography-default-font-size: 16px !default;
$lumx-typography-default-line-height: 24px !default;

$lumx-typography-font-size: (
    display1: 34px,
    headline: 24px,
    title: 20px,
    subtitle2: 16px,
    subtitle1: 14px,
    body2: 16px,
    body1: 14px,
    caption: 12px,
    overline: 10px
) !default;

$lumx-typography-font-weight: (
    display1: 600,
    headline: 600,
    title: 700,
    subtitle2: 600,
    subtitle1: 600,
    body2: 400,
    body1: 400,
    caption: 400,
    overline: 700
) !default;

$lumx-typography-line-height: (
    display1: 40px,
    headline: 32px,
    title: 30px,
    subtitle2: 28px,
    subtitle1: 24px,
    body2: 24px,
    body1: 20px,
    caption: 16px,
    overline: 12px
) !default;

$lumx-typography-styles: overline, caption, body1, body2, subtitle1, subtitle2, title, headline, display1;
