<strong>default</strong>

<div class="pv++">
    <lx-chip>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>

    <lx-chip>
        <lx-chip-before><lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon></lx-chip-before>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>
</div>

<strong>dismissible</strong>

<div class="pv++">
    <lx-chip lx-on-click="vm.clickCallback()">
        <lx-chip-label>Dismissible</lx-chip-label>
        <lx-chip-after><lx-icon lx-path="{{ vm.icons.mdiClose }}" lx-size="xs"></lx-icon></lx-chip-after>
    </lx-chip>
</div>

<strong>choice</strong>

<div class="pv++">
    <lx-chip lx-is-active="vm.isActive" lx-on-click="vm.toggleCallback()">
        <lx-chip-label>Choice</lx-chip-label>
    </lx-chip>
</div>

<strong>choice multi</strong>

<div class="pv++">
    <lx-chip lx-is-active="vm.isActive" lx-on-click="vm.toggleCallback()">
        <lx-chip-before>
            <lx-checkbox
                lx-as-decorator="true"
                lx-theme="{{ vm.isActive ? 'dark' : 'light' }}"
                ng-checked="vm.isActive"
            ></lx-checkbox>
        </lx-chip-before>
        <lx-chip-label>Choice</lx-chip-label>
    </lx-chip>
</div>

<strong>filter</strong>

<div class="pv++">
    <lx-chip lx-is-active="vm.isActive" lx-on-click="vm.activate()" lx-on-after-click="vm.deactivate()">
        <lx-chip-before><lx-icon lx-path="{{ vm.icons.mdiFilterVariant }}" lx-size="xs"></lx-icon></lx-chip-before>
        <lx-chip-label>Filter</lx-chip-label>
        <lx-chip-after
            ><lx-icon
                lx-path="{{ vm.isActive ? vm.icons.mdiCloseCircle : vm.icons.mdiMenuDown }}"
                lx-size="xs"
            ></lx-icon
        ></lx-chip-after>
    </lx-chip>
</div>
