<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <lx-chip>Lorem ipsum</lx-chip>

    <lx-chip>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>

    <lx-chip lx-is-deletable="true">
        <lx-chip-primary><lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon></lx-chip-primary>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>

    <lx-chip lx-is-deletable="true" ng-disabled="true">
        <lx-chip-primary><lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon></lx-chip-primary>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>
</div>

<div class="lx-theme-background-dark-N" style="padding: 24px;">
    <lx-chip lx-theme="dark">Lorem ipsum</lx-chip>

    <lx-chip lx-theme="dark">
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>

    <lx-chip lx-theme="dark" lx-is-deletable="true">
        <lx-chip-primary><lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon></lx-chip-primary>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>

    <lx-chip lx-theme="dark" lx-is-deletable="true" ng-disabled="true">
        <lx-chip-primary><lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon></lx-chip-primary>
        <lx-chip-label>Lorem ipsum</lx-chip-label>
    </lx-chip>
</div>
