<lumx-grid>
    <lumx-grid-item lumx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 3
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 3
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="6">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 6
        </div>
    </lumx-grid-item>
</lumx-grid>

<lumx-grid lumx-gutter="regular">
    <lumx-grid-item lumx-width="2">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 2
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="8">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 8
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="2">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 2
        </div>
    </lumx-grid-item>
</lumx-grid>

<lumx-grid lumx-gutter="huge">
    <lumx-grid-item lumx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 3
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 3
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-width="6">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 6
        </div>
    </lumx-grid-item>
</lumx-grid>

<lumx-grid lumx-orientation="vertical">
    <lumx-grid-item lumx-order="1">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            ItemA with order=1
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-order="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            ItemB with order=3
        </div>
    </lumx-grid-item>

    <lumx-grid-item lumx-order="2">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            ItemC with order=2
        </div>
    </lumx-grid-item>
</lumx-grid>
