/* ==========================================================================
   Dialog
   ========================================================================== */

@import './variables';

.lx-dialog-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: lx-dialog-filter-show $lx-dialog-transition-duration;
    background-color: lx-theme-color-variant(dark, L1);
    opacity: 1;
    transition: opacity $lx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }
}

.lx-dialog {
    position: fixed;
    top: $lx-dialog-offset;
    left: 50%;
    display: none;
    height: calc(100% - 120px);
    animation: lx-dialog-show $lx-dialog-transition-duration;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    transition: opacity $lx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }

    &__wrapper {
        @include lx-elevation(5);

        display: flex;
        max-height: 100%;
        flex-direction: column;
        background-color: #fff;
        border-radius: 4px;
    }

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@keyframes lx-dialog-filter-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lx-dialog-show {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* Dialog sizes
   ========================================================================== */

@each $key, $size in $lx-dialog-sizes {
    .lx-dialog--size-#{$key} {
        width: $size;
    }
}
