$lumx-spacing-unit: $lumx-spacing-unit-regular;

$lumx-spacing-directions: (
    null: null,
    '-top': '-top',
    '-right': '-right',
    '-bottom': '-bottom',
    '-left': '-left',
    '-horizontal': '-left' '-right',
    '-vertical': '-top' '-bottom',
);

$lumx-spacing-properties: (
    'padding': 'padding',
    'margin': 'margin',
);

$lumx-spacing-sizes: (
    null: $lumx-spacing-unit-regular,
    '-tiny': $lumx-spacing-unit-tiny,
    '-regular': $lumx-spacing-unit-regular,
    '-big': $lumx-spacing-unit-big,
    '-huge': $lumx-spacing-unit-huge,
    '-none': 0,
);
