/* ==========================================================================
   Badge
   ========================================================================== */

.#{$lumx-base-prefix}-badge {
    display: inline-flex;
    width: map-get($lumx-sizes, lumx-base-const('size', 'XS'));
    height: map-get($lumx-sizes, lumx-base-const('size', 'XS'));
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;

    span {
        @include lumx-typography('overline');

        line-height: map-get($lumx-sizes, lumx-base-const('size', 'XS'));
    }

    i {
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
    }
}

/* Badge colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-badge--color-#{$key} {
        background-color: lumx-color-variant($key, 'N');

        @if $key == 'light' {
            @include lumx-elevation(2);
        } @else {
            color: lumx-color-variant('light', 'N');
        }
    }
}
