@use "sass:map";
@use "sass:math";

/* ==========================================================================
   Badge
   ========================================================================== */

.lumx-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: map.get($lumx-sizes, lumx-base-const("size", "XS"));
    height: map.get($lumx-sizes, lumx-base-const("size", "XS"));
    pointer-events: none;
    border-radius: 50%;

    span {
        @include lumx-typography("overline");

        line-height: map.get($lumx-sizes, lumx-base-const("size", "XS"));
    }

    i {
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
    }
}

/* Badge colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    .lumx-badge--color-#{$key} {
        background-color: lumx-color-variant($key, "N");

        @if $key == "light" {
            @include lumx-elevation(2);
        } @else {
            @if $key == "yellow" {
                color: lumx-color-variant("dark", "L1");
            } @else {
                color: lumx-color-variant("light", "N");
            }
        }
    }
}

/* Badge wrapper
   ========================================================================== */

.lumx-badge-wrapper {
    position: relative;
    display: inline-block;
    outline: none;

    &__badge {
        position: absolute;
        right: math.div(-$lumx-spacing-unit, 2);
        bottom: math.div(-$lumx-spacing-unit, 2);
    }
}
