/* ==========================================================================
   Comment block
   ========================================================================== */

.#{$lumx-base-prefix}-comment-block {
    $self: &;

    position: relative;
    margin-bottom: $lumx-spacing-unit * 2;

    &:last-child {
        margin-bottom: 0;
    }

    &--has-children#{$self}--has-indented-children &::before {
        position: absolute;
        top: 52px;
        bottom: 0;
        left: 16px;
        width: 4px;
        content: '';
    }

    &--has-children#{$self}--has-indented-children#{$self}--theme-light &::before {
        background-color: lumx-color-variant('dark', 'L5');
    }

    &--has-children#{$self}--has-indented-children#{$self}--theme-dark &::before {
        background-color: lumx-color-variant('light', 'L5');
    }

    &--has-children#{$self}--has-indented-children &:last-child::before {
        display: none;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;

        #{$self}--has-linear-children#{$self}--has-children &::before {
            position: absolute;
            top: 52px;
            bottom: 0;
            left: 16px;
            width: 4px;
            content: '';
        }

        #{$self}--has-linear-children#{$self}--has-children#{$self}--theme-light &::before {
            background-color: lumx-color-variant('dark', 'L5');
        }

        #{$self}--has-linear-children#{$self}--has-children#{$self}--theme-dark &::before {
            background-color: lumx-color-variant('light', 'L5');
        }

        #{$self}--has-linear-children #{$self}__children #{$self}:last-child &::before {
            display: none;
        }
    }

    &__avatar {
        flex-shrink: 0;
        margin-right: $lumx-spacing-unit * 2;
    }

    &__container {
        flex: 1 1 auto;
    }

    &__content {
        position: relative;
        overflow: hidden;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 1.5;
        border-radius: var(--lumx-border-radius);

        #{$self}--theme-light > #{$self}__wrapper & {
            background-color: lumx-color-variant('dark', 'L6');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            background-color: lumx-color-variant('light', 'L6');
        }

        #{$self}--is-relevant > #{$self}__wrapper &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background-color: lumx-color-variant('green', 'N');
            content: '';
        }
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        @include lumx-typography('subtitle1');

        margin-right: $lumx-spacing-unit;
        outline: none;

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-color-variant('dark', 'N');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-color-variant('light', 'N');
        }

        &[tabindex='0'] {
            #{$self}--theme-light > #{$self}__wrapper & {
                @include lumx-link('dark');
            }

            #{$self}--theme-dark > #{$self}__wrapper & {
                @include lumx-link('light');
            }
        }
    }

    &__date {
        @include lumx-typography('body1');

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-color-variant('light', 'L2');
        }
    }

    &__header-actions {
        margin-left: auto;
    }

    &__text {
        @include lumx-typography('body1');

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-color-variant('dark', 'N');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-color-variant('light', 'N');
        }

        word-break: break-word;
    }

    &__actions {
        margin-top: $lumx-spacing-unit;
    }

    &__children {
        margin-top: $lumx-spacing-unit * 2;

        #{$self}--has-indented-children & {
            margin-left: map-get($lumx-sizes, lumx-base-const('size', 'M')) + $lumx-spacing-unit * 2;
        }
    }
}
