<!DOCTYPE html>
<html lang="en" ng-app="design-system">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <base href="/" />
        <title>Design System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" />

        <link rel="stylesheet" href="lumx.css" />
        <link rel="stylesheet" href="demo-site.css" />
    </head>
    <body>
        <div class="app">
            <div class="main-nav"></div>
            <div class="sub-nav" ui-view="sub-nav"></div>
            <div class="main" ui-view="main"></div>
        </div>

        <!-- Libs -->
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/focus-visible/dist/focus-visible.js"></script>

        <!-- Angular -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>

        <!-- Design System -->
        <% for (key in htmlWebpackPlugin.files.chunks) { %> <% if (key != 'style-lumapps' && key != 'style-material') {
        %>
        <script
            src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
            type="text/javascript"
            crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
        ></script>
        <% } %> <% } %> <% if (htmlWebpackPlugin.files.chunks['style-lumapps']) { %>
        <!-- <script src="<%= htmlWebpackPlugin.files.chunks['style-lumapps'].entry %>" charset="UTF-8" defer></script> -->
        <% } %> <% if (htmlWebpackPlugin.files.chunks['style-material']) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks['style-material'].entry %>" charset="UTF-8" defer></script>
        <% } %>
    </body>
</html>
