@import "@lumx/core/src/scss/design-tokens";
@import "@lumx/core/src/scss/core";

/* ==========================================================================
   Demo block
   ========================================================================== */

.demo-block {
    $self: &;

    border: 1px solid $lumx-color-dark-L4;
    border-radius: var(--lumx-border-radius);

    &__content {
        padding: $lumx-spacing-unit * 3;
        overflow: auto;

        #{$self}--has-play-button & {
            display: flex;
            justify-content: center;
            background-color: $lumx-color-dark-L6;
        }
    }

    &__toolbar {
        display: flex;
        align-items: center;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 2 $lumx-spacing-unit $lumx-spacing-unit;
        border-top: 1px solid $lumx-color-dark-L4;
    }

    &__code-toggle {
        flex: 1 1 auto;
    }

    &__theme-toggle {
        flex-shrink: 0;
        margin-left: auto;
    }

    &__code {
        display: none;
        border: none;
        border-top: 1px solid $lumx-color-dark-L4;
        border-radius: 0;

        &--shown {
            display: block;
        }
    }

    &__filename {
        padding-left: $lumx-spacing-unit * 2;
    }
}
