@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";

.demo-block {
    $self: &;

    border: 1px solid $lumx-color-dark-L4;
    border-radius: var(--lumx-border-radius);
    // margin-bottom: $lumx-spacing-unit-huge; // Usually handled by layout

    &__content {
        .live-preview__static {
            padding: $lumx-spacing-unit * 3;
            overflow: auto;
        }

        display: grid;
        height: max-content;
        & > * {
            grid-area: 1 /1;
        }
    }

    &__toolbar {
        display: flex;
        align-items: center;
        gap: $lumx-spacing-unit;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 2 $lumx-spacing-unit $lumx-spacing-unit;
        border-top: 1px solid $lumx-color-dark-L4;
    }

    &__theme-toggle {
        flex-shrink: 0;
        margin-left: auto;
    }

    // Override SandPack styles
    .sp-wrapper {
        .cm-content {
            padding: 0 12px;
        }
        .sp-preview-container, .sp-preview, .sp-preview-iframe {
            background: none;
            min-height: 0px;
        }
        .sp-preview-container {
            resize: vertical;
            min-height: 100%;
        }
        .sp-stack {
            display: block;
        }
    }

    &__code {
        display: none;

        .code-block {
            border: none;
        }

        &--shown {
            display: block;
            border-top: 1px solid $lumx-color-dark-L4;
        }
    }

    &__filename {
        padding-left: $lumx-spacing-unit * 2;
    }
}
