@import "@lumx/core/src/scss/design-tokens";
@import "@lumx/core/src/scss/core";

/* ==========================================================================
   Demo block
   ========================================================================== */

.demo-block {
    $self: &;

    border: 1px solid $lumx-color-dark-L4;
    border-radius: var(--lumx-border-radius);

    &__content {
        padding: $lumx-spacing-unit * 3;
        overflow: auto;

        #{$self}--has-play-button & {
            display: flex;
            justify-content: center;
            background-color: $lumx-color-dark-L6;
        }
    }

    &__toolbar {
        display: flex;
        align-items: center;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 2 $lumx-spacing-unit $lumx-spacing-unit;
        border-top: 1px solid $lumx-color-dark-L4;
    }

    &__code-toggle {
        flex: 1 1 auto;
    }

    &__theme-toggle {
        flex-shrink: 0;
        margin-left: auto;
    }

    &__code {
        display: none;

        &--shown {
            display: block;
            border-top: 1px solid $lumx-color-dark-L4;
        }
    }

    &__code-part {
        overflow: visible;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: $lumx-spacing-unit-big;
        white-space: break-spaces;

        textarea {
            overflow: visible !important;
            outline-offset: 4px !important;
            transition-property: outline;

            &:hover {
                outline: 1px solid $lumx-color-primary-L3;
            }
            &:focus-visible {
                outline: 2px solid $lumx-color-primary-N;
            }
        }

        &--editable {
            // Override react-live inline styles
            > div {
                overflow: visible !important;

                background-color: transparent !important;
            }
            pre, textarea {
                padding: 0 !important;
                font-family: monospace !important;
            }
        }
    }

    &__filename {
        padding-left: $lumx-spacing-unit * 2;
    }
}
