@use "sass:string";

/* ==========================================================================
   Grid Column
   ========================================================================== */

.lumx-grid-column {
    --lumx-grid-column-gap: var(--lumx-spacing-unit-regular);
    --lumx-grid-column-columns: 1;
    --lumx-grid-column-item-min-width: 100%;

    $min-width: var(--lumx-grid-column-item-min-width);
    $gap: var(--lumx-grid-column-gap);
    $columns: var(--lumx-grid-column-columns);

    // Using `unquote` to make sure the `calc()` function is not removed at compile time.
    $column-max-width: string.unquote(
        "max(min(" + $min-width + ", 100%), calc((100% - (" + $columns + " - 1) * " + $gap + ") / " + $columns + "))"
    );

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($column-max-width, 1fr));
    gap: var(--lumx-grid-column-gap);
}
