/**
 * List of deprecated v2 variables that have been removed or renamed.
 * Warning: These will be removed in the next major version.
 */
$lumx-button-font-weight: $lumx-typography-font-weight-bold;
$lumx-button-text-transform: $lumx-material-button-text-transform;
$lumx-button-variant-icon-border-radius: 50%;
$lumx-button-size-m-font-size: $lumx-typography-custom-button-size-m-font-size;
$lumx-button-size-s-font-size: $lumx-typography-custom-button-size-s-font-size;
$lumx-checkbox-wrapper-size: $lumx-material-checkbox-wrapper-size;
$lumx-checkbox-control-size: $lumx-material-checkbox-control-size;
$lumx-chip-size-m-height: $lumx-material-chip-size-m-height;
$lumx-chip-size-m-border-radius: $lumx-material-chip-size-m-border-radius;
$lumx-chip-size-m-padding-vertical: $lumx-material-chip-size-m-padding-vertical;
$lumx-chip-size-s-height: $lumx-material-chip-size-s-height;
$lumx-chip-size-s-border-radius: $lumx-material-chip-size-s-border-radius;
$lumx-chip-size-s-padding-vertical: $lumx-material-chip-size-s-padding-vertical;
$lumx-input-helper-font-size: $lumx-material-input-helper-font-size;
$lumx-input-helper-font-weight: $lumx-material-input-helper-font-weight;
$lumx-input-helper-line-height: $lumx-material-input-helper-line-height;
$lumx-input-label-font-size: $lumx-material-input-label-font-size;
$lumx-input-label-font-weight: $lumx-material-input-label-font-weight;
$lumx-input-label-line-height: $lumx-material-input-label-line-height;
$lumx-radio-button-wrapper-size: $lumx-material-radio-button-wrapper-size;
$lumx-radio-button-control-size: $lumx-material-radio-button-control-size;
$lumx-radio-button-indicator-size: $lumx-material-radio-button-indicator-size;
$lumx-switch-wrapper-width: $lumx-material-switch-wrapper-width;
$lumx-switch-wrapper-height: $lumx-material-switch-wrapper-height;
$lumx-switch-control-width: $lumx-material-switch-control-width;
$lumx-switch-control-height: $lumx-material-switch-control-height;
$lumx-switch-indicator-size: $lumx-material-switch-indicator-size;
$lumx-switch-indicator-offset: $lumx-material-switch-indicator-offset;
$lumx-text-field-padding-top: $lumx-material-text-field-padding-top;
$lumx-text-field-padding-bottom: $lumx-material-text-field-padding-bottom;
$lumx-text-field-header-margin-bottom: $lumx-material-text-field-header-wrapper-margin-bottom;
$lumx-text-field-label-font-size: $lumx-material-text-field-header-label-font-size;
$lumx-text-field-label-font-weight: $lumx-material-text-field-header-label-font-weight;
$lumx-text-field-label-line-height: $lumx-material-text-field-header-label-line-height;
$lumx-text-field-wrapper-min-height: $lumx-text-field-input-min-height;
$lumx-text-field-wrapper-border-radius: $lumx-text-field-input-border-radius;
$lumx-text-field-wrapper-padding-vertical: $lumx-spacing-unit-tiny;
$lumx-text-field-wrapper-padding-horizontal: $lumx-text-field-input-padding-horizontal;
$lumx-text-field-state-default-border-top-width: $lumx-text-field-state-default-input-border-top-width;
$lumx-text-field-state-default-border-right-width: $lumx-text-field-state-default-input-border-right-width;
$lumx-text-field-state-default-border-bottom-width: $lumx-text-field-state-default-input-border-bottom-width;
$lumx-text-field-state-default-border-left-width: $lumx-text-field-state-default-input-border-left-width;
$lumx-text-field-state-default-theme-light-background-color: $lumx-text-field-state-default-theme-light-input-background-color;
$lumx-text-field-state-default-theme-light-border-color: $lumx-text-field-state-default-theme-light-input-border-color;
$lumx-text-field-state-default-theme-dark-background-color: $lumx-text-field-state-default-theme-dark-input-background-color;
$lumx-text-field-state-default-theme-dark-border-color: $lumx-text-field-state-default-theme-dark-input-border-color;
$lumx-text-field-state-hover-theme-light-background-color: $lumx-text-field-state-hover-theme-light-input-background-color;
$lumx-text-field-state-hover-theme-dark-background-color: $lumx-text-field-state-hover-theme-dark-input-background-color;
$lumx-text-field-state-focus-border-top-width: $lumx-text-field-state-focus-input-border-top-width;
$lumx-text-field-state-focus-border-right-width: $lumx-text-field-state-focus-input-border-right-width;
$lumx-text-field-state-focus-border-bottom-width: $lumx-text-field-state-focus-input-border-bottom-width;
$lumx-text-field-state-focus-border-left-width: $lumx-text-field-state-focus-input-border-left-width;
$lumx-text-field-state-focus-theme-light-background-color: $lumx-text-field-state-focus-theme-light-input-background-color;
$lumx-text-field-state-focus-theme-light-border-color: $lumx-text-field-state-focus-theme-light-input-border-color;
$lumx-text-field-state-focus-theme-dark-background-color: $lumx-text-field-state-focus-theme-dark-input-background-color;
$lumx-text-field-state-focus-theme-dark-border-color: $lumx-text-field-state-focus-theme-dark-input-border-color;
$lumx-text-field-input-icon-size: $lumx-size-xs;
$lumx-text-field-input-font-size: $lumx-material-text-field-input-content-font-size;
$lumx-text-field-input-font-weight: $lumx-material-text-field-input-content-font-weight;
$lumx-text-field-input-line-height: $lumx-material-text-field-input-content-line-height;
$lumx-text-field-input-validity-size: $lumx-size-xxs;
$lumx-text-field-input-clear-size: $lumx-size-s;
$lumx-progress-bounce: $lumx-material-progress-bounce;
$lumx-progress-rotate: $lumx-material-progress-rotate;
$lumx-typography-style-display1-font-size: $lumx-typography-interface-display1-font-size;
$lumx-typography-style-display1-font-weight: $lumx-typography-interface-display1-font-weight;
$lumx-typography-style-display1-line-height: $lumx-typography-interface-display1-line-height;
$lumx-typography-style-headline-font-size: $lumx-typography-interface-headline-font-size;
$lumx-typography-style-headline-font-weight: $lumx-typography-interface-headline-font-weight;
$lumx-typography-style-headline-line-height: $lumx-typography-interface-headline-line-height;
$lumx-typography-style-title-font-size: $lumx-typography-interface-title-font-size;
$lumx-typography-style-title-font-weight: $lumx-typography-interface-title-font-weight;
$lumx-typography-style-title-line-height: $lumx-typography-interface-title-line-height;
$lumx-typography-style-subtitle2-font-size: $lumx-typography-interface-subtitle2-font-size;
$lumx-typography-style-subtitle2-font-weight: $lumx-typography-interface-subtitle2-font-weight;
$lumx-typography-style-subtitle2-line-height: $lumx-typography-interface-subtitle2-line-height;
$lumx-typography-style-subtitle1-font-size: $lumx-typography-interface-subtitle1-font-size;
$lumx-typography-style-subtitle1-font-weight: $lumx-typography-interface-subtitle1-font-weight;
$lumx-typography-style-subtitle1-line-height: $lumx-typography-interface-subtitle1-line-height;
$lumx-typography-style-body2-font-size: $lumx-typography-interface-body2-font-size;
$lumx-typography-style-body2-font-weight: $lumx-typography-interface-body2-font-weight;
$lumx-typography-style-body2-line-height: $lumx-typography-interface-body2-line-height;
$lumx-typography-style-body1-font-size: $lumx-typography-interface-body1-font-size;
$lumx-typography-style-body1-font-weight: $lumx-typography-interface-body1-font-weight;
$lumx-typography-style-body1-line-height: $lumx-typography-interface-body1-line-height;
$lumx-typography-style-caption-font-size: $lumx-typography-interface-caption-font-size;
$lumx-typography-style-caption-font-weight: $lumx-typography-interface-caption-font-weight;
$lumx-typography-style-caption-line-height: $lumx-typography-interface-caption-line-height;
$lumx-typography-style-overline-font-size: $lumx-typography-interface-overline-font-size;
$lumx-typography-style-overline-font-weight: $lumx-typography-interface-overline-font-weight;
$lumx-typography-style-overline-line-height: $lumx-typography-interface-overline-line-height;
