<div
    class="lx-image-block"
    ng-class="{ 'lx-image-block--format-original': !lumx.aspectRatio || lumx.aspectRatio === 'original',
                'lx-image-block--format-crop': lumx.aspectRatio && lumx.aspectRatio !== 'original',
                'lx-image-block--aspect-ratio-horizontal': lumx.aspectRatio === 'horizontal',
                'lx-image-block--aspect-ratio-vertical': lumx.aspectRatio === 'vertical',
                'lx-image-block--caption-position-below': !lumx.captionPosition || lumx.captionPosition === 'below',
                'lx-image-block--caption-position-over': lumx.captionPosition === 'over',
                'lx-image-block--theme-light': !lumx.theme || lumx.theme === 'light',
                'lx-image-block--theme-dark': lumx.theme === 'dark' }"
>
    <div class="lx-image-block__image" ng-style="lumx.getImageStyle()"></div>

    <div class="lx-image-block__wrapper">
        <div class="lx-image-block__caption" ng-if="lumx.title || lumx.description">
            <span class="lx-image-block__title" ng-if="lumx.title">{{ lumx.title }}</span>
            <span class="lx-image-block__description" ng-if="lumx.description">
                {{ lumx.description }}
            </span>
        </div>

        <div class="lx-image-block__tags" ng-if="lumx.tags.length > 0">
            <div class="lx-image-block__tag" ng-repeat="tag in lumx.tags">
                <nglx-chip lx-size="s" lx-theme="{{ lumx.theme }}">
                    <nglx-chip-label>{{ tag }}</nglx-chip-label>
                </nglx-chip>
            </div>
        </div>
    </div>
</div>
