<lumx-table lumx-has-dividers="true" lumx-is-clickable="true" lumx-theme="{{ demoBlock.theme }}">
    <lumx-table-head>
        <lumx-table-row>
            <lumx-table-cell-head
                lumx-icon="{{ cell.icon }}"
                lumx-is-sortable="cell.isSortable"
                lumx-scope="col"
                lumx-sort-order="{{ cell.sortOrder }}"
                lumx-variant="head"
                ng-click="vm.updateSort(cell)"
                lumx-enter-keypress="vm.updateSort(cell)"
                ng-repeat="cell in vm.tableHead"
            >
                {{ cell.label }}
            </lumx-table-cell-head>
        </lumx-table-row>
    </lumx-table-head>

    <lumx-table-body>
        <lumx-table-row
            lumx-is-selected="row.isSelected"
            ng-repeat="row in vm.tableBody"
            ng-click="vm.selectRow(row)"
            lumx-enter-keypress="vm.selectRow(row)"
        >
            <lumx-table-cell-body>
                {{ row.dessert }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.calories }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.fat }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.comments }}
            </lumx-table-cell-body>
        </lumx-table-row>
    </lumx-table-body>
</lumx-table>
