<lumx-table lumx-has-dividers="true" lumx-theme="{{ demoBlock.theme }}">
    <lumx-table-head>
        <lumx-table-row>
            <lumx-table-cell-head
                lumx-icon="{{ cell.icon }}"
                lumx-is-sortable="cell.isSortable"
                lumx-scope="col"
                lumx-sort-order="{{ cell.sortOrder }}"
                lumx-variant="head"
                ng-click="vm.updateSort(cell)"
                lumx-enter-keypress="vm.updateSort(cell)"
                ng-repeat="cell in vm.tableHead"
            >
                {{ cell.label }}
            </lumx-table-cell-head>
        </lumx-table-row>
    </lumx-table-head>

    <lumx-table-body>
        <lumx-table-row ng-repeat="cell in vm.tableBody">
            <lumx-table-cell-body>
                {{ cell.dessert }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ cell.calories }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ cell.fat }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ cell.comments }}
            </lumx-table-cell-body>
        </lumx-table-row>
    </lumx-table-body>
</lumx-table>
