<lumx-table lumx-has-before="true" lumx-has-dividers="true" lumx-is-clickable="true" lumx-theme="{{ demoBlock.theme }}">
    <lumx-table-head>
        <lumx-table-row>
            <lumx-table-cell-head>
                <lumx-checkbox lumx-theme="{{ demoBlock.theme }}" ng-model="vm.allSelected"></lumx-checkbox>
            </lumx-table-cell-head>

            <lumx-table-cell-head
                width="{{ cell.width }}"
                lumx-icon="{{ cell.icon }}"
                lumx-is-sortable="cell.isSortable"
                lumx-scope="col"
                lumx-sort-order="{{ cell.sortOrder }}"
                lumx-variant="head"
                ng-click="vm.updateSort(cell)"
                lumx-enter-keypress="vm.updateSort(cell)"
                ng-repeat="cell in vm.tableHead"
            >
                {{ cell.label }}
            </lumx-table-cell-head>
        </lumx-table-row>
    </lumx-table-head>

    <lumx-table-body>
        <lumx-table-row
            lumx-is-selected="row.isSelected"
            ng-repeat="row in vm.tableBody"
            ng-click="vm.selectRow(row)"
            lumx-enter-keypress="vm.selectRow(row)"
        >
            <lumx-table-cell-body>
                <lumx-checkbox
                    lumx-theme="{{ demoBlock.theme }}"
                    ng-model="row.isSelected"
                    lumx-stop-propagation="click"
                ></lumx-checkbox>
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                <lumx-grid lumx-h-align="center">
                    <lumx-grid-item>
                        <lumx-grid lumx-h-align="center">
                            <lumx-thumbnail
                                class="lumx-spacing-margin-right-big"
                                lumx-aspect-ratio="square"
                                lumx-image="https://picsum.photos/72/72/?random"
                                lumx-size="m"
                                lumx-variant="rounded"
                            ></lumx-thumbnail>

                            <lumx-link lumx-color="dark" lumx-stop-propagation="click">
                                <span class="lumx-typography-subtitle1">{{ row.dessert }}</span>
                            </lumx-link>
                        </lumx-grid>
                    </lumx-grid-item>

                    <lumx-grid lumx-h-align="center">
                        <lumx-button lumx-emphasis="low" lumx-variant="icon" lumx-stop-propagation="click">
                            <lumx-icon lumx-path="{{ vm.icons.mdiInformationOutline }}"></lumx-icon>
                        </lumx-button>

                        <lumx-button lumx-emphasis="low" lumx-variant="icon" lumx-stop-propagation="click">
                            <lumx-icon lumx-path="{{ vm.icons.mdiDotsVertical }}"></lumx-icon>
                        </lumx-button>
                    </lumx-grid>
                </lumx-grid>
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.calories }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.fat }}
            </lumx-table-cell-body>

            <lumx-table-cell-body>
                {{ row.comments }}
            </lumx-table-cell-body>
        </lumx-table-row>
    </lumx-table-body>
</lumx-table>
