<main-header category="Components" title="User block">
    <p>
        Displays user info.
    </p>
</main-header>

<demo-block
    title="Sizes"
    path="demo/angularjs/components/user-block/partials/size-s.html"
    js-path="demo/angularjs/components/user-block/controller.js"
>
    <p class="lumx-typography-subtitle2">
        small
    </p>
</demo-block>

<demo-block
    title=""
    path="demo/angularjs/components/user-block/partials/size-m.html"
    js-path="demo/angularjs/components/user-block/controller.js"
>
    <p class="lumx-typography-subtitle2">
        medium
    </p>
</demo-block>

<demo-block
    title=""
    path="demo/angularjs/components/user-block/partials/size-l.html"
    js-path="demo/angularjs/components/user-block/controller.js"
>
    <p class="lumx-typography-subtitle2">
        large
    </p>
</demo-block>

<demo-block
    title="Vertical"
    path="demo/angularjs/components/user-block/partials/vertical.html"
    js-path="demo/angularjs/components/user-block/controller.js"
>
    <p>
        large user block can be displayed vertically.
    </p>
</demo-block>

<demo-block
    title="Extended"
    path="demo/angularjs/components/user-block/partials/extended.html"
    js-path="demo/angularjs/components/user-block/controller.js"
>
    <p>
        Offers contact actions and usually a follow button. A maximum of 5 contact actions can be displayed, if more the
        fifth is replaced be an overflow menu presenting the fifth and more actions.
    </p>
</demo-block>
