/* ==========================================================================
   Generic Block
   ========================================================================== */

.lumx-generic-block {
    &__content {
        // Prevent blocks in content from overflowing
        overflow: clip;
        max-width: 100%;
        min-width: 0;
    }
}
