/* ==========================================================================
   Tooltip
   ========================================================================== */

@import './variables';

.lx-tooltip {
    $self: &;

    @include lx-elevation(3);

    position: absolute;
    padding: $lx-spacing-unit / 2 $lx-spacing-unit;
    background-color: lx-theme-color-variant(light, N);
    border-radius: $lx-theme-border-radius;
    opacity: 0;
    pointer-events: none;
    transition: transform $lx-tooltip-transition-duration, opacity $lx-tooltip-transition-duration;

    &--is-shown {
        opacity: 1;

        &#{ $self }--position-top {
            transform: translateY(-8px);
        }

        &#{ $self }--position-bottom {
            transform: translateY(8px);
        }

        &#{ $self }--position-left {
            transform: translateX(-8px);
        }

        &#{ $self }--position-right {
            transform: translateX(8px);
        }
    }

    &__text {
        @include lx-typography(caption);

        display: block;
    }
}
