/* ==========================================================================
   Lightbox
   ========================================================================== */

.#{$lumx-base-prefix}-lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    animation: lumx-lightbox-show $lumx-lightbox-transition-duration;
    background-color: lumx-theme-color-variant(dark, L1);
    opacity: 1;
    transition: opacity $lumx-lightbox-transition-duration;

    &--is-hidden {
        opacity: 0;
    }

    &__close {
        position: fixed;
        top: $lumx-spacing-unit * 3;
        right: $lumx-spacing-unit * 3;
    }

    &__wrapper {
        position: absolute;
        top: map-get($lumx-sizes, l);
        right: map-get($lumx-sizes, l);
        bottom: map-get($lumx-sizes, l);
        left: map-get($lumx-sizes, l);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@keyframes lumx-lightbox-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
