/* ==========================================================================
   Data table
   ========================================================================== */

.#{$lumx-base-prefix}-table {
    $self: &;

    @include lumx-table;

    &__row {
        @include lumx-table-row;

        #{$self}--theme-light#{$self}--has-dividers & {
            @include lumx-has-divider('dark');
        }

        #{$self}--theme-dark#{$self}--has-dividers & {
            @include lumx-has-divider('light');
        }

        #{$self}--has-dividers &:last-child {
            border-bottom: none;
        }

        &--is-selected {
            #{$self}--theme-light & {
                @include lumx-table-row-is-selected('dark');
            }

            #{$self}--theme-dark & {
                @include lumx-table-row-is-selected('light');
            }
        }
    }

    &__cell {
        &--head {
            #{$self}--theme-light & {
                @include lumx-table-cell('head', 'dark');
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell('head', 'light');
            }
        }

        &--body {
            #{$self}--theme-light & {
                @include lumx-table-cell('body', 'dark');
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell('body', 'light');
            }
        }

        #{$self}--has-before &:first-child {
            @include lumx-table-cell-before;
        }

        &--is-sortable {
            cursor: pointer;
        }

        &--is-sorted {
            #{$self}--theme-light & {
                @include lumx-table-cell-is-sorted('dark');
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell-is-sorted('light');
            }
        }
    }

    &__cell-wrapper {
        @include lumx-table-cell-wrapper;

        #{$self}--has-before #{$self}__cell--head:first-child & {
            @include lumx-table-cell-content-before;
        }
    }

    &__cell-icon {
        @include lumx-table-cell-icon;
    }

    &__cell-content {
        #{$self}__cell--head & {
            @include lumx-table-cell-content('head');
        }

        #{$self}__cell--body & {
            @include lumx-table-cell-content('body');
        }

        #{$self}--has-before #{$self}__cell--body:first-child & {
            @include lumx-table-cell-content-before;
        }

        #{$self}__cell--is-sortable:hover &,
        #{$self}__cell--is-sortable[data-focus-visible-added] & {
            text-decoration: underline;
        }
    }
}

/* Clickable row
   ========================================================================== */

.#{$lumx-base-prefix}-table__row--is-clickable:not(.#{$lumx-base-prefix}-table__row--is-selected) {
    .#{$lumx-base-prefix}-table--theme-light & {
        @include lumx-table-row-is-clickable('dark', false);
    }

    .#{$lumx-base-prefix}-table--theme-dark & {
        @include lumx-table-row-is-clickable('light', false);
    }
}

.#{$lumx-base-prefix}-table__row--is-clickable.#{$lumx-base-prefix}-table__row--is-selected {
    .#{$lumx-base-prefix}-table--theme-light & {
        @include lumx-table-row-is-clickable('dark', true);
    }

    .#{$lumx-base-prefix}-table--theme-dark & {
        @include lumx-table-row-is-clickable('light', true);
    }
}
