/* ==========================================================================
   Data table
   ========================================================================== */

.#{$lumx-base-prefix}-table {
    $self: &;

    width: 100%;
    margin: 0;
    table-layout: fixed;

    &__cell {
        height: 56px;
        padding: $lumx-spacing-unit $lumx-spacing-unit * 4 $lumx-spacing-unit 0;
        text-align: left;

        thead & {
            text-align: left;

            #{$self}--theme-light & {
                @include lumx-has-divider(dark);

                color: lumx-theme-color-variant(dark, L2);
            }

            #{$self}--theme-dark & {
                @include lumx-has-divider(light);

                color: lumx-theme-color-variant(light, L2);
            }

            &--is-sortable {
                cursor: pointer;
            }

            &--is-sortable:hover,
            &--is-sorted {
                #{$self}--theme-light & {
                    color: lumx-theme-color-variant(dark, N);
                }

                #{$self}--theme-dark & {
                    color: lumx-theme-color-variant(light, N);
                }
            }
        }

        tbody & {
            #{$self}--theme-light#{$self}--has-dividers & {
                @include lumx-has-divider(dark);
            }

            #{$self}--theme-dark#{$self}--has-dividers & {
                @include lumx-has-divider(light);
            }
        }

        tbody #{$self}__row:last-child & {
            border-bottom: none;
        }
    }

    &__cell-icon {
        thead & {
            display: inline-block;
            margin-right: $lumx-spacing-unit / 2;
            vertical-align: middle;
        }
    }

    &__cell-content {
        hyphens: auto;
        word-break: break-all;

        thead & {
            @include lumx-typography(caption);

            display: inline-block;
            vertical-align: middle;
        }

        tbody & {
            @include lumx-typography(body1);

            #{$self}--theme-light & {
                color: lumx-theme-color-variant(dark, N);
            }

            #{$self}--theme-dark & {
                color: lumx-theme-color-variant(light, N);
            }
        }
    }
}
