/* ==========================================================================
   Chip
   ========================================================================== */

/* Chip size
   ========================================================================== */

.lx-chip--size-m {
    padding: 0 $lx-spacing-unit * 1.5;
}

.lx-chip--size-s {
    padding: 0 $lx-spacing-unit;
    border-radius: 2px;
}
