/* ==========================================================================
   Main nav
   ========================================================================== */

$main-nav-width: 56px;

.main-nav {
    overflow: auto;
    width: $main-nav-width;
    flex-direction: column;
    padding: $lumx-spacing-unit * 2 0;
    background-color: lumx-theme-color-variant(blue, N);

    &__wrapper {
        @include lumx-list;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: $lumx-spacing-unit * 3;

        img {
            display: block;
        }
    }

    &__item {
        margin-bottom: $lumx-spacing-unit * 2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        @include lumx-typography(subtitle2);

        display: flex;
        width: map-get($lumx-sizes, m);
        height: map-get($lumx-sizes, m);
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: lumx-theme-color-variant(light, N);
        cursor: pointer;

        &:hover,
        &--is-selected {
            background-color: lumx-theme-color-variant(light, N);
            color: lumx-theme-color-variant(dark, N);
        }
    }
}
