<nglx-select
    ng-model="vm.selectModel.selectedPerson"
    lx-choices="vm.selectPeople"
    lx-is-clearable="true"
    lx-label="Lorem Ipsum"
>
    <nglx-select-selected>{{ $selected.name }} - {{ $selected.age }}</nglx-select-selected>
    <nglx-select-choices>{{ $choice.email }}</nglx-select-choices>
</nglx-select>

<nglx-select
    ng-model="vm.selectModel.selectedPerson"
    lx-choices="vm.selectPeople"
    lx-is-clearable="true"
    lx-is-valid="true"
    lx-label="Lorem Ipsum"
    lx-placeholder="Select a value"
>
    <nglx-select-selected>{{ $selected.name }} - {{ $selected.age }}</nglx-select-selected>
    <nglx-select-choices>{{ $choice.email }}</nglx-select-choices>
</nglx-select>

<nglx-select
    ng-model="vm.selectModel.selectedPerson"
    lx-choices="vm.selectPeople"
    lx-has-error="true"
    lx-label="Lorem Ipsum"
    lx-placeholder="Select a value"
>
    <nglx-select-selected>{{ $selected.name }} - {{ $selected.age }}</nglx-select-selected>
    <nglx-select-choices>{{ $choice.email }}</nglx-select-choices>
</nglx-select>

<nglx-select
    ng-model="vm.selectModel.selectedPeople"
    lx-choices="vm.selectPeople"
    lx-label="Lorem Ipsum"
    lx-multiple="true"
    lx-placeholder="Select values"
>
    <nglx-select-selected>{{ $selected.name }} - {{ $selected.age }}</nglx-select-selected>
    <nglx-select-choices>{{ $choice.email }}</nglx-select-choices>
</nglx-select>

<nglx-select
    ng-change="vm.selectCallback()"
    ng-model="vm.selectAjax.selected"
    lx-choices="vm.selectAjax.list"
    lx-filter="vm.selectAjax.update(newValue)"
    lx-has-filter="true"
    lx-has-helper="!vm.selectAjax.list.length"
    lx-helper="No results"
    lx-is-loading="vm.selectAjax.loading"
    lx-label="Lorem Ipsum"
    lx-multiple="true"
    lx-model-to-selection="vm.selectAjax.toSelection(data, callback)"
    lx-selection-to-model="vm.selectAjax.toModel(data, callback)"
    lx-placeholder="Select values"
>
    <nglx-select-selected>{{ $selected.name }} (Born in {{ $selected.birth_year }})</nglx-select-selected>
    <nglx-select-choices>{{ $choice.name }} (Appears in {{ $choice.films.length }} films)</nglx-select-choices>
</nglx-select>
