/* ==========================================================================
   Toolbar
   ========================================================================== */

.#{$lumx-base-prefix}-toolbar {
    display: flex;
    height: $lumx-toolbar-height;
    align-items: center;
    padding: 0 $lumx-spacing-unit * 3;

    &--has-before {
        padding-left: $lumx-spacing-unit * 2;
    }

    &--has-after {
        padding-right: $lumx-spacing-unit * 2;
    }

    &__before {
        margin-right: $lumx-spacing-unit * 2;
    }

    &__after {
        margin-left: auto;
    }
}
