/* ==========================================================================
   Sub nav
   ========================================================================== */

$sub-nav-width: 228px;

.sub-nav {
    display: flex;
    width: $sub-nav-width;
    flex-direction: column;
    background-color: lumx-theme-color-variant(dark, L6);
    overflow-y: scroll;

    &__wrapper {
        @include lumx-list;
    }

    &__subheader {
        @include lumx-list-subheader;

        margin-bottom: $lumx-spacing-unit / 2;
    }

    &__item {
        margin-bottom: $lumx-spacing-unit / 2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        @include lumx-list-item(tiny);
        @include lumx-list-item-clickable;
        @include lumx-list-item-content();

        border-radius: $lumx-theme-border-radius;

        &--is-selected {
            @include lumx-list-item-selected;
        }
    }
}
