/* ==========================================================================
   Sub nav
   ========================================================================== */

$sub-nav-width: 228px;

.sub-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: $main-nav-width;
    display: flex;
    overflow: auto;
    width: $sub-nav-width;
    flex-direction: column;
    background-color: lx-theme-color-variant(dark, L6);

    &__wrapper {
        @include lx-list;
    }

    &__subheader {
        @include lx-list-subheader;

        margin-bottom: $lx-spacing-unit / 2;
    }

    &__item {
        margin-bottom: $lx-spacing-unit / 2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        @include lx-list-item;
        @include lx-list-item-clickable;
        @include lx-list-item-content;

        border-radius: $lx-theme-border-radius;

        &--is-selected {
            @include lx-list-item-selected;
        }
    }
}
