<div class="p++" lumx-grid-container="row" lumx-grid-v-align="center">
    <img
        class="mr++ retina"
        src="demo/angularjs/components/file-block/partials/file-block-list-light-s-thumbnail.png"
        height="20"
    />
    <img
        class="mr++"
        src="demo/angularjs/components/file-block/partials/file-block-list-light-m-thumbnail.png"
        height="32"
    />
    <img
        class="mr++"
        src="demo/angularjs/components/file-block/partials/file-block-list-light-l-thumbnail.png"
        height="54"
    />
</div>
