@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";
@import "@lumx/core/scss/components/divider/variables";
@import "@lumx/core/scss/components/divider/mixins";

/* ==========================================================================
   Design token
   ========================================================================== */

.design-token {
    $self: &;

    background-color: transparent !important;

    &--theme-light {
        @include lumx-has-divider(lumx-base-const("theme", "LIGHT"));
    }

    &--theme-dark {
        @include lumx-has-divider(lumx-base-const("theme", "DARK"));
    }

    &:last-child {
        border-bottom: none;
    }

    &__header {
        display: flex;
        flex: 1;
        align-items: center;
        margin: 0 $lumx-spacing-unit * 2;
    }

    &__prefix {
        margin-right: $lumx-spacing-unit * 1.5;
    }

    &__name,
    &__value {
        @include lumx-typography("subtitle1");
    }

    &__name {
        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }

    &__value {
        margin-left: auto;

        #{$self}--theme-light & {
            color: lumx-color-variant("dark", "L3");
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "L3");
        }
    }

    &__content {
        padding: $lumx-spacing-unit * 2;
    }

    &__description {
        @include lumx-typography("body1");

        margin-bottom: $lumx-spacing-unit * 2;

        #{$self}--theme-dark & {
            color: lumx-color-variant("light", "N");
        }
    }
}
