<div class="p++">
    <lumx-progress-tracker>
        <lumx-progress-tracker-step
            lumx-label="{{ step.label }}"
            lumx-has-error="step.hasError"
            lumx-helper="{{ step.helper }}"
            lumx-is-active="step.isActive"
            lumx-is-complete="step.isComplete"
            lumx-enter-keypress="vm.setActiveStep($index)"
            ng-click="vm.setActiveStep($index)"
            ng-repeat="step in vm.stepper"
        ></lumx-progress-tracker-step>
    </lumx-progress-tracker>

    <!-- <div ng-repeat="step in vm.stepper" ng-if="step.isActive">
        {{ step.content }}
    </div> -->

    <!-- <lumx-button ng-click="vm.next()">Next</lumx-button> -->
</div>
