@keyframes lx-ripple-from-mouse {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    60% {
        opacity: 1;
        transform: scale(2.5);
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@keyframes lx-ripple-from-center {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    60% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
