/* ==========================================================================
   Ripple
   ========================================================================== */

@import "./variables";
@import "./keyframes";

.has-lx-ripple {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        position: absolute;
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
    }
}

.lx-ripple {
    position: absolute;
    z-index: -1;
    display: block;
    border-radius: 100%;
    pointer-events: none;
    transform: scale(0);
}

/* Ripple animation
   ========================================================================== */

.lx-ripple--is-animated {
    animation-duration: 0.5s;
}

.lx-ripple--from-mouse.lx-ripple--is-animated {
    animation-name: lx-ripple-from-mouse;
}

.lx-ripple--from-center.lx-ripple--is-animated {
    animation-name: lx-ripple-from-center;
}
