/* ==========================================================================
   Post block
   ========================================================================== */

.#{$lumx-base-prefix}-post-block {
    $self: &;

    &--orientation-horizontal {
        display: flex;
    }

    &__thumbnail {
        #{$self}--orientation-horizontal & {
            width: 33.33%;
            flex-shrink: 0;
            margin-right: $lumx-spacing-unit * 3;
        }

        #{$self}--orientation-vertical & {
            margin-bottom: $lumx-spacing-unit * 3;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        #{$self}--orientation-horizontal & {
            flex: 1 1 auto;
        }
    }

    &__author {
        margin-bottom: $lumx-spacing-unit;
    }

    &__title {
        @include lumx-typography('title');

        display: block;
        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            @include lumx-link('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-link('light');
        }
    }

    &__meta {
        @include lumx-typography('caption');

        display: block;
        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'L2');
        }
    }

    &__text {
        @include lumx-typography('body1');

        margin-bottom: $lumx-spacing-unit;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'N');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'N');
        }
    }

    &__toolbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__attachments {
        margin-top: $lumx-spacing-unit;
        margin-bottom: $lumx-spacing-unit;
    }

    &__tags {
        flex: 1 1 auto;
        margin-top: $lumx-spacing-unit;
    }

    &__actions {
        flex-shrink: 0;
        margin-top: $lumx-spacing-unit;
    }
}
