/* ==========================================================================
   Radio button
   ========================================================================== */

.#{$lumx-base-prefix}-radio-button {
    $self: &;

    display: flex;
    cursor: default;

    &__input-wrapper {
        @include lumx-radio-button-input-wrapper;
    }

    &__input-native {
        @include lumx-radio-button-input-native;
    }

    &__input-placeholder {
        @include lumx-radio-button-placeholder;
    }

    &__input-background {
        @include lumx-radio-button-input-background;

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-radio-button-input-background-status('unchecked', 'dark');
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-radio-button-input-background-status('unchecked', 'light');
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-radio-button-input-background-status('checked', 'dark');
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-radio-button-input-background-status('checked', 'light');
        }
    }

    &__input-indicator {
        @include lumx-radio-button-input-indicator;

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-radio-button-input-indicator-status('unchecked', 'dark');
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-radio-button-input-indicator-status('unchecked', 'light');
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-radio-button-input-indicator-status('checked', 'dark');
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-radio-button-input-indicator-status('checked', 'light');
        }
    }

    &__label {
        padding-left: $lumx-spacing-unit;

        #{$self}--theme-light & {
            @include lumx-input-label('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-label('light');
        }
    }

    &__helper {
        padding-left: $lumx-spacing-unit;

        #{$self}--theme-light & {
            @include lumx-input-helper('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-helper('light');
        }
    }
}

/* Radio button states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-radio-button--is-disabled {
    .#{$lumx-base-prefix}-radio-button__input-native {
        pointer-events: none;
    }

    .#{$lumx-base-prefix}-radio-button__input-placeholder {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-radio-button--theme-light {
        .#{$lumx-base-prefix}-radio-button__label,
        .#{$lumx-base-prefix}-radio-button__helper {
            @include lumx-state-disabled-text('dark');
        }
    }

    &.#{$lumx-base-prefix}-radio-button--theme-dark {
        .#{$lumx-base-prefix}-radio-button__label,
        .#{$lumx-base-prefix}-radio-button__helper {
            @include lumx-state-disabled-text('light');
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-radio-button--theme-light.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native:hover
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    .#{$lumx-base-prefix}-radio-button__input-background {
        @include lumx-state('state-hover', 'emphasis-low', 'dark');
    }
}

.#{$lumx-base-prefix}-radio-button--theme-dark.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native:hover
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    .#{$lumx-base-prefix}-radio-button__input-background {
        @include lumx-state('state-hover', 'emphasis-low', 'light');
    }
}

// Active state
.#{$lumx-base-prefix}-radio-button--theme-light.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native:active
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    .#{$lumx-base-prefix}-radio-button__input-background {
        @include lumx-state('state-active', 'emphasis-low', 'dark');
    }
}

.#{$lumx-base-prefix}-radio-button--theme-dark.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native:active
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    .#{$lumx-base-prefix}-radio-button__input-background {
        @include lumx-state('state-active', 'emphasis-low', 'light');
    }
}

// Focus state
.#{$lumx-base-prefix}-radio-button--theme-light.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-low', 'dark');
}

.#{$lumx-base-prefix}-radio-button--theme-dark.#{$lumx-base-prefix}-radio-button--is-unchecked
.#{$lumx-base-prefix}-radio-button__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-low', 'light');
}

.#{$lumx-base-prefix}-radio-button--theme-light.#{$lumx-base-prefix}-radio-button--is-checked
.#{$lumx-base-prefix}-radio-button__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-high', 'primary', 'dark');
}

.#{$lumx-base-prefix}-radio-button--theme-dark.#{$lumx-base-prefix}-radio-button--is-checked
.#{$lumx-base-prefix}-radio-button__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-radio-button__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-high', 'primary', 'light');
}

/* Radio group
   ========================================================================== */

.#{$lumx-base-prefix}-radio-group > .#{$lumx-base-prefix}-radio-button {
    margin-bottom: $lumx-spacing-unit * 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}
