@import "~@lumx/core/src/scss/design-tokens";
@import "~@lumx/core/src/scss/core";

/* ==========================================================================
   Code block
   ========================================================================== */

.code-block {
    display: block;
    padding: $lumx-spacing-unit * 2;
    overflow-x: auto;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    border: 1px solid $lumx-color-dark-L4;
    border-radius: var(--lumx-border-radius);
}
