@import "@lumx/core/src/scss/design-tokens";
@import "@lumx/core/src/scss/core";

/* ==========================================================================
   Code block
   ========================================================================== */

.code-block {
    display: block;
    padding: $lumx-spacing-unit * 2;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: transparent;
    border: 1px solid $lumx-color-dark-L4;
    border-radius: var(--lumx-border-radius);

    details summary {
        padding: $lumx-spacing-unit-tiny;
        margin: -$lumx-spacing-unit-tiny;
    }

    details:not([open]):not(:last) {
        margin-bottom: 1rem;
    }

    details[open] summary {
        display: none;
    }

    code.token {
        padding: 0;
        font-size: inherit;
        font-weight: inherit;
        background: none;
    }
}
