@use "sass:map";
@use "sass:math";

/* ==========================================================================
   Skeleton
   ========================================================================== */

@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Circle
   ========================================================================== */

.lumx-skeleton-circle {
    border-radius: 50%;

    &--theme-light {
        @include lumx-skeleton("light");
    }

    &--theme-dark {
        @include lumx-skeleton("dark");
    }
}

@each $key, $size in $lumx-sizes {
    .lumx-skeleton-circle--size-#{$key} {
        width: map.get($lumx-sizes, $key);
        height: map.get($lumx-sizes, $key);
    }
}

@each $key, $color in $lumx-color-palette {
    .lumx-skeleton-circle--color-#{$key} {
        background-color: lumx-color-variant($key, "L5");
    }
}

/* Rectangle
   ========================================================================== */

.lumx-skeleton-rectangle {
    &--variant-rounded {
        border-radius: var(--lumx-border-radius);
    }

    &--theme-light {
        @include lumx-skeleton("light");
    }

    &--theme-dark {
        @include lumx-skeleton("dark");
    }
}

@each $key, $size in $lumx-sizes {
    .lumx-skeleton-rectangle--width-#{$key} {
        width: map.get($lumx-sizes, $key);
    }

    .lumx-skeleton-rectangle--height-#{$key} {
        height: map.get($lumx-sizes, $key);
    }

    .lumx-skeleton-rectangle--variant-pill.lumx-skeleton-rectangle--height-#{$key} {
        border-radius: math.div(map.get($lumx-sizes, $key), 2);
    }
}

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .lumx-skeleton-rectangle--aspect-ratio-#{$key} .lumx-skeleton-rectangle__inner {
        padding-top: $aspect-ratio;
    }
}

@each $key, $color in $lumx-color-palette {
    .lumx-skeleton-rectangle--color-#{$key} {
        background-color: lumx-color-variant($key, "L5");
    }
}

/* Typography
   ========================================================================== */

$typography-skeleton-size: (
    "display1": 24px,
    "headline": 20px,
    "title": 14px,
    "subtitle2": 12px,
    "subtitle1": 10px,
    "body2": 12px,
    "body1": 10px,
    "caption": 8px,
    "overline": 8px,
);

.lumx-skeleton-typography {
    $self: &;

    display: flex;
    align-items: center;

    &__inner {
        width: 100%;
        border-radius: var(--lumx-border-radius);
        animation: skeleton-loading 1s ease-in-out 0s infinite;

        #{$self}--theme-light & {
            background-color: lumx-color-variant("dark", "L5");
        }

        #{$self}--theme-dark & {
            background-color: lumx-color-variant("light", "L5");
        }
    }
}

@each $key, $style in $lumx-typography-interface {
    .lumx-skeleton-typography--typography-#{$key} {
        height: map.get(map.get($lumx-typography-interface, $key), "line-height");
    }

    .lumx-skeleton-typography--typography-#{$key} .lumx-skeleton-typography__inner {
        height: map.get($typography-skeleton-size, $key);
    }
}

@each $key, $color in $lumx-color-palette {
    .lumx-skeleton-typography--color-#{$key} .lumx-skeleton-typography__inner {
        background-color: lumx-color-variant($key, "L5");
    }
}
