<lumx-list>
    <lumx-list-subheader>Text only</lumx-list-subheader>

    <lumx-list-item lumx-size="big">
        <lumx-list-item-content>
            <div><span>Two-line item</span></div>
            <div><span class="lumx-theme-color-dark-L2">Secondary text</span></div>
        </lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-subheader>Rich</lumx-list-subheader>

    <lumx-list-item lumx-size="big">
        <lumx-list-item-before>
            <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
        </lumx-list-item-before>

        <lumx-list-item-content>
            <div><span>Two-line item</span></div>
            <div><span class="lumx-theme-color-dark-L2">Secondary text</span></div>
        </lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-item lumx-size="big">
        <lumx-list-item-before>
            <lumx-thumbnail lumx-image="https://picsum.photos/72/72/?random"></lumx-thumbnail>
        </lumx-list-item-before>

        <lumx-list-item-content>
            <div><span>Two-line item</span></div>
            <div><span class="lumx-theme-color-dark-L2">Secondary text</span></div>
        </lumx-list-item-content>

        <lumx-list-item-after>
            <lumx-button lumx-emphasis="low" lumx-variant="icon">
                <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
            </lumx-button>
        </lumx-list-item-after>
    </lumx-list-item>

    <lumx-list-item lumx-size="big">
        <lumx-list-item-before>
            <lumx-thumbnail lumx-image="http://i.pravatar.cc/72" lumx-variant="rounded"></lumx-thumbnail>
        </lumx-list-item-before>

        <lumx-list-item-content>
            <div><span>Two-line item</span></div>
            <div><span class="lumx-theme-color-dark-L2">Secondary text</span></div>
        </lumx-list-item-content>

        <lumx-list-item-after>
            <lumx-button lumx-emphasis="low">
                Button
            </lumx-button>
        </lumx-list-item-after>
    </lumx-list-item>
</lumx-list>
