<div class="p+">
    <lumx-list>
        <lumx-list-subheader>Text only</lumx-list-subheader>
        <lumx-list-item style="height:initial; align-items: start;" class="p+">
            <lumx-list-item-content>
                <p>Multi-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </lumx-list-item-content>
        </lumx-list-item>
        <lumx-list-subheader>Rich</lumx-list-subheader>
        <lumx-list-item style="height:initial; align-items: start;" class="p+">
            <lumx-list-item-before
                ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs" class="mv ml mr+"></lumx-icon
            ></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Multi-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </lumx-list-item-content>
        </lumx-list-item>
        <lumx-list-item style="height:initial; align-items: start;" class="p+">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/thumbnail-m (36).png"
                    width="36"
                    height="36"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Multi-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button
                    lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}"
                    lumx-emphasis="low"
                    lumx-variant="icon"
                >
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>
        <lumx-list-item style="height:initial; align-items: start;" class="p+">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/user-picture-m (36).png"
                    width="36"
                    height="36"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Multi-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}" lumx-emphasis="low">
                    Button
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>

        <lumx-list-subheader>With thumbnail</lumx-list-subheader>
        <lumx-list-item style="height:initial; align-items: start;" class="p+">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/thumbnail-3:2.png"
                    width="96"
                    height="64"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Multi-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button
                    lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}"
                    lumx-emphasis="low"
                    lumx-variant="icon"
                >
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>
    </lumx-list>
</div>
