<div class="p+">
    <lumx-list>
        <lumx-list-subheader>Leading icon</lumx-list-subheader>
        <lumx-list-item style="height:56px">
            <lumx-list-item-before
                ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs" class="ml mr+"></lumx-icon
            ></lumx-list-item-before>
            <lumx-list-item-content>Single-line item</lumx-list-item-content>
        </lumx-list-item>
        <lumx-list-subheader>Leading thumbnail</lumx-list-subheader>
        <lumx-list-item>
            <lumx-list-item-before></lumx-list-item-before>
            <lumx-list-item-content>Single-line item</lumx-list-item-content>
        </lumx-list-item>
    </lumx-list>
</div>
