<div class="p+">
    <lumx-list>
        <lumx-list-item style="height:80px">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/thumbnail-3:2.png"
                    width="96"
                    height="64"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Two-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">Secondary text</p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button
                    lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}"
                    lumx-emphasis="low"
                    lumx-variant="icon"
                >
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>
        <lumx-list-item style="height:80px">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/thumbnail-3:2.png"
                    width="96"
                    height="64"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Two-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">Secondary text</p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button
                    lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}"
                    lumx-emphasis="low"
                    lumx-variant="icon"
                >
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>
        <lumx-list-item style="height:80px">
            <lumx-list-item-before
                ><img
                    src="demo/angularjs/components/list/partials/thumbnail-3:2.png"
                    width="96"
                    height="64"
                    style="display:block;"
                    class="mr"
            /></lumx-list-item-before>
            <lumx-list-item-content>
                <p>Two-line item</p>
                <p class="lumx-typography-body1 lumx-theme-color-dark-L2">Secondary text</p>
            </lumx-list-item-content>
            <lumx-list-item-after>
                <lumx-button
                    lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}"
                    lumx-emphasis="low"
                    lumx-variant="icon"
                >
                    <lumx-icon lumx-path="{{ vm.icons.mdiDotsHorizontal }}"></lumx-icon>
                </lumx-button>
            </lumx-list-item-after>
        </lumx-list-item>
    </lumx-list>
</div>
