<a
    class="lx-chip"
    ng-class="{ 'lx-chip--has-before': lxChip.hasBefore,
                'lx-chip--has-after': lxChip.hasAfter || lxChip.hasDropdownIndicator,
                'lx-chip--is-unselected': !lxChip.isSelected,
                'lx-chip--is-selected': lxChip.isSelected,
                'lx-chip--is-clickable': lxChip.onClick,
                'lx-chip--is-disabled': lxChip.isDisabled,
                'lx-chip--size-m': !lxChip.size || lxChip.size === 'm',
                'lx-chip--size-s': lxChip.size === 's',
                'lx-chip--theme-light': !lxChip.theme || lxChip.theme === 'light',
                'lx-chip--theme-dark': lxChip.theme === 'dark' }"
    ng-click="lxChip.handleOnClick($event)"
    lx-enter-keypress="lxChip.handleOnClick($event)"
    tabindex="{{ lxChip.isDisabled || !lxChip.onClick ? -1 : 0 }}"
>
    <div
        class="lx-chip__before"
        ng-class="{ 'lx-chip__before--is-clickable': lxChip.onBeforeClick }"
        ng-click="lxChip.handleOnBeforeClick($event)"
        ng-transclude="before"
        ng-if="::lxChip.hasBefore"
    ></div>

    <div class="lx-chip__label" ng-transclude="label"></div>

    <div
        class="lx-chip__after"
        ng-class="{ 'lx-chip__after--is-clickable': lxChip.onAfterClick }"
        ng-click="lxChip.handleOnAfterClick($event)"
        ng-transclude="after"
        ng-if="lxChip.hasAfter && !lxChip.hasDropdownIndicator"
    ></div>

    <div class="lx-chip__after" ng-if="lxChip.hasDropdownIndicator">
        <lx-icon lx-path="{{ lxChip.icons.mdiMenuDown }}" lx-size="xs"></lx-icon>
    </div>
</a>
