/* ==========================================================================
   Text field
   ========================================================================== */

.lx-text-field {
    $self: &;

    &__label {
        #{ $self }--theme-light & {
            @include lx-input-label(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-input-label(light);
        }
    }

    &__helper {
        #{ $self }--theme-light & {
            @include lx-input-helper(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-input-helper(light);
        }
    }

    &__input-wrapper {
        #{ $self }--theme-light & {
            @include lx-text-field-input-wrapper(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-input-wrapper(light);
        }
    }

    &--has-label &__input-wrapper {
        margin-top: $lx-spacing-unit;
    }

    &__input-icon {
        flex-shrink: 0;

        #{ $self }--theme-light & {
            @include lx-text-field-input-icon(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-input-icon(light);
        }
    }

    &__input-native {
        flex: 1;

        input {
            #{ $self }--theme-light & {
                @include lx-text-field-input-native(dark);

                &::placeholder {
                    @include lx-text-field-placeholder(dark);
                }
            }

            #{ $self }--theme-dark & {
                @include lx-text-field-input-native(light);

                &::placeholder {
                    @include lx-text-field-placeholder(light);
                }
            }
        }
    }

    &__input-validity {
        flex-shrink: 0;
    }
}

/* Text field states
   ========================================================================== */

// Disabled state
.lx-text-field--is-disabled {
    .lx-text-field__input-wrapper {
        @include lx-state-disabled-input;
    }

    &.lx-text-field--theme-light {
        .lx-text-field__label,
        .lx-text-field__helper {
            @include lx-state-disabled-text(dark);
        }
    }

    &.lx-text-field--theme-dark {
        .lx-text-field__label,
        .lx-text-field__helper {
            @include lx-state-disabled-text(light);
        }
    }
}

// Hover state
.lx-text-field--theme-light {
    .lx-text-field__input-wrapper:hover {
        @include lx-text-field-input-wrapper-state(state-hover, dark);
    }
}

.lx-text-field--theme-dark {
    .lx-text-field__input-wrapper:hover {
        @include lx-text-field-input-wrapper-state(state-hover, light);
    }
}

// Focus state
.lx-text-field--theme-light.lx-text-field--is-focus {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-state(state-focus, dark);
    }
}

.lx-text-field--theme-dark.lx-text-field--is-focus {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-state(state-focus, light);
    }
}

/* Text field validity
   ========================================================================== */

.lx-text-field--theme-light.lx-text-field--is-valid {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-validity(valid, dark);
    }

    .lx-text-field__input-validity {
        @include lx-text-field-input-validity(valid, dark);
    }
}

.lx-text-field--theme-light.lx-text-field--has-error {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-validity(error, dark);
    }

    .lx-text-field__input-validity {
        @include lx-text-field-input-validity(error, dark);
    }
}

.lx-text-field--theme-dark.lx-text-field--is-valid {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-validity(valid, light);
    }

    .lx-text-field__input-validity {
        @include lx-text-field-input-validity(valid, light);
    }
}

.lx-text-field--theme-dark.lx-text-field--has-error {
    .lx-text-field__input-wrapper {
        @include lx-text-field-input-wrapper-validity(error, light);
    }

    .lx-text-field__input-validity {
        @include lx-text-field-input-validity(error, light);
    }
}
