/* ==========================================================================
   Notification block
   ========================================================================== */

.#{$lumx-base-prefix}-notification-block {
    $self: &;

    display: flex;
    align-items: flex-start;
    padding: $lumx-spacing-unit * 2 $lumx-spacing-unit * 3;

    &--theme-light:hover {
        background-color: lumx-color-variant('dark', 'L6');
    }

    &--theme-dark:hover {
        background-color: lumx-color-variant('light', 'L6');
    }

    &__before {
        flex-shrink: 0;
        margin-right: $lumx-spacing-unit * 2;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__title {
        @include lumx-typography('subtitle1');

        display: block;
        margin-bottom: $lumx-spacing-unit / 2;
    }

    &__description {
        @include lumx-typography('body1');
    }

    &__date {
        @include lumx-typography('body1');

        display: block;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'L2');
        }
    }

    &__after {
        flex-shrink: 0;
        margin-left: $lumx-spacing-unit * 2;
    }
}
