@import "sass-mq";
@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";

/* Main header
   ========================================================================== */

.main-header {
    &,
    &__extras {
        display: flex;
        flex-wrap: wrap;
        gap: $lumx-spacing-unit-big;
        align-items: center;
        justify-content: flex-end;
    }

    &__home-logo-link {
        flex-grow: 1;
    }

    // On big screen
    @include mq($from: desktop) {
        // Hide the responsive nav button and home logo link
        &__responsive-nav-button,
        &__home-logo-link {
            display: none !important;
        }
    }

    // On small screens
    @include mq($until: desktop) {
        margin-right: -$lumx-spacing-unit;
        margin-bottom: $lumx-spacing-unit-huge;
        margin-left: -$lumx-spacing-unit;

        // Move extras to the end (wrapped on new line)
        &__extras {
            order: 5;
            width: 100%;
        }
    }
}
