@import 'sass-mq';
@import '~@lumx/core/src/scss/design-tokens';
@import '~@lumx/core/src/scss/core';

/* Main header
   ========================================================================== */

.main-header {
    &,
    &__extras {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: $lumx-spacing-unit-big;
    }

    &__home-logo-link {
        flex-grow: 1;
    }

    // On big screen
    @include mq($from: desktop) {
        // Hide the responsive nav button and home logo link
        &__responsive-nav-button,
        &__home-logo-link {
            display: none !important;
        }
    }

    // On small screens
    @include mq($until: desktop) {
        margin-right: -$lumx-spacing-unit;
        margin-bottom: $lumx-spacing-unit-huge;
        margin-left: -$lumx-spacing-unit;

        // Move material theme switcher and lumx version link to the end (wrapped on new line)
        &__extras {
            width: 100%;
            order: 5;
        }
    }
}
