$lx-theme-dark: (
    N: #28336d
);

$lx-theme-dark: map-merge(
    $lx-theme-dark,
    (
        L1: rgba(map-get($lx-theme-dark, N), 0.8),
        L2: rgba(map-get($lx-theme-dark, N), 0.6),
        L3: rgba(map-get($lx-theme-dark, N), 0.4),
        L4: rgba(map-get($lx-theme-dark, N), 0.2),
        L5: rgba(map-get($lx-theme-dark, N), 0.1),
        L6: rgba(map-get($lx-theme-dark, N), 0.05)
    )
);

$lx-theme-light: (
    N: #fff
);

$lx-theme-light: map-merge(
    $lx-theme-light,
    (
        L1: rgba(map-get($lx-theme-light, N), 0.9),
        L2: rgba(map-get($lx-theme-light, N), 0.8),
        L3: rgba(map-get($lx-theme-light, N), 0.6),
        L4: rgba(map-get($lx-theme-light, N), 0.4),
        L5: rgba(map-get($lx-theme-light, N), 0.2),
        L6: rgba(map-get($lx-theme-light, N), 0.1)
    )
);

$lx-theme-blue: (
    D2: #2972e2,
    D1: #2885f6,
    N: #2493ff
);

$lx-theme-blue: map-merge(
    $lx-theme-blue,
    (
        L1: rgba(map-get($lx-theme-blue, N), 0.8),
        L2: rgba(map-get($lx-theme-blue, N), 0.6),
        L3: rgba(map-get($lx-theme-blue, N), 0.4),
        L4: rgba(map-get($lx-theme-blue, N), 0.2),
        L5: rgba(map-get($lx-theme-blue, N), 0.1),
        L6: rgba(map-get($lx-theme-blue, N), 0.05)
    )
);

$lx-theme-yellow: (
    D2: #fea41c,
    D1: #ffb71f,
    N: #ffc525
);

$lx-theme-yellow: map-merge(
    $lx-theme-yellow,
    (
        L1: rgba(map-get($lx-theme-yellow, N), 0.8),
        L2: rgba(map-get($lx-theme-yellow, N), 0.6),
        L3: rgba(map-get($lx-theme-yellow, N), 0.4),
        L4: rgba(map-get($lx-theme-yellow, N), 0.2),
        L5: rgba(map-get($lx-theme-yellow, N), 0.1),
        L6: rgba(map-get($lx-theme-yellow, N), 0.05)
    )
);

$lx-theme-red: (
    D2: #c2395a,
    D1: #d83e5e,
    N: #e94361
);

$lx-theme-red: map-merge(
    $lx-theme-red,
    (
        L1: rgba(map-get($lx-theme-red, N), 0.8),
        L2: rgba(map-get($lx-theme-red, N), 0.6),
        L3: rgba(map-get($lx-theme-red, N), 0.4),
        L4: rgba(map-get($lx-theme-red, N), 0.2),
        L5: rgba(map-get($lx-theme-red, N), 0.1),
        L6: rgba(map-get($lx-theme-red, N), 0.05)
    )
);

$lx-theme-green: (
    D2: #008f4e,
    D1: #0fa15a,
    N: #19b065
);

$lx-theme-green: map-merge(
    $lx-theme-green,
    (
        L1: rgba(map-get($lx-theme-green, N), 0.8),
        L2: rgba(map-get($lx-theme-green, N), 0.6),
        L3: rgba(map-get($lx-theme-green, N), 0.4),
        L4: rgba(map-get($lx-theme-green, N), 0.2),
        L5: rgba(map-get($lx-theme-green, N), 0.1),
        L6: rgba(map-get($lx-theme-green, N), 0.05)
    )
);
