@import "./color-palette";

$lx-theme-primary: map-get($lx-theme-blue, 500) !default;
$lx-theme-secondary: map-get($lx-theme-yellow, 500) !default;
$lx-theme-dark: #28336d !default;
$lx-theme-light: #fff !default;

$lx-theme-color-palette: (
    blue: $lx-theme-blue,
    yellow: $lx-theme-yellow,
    red: $lx-theme-red,
    green: $lx-theme-green
);

$lx-theme-emphasis: (
    high: 0.8,
    medium: 0.6,
    low: 0.4
);
