@import "./color-palette";

$lx-theme-primary: $lx-theme-blue !default;
$lx-theme-secondary: $lx-theme-yellow !default;

$lx-theme-color-palette: (
    primary: $lx-theme-primary,
    secondary: $lx-theme-secondary,
    dark: $lx-theme-dark,
    light: $lx-theme-light,
    blue: $lx-theme-blue,
    yellow: $lx-theme-yellow,
    red: $lx-theme-red,
    green: $lx-theme-green
);

$lx-theme-color-variants: (n, l1, l2, l3, l4, l5, l6);
