<main-header category="Components" title="Select">
    <p>
        Selects allow the user to make one or multiple choices.
    </p>
</main-header>

<demo-block
    title="Single selection"
    path="demo/angularjs/components/select/partials/single-select.html"
    js-path="demo/angularjs/components/select/controller.js"
></demo-block>

<demo-block
    title="Multi selection"
    path="demo/angularjs/components/select/partials/multi-select.html"
    js-path="demo/angularjs/components/select/controller.js"
></demo-block>

<demo-block
    subtitle="Multi selection with search"
    path="demo/angularjs/components/select/partials/multi-select-search.html"
    js-path="demo/angularjs/components/select/controller.js"
></demo-block>

<demo-block
    title="Validation"
    subtitle="Select valid"
    path="demo/angularjs/components/select/partials/validation-valid.html"
    js-path="demo/angularjs/components/select/controller.js"
></demo-block>

<demo-block
    subtitle="Select invalid"
    path="demo/angularjs/components/select/partials/validation-invalid.html"
    js-path="demo/angularjs/components/select/controller.js"
></demo-block>
