<main-header category="Components" title="Select">
    <p>
        Selects allow the user to make one or multiple choices.
    </p>
</main-header>

<main-block
    title="Single selection"
    path="demo/angularjs/components/select/partials/single-select.html"
    js-path="demo/angularjs/components/select/controller.js"
></main-block>

<main-block
    title="Multi selection"
    path="demo/angularjs/components/select/partials/multi-select.html"
    js-path="demo/angularjs/components/select/controller.js"
></main-block>

<main-block
    title=""
    path="demo/angularjs/components/select/partials/multi-select-search.html"
    js-path="demo/angularjs/components/select/controller.js"
>
    <p class="lumx-typography-subtitle2">Multi selection with search</p>
</main-block>

<main-block
    title="Validation"
    path="demo/angularjs/components/select/partials/validation-valid.html"
    js-path="demo/angularjs/components/select/controller.js"
>
    <p class="lumx-typography-subtitle2">Select valid</p>
</main-block>

<main-block
    title=""
    path="demo/angularjs/components/select/partials/validation-invalid.html"
    js-path="demo/angularjs/components/select/controller.js"
>
    <p class="lumx-typography-subtitle2">Select invalid</p>
</main-block>
