<main-header category="Components" title="List">
    <p>
        List displays related content grouped together and organized vertically.
    </p>
</main-header>

<main-block
    title="Single line"
    path="demo/angularjs/components/list/partials/tiny.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Tiny</p>
</main-block>

<main-block
    title=""
    path="demo/angularjs/components/list/partials/regular.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Regular</p>
</main-block>

<lumx-list>
    <lumx-list-subheader>Lorem ipsum</lumx-list-subheader>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-subheader>Lorem ipsum</lumx-list-subheader>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-divider></lumx-list-divider>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>

    <lumx-list-item>
        <lumx-list-item-before
            ><lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon
        ></lumx-list-item-before>
        <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
    </lumx-list-item>
</lumx-list>
