<main-header category="Components" title="List">
    <p>
        List displays related content grouped together and organized vertically.
    </p>
</main-header>

<demo-block
    title="Single line"
    path="demo/angularjs/components/list/partials/single-tiny.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Tiny</p>
</demo-block>

<demo-block
    title=""
    path="demo/angularjs/components/list/partials/single-regular.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Regular</p>
</demo-block>

<demo-block
    title=""
    path="demo/angularjs/components/list/partials/single-big.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Big</p>
</demo-block>
<!-- TWO-LINES -->
<demo-block
    title="Two lines"
    path="demo/angularjs/components/list/partials/two-regular.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Regular</p>
</demo-block>

<demo-block
    title=""
    path="demo/angularjs/components/list/partials/two-big.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
    <p class="lumx-typography-subtitle2">Big</p>
</demo-block>
<!-- MULTILINE -->
<demo-block
    title="Multi-line"
    path="demo/angularjs/components/list/partials/multi-line.html"
    js-path="demo/angularjs/components/list/controller.js"
    has-theme-switcher="false"
>
</demo-block>
