/* ==========================================================================
   Flex-view
   ========================================================================== */

/* Orientation
   ========================================================================== */

.#{$lumx-base-prefix}-flex-view--orientation-horizontal,
.#{$lumx-base-prefix}-flex-view--orientation-vertical {
    display: flex;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal {
    flex-direction: row;
}

.#{$lumx-base-prefix}-flex-view--orientation-vertical {
    min-height: 0;
    flex-direction: column;
}

/* Alignment
      ========================================================================== */

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--h-align-top,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--v-align-left {
    align-items: flex-start;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--h-align-center,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--v-align-center {
    align-items: center;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--h-align-bottom,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--v-align-right {
    align-items: flex-end;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--v-align-left,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--h-align-top {
    justify-content: flex-start;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--v-align-center,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--h-align-center {
    justify-content: center;
}

.#{$lumx-base-prefix}-flex-view--orientation-horizontal.#{$lumx-base-prefix}-flex-view--v-align-right,
.#{$lumx-base-prefix}-flex-view--orientation-vertical.#{$lumx-base-prefix}-flex-view--h-align-bottom {
    justify-content: flex-end;
}

/* Wrap
      ========================================================================== */

.#{$lumx-base-prefix}-flex-view--wrap {
    flex-wrap: wrap;
}

/* Fill space
      ========================================================================== */

.#{$lumx-base-prefix}-flex-view--fill-space {
    flex: 1 1 auto;
}

/* No shrink
      ========================================================================== */

.#{$lumx-base-prefix}-flex-view--no-shrink {
    flex-shrink: 0;
}

/* Margin
      ========================================================================== */

.#{$lumx-base-prefix}-flex-view--margin-auto-top {
    margin-top: auto;
}

.#{$lumx-base-prefix}-flex-view--margin-auto-right {
    margin-right: auto;
}

.#{$lumx-base-prefix}-flex-view--margin-auto-bottom {
    margin-bottom: auto;
}

.#{$lumx-base-prefix}-flex-view--margin-auto-left {
    margin-left: auto;
}
