<lumx-side-navigation>
    <lumx-side-navigation-item lumx-label="Level 0 (closed)">
        <lumx-side-navigation-item lumx-label="Level 1"></lumx-side-navigation-item>
    </lumx-side-navigation-item>
    <lumx-side-navigation-item lumx-label="Level 0 (open)" lumx-is-open="true">
        <lumx-side-navigation-item lumx-label="Level 1"></lumx-side-navigation-item>
        <lumx-side-navigation-item lumx-label="Level 1"></lumx-side-navigation-item>
    </lumx-side-navigation-item>
</lumx-side-navigation>
