@use "sass:math";

/* ==========================================================================
   Avatar
   ========================================================================== */

.lumx-avatar {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: none;

    &__thumbnail {
        overflow: hidden;
        border-radius: 50%;
    }

    &__actions {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
    }

    &__badge {
        position: absolute;
        right: math.div(-$lumx-spacing-unit, 2);
        bottom: math.div(-$lumx-spacing-unit, 2);
    }
}

/* Avatar sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .lumx-avatar--size-#{$key} {
        width: $size;
        height: $size;
    }
}
