/* ==========================================================================
   Avatar
   ========================================================================== */

.#{$lumx-base-prefix}-avatar {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: none;

    &__actions {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
    }

    &__badge {
        position: absolute;
        right: -$lumx-spacing-unit / 2;
        bottom: -$lumx-spacing-unit / 2;
    }
}

/* Avatar sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-avatar--size-#{$key} {
        width: $size;
        height: $size;
    }
}
