/* ==========================================================================
   Avatar
   ========================================================================== */

.#{$lumx-base-prefix}-avatar {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: none;

    &__actions {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
    }

    &__badge {
        position: absolute;
        right: -$lumx-spacing-unit / 2;
        bottom: -$lumx-spacing-unit / 2;
    }
}

/* Avatar sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-avatar--size-#{$key} {
        width: $size;
        height: $size;
    }
}

/* Avatar states
   ========================================================================== */

.#{$lumx-base-prefix}-avatar[tabindex='0'] {
    cursor: pointer;

    &::after {
        @include lumx-state-transition;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        content: '';
        pointer-events: none;
    }

    &:hover::after {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }

    &:active::after {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-avatar--theme-light.#{$lumx-base-prefix}-avatar[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-avatar--theme-dark.#{$lumx-base-prefix}-avatar[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}
