@import './color-palette';

$lx-theme-material-primary: $lx-theme-material-blue !default;
$lx-theme-material-secondary: $lx-theme-material-green !default;

$lx-theme-material-color-palette: (
    primary: $lx-theme-material-primary,
    secondary: $lx-theme-material-secondary,
    dark: $lx-theme-material-dark,
    light: $lx-theme-material-light,
    blue: $lx-theme-material-blue,
    yellow: $lx-theme-material-yellow,
    red: $lx-theme-material-red,
    green: $lx-theme-material-green,
);
