<div class="p++">
    <lumx-switch ng-model="vm.switches.model.unchecked">
        <lumx-switch-label>Default</lumx-switch-label>
    </lumx-switch>

    <lumx-switch class="mt++" ng-model="vm.switches.model.unchecked">
        <lumx-switch-label>With helper</lumx-switch-label>
        <lumx-switch-helper>
            Helper text
        </lumx-switch-helper>
    </lumx-switch>

    <lumx-switch class="mt++" ng-model="vm.switches.model.unchecked" ng-disabled="vm.switches.states.disabled">
        <lumx-switch-label>Disabled</lumx-switch-label>
    </lumx-switch>
</div>
