<a
    class="lx-progress-tracker-step"
    ng-class="{ 'lx-progress-tracker-step--is-active': lumx.isActive,
                'lx-progress-tracker-step--is-complete': lumx.isComplete,
                'lx-progress-tracker-step--is-clickable': lumx.isClickable(),
                'lx-progress-tracker-step--has-error': lumx.isActive && lumx.hasError }"
    tabindex="{{ lumx.isClickable() ? 0 : -1 }}"
>
    <nglx-icon class="lx-progress-tracker-step__state" lx-path="{{ lumx.getIcon() }}" lx-size="s"></nglx-icon>

    <span class="lx-progress-tracker-step__label">{{ lumx.label }}</span>

    <span class="lx-progress-tracker-step__helper" ng-if="lumx.helper">
        {{ lumx.helper }}
    </span>
</a>
