@import "./variables";

@mixin lx-text-field-label($theme, $has-helper: false) {
    @include lx-typography(body1);

    display: block;
    margin-bottom: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, N);
}

@mixin lx-text-field-label-helper() {
    margin-bottom: $lx-base-spacing-unit / 2;
}

@mixin lx-text-field-helper($theme) {
    @include lx-typography(caption);

    display: block;
    margin-bottom: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, L2);
}

@mixin lx-text-field-input-wrapper($theme, $indicator: false, $multiple: false) {
    position: relative;
    display: flex;
    background-color: lx-theme-color-variant($theme, L6);
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px lx-theme-color-variant($theme, L4);
    outline: none;
    transition: background-color $lx-text-field-transition-duration, box-shadow $lx-text-field-transition-duration;

    @if $multiple {
        min-height: $lx-text-field-height;
        flex-wrap: wrap;
        padding: 3px;
    }

    @else {
        height: $lx-text-field-height;
        align-items: center;
        padding: 0 $lx-text-field-horizontal-padding;
    }

    @if $indicator {
        padding-right: 48px;
    }
}

@mixin lx-text-field-input-icon($theme) {
    margin-right: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, N);
}

@mixin lx-text-field-input-native($theme) {
    @include lx-typography(body1);

    width: 100%;
    height: $lx-text-field-height;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    color: lx-theme-color-variant($theme, N);
    line-height: $lx-text-field-height;
    outline: none;
}

@mixin lx-text-field-placeholder($theme) {
    color: lx-theme-color-variant($theme, L2);
}

@mixin lx-text-field-disabled-state($theme) {
    color: lx-theme-color-variant($theme, L3);
    pointer-events: none;
}

@mixin lx-text-field-input-wrapper-state($state, $theme) {
    @if $state == hover {
        background-color: lx-theme-color-variant($theme, L5);
    }

    @else if $state == focus {
        @if $theme == dark {
            background-color: lx-theme-color-variant(light, N) !important;
            box-shadow: inset 0 0 0 2px lx-theme-color-variant(primary, L2);
        }

        @else if $theme == light {
            background-color: transparent !important;
            box-shadow: inset 0 0 0 2px lx-theme-color-variant(light, L2);
        }
    }

    @else if $state == disabled {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px lx-theme-color-variant($theme, L4);
        pointer-events: none;
    }
}
