@import "./variables";

/// Text field base mixin to reset native styles and apply global structure.
@mixin lx-text-field-base() {
    @include lx-typography-base;

    height: $lx-text-field-height;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    color: $lx-theme-body-dark;
    font-size: lx-typography-to-rem(14px);
    font-weight: 400;
    line-height: $lx-text-field-height;
    outline: none;
}
