@import "./variables";

/// Text field label mixin to style label according to the theme
///
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-label($theme) {
    display: block;
    margin-bottom: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, N);
    font-size: 12px;
    line-height: 14px;
}

/// Text field input wrapper mixin to style input wrapper according to the theme
///
/// @param {String} $theme - The text field theme, either dark or light
/// @param {Boolean} $indicator - Wether the wrapper should contain an indicator values or not
/// @param {Boolean} $multiple - Wether the wrapper should contain multiple values or not
@mixin lx-text-field-input-wrapper($theme, $indicator: false, $multiple: false) {
    position: relative;
    display: flex;
    background-color: lx-theme-color-variant($theme, L6);
    border-radius: 4px;
    box-shadow: 0 0 0 1px lx-theme-color-variant($theme, L3);
    outline: none;
    transition: background-color $lx-text-field-transition-duration, box-shadow $lx-text-field-transition-duration;

    @if $multiple {
        min-height: $lx-text-field-height;
        flex-wrap: wrap;
        padding: 3px;
    }

    @else {
        height: $lx-text-field-height;
        align-items: center;
        padding: 0 $lx-text-field-horizontal-padding;
    }

    @if $indicator {
        padding-right: 48px;
    }
}

/// Text field input icon mixin to style input icon according to the theme
///
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-input-icon($theme) {
    margin-right: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, N);
}

/// Text field input native mixin to reset native styles and apply global structure
///
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-input-native($theme) {
    @include lx-typography-base;

    width: 100%;
    height: $lx-text-field-height;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    color: lx-theme-color-variant($theme, N);
    font-size: 14px;
    font-weight: 400;
    line-height: $lx-text-field-height;
    outline: none;

    &::placeholder {
        color: lx-theme-color-variant($theme, L2);
    }
}

/// Text field helper mixin to style helper according to the theme
///
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-helper($theme) {
    display: flex;
    align-items: center;
    margin-top: $lx-base-spacing-unit;
    color: lx-theme-color-variant($theme, L2);

    i {
        margin-right: $lx-base-spacing-unit / 2;
    }

    span {
        font-size: 12px;
        line-height: 14px;
    }
}

/// Text field disabled state mixin to style elements in disabled mode
///
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-disabled-state($theme) {
    color: lx-theme-color-variant($theme, L3);
    pointer-events: none;

    &::placeholder {
        color: lx-theme-color-variant($theme, L3);
    }
}

/// Text field input wrapper state mixin to style input wrapper according to the state and the theme
///
/// @param {String} $state - The text field state, either hover, focus or disabled
/// @param {String} $theme - The text field theme, either dark or light
@mixin lx-text-field-input-wrapper-state($state, $theme) {
    @if $state == hover {
        background-color: lx-theme-color-variant($theme, L5);
    }

    @else if $state == focus {
        @if $theme == dark {
            background-color: lx-theme-color-variant(light, N) !important;
            box-shadow: 0 0 0 2px lx-theme-color-variant(primary, L2);
        }

        @else if $theme == light {
            background-color: transparent !important;
            box-shadow: 0 0 0 2px lx-theme-color-variant(light, L2);
        }
    }

    @else if $state == disabled {
        background-color: transparent;
        box-shadow: 0 0 0 1px lx-theme-color-variant($theme, L4);
        pointer-events: none;
    }
}
