/* ==========================================================================
   Text field
   ========================================================================== */

@import "./mixins";

.lx-text-field {
    &__label {
        @include lx-typography(caption);

        display: block;
        margin-bottom: $lx-base-spacing-unit;
        color: $lx-theme-body-dark;
    }

    &__input {
        display: inline-flex;
        height: $lx-text-field-height;
        align-items: center;
        padding: 0 $lx-text-field-horizontal-padding;
        background-color: rgba($lx-theme-body-dark, 0.05);
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgba($lx-theme-body-dark, 0.1);
        transition: box-shadow $lx-text-field-transition-duration;
    }

    &__icon {
        margin-right: $lx-base-spacing-unit;
        color: $lx-theme-body-dark;
        font-size: lx-typography-to-rem(20px);
    }

    &__native-control input {
        @include lx-text-field-base;

        &::placeholder {
            color: map-get($lx-theme-body-dark-emphasis, medium);
        }
    }

    &__helper {
        display: flex;
        align-items: center;
        margin-top: $lx-base-spacing-unit;
        color: map-get($lx-theme-body-dark-emphasis, medium);

        i {
            margin-right: $lx-base-spacing-unit / 2;
            font-size: lx-typography-to-rem(14px);
        }

        span {
            @include lx-typography(caption);
        }
    }
}

/* Text field states
   ========================================================================== */

.lx-text-field--is-focus {
    .lx-text-field__input {
        box-shadow: 0 0 0 2px rgba($lx-theme-primary, 0.6);
    }
}

.lx-text-field--is-disabled {
    .lx-text-field__label,
    .lx-text-field__icon,
    .lx-text-field__helper {
        color: map-get($lx-theme-body-dark-emphasis, low);
    }

    .lx-text-field__input {
        background-color: $lx-theme-white;
    }

    .lx-text-field__native-control input {
        color: map-get($lx-theme-body-dark-emphasis, low);

        &::placeholder {
            color: map-get($lx-theme-body-dark-emphasis, low);
        }
    }
}
