<div class="lx-text-field"
     ng-class="{ 'lx-text-field--has-icon': lxTextField.icon }">
    <label class="lx-text-field__label" ng-if="lxTextField.label">
        {{ lxTextField.label }}
    </label>

    <div class="lx-text-field__input">
        <lx-icon class="lx-text-field__icon" ng-if="lxTextField.icon">{{ lxTextField.icon }}</lx-icon>
        <div class="lx-text-field__native-control" ng-transclude></div>
    </div>

    <div class="lx-text-field__helper" ng-if="lxTextField.helper">
        <lx-icon>help</lx-icon>
        <span>{{ lxTextField.helper }}</span>
    </div>
</div>
