/* ==========================================================================
   Text field
   ========================================================================== */

@import "./mixins";

.lx-text-field {
    $self: &;

    &__label {
        @include lx-typography(caption);

        display: block;
        margin-bottom: $lx-base-spacing-unit;

        #{ $self }--theme-light & {
            color: $lx-theme-dark;
        }

        #{ $self }--theme-dark & {
            color: $lx-theme-light;
        }
    }

    &__input {
        display: inline-flex;
        height: $lx-text-field-height;
        align-items: center;
        padding: 0 $lx-text-field-horizontal-padding;
        border-radius: 4px;
        transition: background-color $lx-text-field-transition-duration, box-shadow $lx-text-field-transition-duration;

        #{ $self }--theme-light & {
            background-color: rgba($lx-theme-dark, 0.05);
            box-shadow: 0 0 0 1px rgba($lx-theme-dark, 0.2);
        }

        #{ $self }--theme-dark & {
            background-color: rgba($lx-theme-light, 0.1);
            box-shadow: 0 0 0 1px rgba($lx-theme-light, 0.3);
        }
    }

    &__icon {
        margin-right: $lx-base-spacing-unit;
        font-size: lx-typography-to-rem(20px);

        #{ $self }--theme-light & {
            color: $lx-theme-dark;
        }

        #{ $self }--theme-dark & {
            color: $lx-theme-light;
        }
    }

    &__native-control input {
        @include lx-text-field-base;

        #{ $self }--theme-light &::placeholder {
            color: lx-theme-emphasis($lx-theme-dark, medium);
        }

        #{ $self }--theme-dark &::placeholder {
            color: lx-theme-emphasis($lx-theme-light, medium);
        }
    }

    &__helper {
        display: flex;
        align-items: center;
        margin-top: $lx-base-spacing-unit;

        #{ $self }--theme-light & {
            color: lx-theme-emphasis($lx-theme-dark, medium);
        }

        #{ $self }--theme-dark & {
            color: lx-theme-emphasis($lx-theme-light, medium);
        }

        i {
            margin-right: $lx-base-spacing-unit / 2;
            font-size: lx-typography-to-rem(14px);
        }

        span {
            @include lx-typography(caption);
        }
    }
}

/* Text field states
   ========================================================================== */

.lx-text-field--is-disabled.lx-text-field--theme-light {
    .lx-text-field__label,
    .lx-text-field__icon,
    .lx-text-field__helper {
        color: lx-theme-emphasis($lx-theme-dark, low);
    }

    .lx-text-field__input {
        background-color: transparent;
    }

    .lx-text-field__native-control input {
        color: lx-theme-emphasis($lx-theme-dark, low);

        &::placeholder {
            color: lx-theme-emphasis($lx-theme-dark, low);
        }
    }
}

.lx-text-field--is-disabled.lx-text-field--theme-dark {
    .lx-text-field__label,
    .lx-text-field__icon,
    .lx-text-field__helper {
        color: lx-theme-emphasis($lx-theme-light, low);
    }

    .lx-text-field__input {
        background-color: transparent;
    }

    .lx-text-field__native-control input {
        color: lx-theme-emphasis($lx-theme-light, low);

        &::placeholder {
            color: lx-theme-emphasis($lx-theme-light, low);
        }
    }
}

.lx-text-field--is-focus.lx-text-field--theme-light .lx-text-field__input {
    background-color: rgba($lx-theme-dark, 0.05) !important;
    box-shadow: 0 0 0 2px lx-theme-emphasis($lx-theme-primary, medium);
}

.lx-text-field--is-focus.lx-text-field--theme-dark .lx-text-field__input {
    background-color: rgba($lx-theme-light, 0.1) !important;
    box-shadow: 0 0 0 2px lx-theme-emphasis($lx-theme-light, medium);
}

.lx-text-field--theme-light:not(.lx-text-field--is-disabled) .lx-text-field__input:hover {
    background-color: rgba($lx-theme-dark, 0.1);
}

.lx-text-field--theme-dark:not(.lx-text-field--is-disabled) .lx-text-field__input:hover {
    background-color: rgba($lx-theme-light, 0.2);
}
