/* ==========================================================================
   Tabs
   ========================================================================== */

.lumx-tabs {
    $self: &;

    &__links {
        #{$self}--theme-light & {
            @include lumx-tabs-links;
        }

        #{$self}--theme-dark & {
            @include lumx-tabs-links;
        }
    }

    &__link {
        &:not(&--is-active):not(&--is-disabled) {
            @include lumx-tabs-link(lumx-base-const("emphasis", "LOW"));

            #{$self}--theme-light & {
                @include lumx-tabs-link-color(lumx-base-const("emphasis", "LOW"), lumx-base-const("theme", "LIGHT"));
            }

            #{$self}--theme-dark & {
                @include lumx-tabs-link-color(lumx-base-const("emphasis", "LOW"), lumx-base-const("theme", "DARK"));
            }
        }

        &--is-active {
            @include lumx-tabs-link(lumx-base-const("emphasis", "SELECTED"));

            #{$self}--theme-light & {
                @include lumx-tabs-link-color(
                    lumx-base-const("emphasis", "SELECTED"),
                    lumx-base-const("theme", "LIGHT")
                );
            }

            #{$self}--theme-dark & {
                @include lumx-tabs-link-color(
                    lumx-base-const("emphasis", "SELECTED"),
                    lumx-base-const("theme", "DARK")
                );
            }
        }
    }
}

/* Tabs layout
   ========================================================================== */

.lumx-tabs--layout-fixed {
    .lumx-tabs__link {
        @include lumx-tabs-link-layout("fixed");
    }
}

/* Tabs position
   ========================================================================== */

.lumx-tabs--layout-clustered.lumx-tabs--position-left {
    .lumx-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const("position", "LEFT"));
    }
}

.lumx-tabs--layout-clustered.lumx-tabs--position-center {
    .lumx-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const("position", "CENTER"));
    }
}

.lumx-tabs--layout-clustered.lumx-tabs--position-right {
    .lumx-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const("position", "RIGHT"));
    }
}

/* Tabs link states
   ========================================================================== */

// Disabled state
.lumx-tabs__link--is-disabled {
    @include lumx-tabs-link(lumx-base-const("emphasis", "LOW"));

    .lumx-tabs--theme-light & {
        @include lumx-tabs-link-color(lumx-base-const("emphasis", "LOW"), lumx-base-const("theme", "LIGHT"));
        @include lumx-state-disabled-text(lumx-base-const("theme", "LIGHT"));
    }

    .lumx-tabs--theme-dark & {
        @include lumx-tabs-link-color(lumx-base-const("emphasis", "LOW"), lumx-base-const("theme", "DARK"));
        @include lumx-state-disabled-text(lumx-base-const("theme", "DARK"));
    }
}

/* Tab panel
   ========================================================================== */

.lumx-tab-panel {
    display: none;
    outline: none;

    // Focus state
    &[data-focus-visible-added] {
        @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "LOW"), "dark");
    }

    // Active state
    &--is-active {
        display: block;
    }
}
