/* ==========================================================================
   Tabs
   ========================================================================== */

.lumx-tabs {
    $self: &;

    &__links {
        #{$self}--theme-light & {
            @include lumx-tabs-links;
        }

        #{$self}--theme-dark & {
            @include lumx-tabs-links;
        }
    }

    &__link {
        &:not(&--is-active):not(&--is-disabled) {
            @include lumx-tabs-link("emphasis-low");

            #{$self}--theme-light & {
                @include lumx-tabs-link-color("emphasis-low", "theme-light");
            }

            #{$self}--theme-dark & {
                @include lumx-tabs-link-color("emphasis-low", "theme-dark");
            }
        }

        &--is-active {
            @include lumx-tabs-link("emphasis-selected");

            #{$self}--theme-light & {
                @include lumx-tabs-link-color(
                    "emphasis-selected",
                    "theme-light"
                );
            }

            #{$self}--theme-dark & {
                @include lumx-tabs-link-color(
                    "emphasis-selected",
                    "theme-dark"
                );
            }
        }
    }
}

/* Tabs layout
   ========================================================================== */

.lumx-tabs--layout-fixed {
    .lumx-tabs__link {
        @include lumx-tabs-link-layout("fixed");
    }
}

/* Tabs position
   ========================================================================== */

.lumx-tabs--layout-clustered.lumx-tabs--position-left {
    .lumx-tabs__links {
        @include lumx-tabs-links-position("position-left");
    }
}

.lumx-tabs--layout-clustered.lumx-tabs--position-center {
    .lumx-tabs__links {
        @include lumx-tabs-links-position("position-center");
    }
}

.lumx-tabs--layout-clustered.lumx-tabs--position-right {
    .lumx-tabs__links {
        @include lumx-tabs-links-position("position-right");
    }
}

/* Tabs link states
   ========================================================================== */

// Disabled state
.lumx-tabs__link--is-disabled {
    @include lumx-tabs-link("emphasis-low");

    .lumx-tabs--theme-light & {
        @include lumx-tabs-link-color("emphasis-low", "theme-light");
        @include lumx-state-disabled-text("theme-light");
    }

    .lumx-tabs--theme-dark & {
        @include lumx-tabs-link-color("emphasis-low", "theme-dark");
        @include lumx-state-disabled-text("theme-dark");
    }
}

/* Tab panel
   ========================================================================== */

.lumx-tab-panel {
    display: none;
    outline: none;

    // Focus state
    &[data-focus-visible-added] {
        @include lumx-state("state-focus", "emphasis-low", "dark");
    }

    // Active state
    &--is-active {
        display: block;
    }
}
