/* ==========================================================================
   Tabs
   ========================================================================== */

.#{$lumx-base-prefix}-tabs {
    $self: &;

    &__links {
        #{$self}--theme-light & {
            @include lumx-tabs-links(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-tabs-links(lumx-base-const('theme', 'DARK'));
        }
    }

    &__link {
        @include lumx-tabs-link;
        @include lumx-state-transition;

        #{$self}--theme-light & {
            @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'LOW'), 'dark');
        }

        #{$self}--theme-dark & {
            @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'LOW'), 'light');
        }
    }
}

/* Tabs layout
   ========================================================================== */

.#{$lumx-base-prefix}-tabs--layout-fixed {
    .#{$lumx-base-prefix}-tabs__link {
        @include lumx-tabs-link-layout('fixed');
    }
}

/* Tabs position
   ========================================================================== */

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-left {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const('position', 'LEFT'));
    }
}

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-center {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const('position', 'CENTER'));
    }
}

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-right {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(lumx-base-const('position', 'RIGHT'));
    }
}

/* Tabs link states
   ========================================================================== */

// Hover state
.#{$lumx-base-prefix}-tabs__link:hover {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}

// Active state
/* stylelint-disable-next-line no-descending-specificity */
.#{$lumx-base-prefix}-tabs__link:active {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}

// Focus state
.#{$lumx-base-prefix}-tabs__link[data-focus-visible-added] {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark', null, true);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'light', null, true);
    }
}

// Disabled state
.#{$lumx-base-prefix}-tabs__link--is-disabled {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
    }
}

/* Tabs link active
   ========================================================================== */

.#{$lumx-base-prefix}-tabs__link--is-active {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-tabs-link-active(lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-tabs-link-active(lumx-base-const('theme', 'DARK'));
    }
}

/* Tab panel
   ========================================================================== */

.#{$lumx-base-prefix}-tab-panel {
    display: none;
    outline: none;

    // Focus state
    &[data-focus-visible-added] {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark', null, true);
    }

    // Active state
    &--is-active {
        display: block;
    }
}
