@mixin lumx-tabs-links() {
    position: relative;
    display: flex;
}

@mixin lumx-tabs-links-position($position) {
    @if $position == "position-left" {
        justify-content: flex-start;
    } @else if $position == "position-center" {
        justify-content: center;
    } @else if $position == "position-right" {
        justify-content: flex-end;
    }
}

@mixin lumx-tabs-link($emphasis) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--lumx-tabs-link-height);
    padding: 0 $lumx-spacing-unit * 3;
    cursor: pointer;
    border: none;
    border-radius: var(--lumx-tabs-link-border-radius);
    outline: none;
    transition-duration: $lumx-state-transition-duration;
    transition-property: border-radius, background-color, color;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        content: "";
        border-style: solid;
        border-width: var(--lumx-tabs-link-#{$emphasis}-state-default-border-top-width) var(--lumx-tabs-link-#{$emphasis}-state-default-border-right-width) var(--lumx-tabs-link-#{$emphasis}-state-default-border-bottom-width) var(--lumx-tabs-link-#{$emphasis}-state-default-border-left-width);
        border-radius: var(--lumx-tabs-link-border-radius);
        transition-duration: $lumx-state-transition-duration;
        transition-property: border-radius, border-width, border-color;
    }

    &:hover::after {
        border-width: var(--lumx-tabs-link-#{$emphasis}-state-hover-border-top-width) var(--lumx-tabs-link-#{$emphasis}-state-hover-border-right-width) var(--lumx-tabs-link-#{$emphasis}-state-hover-border-bottom-width) var(--lumx-tabs-link-#{$emphasis}-state-hover-border-left-width);
    }

    &:active::after {
        border-width: var(--lumx-tabs-link-#{$emphasis}-state-active-border-top-width) var(--lumx-tabs-link-#{$emphasis}-state-active-border-right-width) var(--lumx-tabs-link-#{$emphasis}-state-active-border-bottom-width) var(--lumx-tabs-link-#{$emphasis}-state-active-border-left-width);
    }

    i {
        margin-right: $lumx-spacing-unit;
    }

    span {
        font-family: var(--lumx-typography-custom-button-size-m-font-family);
        font-size: var(--lumx-typography-custom-button-size-m-font-size);
        font-weight: var(--lumx-typography-custom-button-size-m-font-weight);
        text-transform: var(--lumx-material-button-text-transform);
    }
}

@mixin lumx-tabs-link-color($emphasis, $theme) {
    color: var(--lumx-tabs-link-#{$emphasis}-state-default-#{$theme}-color);
    background-color: var(--lumx-tabs-link-#{$emphasis}-state-default-#{$theme}-background-color);

    &::after {
        border-color: var(--lumx-tabs-link-#{$emphasis}-state-default-#{$theme}-border-color);
    }

    &:hover {
        color: var(--lumx-tabs-link-#{$emphasis}-state-hover-#{$theme}-color);
        background-color: var(--lumx-tabs-link-#{$emphasis}-state-hover-#{$theme}-background-color);

        &::after {
            border-color: var(--lumx-tabs-link-#{$emphasis}-state-hover-#{$theme}-border-color);
        }
    }

    &:active {
        color: var(--lumx-tabs-link-#{$emphasis}-state-active-#{$theme}-color);
        background-color: var(--lumx-tabs-link-#{$emphasis}-state-active-#{$theme}-background-color);

        &::after {
            border-color: var(--lumx-tabs-link-#{$emphasis}-state-active-#{$theme}-border-color);
        }
    }

    &[data-focus-visible-added] {
        @if $theme == "theme-light" {
            @include lumx-state-low("state-focus", "dark");
        } @else if $theme == "theme-dark" {
            @include lumx-state-low("state-focus", "light");
        }
    }
}

@mixin lumx-tabs-link-layout($layout) {
    @if $layout == "fixed" {
        flex: 1 1 auto;
    }
}
