@mixin lumx-tabs-links($theme) {
    position: relative;
    display: flex;

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        content: '';

        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('dark', $lumx-divider-color-variant);
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: lumx-color-variant('light', $lumx-divider-color-variant);
        }
    }
}

@mixin lumx-tabs-links-position($position) {
    @if $position == lumx-base-const('position', 'LEFT') {
        justify-content: flex-start;
    } @else if $position == lumx-base-const('position', 'CENTER') {
        justify-content: center;
    } @else if $position == lumx-base-const('position', 'RIGHT') {
        justify-content: flex-end;
    }
}

@mixin lumx-tabs-link() {
    position: relative;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 $lumx-spacing-unit * 3;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-transform: var(--lumx-button-text-transform);

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        content: '';
    }

    i {
        margin-right: $lumx-spacing-unit;
    }

    span {
        @include lumx-typography('subtitle1');
    }
}

@mixin lumx-tabs-link-layout($layout) {
    @if $layout == 'fixed' {
        flex: 1 1 auto;
    }
}

@mixin lumx-tabs-link-active($theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        &::after {
            background-color: lumx-color-variant('primary', 'N');
        }
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        &::after {
            background-color: lumx-color-variant('light', 'N');
        }
    }
}
