@mixin lumx-state-high($state, $color, $theme) {
    @if $state == lumx-base-const("state", "DEFAULT") {
        @if $theme == lumx-base-const("theme", "LIGHT") {
            background-color: lumx-color-variant($color, "N");

            @if $color == "yellow" {
                color: lumx-color-variant("dark", "L1");
            } @else {
                color: lumx-color-variant("light", "N");
            }
        } @else if $theme == lumx-base-const("theme", "DARK") {
            color: lumx-color-variant($color, "N");
            background-color: lumx-color-variant("light", "N");
        }
    } @else if $state == lumx-base-const("state", "HOVER") {
        @if $theme == lumx-base-const("theme", "LIGHT") {
            background-color: lumx-color-variant($color, "D1");
        } @else if $theme == lumx-base-const("theme", "DARK") {
            background-color: lumx-color-variant("light", "L1");
        }
    } @else if $state == lumx-base-const("state", "ACTIVE") {
        @if $theme == lumx-base-const("theme", "LIGHT") {
            background-color: lumx-color-variant($color, "D2");
        } @else if $theme == lumx-base-const("theme", "DARK") {
            background-color: lumx-color-variant("light", "L2");
        }
    } @else if $state == lumx-base-const("state", "FOCUS") {
        outline-offset: 2px;

        @if $theme == lumx-base-const("theme", "LIGHT") {
            outline: 2px solid lumx-color-variant("dark", "N");
        } @else if $theme == lumx-base-const("theme", "DARK") {
            outline: 2px solid lumx-color-variant("light", "N");
        }
    }
}

@mixin lumx-state-medium($state, $color) {
    @if $state == lumx-base-const("state", "DEFAULT") {
        background-color: lumx-color-variant($color, "L5");

        @if $color == "yellow" {
            color: lumx-color-variant("dark", "L1");
        } @else {
            color: lumx-color-variant($color, "D2");
        }
    } @else if $state == lumx-base-const("state", "HOVER") {
        background-color: lumx-color-variant($color, "L4");
    } @else if $state == lumx-base-const("state", "ACTIVE") {
        background-color: lumx-color-variant($color, "L3");
    } @else if $state == lumx-base-const("state", "FOCUS") {
        outline: 2px solid lumx-color-variant($color, "N");
        outline-offset: 2px;
    }
}

@mixin lumx-state-as-selected($state, $theme, $component: null) {
    @if $theme == lumx-base-const("theme", "LIGHT") {
        @if $state == lumx-base-const("state", "DEFAULT") {
            color: lumx-color-variant("primary", "D2");
            background-color: lumx-color-variant("primary", "L5");
        } @else if $state == lumx-base-const("state", "HOVER") {
            background-color: lumx-color-variant("primary", "L4");
        } @else if $state == lumx-base-const("state", "ACTIVE") {
            background-color: lumx-color-variant("primary", "L3");
        } @else if $state == lumx-base-const("state", "FOCUS") {
            outline: 2px solid lumx-color-variant("dark", "N");
            outline-offset: 2px;
        }
    } @else if $theme == lumx-base-const("theme", "DARK") {
        @if $state == lumx-base-const("state", "DEFAULT") {
            color: lumx-color-variant("light", "N");
            background-color: lumx-color-variant("light", "L3");
        } @else if $state == lumx-base-const("state", "HOVER") {
            background-color: lumx-color-variant("light", "L4");
        } @else if $state == lumx-base-const("state", "ACTIVE") {
            background-color: lumx-color-variant("light", "L5");
        } @else if $state == lumx-base-const("state", "FOCUS") {
            outline: 2px solid lumx-color-variant("light", "N");
            outline-offset: 2px;
        }
    }

    @if $component and $state != lumx-base-const("state", "FOCUS") {
        box-shadow: inset 0 0 0
                var(--lumx-#{$component}-emphasis-selected-#{$state}-border-width)
                var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-border-color);
    }
}

@mixin lumx-state-low($state, $color) {
    @if $state == lumx-base-const("state", "DEFAULT") {
        color: lumx-color-variant($color, "D2");
        background-color: transparent;
    } @else if $state == lumx-base-const("state", "HOVER") {
        background-color: lumx-color-variant($color, "L5");
    } @else if $state == lumx-base-const("state", "ACTIVE") {
        background-color: lumx-color-variant($color, "L4");
    } @else if $state == lumx-base-const("state", "FOCUS") {
        outline: 2px solid lumx-color-variant($color, "N");
        outline-offset: 2px;
    }
}

@mixin lumx-state-disabled-text($theme) {
    pointer-events: none;

    @if $theme == lumx-base-const("theme", "LIGHT") {
        color: lumx-color-variant("dark", "L3");
    } @else if $theme == lumx-base-const("theme", "DARK") {
        color: lumx-color-variant("light", "L3");
    }
}

@mixin lumx-state-disabled-input() {
    pointer-events: none;
    opacity: 0.5;
}

@mixin lumx-state($state, $emphasis, $color, $theme: null) {
    @if $emphasis == lumx-base-const("emphasis", "HIGH") {
        @include lumx-state-high($state, $color, $theme);
    } @else if (
        $emphasis == lumx-base-const("emphasis", "MEDIUM")
        or $emphasis == lumx-base-const("emphasis", "SELECTED")
    ) {
        @include lumx-state-medium($state, $color);
    } @else if $emphasis == lumx-base-const("emphasis", "LOW") {
        @include lumx-state-low($state, $color);
    }
}

@mixin lumx-state-transition() {
    transition-duration: $lumx-state-transition-duration;
    transition-property: background-color, box-shadow, color;
}
