@mixin lumx-state-high($state, $color, $theme) {
    @if $state == "state-default" {
        @if $theme == "theme-light" {
            background-color: lumx-color-variant($color, "N");

            @if $color == "yellow" {
                color: lumx-color-variant("dark", "L1");
            } @else {
                color: lumx-color-variant("light", "N");
            }
        } @else if $theme == "theme-dark" {
            color: lumx-color-variant($color, "N");
            background-color: lumx-color-variant("light", "N");
        }
    } @else if $state == "state-hover" {
        @if $theme == "theme-light" {
            background-color: lumx-color-variant($color, "D1");
        } @else if $theme == "theme-dark" {
            background-color: lumx-color-variant("light", "L1");
        }
    } @else if $state == "state-active" {
        @if $theme == "theme-light" {
            background-color: lumx-color-variant($color, "D2");
        } @else if $theme == "theme-dark" {
            background-color: lumx-color-variant("light", "L2");
        }
    } @else if $state == "state-focus" {
        outline-offset: 2px;

        @if $theme == "theme-light" {
            outline: 2px solid lumx-color-variant("dark", "N");
        } @else if $theme == "theme-dark" {
            outline: 2px solid lumx-color-variant("light", "N");
        }
    }
}

@mixin lumx-state-medium($state, $color) {
    @if $state == "state-default" {
        background-color: lumx-color-variant($color, "L5");

        @if $color == "yellow" {
            color: lumx-color-variant("dark", "L1");
        } @else {
            color: lumx-color-variant($color, "D2");
        }
    } @else if $state == "state-hover" {
        background-color: lumx-color-variant($color, "L4");
    } @else if $state == "state-active" {
        background-color: lumx-color-variant($color, "L3");
    } @else if $state == "state-focus" {
        outline: 2px solid lumx-color-variant($color, "N");
        outline-offset: 2px;
    }
}

@mixin lumx-state-as-selected($state, $theme, $component: null) {
    @if $theme == "theme-light" {
        @if $state == "state-default" {
            color: lumx-color-variant("primary", "D2");
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("primary", "L5"),
                );
        } @else if $state == "state-hover" {
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("primary", "L4"),
                );
        } @else if $state == "state-active" {
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("primary", "L3"),
                );
        } @else if $state == "state-focus" {
            outline: 2px solid lumx-color-variant("dark", "N");
            outline-offset: 2px;
        }
    } @else if $theme == "theme-dark" {
        @if $state == "state-default" {
            color: lumx-color-variant("light", "N");
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("light", "L3"),
                );
        } @else if $state == "state-hover" {
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("light", "L4"),
                );
        } @else if $state == "state-active" {
            background-color:
                if(
                    $component,
                    var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-background-color),
                    lumx-color-variant("light", "L5"),
                );
        } @else if $state == "state-focus" {
            outline: 2px solid lumx-color-variant("light", "N");
            outline-offset: 2px;
        }
    }

    @if $component and $state != "state-focus" {
        box-shadow:
            inset 0 0 0
            var(--lumx-#{$component}-emphasis-selected-#{$state}-border-width)
            var(--lumx-#{$component}-emphasis-selected-#{$state}-#{$theme}-border-color);
    }
}

@mixin lumx-state-low($state, $color) {
    @if $state == "state-default" {
        color: lumx-color-variant($color, "D2");
        background-color: transparent;
    } @else if $state == "state-hover" {
        background-color: lumx-color-variant($color, "L5");
    } @else if $state == "state-active" {
        background-color: lumx-color-variant($color, "L4");
    } @else if $state == "state-focus" {
        outline: 2px solid lumx-color-variant($color, "N");
        outline-offset: 2px;
    }
}

@mixin lumx-state-disabled-text($theme) {
    pointer-events: none;

    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "L3");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "L3");
    }
}

@mixin lumx-state-disabled-input() {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

@mixin lumx-state($state, $emphasis, $color, $theme: null) {
    @if $emphasis == "emphasis-high" {
        @include lumx-state-high($state, $color, $theme);
    } @else if (
        $emphasis == "emphasis-medium"
        or $emphasis == "emphasis-selected"
    ) {
        @include lumx-state-medium($state, $color);
    } @else if $emphasis == "emphasis-low" {
        @include lumx-state-low($state, $color);
    }
}

@mixin lumx-state-transition() {
    transition-duration: $lumx-state-transition-duration;
    transition-property: background-color, box-shadow, color;
}
