/* ==========================================================================
   Divider
   ========================================================================== */

.#{$lumx-base-prefix}-divider {
    &--theme-light {
        @include lumx-divider(dark);
    }

    &--theme-dark {
        @include lumx-divider(light);
    }
}
