/* ==========================================================================
   Text field
   ========================================================================== */

.#{$lumx-base-prefix}-text-field {
    $self: &;

    &__label {
        #{$self}--theme-light & {
            @include lumx-input-label('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-label('light');
        }
    }

    &__helper {
        #{$self}--theme-light & {
            @include lumx-input-helper('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-helper('light');
        }
    }

    &__wrapper {
        #{$self}--has-input#{$self}--theme-light & {
            @include lumx-text-field-wrapper('dark', 'input');
        }

        #{$self}--has-input#{$self}--theme-dark & {
            @include lumx-text-field-wrapper('light', 'input');
        }

        #{$self}--has-textarea#{$self}--theme-light & {
            @include lumx-text-field-wrapper('dark', 'textarea');
        }

        #{$self}--has-textarea#{$self}--theme-dark & {
            @include lumx-text-field-wrapper('light', 'textarea');
        }

        #{$self}--has-input-clear & {
            @include lumx-text-field-wrapper-has-input-clear;
        }

        #{$self}--has-chips & {
            @include lumx-text-field-wrapper-has-chips;
        }
    }

    &--has-label &__wrapper {
        @include lumx-text-field-wrapper-has-label;
    }

    &__input-icon {
        flex-shrink: 0;

        #{$self}--theme-light & {
            @include lumx-text-field-input-icon('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-icon('light');
        }
    }

    &__input-wrapper {
        @include lumx-text-field-input-wrapper;
    }

    &__input-native {
        flex: 1;

        input,
        textarea {
            #{$self}--theme-light &::placeholder {
                @include lumx-text-field-placeholder('dark');
            }

            #{$self}--theme-dark &::placeholder {
                @include lumx-text-field-placeholder('light');
            }
        }

        input {
            #{$self}--theme-light & {
                @include lumx-text-field-input-native('dark', 'input');
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-native('light', 'input');
            }
        }

        textarea {
            resize: none;

            #{$self}--theme-light & {
                @include lumx-text-field-input-native('dark', 'textarea');
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-native('light', 'textarea');
            }
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__chips {
        @include lumx-text-field-chips;
    }
}

/* Text field states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-text-field--is-disabled {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-text-field--theme-light {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text('dark');
        }
    }

    &.#{$lumx-base-prefix}-text-field--theme-dark {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text('light');
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-text-field--theme-light {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state('state-hover', 'dark');
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state('state-hover', 'light');
    }
}

// Focus state
.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state('state-focus', 'dark');
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state('state-focus', 'light');
    }
}

/* Text field validity
   ========================================================================== */

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', 'dark');
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', 'dark');
    }
}

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', 'dark');
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', 'dark');
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', 'light');
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', 'light');
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', 'light');
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', 'light');
    }
}
