@mixin lumx-text-field-input-wrapper($theme, $has-indicator: false, $is-multiple: false, $type: 'input') {
    position: relative;
    display: flex;
    align-items: center;
    background-color: lumx-theme-color-variant($theme, 'L6');
    border-radius: $lumx-theme-border-radius;
    box-shadow: inset 0 0 0 1px lumx-theme-color-variant($theme, 'L4');
    outline: none;
    transition-duration: $lumx-text-field-transition-duration;
    transition-property: background-color, box-shadow;

    @if $type == 'input' {
        @if $is-multiple {
            min-height: $lumx-text-field-height;
            padding: 3px;
        } @else {
            height: $lumx-text-field-height;
            padding: 0 $lumx-text-field-horizontal-padding;
        }
    } @else {
        padding: $lumx-text-field-vertical-padding $lumx-text-field-horizontal-padding;
    }

    @if $has-indicator {
        padding-right: $lumx-spacing-unit * 1.5;
    }
}

@mixin lumx-text-field-input-icon($theme) {
    margin-right: $lumx-spacing-unit;
    color: lumx-theme-color-variant($theme, 'N');
}

@mixin lumx-text-field-input-native($theme, $type: 'input') {
    @include lumx-typography('body1');

    display: block;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    color: lumx-theme-color-variant($theme, 'N');
    outline: none;

    @if $type == 'input' {
        height: $lumx-text-field-height;
        line-height: $lumx-text-field-height;
    }
}

@mixin lumx-text-field-input-validity($validity, $theme) {
    margin-left: $lumx-spacing-unit;

    @if $theme == 'dark' {
        @if $validity == 'valid' {
            color: lumx-theme-color-variant('green', 'N');
        } @else if $validity == 'error' {
            color: lumx-theme-color-variant('red', 'N');
        }
    } @else if $theme == 'light' {
        color: lumx-theme-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-placeholder($theme) {
    color: lumx-theme-color-variant($theme, 'L2');
}

@mixin lumx-text-field-input-wrapper-state($state, $theme) {
    @if $state == 'state-hover' {
        background-color: lumx-theme-color-variant($theme, 'L5');
    } @else if $state == 'state-focus' {
        @if $theme == 'dark' {
            background-color: lumx-theme-color-variant('light', 'N');
            box-shadow: inset 0 0 0 2px lumx-theme-color-variant('primary', 'L2');
        } @else if $theme == 'light' {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px lumx-theme-color-variant('light', 'L2');
        }
    }
}

@mixin lumx-text-field-input-wrapper-validity($validity, $theme) {
    @if $theme == 'dark' {
        @if $validity == 'valid' {
            box-shadow: inset 0 0 0 2px lumx-theme-color-variant('green', 'N');
        } @else if $validity == 'error' {
            box-shadow: inset 0 0 0 2px lumx-theme-color-variant('red', 'N');
        }
    } @else if $theme == 'light' {
        box-shadow: inset 0 0 0 2px lumx-theme-color-variant('light', 'N');
    }
}
