$lumx-text-field-height: map-get($lumx-sizes, 'm') !default;
$lumx-text-field-horizontal-padding: $lumx-spacing-unit * 1.5 !default;
$lumx-text-field-vertical-padding: $lumx-spacing-unit * 1.5 !default;
$lumx-text-field-transition-duration: 100ms;
$lumx-text-field-min-width: 150px;
