/* ==========================================================================
   Icon
   ========================================================================== */

.#{$lumx-base-prefix}-icon {
    display: block;

    svg {
        display: block;
    }

    &--font svg {
        display: none;
    }
}

/* Icon sizes
   ========================================================================== */

@each $size-key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-icon--size-#{$size-key} {
        @include lumx-icon-size($size-key);
    }
}

/* Button colors
   ========================================================================== */

@each $color-key, $color in $lumx-theme-color-palette {
    .#{$lumx-base-prefix}-icon--color-#{$color-key} {
        @include lumx-icon-color($color-key, 'N');
    }

    @each $color-variant in $lumx-theme-color-variants {
        .#{$lumx-base-prefix}-icon--color-#{$color-key}.#{$lumx-base-prefix}-icon--color-variant-#{$color-variant} {
            @include lumx-icon-color($color-key, $color-variant);
        }
    }
}
