<main-header category="Components" title="Progress tracker">
    <p>
        Progress tracker convey user progress through a linear sequence of steps.
    </p>
</main-header>

<main-block
    class="mt+++"
    path="demo/angularjs/components/progress-tracker/partials/stepper.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Step states"
    path="demo/angularjs/components/progress-tracker/partials/current.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
    <p>
        There are four types: <i>Current state,</i> <i>Future state,</i> <i>Completed state</i> and <i>Error state</i>.
        A step can be completed by a helper text.
    </p>
    <div class="mt+++">
        <strong>Current</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/progress-tracker/partials/future.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
    <strong>Future</strong>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/progress-tracker/partials/completed.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
    <strong>Completed</strong>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/progress-tracker/partials/helper.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
    <strong>Future with helper</strong>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/progress-tracker/partials/error.html"
    js-path="demo/angularjs/components/progress-tracker/controller.js"
>
    <strong>Error </strong>
    <p class="mt">Error message replaces the helper text, if used.</p>
</main-block>
