@mixin lumx-side-navigation-item() {
    margin-bottom: $lumx-spacing-unit / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin lumx-side-navigation-link() {
    display: flex;
    min-height: map-get($lumx-sizes, m);
    flex-direction: row;
    align-items: center;
    padding: 0 $lumx-spacing-unit;
    border-radius: $lumx-theme-border-radius;
    outline: none;
    text-decoration: none;
}

@mixin lumx-side-navigation-link-icon($position) {
    flex-shrink: 0;

    @if $position == position-left {
        margin-right: $lumx-spacing-unit * 2;
    } @else if $position == position-right {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-side-navigation-link-label($emphasis) {
    flex: 1;

    @if $emphasis == emphasis-high {
        @include lumx-typography(title);
    } @else if $emphasis == emphasis-medium {
        @include lumx-typography(subtitle1);
    } @else if $emphasis == emphasis-low {
        @include lumx-typography(body1);
    }
}
