/** DEMO THEME */

$mdi-font-path: '../../src/icons/node_modules/@mdi/font/fonts';

@import 'materialdesignicons';
@import 'mq';
@import '../../src/core/style/core-lumapps';
@import '../../src/core/style/components-lumapps';
@import './base/base';
@import './demo/demo-block';
@import './demo/demo-colors';
@import './demo/demo-grid';
@import './layout/app/app';
@import './layout/main-nav/main-nav';
@import './layout/sub-nav/sub-nav';
@import './layout/main/main';
