$lumx-theme-primary: $lumx-theme-blue !default;
$lumx-theme-secondary: $lumx-theme-yellow !default;

$lumx-theme-color-palette: (
    'primary': $lumx-theme-primary,
    'secondary': $lumx-theme-secondary,
    'dark': $lumx-theme-dark,
    'light': $lumx-theme-light,
    'blue': $lumx-theme-blue,
    'yellow': $lumx-theme-yellow,
    'red': $lumx-theme-red,
    'green': $lumx-theme-green,
    'accent': $lumx-theme-secondary,
    'black': $lumx-theme-dark,
    'white': $lumx-theme-light,
    'orange': $lumx-theme-yellow
) !default;

$lumx-theme-border-radius: 4px !default;

$lumx-theme-color-variants: ('D2', 'D1', 'N', 'L1', 'L2', 'L3', 'L4', 'L5', 'L6');

$lumx-theme-dark-N: map-get($lumx-theme-dark, 'N');
$lumx-theme-dark-L1: map-get($lumx-theme-dark, 'L1');
$lumx-theme-dark-L2: map-get($lumx-theme-dark, 'L2');
$lumx-theme-dark-L3: map-get($lumx-theme-dark, 'L3');
$lumx-theme-dark-L4: map-get($lumx-theme-dark, 'L4');
$lumx-theme-dark-L5: map-get($lumx-theme-dark, 'L5');
$lumx-theme-dark-L6: map-get($lumx-theme-dark, 'L6');

$lumx-theme-light-N: map-get($lumx-theme-light, 'N');
$lumx-theme-light-L1: map-get($lumx-theme-light, 'L1');
$lumx-theme-light-L2: map-get($lumx-theme-light, 'L2');
$lumx-theme-light-L3: map-get($lumx-theme-light, 'L3');
$lumx-theme-light-L4: map-get($lumx-theme-light, 'L4');
$lumx-theme-light-L5: map-get($lumx-theme-light, 'L5');
$lumx-theme-light-L6: map-get($lumx-theme-light, 'L6');

$lumx-theme-blue-D2: map-get($lumx-theme-blue, 'D2');
$lumx-theme-blue-D1: map-get($lumx-theme-blue, 'D1');
$lumx-theme-blue-N: map-get($lumx-theme-blue, 'N');
$lumx-theme-blue-L1: map-get($lumx-theme-blue, 'L1');
$lumx-theme-blue-L2: map-get($lumx-theme-blue, 'L2');
$lumx-theme-blue-L3: map-get($lumx-theme-blue, 'L3');
$lumx-theme-blue-L4: map-get($lumx-theme-blue, 'L4');
$lumx-theme-blue-L5: map-get($lumx-theme-blue, 'L5');
$lumx-theme-blue-L6: map-get($lumx-theme-blue, 'L6');

$lumx-theme-yellow-D2: map-get($lumx-theme-yellow, 'D2');
$lumx-theme-yellow-D1: map-get($lumx-theme-yellow, 'D1');
$lumx-theme-yellow-N: map-get($lumx-theme-yellow, 'N');
$lumx-theme-yellow-L1: map-get($lumx-theme-yellow, 'L1');
$lumx-theme-yellow-L2: map-get($lumx-theme-yellow, 'L2');
$lumx-theme-yellow-L3: map-get($lumx-theme-yellow, 'L3');
$lumx-theme-yellow-L4: map-get($lumx-theme-yellow, 'L4');
$lumx-theme-yellow-L5: map-get($lumx-theme-yellow, 'L5');
$lumx-theme-yellow-L6: map-get($lumx-theme-yellow, 'L6');

$lumx-theme-red-D2: map-get($lumx-theme-red, 'D2');
$lumx-theme-red-D1: map-get($lumx-theme-red, 'D1');
$lumx-theme-red-N: map-get($lumx-theme-red, 'N');
$lumx-theme-red-L1: map-get($lumx-theme-red, 'L1');
$lumx-theme-red-L2: map-get($lumx-theme-red, 'L2');
$lumx-theme-red-L3: map-get($lumx-theme-red, 'L3');
$lumx-theme-red-L4: map-get($lumx-theme-red, 'L4');
$lumx-theme-red-L5: map-get($lumx-theme-red, 'L5');
$lumx-theme-red-L6: map-get($lumx-theme-red, 'L6');

$lumx-theme-green-D2: map-get($lumx-theme-green, 'D2');
$lumx-theme-green-D1: map-get($lumx-theme-green, 'D1');
$lumx-theme-green-N: map-get($lumx-theme-green, 'N');
$lumx-theme-green-L1: map-get($lumx-theme-green, 'L1');
$lumx-theme-green-L2: map-get($lumx-theme-green, 'L2');
$lumx-theme-green-L3: map-get($lumx-theme-green, 'L3');
$lumx-theme-green-L4: map-get($lumx-theme-green, 'L4');
$lumx-theme-green-L5: map-get($lumx-theme-green, 'L5');
$lumx-theme-green-L6: map-get($lumx-theme-green, 'L6');
