$lx-theme-red-50: #ffebee;
$lx-theme-red-100: #ffcdd2;
$lx-theme-red-200: #ef9a9a;
$lx-theme-red-300: #e57373;
$lx-theme-red-400: #ef5350;
$lx-theme-red-500: #f44336;
$lx-theme-red-600: #e53935;
$lx-theme-red-700: #d32f2f;
$lx-theme-red-800: #c62828;
$lx-theme-red-900: #b71c1c;
$lx-theme-red-a100: #ff8a80;
$lx-theme-red-a200: #ff5252;
$lx-theme-red-a400: #ff1744;
$lx-theme-red-a700: #d50000;

$lx-theme-pink-50: #fce4ec;
$lx-theme-pink-100: #f8bbd0;
$lx-theme-pink-200: #f48fb1;
$lx-theme-pink-300: #f06292;
$lx-theme-pink-400: #ec407a;
$lx-theme-pink-500: #e91e63;
$lx-theme-pink-600: #d81b60;
$lx-theme-pink-700: #c2185b;
$lx-theme-pink-800: #ad1457;
$lx-theme-pink-900: #880e4f;
$lx-theme-pink-a100: #ff80ab;
$lx-theme-pink-a200: #ff4081;
$lx-theme-pink-a400: #f50057;
$lx-theme-pink-a700: #c51162;

$lx-theme-purple-50: #f3e5f5;
$lx-theme-purple-100: #e1bee7;
$lx-theme-purple-200: #ce93d8;
$lx-theme-purple-300: #ba68c8;
$lx-theme-purple-400: #ab47bc;
$lx-theme-purple-500: #9c27b0;
$lx-theme-purple-600: #8e24aa;
$lx-theme-purple-700: #7b1fa2;
$lx-theme-purple-800: #6a1b9a;
$lx-theme-purple-900: #4a148c;
$lx-theme-purple-a100: #ea80fc;
$lx-theme-purple-a200: #e040fb;
$lx-theme-purple-a400: #d500f9;
$lx-theme-purple-a700: #aa00ff;

$lx-theme-deep-purple-50: #ede7f6;
$lx-theme-deep-purple-100: #d1c4e9;
$lx-theme-deep-purple-200: #b39ddb;
$lx-theme-deep-purple-300: #9575cd;
$lx-theme-deep-purple-400: #7e57c2;
$lx-theme-deep-purple-500: #673ab7;
$lx-theme-deep-purple-600: #5e35b1;
$lx-theme-deep-purple-700: #512da8;
$lx-theme-deep-purple-800: #4527a0;
$lx-theme-deep-purple-900: #311b92;
$lx-theme-deep-purple-a100: #b388ff;
$lx-theme-deep-purple-a200: #7c4dff;
$lx-theme-deep-purple-a400: #651fff;
$lx-theme-deep-purple-a700: #6200ea;

$lx-theme-indigo-50: #e8eaf6;
$lx-theme-indigo-100: #c5cae9;
$lx-theme-indigo-200: #9fa8da;
$lx-theme-indigo-300: #7986cb;
$lx-theme-indigo-400: #5c6bc0;
$lx-theme-indigo-500: #3f51b5;
$lx-theme-indigo-600: #3949ab;
$lx-theme-indigo-700: #303f9f;
$lx-theme-indigo-800: #283593;
$lx-theme-indigo-900: #1a237e;
$lx-theme-indigo-a100: #8c9eff;
$lx-theme-indigo-a200: #536dfe;
$lx-theme-indigo-a400: #3d5afe;
$lx-theme-indigo-a700: #304ffe;

$lx-theme-blue-50: #e3f2fd;
$lx-theme-blue-100: #bbdefb;
$lx-theme-blue-200: #90caf9;
$lx-theme-blue-300: #64b5f6;
$lx-theme-blue-400: #42a5f5;
$lx-theme-blue-500: #2196f3;
$lx-theme-blue-600: #1e88e5;
$lx-theme-blue-700: #1976d2;
$lx-theme-blue-800: #1565c0;
$lx-theme-blue-900: #0d47a1;
$lx-theme-blue-a100: #82b1ff;
$lx-theme-blue-a200: #448aff;
$lx-theme-blue-a400: #2979ff;
$lx-theme-blue-a700: #2962ff;

$lx-theme-light-blue-50: #e1f5fe;
$lx-theme-light-blue-100: #b3e5fc;
$lx-theme-light-blue-200: #81d4fa;
$lx-theme-light-blue-300: #4fc3f7;
$lx-theme-light-blue-400: #29b6f6;
$lx-theme-light-blue-500: #03a9f4;
$lx-theme-light-blue-600: #039be5;
$lx-theme-light-blue-700: #0288d1;
$lx-theme-light-blue-800: #0277bd;
$lx-theme-light-blue-900: #01579b;
$lx-theme-light-blue-a100: #80d8ff;
$lx-theme-light-blue-a200: #40c4ff;
$lx-theme-light-blue-a400: #00b0ff;
$lx-theme-light-blue-a700: #0091ea;

$lx-theme-cyan-50: #e0f7fa;
$lx-theme-cyan-100: #b2ebf2;
$lx-theme-cyan-200: #80deea;
$lx-theme-cyan-300: #4dd0e1;
$lx-theme-cyan-400: #26c6da;
$lx-theme-cyan-500: #00bcd4;
$lx-theme-cyan-600: #00acc1;
$lx-theme-cyan-700: #0097a7;
$lx-theme-cyan-800: #00838f;
$lx-theme-cyan-900: #006064;
$lx-theme-cyan-a100: #84ffff;
$lx-theme-cyan-a200: #18ffff;
$lx-theme-cyan-a400: #00e5ff;
$lx-theme-cyan-a700: #00b8d4;

$lx-theme-teal-50: #e0f2f1;
$lx-theme-teal-100: #b2dfdb;
$lx-theme-teal-200: #80cbc4;
$lx-theme-teal-300: #4db6ac;
$lx-theme-teal-400: #26a69a;
$lx-theme-teal-500: #009688;
$lx-theme-teal-600: #00897b;
$lx-theme-teal-700: #00796b;
$lx-theme-teal-800: #00695c;
$lx-theme-teal-900: #004d40;
$lx-theme-teal-a100: #a7ffeb;
$lx-theme-teal-a200: #64ffda;
$lx-theme-teal-a400: #1de9b6;
$lx-theme-teal-a700: #00bfa5;

$lx-theme-green-50: #e8f5e9;
$lx-theme-green-100: #c8e6c9;
$lx-theme-green-200: #a5d6a7;
$lx-theme-green-300: #81c784;
$lx-theme-green-400: #66bb6a;
$lx-theme-green-500: #4caf50;
$lx-theme-green-600: #43a047;
$lx-theme-green-700: #388e3c;
$lx-theme-green-800: #2e7d32;
$lx-theme-green-900: #1b5e20;
$lx-theme-green-a100: #b9f6ca;
$lx-theme-green-a200: #69f0ae;
$lx-theme-green-a400: #00e676;
$lx-theme-green-a700: #00c853;

$lx-theme-light-green-50: #f1f8e9;
$lx-theme-light-green-100: #dcedc8;
$lx-theme-light-green-200: #c5e1a5;
$lx-theme-light-green-300: #aed581;
$lx-theme-light-green-400: #9ccc65;
$lx-theme-light-green-500: #8bc34a;
$lx-theme-light-green-600: #7cb342;
$lx-theme-light-green-700: #689f38;
$lx-theme-light-green-800: #558b2f;
$lx-theme-light-green-900: #33691e;
$lx-theme-light-green-a100: #ccff90;
$lx-theme-light-green-a200: #b2ff59;
$lx-theme-light-green-a400: #76ff03;
$lx-theme-light-green-a700: #64dd17;

$lx-theme-lime-50: #f9fbe7;
$lx-theme-lime-100: #f0f4c3;
$lx-theme-lime-200: #e6ee9c;
$lx-theme-lime-300: #dce775;
$lx-theme-lime-400: #d4e157;
$lx-theme-lime-500: #cddc39;
$lx-theme-lime-600: #c0ca33;
$lx-theme-lime-700: #afb42b;
$lx-theme-lime-800: #9e9d24;
$lx-theme-lime-900: #827717;
$lx-theme-lime-a100: #f4ff81;
$lx-theme-lime-a200: #eeff41;
$lx-theme-lime-a400: #c6ff00;
$lx-theme-lime-a700: #aeea00;

$lx-theme-yellow-50: #fffde7;
$lx-theme-yellow-100: #fff9c4;
$lx-theme-yellow-200: #fff59d;
$lx-theme-yellow-300: #fff176;
$lx-theme-yellow-400: #ffee58;
$lx-theme-yellow-500: #ffeb3b;
$lx-theme-yellow-600: #fdd835;
$lx-theme-yellow-700: #fbc02d;
$lx-theme-yellow-800: #f9a825;
$lx-theme-yellow-900: #f57f17;
$lx-theme-yellow-a100: #ffff8d;
$lx-theme-yellow-a200: #ffff00;
$lx-theme-yellow-a400: #ffea00;
$lx-theme-yellow-a700: #ffd600;

$lx-theme-amber-50: #fff8e1;
$lx-theme-amber-100: #ffecb3;
$lx-theme-amber-200: #ffe082;
$lx-theme-amber-300: #ffd54f;
$lx-theme-amber-400: #ffca28;
$lx-theme-amber-500: #ffc107;
$lx-theme-amber-600: #ffb300;
$lx-theme-amber-700: #ffa000;
$lx-theme-amber-800: #ff8f00;
$lx-theme-amber-900: #ff6f00;
$lx-theme-amber-a100: #ffe57f;
$lx-theme-amber-a200: #ffd740;
$lx-theme-amber-a400: #ffc400;
$lx-theme-amber-a700: #ffab00;

$lx-theme-orange-50: #fff3e0;
$lx-theme-orange-100: #ffe0b2;
$lx-theme-orange-200: #ffcc80;
$lx-theme-orange-300: #ffb74d;
$lx-theme-orange-400: #ffa726;
$lx-theme-orange-500: #ff9800;
$lx-theme-orange-600: #fb8c00;
$lx-theme-orange-700: #f57c00;
$lx-theme-orange-800: #ef6c00;
$lx-theme-orange-900: #e65100;
$lx-theme-orange-a100: #ffd180;
$lx-theme-orange-a200: #ffab40;
$lx-theme-orange-a400: #ff9100;
$lx-theme-orange-a700: #ff6d00;

$lx-theme-deep-orange-50: #fbe9e7;
$lx-theme-deep-orange-100: #ffccbc;
$lx-theme-deep-orange-200: #ffab91;
$lx-theme-deep-orange-300: #ff8a65;
$lx-theme-deep-orange-400: #ff7043;
$lx-theme-deep-orange-500: #ff5722;
$lx-theme-deep-orange-600: #f4511e;
$lx-theme-deep-orange-700: #e64a19;
$lx-theme-deep-orange-800: #d84315;
$lx-theme-deep-orange-900: #bf360c;
$lx-theme-deep-orange-a100: #ff9e80;
$lx-theme-deep-orange-a200: #ff6e40;
$lx-theme-deep-orange-a400: #ff3d00;
$lx-theme-deep-orange-a700: #dd2c00;

$lx-theme-brown-50: #efebe9;
$lx-theme-brown-100: #d7ccc8;
$lx-theme-brown-200: #bcaaa4;
$lx-theme-brown-300: #a1887f;
$lx-theme-brown-400: #8d6e63;
$lx-theme-brown-500: #795548;
$lx-theme-brown-600: #6d4c41;
$lx-theme-brown-700: #5d4037;
$lx-theme-brown-800: #4e342e;
$lx-theme-brown-900: #3e2723;

$lx-theme-grey-50: #fafafa;
$lx-theme-grey-100: #f5f5f5;
$lx-theme-grey-200: #eeeeee;
$lx-theme-grey-300: #e0e0e0;
$lx-theme-grey-400: #bdbdbd;
$lx-theme-grey-500: #9e9e9e;
$lx-theme-grey-600: #757575;
$lx-theme-grey-700: #616161;
$lx-theme-grey-800: #424242;
$lx-theme-grey-900: #212121;

$lx-theme-blue-grey-50: #eceff1;
$lx-theme-blue-grey-100: #cfd8dc;
$lx-theme-blue-grey-200: #b0bec5;
$lx-theme-blue-grey-300: #90a4ae;
$lx-theme-blue-grey-400: #78909c;
$lx-theme-blue-grey-500: #607d8b;
$lx-theme-blue-grey-600: #546e7a;
$lx-theme-blue-grey-700: #455a64;
$lx-theme-blue-grey-800: #37474f;
$lx-theme-blue-grey-900: #263238;
