$lx-theme-colors: (
    primary: #6200ee,
    on-primary: #fff,
    secondary: #018786,
    on-secondary: #fff
) !default;

$lx-theme-text-opacities: (
    high: .87,
    medium: .60,
    disabled: .38
) !default;
