@import "./color-palette";

$lx-theme-colors: (
    primary: $lx-theme-blue,
    secondary: $lx-theme-dark-blue
) !default;

$lx-theme-body-dark: $lx-theme-dark-blue;

$lx-theme-body-dark-emphasis: (
    high: $lx-theme-body-dark,
    medium: rgba($lx-theme-body-dark, 0.6),
    disabled: rgba($lx-theme-body-dark, 0.4)
) !default;

$lx-theme-body-light: $lx-theme-white;

$lx-theme-body-light-emphasis: (
    high: $lx-theme-body-light,
    medium: rgba($lx-theme-body-light, 0.6),
    disabled: rgba($lx-theme-body-light, 0.4)
) !default;
