/* ==========================================================================
   Side navigation
   ========================================================================== */

.#{$lumx-base-prefix}-side-navigation {
    @include lumx-list;
}

/* Item
   ========================================================================== */

.#{$lumx-base-prefix}-side-navigation-item {
    $self: &;

    @include lumx-side-navigation-item;

    &__wrapper {
        @include lumx-side-navigation-wrapper;
    }

    &__link {
        @include lumx-side-navigation-link;

        & > i:first-child {
            @include lumx-side-navigation-link-icon(lumx-base-const("position", "LEFT"));
        }

        & > i:last-child {
            @include lumx-side-navigation-link-icon(lumx-base-const("position", "RIGHT"));
        }

        & > span {
            #{$self}--emphasis-high & {
                @include lumx-side-navigation-link-label(lumx-base-const("emphasis", "HIGH"));
            }

            #{$self}--emphasis-medium & {
                @include lumx-side-navigation-link-label(lumx-base-const("emphasis", "MEDIUM"));
            }

            #{$self}--emphasis-low & {
                @include lumx-side-navigation-link-label(lumx-base-const("emphasis", "LOW"));
            }
        }
    }

    &__toggle {
        @include lumx-side-navigation-link-toggle;
    }

    &__children {
        @include lumx-side-navigation-children;
    }

    &:not(#{$self}--is-open) #{$self}__children {
        display: none;
    }
}

/* Item link states
   ========================================================================== */

.#{$lumx-base-prefix}-side-navigation-item {
    $self: &;

    &__link {
        @include lumx-list-item-clickable;

        // Selected state
        // (`--is-selected` item modifier or `aria-current="page"` link attribute)
        #{$self}--is-selected > &,
        #{$self}--is-selected > #{$self}__wrapper > &,
        &[aria-current="page"] {
            @include lumx-list-item-selected("side-navigation-item");
        }
    }
}
