@use "sass:map";

/**
 * 1. https://github.com/philipwalton/flexbugs/blob/master/README.md#flexbug-3
 */

@mixin lumx-side-navigation-item() {
    display: flex; /* [1] */
    flex-direction: column; /* [1] */
}

@mixin lumx-side-navigation-wrapper() {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin lumx-side-navigation-link() {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    min-height: map.get($lumx-sizes, "m");
    padding: 0 $lumx-spacing-unit;
    text-align: start;
    text-decoration: none;
    border: none;
    border-radius: var(--lumx-border-radius);
    outline: none;
    appearance: none;
}

@mixin lumx-side-navigation-link-icon($position) {
    flex-shrink: 0;

    @if $position == "position-left" {
        margin-right: $lumx-spacing-unit * 2;
    } @else if $position == "position-right" {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-side-navigation-link-label($emphasis) {
    flex: 1 1 auto;

    @if $emphasis == "emphasis-high" {
        @include lumx-typography("title");
    } @else if $emphasis == "emphasis-medium" {
        @include lumx-typography("subtitle1");
    } @else if $emphasis == "emphasis-low" {
        @include lumx-typography("body1");
    }
}

@mixin lumx-side-navigation-link-toggle() {
    flex-shrink: 0;
    margin-left: $lumx-spacing-unit;
}

@mixin lumx-side-navigation-children() {
    @include lumx-list;

    margin-left: $lumx-spacing-unit * 4.5;
}
