/**
 * 1. https://github.com/philipwalton/flexbugs/blob/master/README.md#flexbug-3
 */

@mixin lumx-side-navigation-item() {
    display: flex; /* [1] */
    flex-direction: column; /* [1] */
}

@mixin lumx-side-navigation-wrapper() {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin lumx-side-navigation-link() {
    display: flex;
    min-height: map-get($lumx-sizes, lumx-base-const('size', 'M'));
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    padding: 0 $lumx-spacing-unit;
    border-radius: var(--lumx-border-radius);
    color: lumx-color-variant('dark', 'N');
    outline: none;
    text-decoration: none;
}

@mixin lumx-side-navigation-link-icon($position) {
    flex-shrink: 0;

    @if $position == lumx-base-const('position', 'LEFT') {
        margin-right: $lumx-spacing-unit * 2;
    } @else if $position == lumx-base-const('position', 'RIGHT') {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-side-navigation-link-label($emphasis) {
    flex: 1 1 auto;

    @if $emphasis == lumx-base-const('emphasis', 'HIGH') {
        @include lumx-typography('title');
    } @else if $emphasis == lumx-base-const('emphasis', 'MEDIUM') {
        @include lumx-typography('subtitle1');
    } @else if $emphasis == lumx-base-const('emphasis', 'LOW') {
        @include lumx-typography('body1');
    }
}

@mixin lumx-side-navigation-link-toggle() {
    flex-shrink: 0;
    margin-left: $lumx-spacing-unit;
}

@mixin lumx-side-navigation-children() {
    @include lumx-list;

    margin-left: $lumx-spacing-unit * 4.5;
}
