:root {
    --lumx-border-radius: 2px;
    --lumx-typography-font-family: 'Roboto', sans-serif;
    --lumx-button-font-weight: 500;
    --lumx-button-text-transform: uppercase;
    --lumx-button-variant-icon-border-radius: 50%;
    --lumx-button-size-s-font-size: 10px;
    --lumx-checkbox-wrapper-size: 24px;
    --lumx-checkbox-control-size: 18px;
    --lumx-chip-size-m-height: 32px;
    --lumx-chip-size-m-border-radius: 16px;
    --lumx-chip-size-m-padding-vertical: 12px;
    --lumx-chip-size-s-height: 20px;
    --lumx-chip-size-s-border-radius: 2px;
    --lumx-chip-size-s-padding-vertical: 8px;
    --lumx-input-label-font-size: 16px;
    --lumx-input-label-line-height: 24px;
    --lumx-input-helper-font-size: 14px;
    --lumx-input-helper-line-height: 20px;
    --lumx-progress-bounce: none;
    --lumx-progress-rotate: block;
    --lumx-radio-button-wrapper-size: 24px;
    --lumx-radio-button-control-size: 20px;
    --lumx-radio-button-indicator-size: 10px;
    --lumx-switch-wrapper-height: 24px;
    --lumx-text-field-padding-top: 20px;
    --lumx-text-field-padding-bottom: 8px;
    --lumx-text-field-header-margin-bottom: 0;
    --lumx-text-field-label-font-size: 12px;
    --lumx-text-field-label-line-height: 14px;
    --lumx-text-field-wrapper-min-height: 32px;
    --lumx-text-field-wrapper-border-radius: 0;
    --lumx-text-field-wrapper-padding-vertical: 4px;
    --lumx-text-field-wrapper-padding-horizontal: 0;
    --lumx-text-field-state-default-border-top-width: 0;
    --lumx-text-field-state-default-border-right-width: 0;
    --lumx-text-field-state-default-border-bottom-width: 1px;
    --lumx-text-field-state-default-border-left-width: 0;
    --lumx-text-field-state-default-theme-light-background-color: transparent;
    --lumx-text-field-state-default-theme-light-border-color: rgba(0, 0, 0, 0.12);
    --lumx-text-field-state-default-theme-dark-background-color: transparent;
    --lumx-text-field-state-default-theme-dark-border-color: rgba(255, 255, 255, 0.2);
    --lumx-text-field-state-hover-theme-light-background-color: transparent;
    --lumx-text-field-state-hover-theme-dark-background-color: transparent;
    --lumx-text-field-state-focus-border-top-width: 0;
    --lumx-text-field-state-focus-border-right-width: 0;
    --lumx-text-field-state-focus-border-bottom-width: 2px;
    --lumx-text-field-state-focus-border-left-width: 0;
    --lumx-text-field-state-focus-theme-light-background-color: transparent;
    --lumx-text-field-state-focus-theme-light-border-color: var(--lumx-color-primary-N);
    --lumx-text-field-state-focus-theme-dark-background-color: transparent;
    --lumx-text-field-state-focus-theme-dark-border-color: #ffffff;
    --lumx-text-field-input-font-size: 16px;
    --lumx-text-field-input-line-height: 24px;
    --lumx-typography-style-display1-font-weight: 500;
    --lumx-typography-style-headline-font-weight: 500;
    --lumx-typography-style-title-font-weight: 500;
    --lumx-typography-style-subtitle2-font-weight: 500;
    --lumx-typography-style-subtitle1-font-weight: 500;
    --lumx-typography-style-overline-font-weight: 500;
}
