:root {
    --lumx-border-radius: 2px;
    --lumx-typography-font-family: 'Roboto', sans-serif;
    --lumx-typography-font-weight-bold: 500;
    --lumx-typography-custom-button-size-s-font-size: 10px;
    --lumx-text-field-input-min-height: 32px;
    --lumx-text-field-input-padding-horizontal: 0;
    --lumx-text-field-input-border-radius: 0;
    --lumx-text-field-state-default-input-border-top-width: 0;
    --lumx-text-field-state-default-input-border-right-width: 0;
    --lumx-text-field-state-default-input-border-bottom-width: 1px;
    --lumx-text-field-state-default-input-border-left-width: 0;
    --lumx-text-field-state-default-theme-light-input-background-color: transparent;
    --lumx-text-field-state-default-theme-light-input-border-color: rgba(0, 0, 0, 0.12);
    --lumx-text-field-state-default-theme-dark-input-background-color: transparent;
    --lumx-text-field-state-default-theme-dark-input-border-color: rgba(255, 255, 255, 0.2);
    --lumx-text-field-state-hover-input-border-top-width: 0;
    --lumx-text-field-state-hover-input-border-right-width: 0;
    --lumx-text-field-state-hover-input-border-bottom-width: 1px;
    --lumx-text-field-state-hover-input-border-left-width: 0;
    --lumx-text-field-state-hover-theme-light-input-background-color: transparent;
    --lumx-text-field-state-hover-theme-light-input-border-color: rgba(0, 0, 0, 0.12);
    --lumx-text-field-state-hover-theme-dark-input-background-color: transparent;
    --lumx-text-field-state-hover-theme-dark-input-border-color: rgba(255, 255, 255, 0.2);
    --lumx-text-field-state-focus-input-border-top-width: 0;
    --lumx-text-field-state-focus-input-border-right-width: 0;
    --lumx-text-field-state-focus-input-border-bottom-width: 2px;
    --lumx-text-field-state-focus-input-border-left-width: 0;
    --lumx-text-field-state-focus-theme-light-input-background-color: transparent;
    --lumx-text-field-state-focus-theme-light-input-border-color: var(--lumx-color-primary-N);
    --lumx-text-field-state-focus-theme-dark-input-background-color: transparent;
    --lumx-text-field-state-focus-theme-dark-input-border-color: #ffffff;
    --lumx-material-button-text-transform: uppercase;
    --lumx-material-button-variant-icon-border-radius: 50%;
    --lumx-material-checkbox-wrapper-size: 24px;
    --lumx-material-checkbox-control-size: 18px;
    --lumx-material-chip-size-m-height: 32px;
    --lumx-material-chip-size-m-border-radius: 16px;
    --lumx-material-chip-size-m-padding-vertical: 12px;
    --lumx-material-chip-size-s-height: 20px;
    --lumx-material-chip-size-s-border-radius: 2px;
    --lumx-material-chip-size-s-padding-vertical: 8px;
    --lumx-material-input-label-font-size: 16px;
    --lumx-material-input-label-line-height: 24px;
    --lumx-material-input-helper-font-size: 14px;
    --lumx-material-input-helper-line-height: 20px;
    --lumx-material-progress-bounce: none;
    --lumx-material-progress-rotate: block;
    --lumx-material-radio-button-wrapper-size: 24px;
    --lumx-material-radio-button-control-size: 20px;
    --lumx-material-radio-button-indicator-size: 10px;
    --lumx-material-switch-wrapper-height: 24px;
    --lumx-material-text-field-padding-top: 20px;
    --lumx-material-text-field-padding-bottom: 8px;
    --lumx-material-text-field-header-wrapper-margin-bottom: 0;
    --lumx-material-text-field-header-label-font-size: 12px;
    --lumx-material-text-field-header-label-line-height: 14px;
    --lumx-material-text-field-input-content-font-size: 16px;
    --lumx-material-text-field-input-content-line-height: 24px;
}
