<lumx-post-block
    lumx-meta="{{ vm.postBlock.meta }}"
    lumx-text="{{ vm.postBlock.text }}"
    lumx-thumbnail="vm.postBlock.thumbnail"
    lumx-title="{{ vm.postBlock.title }}"
>
    <lumx-post-block-author>
        <lumx-user-block
            lumx-avatar="http://i.pravatar.cc/128"
            lumx-name="Matthias Manoukian"
            lumx-size="s"
            lumx-theme="{{ demoBlock.theme }}"
        ></lumx-user-block>
    </lumx-post-block-author>

    <lumx-post-block-tags>
        <div lumx-grid-container="row">
            <lumx-chip
                class="lumx-spacing-margin-right-tiny"
                lumx-size="s"
                lumx-theme="{{ demoBlock.theme }}"
                ng-repeat="tag in vm.postBlock.tags"
            >
                <lumx-chip-label>{{ tag }}</lumx-chip-label>
            </lumx-chip>
        </div>
    </lumx-post-block-tags>

    <lumx-post-block-actions>
        <lumx-button lumx-emphasis="low" lumx-size="s">
            <lumx-icon lumx-path="{{ vm.icons.mdiHeart }}"></lumx-icon>
            <span>16</span>
        </lumx-button>

        <lumx-button class="lumx-spacing-margin-left-tiny" lumx-emphasis="low" lumx-size="s">
            <lumx-icon lumx-path="{{ vm.icons.mdiComment }}"></lumx-icon>
            <span>8</span>
        </lumx-button>
    </lumx-post-block-actions>
</lumx-post-block>
