/* ==========================================================================
   Message
   ========================================================================== */

.lumx-message {
    display: flex;
    align-items: flex-start;

    &--has-background {
        padding: $lumx-spacing-unit * 2;
        border-radius: var(--lumx-border-radius);
    }

    &__icon {
        flex-shrink: 0;
        margin-right: $lumx-spacing-unit;
    }

    &__text {
        @include lumx-typography("body1");

        flex: 1 1 auto;
        color: lumx-color-variant("dark", "N");
    }

    &__close-button {
        flex-shrink: 0;
    }
}

/* Message kind
   ========================================================================== */

@each $color in $lumx-notification-color-palette {
    .lumx-message--color-#{$color} {
        &.lumx-message--has-background {
            background-color: lumx-color-variant($color, "L6");
        }
    }
}
