<div class="p+">
    <lx-button ng-click="vm.openDialog()">Open dialog</lx-button>
</div>

<lx-dialog id="{{ vm.dialogId }}">
    <lx-dialog-header>
        <div class="p++" lx-grid-container="row" lx-grid-h-align="center">
            <span class="lx-typography-title" lx-grid-item>
                Lorem Ipsum
            </span>

            <lx-button lx-type="secondary" ng-click="vm.addPerson()">
                <lx-icon lx-id="plus"></lx-icon>
            </lx-button>
        </div>
    </lx-dialog-header>

    <lx-dialog-content>
        <div class="ph++">
            <div ng-repeat="person in vm.people">{{ person.name }} - {{ person.email }} - {{ person.age }}</div>
        </div>
    </lx-dialog-content>

    <lx-dialog-footer>
        <div class="p++" lx-grid-container="row" lx-grid-h-align="center" lx-grid-v-align="right">
            <lx-button lx-type="secondary" lx-dialog-close>Cancel</lx-button>
            <lx-button class="ml" lx-dialog-close>Ok</lx-button>
        </div>
    </lx-dialog-footer>
</lx-dialog>
