<div class="p+">
    <lx-button ng-click="vm.openDialog()">Open dialog</lx-button>
    <lx-button ng-click="vm.alertDialog()">Alert box</lx-button>
    <lx-button ng-click="vm.confirmDialog()">Confirm box</lx-button>
</div>

<lx-dialog id="{{ vm.dialogId }}">
    <lx-dialog-header>
        <lx-toolbar>
            <lx-toolbar-center>
                <span class="lx-typography-title">Dialog title</span>
            </lx-toolbar-center>

            <lx-toolbar-right>
                <lx-button ng-click="vm.addPerson()">
                    <span>Add</span>
                </lx-button>
            </lx-toolbar-right>
        </lx-toolbar>

        <lx-divider></lx-divider>
    </lx-dialog-header>

    <lx-dialog-content>
        <div class="p++">
            <div ng-repeat="person in vm.people">{{ person.name }} - {{ person.email }} - {{ person.age }}</div>
        </div>
    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-divider></lx-divider>

        <div class="p+" lx-grid-container="row" lx-grid-h-align="center" lx-grid-v-align="right">
            <lx-button lx-emphasis="medium" lx-dialog-close>Cancel</lx-button>
            <lx-button class="ml" lx-dialog-close>Ok</lx-button>
        </div>
    </lx-dialog-footer>
</lx-dialog>
