<div
    class="lumx-select"
    ng-class="{ 'lumx-select--has-value': !lumx.isModelEmpty(),
                'lumx-select--is-empty': lumx.isModelEmpty(),
                'lumx-select--unique': !lumx.multiple,
                'lumx-select--has-unique': !lumx.isModelEmpty() && !lumx.multiple,
                'lumx-select--multiple': lumx.multiple,
                'lumx-select--has-multiple': !lumx.isModelEmpty() && lumx.multiple,
                'lumx-select--is-open': lumx.isOpen,
                'lumx-select--theme-light': !lumx.theme || lumx.theme === 'light',
                'lumx-select--theme-dark': lumx.theme === 'dark',
                'lumx-select--has-label': lumx.label,
                'lumx-select--is-disabled': lumx.isDisabled,
                'lumx-select--is-valid': lumx.isValid,
                'lumx-select--has-error': lumx.hasError,
                'lumx-select--has-placeholder': lumx.placeholder,
                'lumx-select--is-focus': lumx.isFocus,
                'lumx-custom-colors': lumx.customColors }"
>
    <span class="lumx-select__label" ng-if="::lumx.label && (!lumx.variant || lumx.variant === 'input')">
        {{ lumx.label }}
    </span>

    <div
        class="lumx-select__wrapper"
        id="{{ lumx.targetUuid }}"
        tabindex="0"
        ng-click="lumx.openDropdown()"
        ng-focus="lumx.enableKeyEvents()"
        ng-blur="lumx.disableKeyEvents()"
        ng-if="!lumx.variant || lumx.variant === 'input'"
    >
        <div class="lumx-select__chips" ng-if="!lumx.isModelEmpty() && lumx.multiple">
            <lumx-chip-group>
                <lumx-chip
                    lumx-on-click="lumx.select(selected, $event)"
                    lumx-size="s"
                    lumx-theme="{{ lumx.theme === 'dark' ? 'dark' : 'light' }}"
                    ng-repeat="selected in lumx.viewValue"
                    ng-disabled="lumx.isDisabled"
                >
                    <lumx-chip-label ng-bind-html="lumx.displaySelected(selected)"></lumx-chip-label>

                    <lumx-chip-after>
                        <lumx-icon lumx-path="{{ lumx.icons.mdiClose }}" lumx-size="xxs"></lumx-icon>
                    </lumx-chip-after>
                </lumx-chip>
            </lumx-chip-group>
        </div>

        <div
            class="lumx-select__input-native lumx-select__input-native--placeholder"
            ng-if="lumx.isModelEmpty() && lumx.placeholder"
        >
            <span>{{ lumx.placeholder }}</span>
        </div>

        <div class="lumx-select__input-native" ng-if="!lumx.isModelEmpty() && !lumx.multiple">
            <span ng-bind-html="lumx.displaySelected()"></span>
        </div>

        <div class="lumx-select__input-validity" ng-if="lumx.isValid || lumx.hasError">
            <lumx-icon
                lumx-path="{{ lumx.isValid ? lumx.icons.mdiCheckCircle : lumx.icons.mdiAlertCircle }}"
                lumx-size="xxs"
            ></lumx-icon>
        </div>

        <lumx-button
            class="lumx-select__input-clear"
            lumx-emphasis="low"
            lumx-size="s"
            lumx-theme="{{ lumx.theme }}"
            lumx-variant="icon"
            ng-if="lumx.isClearable && !lumx.multiple && !lumx.isModelEmpty()"
            ng-click="lumx.clearModel($event)"
        >
            <lumx-icon lumx-path="{{ lumx.icons.mdiCloseCircle }}"></lumx-icon>
        </lumx-button>

        <div class="lumx-select__input-indicator">
            <lumx-icon lumx-path="{{ lumx.icons.mdiMenuDown }}" lumx-size="s"></lumx-icon>
        </div>
    </div>

    <lumx-chip
        id="{{ lumx.targetUuid }}"
        lumx-has-dropdown-indicator="lumx.isModelEmpty()"
        lumx-on-click="lumx.openDropdown()"
        lumx-on-after-click="lumx.clearModel()"
        lumx-is-selected="!lumx.isModelEmpty()"
        lumx-theme="{{ lumx.theme }}"
        ng-focus="lumx.enableKeyEvents()"
        ng-blur="lumx.disableKeyEvents()"
        ng-if="lumx.variant === 'chip'"
    >
        <lumx-chip-label>
            <span ng-if="lumx.isModelEmpty()">{{ lumx.label }}</span>

            <span ng-if="!lumx.isModelEmpty() && !lumx.multiple" ng-bind-html="lumx.displaySelected()"></span>

            <span ng-if="!lumx.isModelEmpty() && lumx.multiple">
                <span ng-bind-html="lumx.displaySelected(lumx.viewValue[0])"></span>
                <span ng-if="lumx.viewValue.length > 1">+{{ lumx.viewValue.length - 1 }}</span>
            </span>
        </lumx-chip-label>

        <lumx-chip-after>
            <lumx-icon
                lumx-path="{{ lumx.isModelEmpty() ? lumx.icons.mdiMenuDown : lumx.icons.mdiCloseCircle }}"
                lumx-size="xs"
            ></lumx-icon>
        </lumx-chip-after>
    </lumx-chip>

    <lumx-dropdown lumx-position="left" lumx-width="100%" id="{{ lumx.dropdownUuid }}">
        <lumx-dropdown-menu>
            <div class="lumx-select__filter" ng-if="::lumx.hasFilter">
                <lumx-icon lumx-path="{{ lumx.icons.mdiMagnify }}" lumx-size="xs"></lumx-icon>

                <input
                    type="text"
                    placeholder="Search"
                    ng-model="lumx.filterModel"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="lumx.updateFilter()"
                    lumx-select-filter
                />
            </div>

            <div class="lumx-select__loader" ng-if="lumx.isLoading">
                <lumx-progress></lumx-progress>
            </div>

            <lumx-list
                lumx-custom-colors="lumx.customColors"
                lumx-focus-on-init="!lumx.hasFilter"
                lumx-is-clickable="true"
                ng-if="!lumx.isLoading"
            >
                <lumx-list-item
                    lumx-is-selected="lumx.isSelected(choice)"
                    lumx-size="tiny"
                    ng-repeat="choice in lumx.choices | lumxSelectChoicesFilter:lumx.filter:lumx.filterModel"
                    ng-click="lumx.select(choice, $event)"
                    lumx-enter-keypress="lumx.select(choice, $event)"
                >
                    <lumx-list-item-content ng-bind-html="lumx.displayChoice(choice)"></lumx-list-item-content>
                </lumx-list-item>
            </lumx-list>

            <span class="lumx-select__helper" ng-if="lumx.hasHelper && !lumx.isLoading">
                {{ lumx.helper }}
            </span>
        </lumx-dropdown-menu>
    </lumx-dropdown>
</div>
