/* ==========================================================================
   Text field
   ========================================================================== */

.#{$lumx-base-prefix}-text-field {
    $self: &;

    padding-top: var(--lumx-text-field-padding-top);
    padding-bottom: var(--lumx-text-field-padding-bottom);

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: var(--lumx-text-field-header-margin-bottom);
    }

    &__label {
        @include lumx-text-field-label;

        flex: 1 1 auto;
    }

    &__char-counter {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-left: $lumx-spacing-unit;

        span {
            font-size: var(--lumx-text-field-label-font-size);
            font-weight: var(--lumx-text-field-label-font-weight);
            line-height: var(--lumx-text-field-label-font-size);

            #{$self}--theme-light & {
                color: lumx-color-variant('dark', 'L2');
            }

            #{$self}--theme-dark & {
                color: lumx-color-variant('light', 'L2');
            }
        }

        i {
            margin-left: $lumx-spacing-unit / 2;

            #{$self}--theme-light & {
                color: lumx-color-variant('red', 'N');
            }

            #{$self}--theme-dark & {
                color: lumx-color-variant('light', 'N');
            }
        }
    }

    &__wrapper {
        #{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'DARK'));
        }
    }

    &__input-icon {
        #{$self}--theme-light & {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'DARK'));
        }
    }

    &__input-wrapper {
        @include lumx-text-field-input-wrapper;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'));

            &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'DARK'));

            &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'DARK'));
            }
        }

        #{$self}--has-chips & {
            width: auto;
            min-width: $lumx-text-field-min-width;
            flex: 1 1 auto;
            margin: $lumx-chip-group-spacing 0;
            line-height: var(--lumx-chip-size-s-height);
        }

        &--textarea {
            resize: none;
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__chips {
        @include lumx-text-field-chips;
    }

    &__helper {
        margin-top: $lumx-spacing-unit;
    }
}

/* Text field states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-text-field--is-disabled {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-text-field--theme-light {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-text-field--theme-dark {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-text-field--theme-light {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'DARK'));
    }
}

// Focus state
.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'DARK'));
    }
}

/* Text field validity
   ========================================================================== */

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'DARK'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'DARK'));
    }
}
