@use "sass:math";

@mixin lumx-text-field-label() {
    font-size: var(--lumx-material-text-field-header-label-font-size);
    font-weight: var(--lumx-material-text-field-header-label-font-weight);
    line-height: var(--lumx-material-text-field-header-label-line-height);
}

@mixin lumx-text-field-label-color($state, $theme) {
    color: var(--lumx-text-field-#{$state}-#{$theme}-header-label-color);
}

@mixin lumx-text-field-wrapper($theme) {
    position: relative;
    display: flex;
    align-items: flex-start;
    min-height: var(--lumx-text-field-input-min-height);
    padding: 0 var(--lumx-text-field-input-padding-horizontal);
    background-color: var(--lumx-text-field-state-default-#{$theme}-input-background-color);
    border-radius: var(--lumx-text-field-input-border-radius);
    outline: none;
    transition-duration: $lumx-text-field-transition-duration;
    transition-property: background-color, box-shadow;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        content: "";
        border: 0 solid var(--lumx-text-field-state-default-#{$theme}-input-border-color);
        border-width: var(--lumx-text-field-state-default-input-border-top-width) var(--lumx-text-field-state-default-input-border-right-width) var(--lumx-text-field-state-default-input-border-bottom-width)  var(--lumx-text-field-state-default-input-border-left-width);
        border-radius: var(--lumx-text-field-input-border-radius);
    }
}

@mixin lumx-text-field-wrapper-state($state, $theme) {
    background-color: var(--lumx-text-field-#{$state}-#{$theme}-input-background-color);

    &::before {
        border-color: var(--lumx-text-field-#{$state}-#{$theme}-input-border-color);
        border-width: var(--lumx-text-field-#{$state}-input-border-top-width) var(--lumx-text-field-#{$state}-input-border-right-width) var(--lumx-text-field-#{$state}-input-border-bottom-width) var(--lumx-text-field-#{$state}-input-border-left-width);
    }
}

@mixin lumx-text-field-wrapper-validity($validity, $theme) {
    &::before {
        border-width: var(--lumx-text-field-state-focus-input-border-top-width) var(--lumx-text-field-state-focus-input-border-right-width) var(--lumx-text-field-state-focus-input-border-bottom-width) var(--lumx-text-field-state-focus-input-border-left-width);

        @if $theme == "theme-light" {
            @if $validity == "valid" {
                border-color: lumx-color-variant("green", "N");
            } @else if $validity == "error" {
                border-color: lumx-color-variant("red", "N");
            }
        } @else if $theme == "theme-dark" {
            border-color: lumx-color-variant("light", "N");
        }
    }
}

@mixin lumx-text-field-input-icon($theme) {
    flex-shrink: 0;
    margin-top: calc(var(--lumx-text-field-wrapper-padding-vertical) + ((var(--lumx-material-text-field-input-content-line-height) - var(--lumx-size-xs)) / 2));
    margin-right: $lumx-spacing-unit;

    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "N");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "N");
    }
}

@mixin lumx-text-field-input-wrapper() {
    flex: 1 1 auto;
    padding: var(--lumx-text-field-wrapper-padding-vertical) 0;
}

@mixin lumx-text-field-input-native($theme) {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--lumx-material-text-field-input-content-font-size);
    line-height: var(--lumx-material-text-field-input-content-line-height);
    background-color: transparent;
    border: none;
    outline: none;

    // Always show the up/down arrow, not just on hover or focus
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
    }

    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "N");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "N");
    }
}

@mixin lumx-text-field-input-content-color($state, $theme) {
    color: var(--lumx-text-field-#{$state}-#{$theme}-input-content-color);
}

@mixin lumx-text-field-input-placeholder-color($state, $theme) {
    color: var(--lumx-text-field-#{$state}-#{$theme}-input-placeholder-color);
}

@mixin lumx-text-field-input-validity($validity, $theme) {
    flex-shrink: 0;
    margin-top: calc(var(--lumx-text-field-wrapper-padding-vertical) + ((var(--lumx-material-text-field-input-content-line-height) - var(--lumx-size-xxs)) / 2));
    margin-left: $lumx-spacing-unit;

    @if $theme == "theme-light" {
        @if $validity == "valid" {
            color: lumx-color-variant("green", "N");
        } @else if $validity == "error" {
            color: lumx-color-variant("red", "N");
        }
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "N");
    }
}

@mixin lumx-text-field-input-clear() {
    flex-shrink: 0;
    margin: calc(var(--lumx-text-field-wrapper-padding-vertical) + ((var(--lumx-material-text-field-input-content-line-height) - (var(--lumx-button-height) / 1.5)) / 2)) math.div($lumx-spacing-unit, 2);
    margin-right: 0;
}

@mixin lumx-text-field-chips() {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    margin: calc((var(--lumx-text-field-input-min-height) - var(--lumx-size-s) - 6px) / 2 + $lumx-chip-group-spacing) 0;
    gap: $lumx-chip-group-spacing * 2;
}
