@mixin lumx-text-field-wrapper($theme) {
    position: relative;
    display: flex;
    min-height: $lumx-text-field-min-height;
    align-items: flex-start;
    padding: 0 $lumx-text-field-horizontal-padding;
    border-radius: var(--lumx-border-radius);
    outline: none;
    transition-duration: $lumx-text-field-transition-duration;
    transition-property: background-color, box-shadow;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        background-color: lumx-color-variant('dark', 'L6');
        box-shadow: inset 0 0 0 1px lumx-color-variant('dark', 'L4');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        background-color: lumx-color-variant('light', 'L6');
        box-shadow: inset 0 0 0 1px lumx-color-variant('light', 'L4');
    }
}

@mixin lumx-text-field-wrapper-state($state, $theme) {
    @if $state == lumx-base-const('state', 'HOVER') {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('dark', 'L5');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: lumx-color-variant('light', 'L5');
        }
    } @else if $state == lumx-base-const('state', 'FOCUS') {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('light', 'N');
            box-shadow: inset 0 0 0 2px lumx-color-variant('primary', 'L2');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px lumx-color-variant('light', 'L2');
        }
    }
}

@mixin lumx-text-field-wrapper-validity($validity, $theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        @if $validity == 'valid' {
            box-shadow: inset 0 0 0 2px lumx-color-variant('green', 'N');
        } @else if $validity == 'error' {
            box-shadow: inset 0 0 0 2px lumx-color-variant('red', 'N');
        }
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        box-shadow: inset 0 0 0 2px lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-icon($theme) {
    flex-shrink: 0;
    margin-top: $lumx-text-field-vertical-padding;
    margin-right: $lumx-spacing-unit;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-wrapper() {
    flex: 1 1 auto;
    padding: $lumx-text-field-vertical-padding 0;
}

@mixin lumx-text-field-input-native($theme) {
    @include lumx-typography($lumx-text-field-input-typography);

    display: block;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    outline: none;

    &[type='number'] {
        appearance: textfield;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
        appearance: none;
    }

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-validity($validity, $theme) {
    flex-shrink: 0;
    margin-top: $lumx-text-field-vertical-padding +
        (($lumx-text-field-input-height - map-get($lumx-sizes, lumx-base-const('size', 'XXS'))) / 2);
    margin-left: $lumx-spacing-unit;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        @if $validity == 'valid' {
            color: lumx-color-variant('green', 'N');
        } @else if $validity == 'error' {
            color: lumx-color-variant('red', 'N');
        }
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-clear() {
    flex-shrink: 0;
    margin-top: $lumx-text-field-vertical-padding +
        (($lumx-text-field-input-height - map-get($lumx-sizes, lumx-base-const('size', 'S'))) / 2);
    margin-left: $lumx-spacing-unit / 2;
}

@mixin lumx-text-field-chips() {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    margin: $lumx-chip-group-spacing 0;

    .#{$lumx-base-prefix}-chip {
        margin: $lumx-chip-group-spacing 0;
        margin-right: $lumx-chip-group-spacing * 2;
    }
}

@mixin lumx-text-field-placeholder($theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'L2');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'L2');
    }
}
