$lumx-text-field-min-height: map-get($lumx-sizes, lumx-base-const('size', 'M'));
$lumx-text-field-input-typography: 'body1';
$lumx-text-field-input-height: map-get($lumx-typography-line-height, $lumx-text-field-input-typography);
$lumx-text-field-horizontal-padding: $lumx-spacing-unit * 1.5;
$lumx-text-field-vertical-padding: $lumx-spacing-unit;
$lumx-text-field-transition-duration: 100ms;
$lumx-text-field-min-width: 100px;
