/// Tabs links mixin to style tabs links according to the theme
///
/// @param {String} $theme - The tabs theme, either dark or light
@mixin lx-tabs-links($theme) {
    display: flex;
    border-bottom: 2px solid lx-theme-color-variant($theme, l5);
}

/// Tabs links position mixin to set tabs links position in clustered layout
///
/// @param {String} $position - The tabs links position in clustered layout, either left, center or right
@mixin lx-tabs-links-position($position) {
    @if $position == left {
        justify-content: flex-start;
    }

    @else if $position == center {
        justify-content: center;
    }

    @else if $position == right {
        justify-content: flex-end;
    }
}

/// Tabs link mixin to style tabs link according to the theme and the layout
///
/// @param {String} $theme - The tabs theme, either dark or light
@mixin lx-tabs-link($theme) {
    position: relative;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 $lx-base-spacing-unit * 3;
    cursor: pointer;
    outline: none;
    transition: color 0.2s;

    @if $theme == dark {
        color: lx-theme-color-variant(dark, n);
    }

    @else if $theme == light {
        color: lx-theme-color-variant(light, l2);
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        height: 2px;
        content: '';
    }

    i {
        margin-right: $lx-base-spacing-unit;
        font-size: 20px;
    }

    span {
        font-size: 14px;
        font-weight: 600;
    }
}

/// Tabs link layout mixin to syle tabs link according to the layout
///
/// @param {String} $layout - The tabs layout, either fixed or clustered
@mixin lx-tabs-link-layout($layout) {
    @if $layout == fixed {
        flex: 1;
    }
}

/// Tabs link state mixin to style tabs link according to the state and the theme
///
/// @param {String} $state - The tabs link state, either hover, focus, active or disabled
/// @param {String} $theme - The tabs theme, either dark or light
@mixin lx-tabs-link-state($state, $theme) {
    @if $state == hover {
        @if $theme == dark {
            color: lx-theme-color-variant(primary, n);
        }

        @else if $theme == light {
            color: lx-theme-color-variant(light, n);
        }
    }

    @else if $state == focus {
        @if $theme == dark {
            box-shadow: 0 0 0 2px lx-theme-color-variant(primary, l3);
        }

        @else if $theme == light {
            box-shadow: 0 0 0 2px lx-theme-color-variant(light, l3);
        }
    }

    @else if $state == active {
        @if $theme == dark {
            color: lx-theme-color-variant(primary, n);

            &::after {
                background-color: lx-theme-color-variant(primary, n);
            }
        }

        @else if $theme == light {
            color: lx-theme-color-variant(light, n);

            &::after {
                background-color: lx-theme-color-variant(light, n);
            }
        }
    }

    @else if $state == disabled {
        color: lx-theme-color-variant($theme, l3);
    }
}
