@mixin lumx-link-base() {
    display: inline-flex;
    align-items: center;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    &:hover:not(:disabled),
    &[data-focus-visible-added]:not(:disabled) {
        text-decoration: underline;
    }
}

@mixin lumx-link-color($color, $variant) {
    color: lumx-color-variant($color, $variant);
}

@mixin lumx-link($color: "primary", $variant: "N") {
    @include lumx-link-base;
    @include lumx-link-color($color, $variant);
}
