@mixin lumx-link-base() {
    display: inline;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    // Inherit parent typography
    &:not(#{&}--has-typography) {
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    &:hover,
    &[data-lumx-hover],
    &[data-focus-visible-added] {
        text-decoration: underline;
    }

    &[data-focus-visible-added],
    &:focus-visible {
        outline: 1px auto currentColor;
        outline-offset: 2px;
    }
}

@mixin lumx-link-color($color, $variant) {
    color: lumx-color-variant($color, $variant);
}

@mixin lumx-link($color: "primary", $variant: "N") {
    @include lumx-link-base;
    @include lumx-link-color($color, $variant);
}
