/* ==========================================================================
   Fieldset
   ========================================================================== */

.#{$lumx-base-prefix}-fieldset {
    border: none;
    margin-top: $lumx-spacing-unit-huge;

    &__wrapper {
        margin-top: $lumx-spacing-unit-big;
    }

    &--emphasis-high {
        legend {
            @include lumx-typography('title');
        }
    }

    &--emphasis-medium {
        legend {
            @include lumx-typography('subtitle2');
        }
    }

    &--emphasis-low {
        legend {
            @include lumx-typography('subtitle1');
        }
    }
}
