/* ==========================================================================
   Chip
   ========================================================================== */

.#{$lumx-base-prefix}-chip {
    $self: &;

    @include lumx-chip-base;

    &__before {
        @include lumx-chip-before;
    }

    &__label {
        #{$self}--size-m & {
            @include lumx-chip-label(lumx-base-const("size", "M"));
        }

        #{$self}--size-s & {
            @include lumx-chip-label(lumx-base-const("size", "S"));
        }
    }

    &__after {
        @include lumx-chip-after;
    }
}

/* Chip size
   ========================================================================== */

.#{$lumx-base-prefix}-chip--size-m {
    @include lumx-chip-size(lumx-base-const("size", "M"));

    padding: 0 var(--lumx-material-chip-size-m-padding-vertical);

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit * 1.5;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit * 1.5;
    }
}

.#{$lumx-base-prefix}-chip--size-s {
    @include lumx-chip-size(lumx-base-const("size", "S"));

    padding: 0 var(--lumx-material-chip-size-s-padding-vertical);

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit;
    }
}

/* Chip states
   ========================================================================== */

.#{$lumx-base-prefix}-chip--is-clickable {
    @include lumx-state-transition;

    cursor: pointer;
}

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-chip--is-unselected.#{$lumx-base-prefix}-chip--color-#{$key} {
        @include lumx-state(lumx-base-const("state", "DEFAULT"), lumx-base-const("emphasis", "MEDIUM"), $key);

        &.#{$lumx-base-prefix}-chip--is-clickable {
            &:hover,
            &[data-lumx-hover] {
                @include lumx-state(lumx-base-const("state", "HOVER"), lumx-base-const("emphasis", "MEDIUM"), $key);
            }

            &:active,
            &[data-lumx-active] {
                @include lumx-state(lumx-base-const("state", "ACTIVE"), lumx-base-const("emphasis", "MEDIUM"), $key);
            }
        }

        @if $key == "dark" {
            .#{$lumx-base-prefix}-chip__label {
                color: lumx-color-variant("dark", "L1");
            }
        }
    }

    .#{$lumx-base-prefix}-chip--color-#{$key} {
        &[data-focus-visible-added], &.#{$lumx-base-prefix}-chip--is-highlighted {
            @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "MEDIUM"), $key);
        }
    }
}

.#{$lumx-base-prefix}-chip--is-selected {
    &.#{$lumx-base-prefix}-chip--color-dark {
        @include lumx-state-as-selected(
            lumx-base-const("state", "DEFAULT"),
            lumx-base-const("theme", "LIGHT"),
            "chip"
        );

        &.#{$lumx-base-prefix}-chip--is-clickable {
            &:hover,
            &[data-lumx-hover] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "HOVER"),
                    lumx-base-const("theme", "LIGHT"),
                    "chip"
                );
            }

            &:active,
            &[data-lumx-active] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "ACTIVE"),
                    lumx-base-const("theme", "LIGHT"),
                    "chip"
                );
            }

            &[data-focus-visible-added] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "FOCUS"),
                    lumx-base-const("theme", "LIGHT"),
                    "chip"
                );
            }
        }
    }

    &.#{$lumx-base-prefix}-chip--color-light {
        @include lumx-state-as-selected(
            lumx-base-const("state", "DEFAULT"),
            lumx-base-const("theme", "DARK"),
            "chip"
        );

        &.#{$lumx-base-prefix}-chip--is-clickable {
            &:hover,
            &[data-lumx-hover] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "HOVER"),
                    lumx-base-const("theme", "DARK"),
                    "chip"
                );
            }

            &:active,
            &[data-lumx-active] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "ACTIVE"),
                    lumx-base-const("theme", "DARK"),
                    "chip"
                );
            }

            &[data-focus-visible-added] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "FOCUS"),
                    lumx-base-const("theme", "DARK"),
                    "chip"
                );
            }
        }
    }
}

.#{$lumx-base-prefix}-chip--is-disabled {
    @include lumx-state-disabled-input;
}

/* Chip group
   ========================================================================== */

.#{$lumx-base-prefix}-chip-group {
    display: flex;
    flex-wrap: wrap;
    gap: $lumx-chip-group-spacing * 2;
}
