/* Chip size
   ========================================================================== */

.#{$lumx-base-prefix}-chip--size-m {
    padding: 0 $lumx-spacing-unit * 1.5;
}

.#{$lumx-base-prefix}-chip--size-s {
    padding: 0 $lumx-spacing-unit;
    border-radius: 2px;
}
