/* ==========================================================================
   Chip
   ========================================================================== */

.#{$lumx-base-prefix}-chip {
    $self: &;

    @include lumx-chip-base;

    &__before {
        @include lumx-chip-before;
    }

    &__label {
        #{$self}--size-m & {
            @include lumx-chip-label(lumx-base-const('size', 'M'));
        }

        #{$self}--size-s & {
            @include lumx-chip-label(lumx-base-const('size', 'S'));
        }
    }

    &__after {
        @include lumx-chip-after;
    }
}

/* Chip size
   ========================================================================== */

.#{$lumx-base-prefix}-chip--size-m {
    @include lumx-chip-size(lumx-base-const('size', 'M'));

    padding: 0 var(--lumx-chip-size-m-padding-vertical);

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit * 1.5;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit * 1.5;
    }
}

.#{$lumx-base-prefix}-chip--size-s {
    @include lumx-chip-size(lumx-base-const('size', 'S'));

    padding: 0 var(--lumx-chip-size-s-padding-vertical);

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit;
    }
}

/* Chip states
   ========================================================================== */

.#{$lumx-base-prefix}-chip--is-clickable {
    @include lumx-state-transition;

    cursor: pointer;
}

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-chip--is-unselected.#{$lumx-base-prefix}-chip--color-#{$key} {
        @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'MEDIUM'), $key);

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'MEDIUM'), $key);
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'MEDIUM'), $key);
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added],
        &.#{$lumx-base-prefix}-chip--is-highlighted {
            @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'MEDIUM'), $key);
        }
    }
}

.#{$lumx-base-prefix}-chip--is-selected {
    &.#{$lumx-base-prefix}-chip--color-dark {
        @include lumx-state-as-selected(lumx-base-const('state', 'DEFAULT'), lumx-base-const('theme', 'LIGHT'));

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state-as-selected(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state-as-selected(lumx-base-const('state', 'ACTIVE'), lumx-base-const('theme', 'LIGHT'));
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added] {
            @include lumx-state-as-selected(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-chip--color-light {
        @include lumx-state-as-selected(lumx-base-const('state', 'DEFAULT'), lumx-base-const('theme', 'DARK'));

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state-as-selected(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'DARK'));
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state-as-selected(lumx-base-const('state', 'ACTIVE'), lumx-base-const('theme', 'DARK'));
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added] {
            @include lumx-state-as-selected(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'DARK'));
        }
    }
}

.#{$lumx-base-prefix}-chip--is-disabled {
    @include lumx-state-disabled-input;
}

/* Chip group
   ========================================================================== */

.#{$lumx-base-prefix}-chip-group {
    display: flex;
    flex-wrap: wrap;
    margin: -$lumx-chip-group-spacing 0;

    .#{$lumx-base-prefix}-chip {
        margin: $lumx-chip-group-spacing 0;
    }

    &--align-left .#{$lumx-base-prefix}-chip {
        margin-right: $lumx-chip-group-spacing * 2;
    }

    &--align-center .#{$lumx-base-prefix}-chip {
        margin-right: $lumx-chip-group-spacing;
        margin-left: $lumx-chip-group-spacing;
    }

    &--align-right .#{$lumx-base-prefix}-chip {
        margin-left: $lumx-chip-group-spacing * 2;
    }
}
