@mixin lumx-chip-base() {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    vertical-align: top;
    user-select: none;
    border: none;
    outline: none;
}

@mixin lumx-chip-size($size) {
    height: var(--lumx-material-chip-size-#{$size}-height);
    border-radius: var(--lumx-material-chip-size-#{$size}-border-radius);
}

@mixin lumx-chip-before() {
    display: inline-flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    padding-right: $lumx-spacing-unit/2;
}

@mixin lumx-chip-label($size) {
    display: inline-flex;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    white-space: nowrap;

    @if $size == lumx-base-const("size", "M") {
        @include lumx-typography("body1");
    } @else if $size == lumx-base-const("size", "S") {
        @include lumx-typography("caption");
    }
}

@mixin lumx-chip-after() {
    display: inline-flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    padding-left: $lumx-spacing-unit/2;
}
