@mixin lumx-chip-base() {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    text-decoration: none;
    user-select: none;
    vertical-align: top;
}

@mixin lumx-chip-size($size) {
    height: var(--lumx-chip-size-#{$size}-height);
    border-radius: var(--lumx-chip-size-#{$size}-border-radius);
}

@mixin lumx-chip-before() {
    flex-shrink: 0;
    margin-right: $lumx-spacing-unit;
}

@mixin lumx-chip-label($size) {
    flex: 1 1 auto;
    white-space: nowrap;

    @if $size == lumx-base-const('size', 'M') {
        @include lumx-typography('body1');
    } @else if $size == lumx-base-const('size', 'S') {
        @include lumx-typography('caption');
    }
}

@mixin lumx-chip-after() {
    flex-shrink: 0;
    margin-left: $lumx-spacing-unit;
}
