$lumx-theme-dark: (
    'N': #28336d,
    'L1': rgba(#28336d, 0.8),
    'L2': rgba(#28336d, 0.6),
    'L3': rgba(#28336d, 0.4),
    'L4': rgba(#28336d, 0.2),
    'L5': rgba(#28336d, 0.1),
    'L6': rgba(#28336d, 0.05)
) !default;

$lumx-theme-light: (
    'N': #fff,
    'L1': rgba(#fff, 0.9),
    'L2': rgba(#fff, 0.8),
    'L3': rgba(#fff, 0.6),
    'L4': rgba(#fff, 0.4),
    'L5': rgba(#fff, 0.2),
    'L6': rgba(#fff, 0.1)
) !default;

$lumx-theme-blue: (
    'D2': #2972e2,
    'D1': #2885f6,
    'N': #2493ff,
    'L1': rgba(#2493ff, 0.8),
    'L2': rgba(#2493ff, 0.6),
    'L3': rgba(#2493ff, 0.4),
    'L4': rgba(#2493ff, 0.2),
    'L5': rgba(#2493ff, 0.1),
    'L6': rgba(#2493ff, 0.05)
) !default;

$lumx-theme-yellow: (
    'D2': #fea41c,
    'D1': #ffb71f,
    'N': #ffc525,
    'L1': rgba(#ffc525, 0.8),
    'L2': rgba(#ffc525, 0.6),
    'L3': rgba(#ffc525, 0.4),
    'L4': rgba(#ffc525, 0.2),
    'L5': rgba(#ffc525, 0.1),
    'L6': rgba(#ffc525, 0.05)
) !default;

$lumx-theme-red: (
    'D2': #c2395a,
    'D1': #d83e5e,
    'N': #e94361,
    'L1': rgba(#e94361, 0.8),
    'L2': rgba(#e94361, 0.6),
    'L3': rgba(#e94361, 0.4),
    'L4': rgba(#e94361, 0.2),
    'L5': rgba(#e94361, 0.1),
    'L6': rgba(#e94361, 0.05)
) !default;

$lumx-theme-green: (
    'D2': #008f4e,
    'D1': #0fa15a,
    'N': #19b065,
    'L1': rgba(#19b065, 0.8),
    'L2': rgba(#19b065, 0.6),
    'L3': rgba(#19b065, 0.4),
    'L4': rgba(#19b065, 0.2),
    'L5': rgba(#19b065, 0.1),
    'L6': rgba(#19b065, 0.05)
) !default;
