$lumx-theme-primary: $lumx-theme-blue !default;
$lumx-theme-secondary: $lumx-theme-yellow !default;

$lumx-theme-color-palette: (
    'primary': $lumx-theme-primary,
    'secondary': $lumx-theme-secondary,
    'dark': $lumx-theme-dark,
    'light': $lumx-theme-light,
    'blue': $lumx-theme-blue,
    'yellow': $lumx-theme-yellow,
    'red': $lumx-theme-red,
    'green': $lumx-theme-green
) !default;

$lumx-theme-color-variants: ('D2', 'D1', 'N', 'L1', 'L2', 'L3', 'L4', 'L5', 'L6');

$lumx-theme-border-radius: 4px !default;
