@use "sass:string";
@use "sass:math";

/* ==========================================================================
   Grid
   ========================================================================== */

.lumx-grid {
    display: flex;

    &--orientation-horizontal {
        flex-direction: row;
    }

    &--orientation-vertical {
        flex-direction: column;
    }
}

/* Grid wrap
   ========================================================================== */

.lumx-grid--wrap-nowrap {
    flex-wrap: nowrap;
}

.lumx-grid--wrap-wrap {
    flex-wrap: wrap;
}

.lumx-grid--wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Grid alignment
   ========================================================================== */

.lumx-grid--orientation-horizontal.lumx-grid--h-align-top,
.lumx-grid--orientation-vertical.lumx-grid--v-align-left {
    align-items: flex-start;
}

.lumx-grid--orientation-horizontal.lumx-grid--h-align-center,
.lumx-grid--orientation-vertical.lumx-grid--v-align-center {
    align-items: center;
}

.lumx-grid--orientation-horizontal.lumx-grid--h-align-bottom,
.lumx-grid--orientation-vertical.lumx-grid--v-align-right {
    align-items: flex-end;
}

.lumx-grid--orientation-horizontal.lumx-grid--v-align-left,
.lumx-grid--orientation-vertical.lumx-grid--h-align-top {
    justify-content: flex-start;
}

.lumx-grid--orientation-horizontal.lumx-grid--v-align-center,
.lumx-grid--orientation-vertical.lumx-grid--h-align-center {
    justify-content: center;
}

.lumx-grid--orientation-horizontal.lumx-grid--v-align-right,
.lumx-grid--orientation-vertical.lumx-grid--h-align-bottom {
    justify-content: flex-end;
}

.lumx-grid--orientation-horizontal.lumx-grid--v-align-space-around,
.lumx-grid--orientation-vertical.lumx-grid--h-align-space-around {
    justify-content: space-around;
}

.lumx-grid--orientation-horizontal.lumx-grid--v-align-space-between,
.lumx-grid--orientation-vertical.lumx-grid--h-align-space-between {
    justify-content: space-between;
}

/* Grid item
   ========================================================================== */

.lumx-grid-item {
    position: relative;
    flex: 1 1 auto;

    &--align-start {
        align-self: flex-start;
    }

    &--align-center {
        align-self: center;
    }

    &--align-end {
        align-self: end;
    }
}

/* Grid item order
   ========================================================================== */

@for $i from 1 through 12 {
    .lumx-grid-item--order-#{$i} {
        order: $i;
    }
}

/* Grid spacings
   ========================================================================== */

.lumx-grid--gutter-regular {
    margin: 0 (math.div($lumx-spacing-unit, 2) * -1);

    & > .lumx-grid-item {
        padding: 0 math.div($lumx-spacing-unit, 2);
    }
}

.lumx-grid--gutter-big {
    margin: 0 ($lumx-spacing-unit * -1);

    & > .lumx-grid-item {
        padding: 0 $lumx-spacing-unit;
    }
}

.lumx-grid--gutter-huge {
    margin: 0 ($lumx-spacing-unit * 1.5) * -1;

    & > .lumx-grid-item {
        padding: 0 $lumx-spacing-unit * 1.5;
    }
}

/* Grid widths
   ========================================================================== */

@for $i from 1 through 12 {
    .lumx-grid--orientation-horizontal > .lumx-grid-item--width-#{$i} {
        flex: string.unquote("0 0 #{math.div(100, 12) * $i + "%"}");
        max-width: #{math.div(100, 12) * $i + "%"};
    }

    .lumx-grid--orientation-vertical > .lumx-grid-item--width-#{$i} {
        flex: string.unquote("0 0 #{math.div(100, 12) * $i + "%"}");
        max-height: #{math.div(100, 12) * $i + "%"};
    }
}
