<nglx-toolbar>
    <nglx-toolbar-before>
        <nglx-button lx-emphasis="low" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiChevronLeft }}"></nglx-icon>
        </nglx-button>
    </nglx-toolbar-before>

    <nglx-toolbar-label>
        <span class="lx-typography-title">Toolbar label</span>
    </nglx-toolbar-label>

    <nglx-toolbar-after>
        <div lx-grid-container="row">
            <nglx-button lx-emphasis="low" lx-variant="icon">
                <nglx-icon lx-path="{{ vm.icons.mdiMagnify }}"></nglx-icon>
            </nglx-button>

            <nglx-button lx-emphasis="low" lx-variant="icon">
                <nglx-icon lx-path="{{ vm.icons.mdiDotsVertical }}"></nglx-icon>
            </nglx-button>
        </div>
    </nglx-toolbar-after>
</nglx-toolbar>
