@import "sass-mq";
@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";
@import "@lumx/core/scss/components/link/mixins";
@import "../variables";

/* ==========================================================================
   Main nav
   ========================================================================== */

$transition-duration: 300ms;

.main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $main-nav-width;
    overflow-y: auto;
    background-color: white;

    // Non responsive: hide side nav close button
    @include mq($from: desktop) {
        &__close-button {
            display: none !important;
        }
    }

    // Responsive: side nav overlay
    @include mq($until: desktop) {
        @include lumx-elevation(4);

        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        transition:
            visibility $transition-duration,
            transform $transition-duration,
            opacity $transition-duration linear 100ms;
        transform: translateX(-24px);

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &--is-open {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }

        &__close-button {
            position: absolute !important;
            top: $lumx-spacing-unit;
            right: $lumx-spacing-unit;
        }
    }

    &__wrapper {
        position: relative;
        min-height: 100%;
        padding: $lumx-spacing-unit * 6 $lumx-spacing-unit * 4;
        background-color: lumx-color-variant("dark", "L6");
    }

    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 999;
        width: 100vw;
        visibility: hidden;
        background-color: lumx-color-variant("dark", "L1");
        border: none;
        opacity: 0;
        transition: opacity $transition-duration, visibility $transition-duration;
        appearance: none !important;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        // Backdrop when responsive nav is open
        @include mq($until: desktop) {
            &--is-open {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .home-logo-link {
        margin-bottom: $lumx-spacing-unit * 4;
    }

    &__item--dimmed {
        .lumx-side-navigation-item__link {
            opacity: 0.5;
        }
    }
}
