@import './color-palette';

$lx-theme-primary: $lx-theme-blue !default;
$lx-theme-secondary: $lx-theme-yellow !default;

$lx-theme-color-palette: (
    primary: $lx-theme-primary,
    secondary: $lx-theme-secondary,
    dark: $lx-theme-dark,
    light: $lx-theme-light,
    blue: $lx-theme-blue,
    yellow: $lx-theme-yellow,
    red: $lx-theme-red,
    green: $lx-theme-green
) !default;

$lx-theme-color-variants: (N, L1, L2, L3, L4, L5, L6);

$lx-theme-border-radius: 4px !default;
