<main-header category="Components" title="Chips">
    <p>
        ghjghj enim eget ligula fermentum, in aliquam lorem congue. Vivamus lacinia consectetur mollis.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Default"
    path="demo/angularjs/components/stepper-dialog/partials/default.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu sem et mauris convallis tempor. Mauris placerat
        enim eget ligula fermentum, in aliquam lorem congue. Vivamus lacinia consectetur mollis.
    </p>
</main-block>
