<main-header category="Components" title="Stepper dialog">
    <p>
        Stepper dialog is the combination of a stepper indicator and a dialog.
    </p>
</main-header>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-dialog/partials/step-1.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <div class="mt">
        <strong>First step</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-dialog/partials/step-2.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <div class="mt">
        <strong>Second step</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-dialog/partials/step-4.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <div class="mt">
        <strong>Final step</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-dialog/partials/step-2-m.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <div class="mt">
        <strong>Mandatory step</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-dialog/partials/step-4-e.html"
    js-path="demo/angularjs/components/stepper-dialog//controller.js"
>
    <div class="mt">
        <strong>Final step with error state</strong>
    </div>
</main-block>
