<div lx-grid-container="row" lx-grid-h-align="center">
    <div lx-grid-item>
        <span>{{ vm.selectedRows.length || 0 }} selected item(s)</span>
    </div>

    <lumx-button lx-emphasis="low" lx-variant="icon" ng-if="vm.selectedRows.length === 1">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
    </lumx-button>

    <lumx-button lx-emphasis="low" lx-variant="icon" ng-if="vm.selectedRows.length >= 1">
        <lumx-icon lx-path="{{ vm.icons.mdiDelete }}"></lumx-icon>
    </lumx-button>
</div>

<div class="lx-theme-background-blue-N">
    <lumx-data-table
        id="{{ vm.dataTableDemo }}"
        lx-has-border="true"
        lx-has-bulk="true"
        lx-is-activable="true"
        lx-is-selectable="true"
        lx-thead="vm.dataTableThead"
        lx-tbody="vm.dataTableTbody"
        lx-theme="dark"
    ></lumx-data-table>
</div>

<lumx-data-table
    lx-has-border="true"
    lx-has-bulk="true"
    lx-has-thumbnail="true"
    lx-is-selectable="true"
    lx-thead="vm.advancedDataTableThead"
    lx-tbody="vm.dataTableTbody"
></lumx-data-table>
