<th
    class="lumx-table__cell lumx-table__cell--head"
    ng-class="{ 'lumx-table__cell--is-sortable': lumx.isSortable,
                'lumx-table__cell--is-sorted': lumx.isSortable && lumx.sortOrder }"
    scope="{{ lumx.scope }}"
    tabindex="{{ lumx.isSortable ? 0 : -1 }}"
>
    <div class="lumx-table__cell-wrapper">
        <lumx-icon
            class="lumx-table__cell-icon"
            lumx-path="{{ lumx.icon }}"
            lumx-size="xxs"
            ng-if="lumx.icon && !lumx.isSortable"
        ></lumx-icon>

        <lumx-icon
            class="lumx-table__cell-icon"
            lumx-path="{{ lumx.icons.mdiArrowUp }}"
            lumx-size="xxs"
            ng-if="lumx.isSortable && lumx.sortOrder === 'asc'"
        ></lumx-icon>

        <lumx-icon
            class="lumx-table__cell-icon"
            lumx-path="{{ lumx.icons.mdiArrowDown }}"
            lumx-size="xxs"
            ng-if="lumx.isSortable && lumx.sortOrder === 'desc'"
        ></lumx-icon>

        <div class="lumx-table__cell-content" ng-transclude></div>
    </div>
</th>
