@mixin lumx-input-helper($theme) {
    display: block;
    font-size: var(--lumx-material-input-helper-font-size);
    font-weight: var(--lumx-material-input-helper-font-weight);
    line-height: var(--lumx-material-input-helper-line-height);

    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "L2");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "L2");
    }
}
