@mixin lumx-input-helper($theme) {
    display: block;
    font-size: var(--lumx-input-helper-font-size);
    font-weight: var(--lumx-input-helper-font-weight);
    line-height: var(--lumx-input-helper-line-height);

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'L2');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'L2');
    }
}
