/* ==========================================================================
   Checkbox
   ========================================================================== */

@import "./variables";

.lx-checkbox {
    display: flex;

    &__input {
        position: relative;
        width: $lx-checkbox-size;
        height: $lx-checkbox-size;
    }

    &__native-control {
        position: relative;
        z-index: 2;
        top: 0;
        left: 0;
        width: $lx-checkbox-size;
        height: $lx-checkbox-size;
        padding: 0;
        margin: 0;
        cursor: pointer;
        opacity: 0;
    }

    &__background {
        position: absolute;
        z-index: 1;
        top: -($lx-base-spacing-unit);
        left: -($lx-base-spacing-unit);
        width: $lx-checkbox-ripple-size;
        height: $lx-checkbox-ripple-size;
        border-radius: 50%;

        &::after {
            @include lx-icon-base;

            display: flex;
            width: $lx-checkbox-ripple-size;
            height: $lx-checkbox-ripple-size;
            align-items: center;
            justify-content: center;
            font-size: lx-typography-to-rem(22px);
        }
    }

    &__content {
        margin-left: $lx-base-spacing-unit * 2;
    }

    &__label {
        @include lx-typography(body1);

        display: block;
        color: rgba(#000, map-get($lx-theme-text-opacities, high));
    }

    &__help {
        @include lx-typography(caption);

        display: block;
        color: rgba(#000, map-get($lx-theme-text-opacities, medium));
    }
}

/* Checkbox states
   ========================================================================== */

/* Unchecked */

.lx-checkbox .lx-checkbox__native-control:not(:checked) {
    & + .lx-checkbox__background::after {
        color: rgba(#000, map-get($lx-theme-text-opacities, medium));
        content: mdi('checkbox-blank-outline');
    }

    &:hover + .lx-checkbox__background::before {
        background-color: rgba(#000, map-get($lx-ripple-light-opacities, hover));
    }

    &:focus + .lx-checkbox__background::before {
        background-color: rgba(#000, map-get($lx-ripple-light-opacities, focus));
    }

    & + .lx-checkbox__background #{$lx-ripple-identifier} {
        background-color: rgba(#000, map-get($lx-ripple-light-opacities, ripple));
    }
}

/* Checked */

.lx-checkbox .lx-checkbox__native-control:checked {
    & + .lx-checkbox__background::after {
        color: map-get($lx-theme-colors, secondary);
        content: mdi('checkbox-marked');
    }

    &:hover + .lx-checkbox__background::before {
        background-color: rgba(map-get($lx-theme-colors, secondary), map-get($lx-ripple-light-opacities, hover));
    }

    &:focus + .lx-checkbox__background::before {
        background-color: rgba(map-get($lx-theme-colors, secondary), map-get($lx-ripple-light-opacities, focus));
    }

    & + .lx-checkbox__background #{$lx-ripple-identifier} {
        background-color: rgba(map-get($lx-theme-colors, secondary), map-get($lx-ripple-light-opacities, ripple));
    }
}

/* Disabled */

.lx-checkbox.lx-checkbox--is-disabled {
    .lx-checkbox__native-control {
        cursor: default;
        pointer-events: none;

        & + .lx-checkbox__background::after {
            color: rgba(#000, map-get($lx-theme-text-opacities, disabled));
        }
    }

    .lx-checkbox__label {
        color: rgba(#000, map-get($lx-theme-text-opacities, disabled));
        pointer-events: none;
    }

    .lx-checkbox__help {
        color: rgba(#000, map-get($lx-theme-text-opacities, disabled));
    }
}
