/* ==========================================================================
   Input helper
   ========================================================================== */

.#{$lumx-base-prefix}-input-helper {
    $self: &;

    &--theme-light {
        @include lumx-input-helper(lumx-base-const('theme', 'LIGHT'));

        @each $color in $lumx-input-helper-color-palette {
            &#{$self}--color-#{$color} {
                color: lumx-color-variant($color, 'D1');
            }
        }
    }

    &--theme-dark {
        @include lumx-input-helper(lumx-base-const('theme', 'DARK'));
    }

    &__icon {
        margin-right: $lumx-spacing-unit / 2;
    }
}
