@mixin lumx-input-helper($theme) {
    @include lumx-typography($lumx-input-helper-typography);

    display: flex;
    align-items: center;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'L2');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'L2');
    }
}
