<!-- Theme light (m) -->

<div class="p++ lx-theme-background-dark-L6">
    <lx-button>Default</lx-button>
    <lx-button ng-disabled="true">Disabled</lx-button>

    <lx-button>
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button>
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lx-button lx-emphasis="medium">Default</lx-button>
    <lx-button lx-emphasis="medium" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="medium">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="medium">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lx-button lx-emphasis="low">Default</lx-button>
    <lx-button lx-emphasis="low" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="low">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="low">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="low" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lx-button lx-size="s">Default</lx-button>
    <lx-button lx-size="s" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-size="s">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-size="s">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-size="s" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<!-- Theme light (s) -->

<div class="p++ lx-theme-background-dark-L6">
    <lx-button lx-emphasis="medium" lx-size="s">Default</lx-button>
    <lx-button lx-emphasis="medium" lx-size="s" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="medium" lx-size="s">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-size="s">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-size="s" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lx-button lx-emphasis="low" lx-size="s">Default</lx-button>
    <lx-button lx-emphasis="low" lx-size="s" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="low" lx-size="s">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="low" lx-size="s">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="low" lx-size="s" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<!-- Theme dark (m) -->

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-theme="dark">Default</lx-button>
    <lx-button lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-emphasis="medium" lx-theme="dark">Default</lx-button>
    <lx-button lx-emphasis="medium" lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="medium" lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-emphasis="low" lx-theme="dark">Default</lx-button>
    <lx-button lx-emphasis="low" lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="low" lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="low" lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="low" lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-size="s" lx-theme="dark">Default</lx-button>
    <lx-button lx-size="s" lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-size="s" lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-size="s" lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-size="s" lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<!-- Theme dark (s) -->

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-emphasis="medium" lx-size="s" lx-theme="dark">Default</lx-button>
    <lx-button lx-emphasis="medium" lx-size="s" lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="medium" lx-size="s" lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-size="s" lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="medium" lx-size="s" lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lx-button lx-emphasis="low" lx-size="s" lx-theme="dark">Default</lx-button>
    <lx-button lx-emphasis="low" lx-size="s" lx-theme="dark" ng-disabled="true">Disabled</lx-button>

    <lx-button lx-emphasis="low" lx-size="s" lx-theme="dark">
        <lx-icon lx-path="{{ vm.icons.mdiPencil }}"></lx-icon>
        <span>With Icon</span>
    </lx-button>

    <lx-button lx-emphasis="low" lx-size="s" lx-theme="dark">
        <span>Dropdown</span>
        <lx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lx-icon>
    </lx-button>

    <lx-button lx-emphasis="low" lx-size="s" lx-theme="dark" lx-variant="icon">
        <lx-icon lx-path="{{ vm.icons.mdiPlus }}"></lx-icon>
    </lx-button>
</div>
