<div
    class="lumx-slideshow"
    ng-class="{ 'lumx-slideshow--fill-height': lumx.fillHeight,
                'lumx-slideshow--theme-light': !lumx.theme || lumx.theme === 'light',
                'lumx-slideshow--theme-dark': lumx.theme === 'dark' }"
    tabindex="0"
>
    <div class="lumx-slideshow__slides">
        <div class="lumx-slideshow__wrapper" ng-style="lumx.wrapperStyle" ng-transclude></div>
    </div>

    <div class="lumx-slideshow__controls" ng-if="lumx.hasControls">
        <lumx-slideshow-controls
            lumx-active-index="lumx.activeIndex"
            lumx-on-next-click="lumx.stopAutoPlay()"
            lumx-on-pagination-click="lumx.stopAutoPlay()"
            lumx-on-previous-click="lumx.stopAutoPlay()"
            lumx-slides-count="lumx.slidesCount"
            lumx-theme="{{ lumx.theme }}"
        ></lumx-slideshow-controls>
    </div>
</div>
