/* ==========================================================================
   Button
   ========================================================================== */

.#{$lumx-base-prefix}-button {
    @include lumx-state-transition;
    @include lumx-button-base;
}

/* Button sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    @if $key == s or $key == m {
        .#{$lumx-base-prefix}-button--size-#{$key} {
            &.#{$lumx-base-prefix}-button--emphasis-high {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size('emphasis-high', 'variant-button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size('emphasis-high', 'variant-icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--emphasis-medium {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size('emphasis-medium', 'variant-button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size('emphasis-medium', 'variant-icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--emphasis-low {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size('emphasis-low', 'variant-button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size('emphasis-low', 'variant-icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--variant-button {
                i:first-child {
                    @include lumx-button-icon('variant-button', $key, 'position-left');
                }

                i:last-child {
                    @include lumx-button-icon('variant-button', $key, 'position-right');
                }
            }

            &.#{$lumx-base-prefix}-button--variant-icon {
                i {
                    @include lumx-button-icon('variant-icon', $key);
                }
            }

            span {
                @include lumx-button-text($key);
            }
        }
    }
}

/* Button reduced spacing
   ========================================================================== */

.#{$lumx-base-prefix}-button--variant-button.#{$lumx-base-prefix}-button--emphasis-high,
.#{$lumx-base-prefix}-button--variant-button.#{$lumx-base-prefix}-button--emphasis-medium {
    &.#{$lumx-base-prefix}-button--size-m {
        &.#{$lumx-base-prefix}-button--has-left-icon {
            @include lumx-button-reduced-spacing('m', 'left');
        }

        &.#{$lumx-base-prefix}-button--has-right-icon {
            @include lumx-button-reduced-spacing('m', 'right');
        }
    }

    &.#{$lumx-base-prefix}-button--size-s {
        &.#{$lumx-base-prefix}-button--has-left-icon {
            @include lumx-button-reduced-spacing('s', 'left');
        }

        &.#{$lumx-base-prefix}-button--has-right-icon {
            @include lumx-button-reduced-spacing('s', 'right');
        }
    }
}

/* Button colors
   ========================================================================== */

@each $key, $color in $lumx-theme-color-palette {
    @if $key != dark and $key != light {
        .#{$lumx-base-prefix}-button--color-#{$key} {
            &.#{$lumx-base-prefix}-button--emphasis-high.#{$lumx-base-prefix}-button--theme-light {
                @include lumx-button-color('emphasis-high', $key, 'dark');
            }

            &.#{$lumx-base-prefix}-button--emphasis-high.#{$lumx-base-prefix}-button--theme-dark {
                @include lumx-button-color('emphasis-high', $key, 'light');
            }
        }
    }
}

@each $key, $color in $lumx-theme-color-palette {
    .#{$lumx-base-prefix}-button--color-#{$key} {
        &.#{$lumx-base-prefix}-button--emphasis-medium {
            @include lumx-button-color('emphasis-medium', $key);
        }

        &.#{$lumx-base-prefix}-button--emphasis-low {
            @include lumx-button-color('emphasis-low', $key);
        }
    }
}

/* Toggle button
   ========================================================================== */

.#{$lumx-base-prefix}-button--is-selected {
    &.#{$lumx-base-prefix}-button--color-dark,
    &.#{$lumx-base-prefix}-button--theme-light {
        @include lumx-button-is-selected('dark');
    }

    &.#{$lumx-base-prefix}-button--color-light,
    &.#{$lumx-base-prefix}-button--theme-dark {
        @include lumx-button-is-selected('light');
    }
}

/* Button wrapper
   ========================================================================== */

.#{$lumx-base-prefix}-button-wrapper {
    &--variant-button {
        border-radius: $lumx-theme-border-radius;
    }

    &--variant-icon {
        border-radius: 50%;
    }

    &--color-light {
        background-color: lumx-theme-color-variant('light', 'N');
    }

    &--color-dark {
        background-color: lumx-theme-color-variant('dark', 'N');
    }
}

/* Button group
   ========================================================================== */

.#{$lumx-base-prefix}-button-group {
    display: inline-flex;
    vertical-align: top;

    .#{$lumx-base-prefix}-button {
        margin-right: 1px;
        border-radius: 0 !important;

        &:first-child {
            border-radius: $lumx-theme-border-radius 0 0 $lumx-theme-border-radius !important;
        }

        &:last-child {
            margin-right: 0;
            border-radius: 0 $lumx-theme-border-radius $lumx-theme-border-radius 0 !important;
        }
    }
}
