/* ==========================================================================
   Dialog
   ========================================================================== */

.#{$lumx-base-prefix}-dialog {
    $self: &;

    position: fixed;
    z-index: map-get($lumx-base-layers, 'high');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 1;
    transition: opacity $lumx-dialog-transition-duration;

    &--is-shown {
        display: block;
    }

    &--is-hidden {
        opacity: 0;
    }

    &__overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: lumx-dialog-overlay-show $lumx-dialog-transition-duration;
        background-color: lumx-color-variant('dark', 'L1');
    }

    &__container {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        animation: lumx-dialog-show $lumx-dialog-transition-duration;
        transform: translateY(0);
    }

    &__wrapper {
        @include lumx-elevation(5);

        position: relative;
        display: flex;
        max-height: 100%;
        flex-direction: column;
        background-color: lumx-color-variant('light', 'N');
        border-radius: var(--lumx-border-radius);

        #{$self}--size-huge & {
            height: 100%;
        }
    }

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__header--has-divider {
        @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'), lumx-base-const('position', 'BOTTOM'));
    }

    &__footer--has-divider {
        @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'), lumx-base-const('position', 'TOP'));
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__progress-overlay {
        position: absolute;
        z-index: map-get($lumx-base-layers, 'high');
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lumx-color-variant('light', 'L2');
        border-radius: var(--lumx-border-radius);
    }
}

@keyframes lumx-dialog-overlay-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lumx-dialog-show {
    0% {
        opacity: 0;
        transform: translateY(-24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dialog sizes
   ========================================================================== */

@each $key, $size in $lumx-dialog-sizes {
    .#{$lumx-base-prefix}-dialog--size-#{$key} .#{$lumx-base-prefix}-dialog__container {
        @include mq($until: desktop) {
            top: $lumx-dialog-offset-portable;
            right: $lumx-dialog-offset-portable;
            left: $lumx-dialog-offset-portable;
            height: calc(100% - 48px);
        }

        @include mq($from: desktop) {
            top: $lumx-dialog-offset-desktop;
            left: 50%;
            width: $size;
            height: calc(100% - 96px);
            margin-left: $size / -2;
        }
    }
}

.#{$lumx-base-prefix}-dialog--size-huge .#{$lumx-base-prefix}-dialog__container {
    @include mq($until: desktop) {
        top: $lumx-dialog-offset-portable;
        right: $lumx-dialog-offset-portable;
        bottom: $lumx-dialog-offset-portable;
        left: $lumx-dialog-offset-portable;
    }

    @include mq($from: desktop) {
        top: $lumx-dialog-offset-desktop;
        right: $lumx-dialog-offset-desktop;
        bottom: $lumx-dialog-offset-desktop;
        left: $lumx-dialog-offset-desktop;
    }
}
