@use "sass:map";
@use "sass:math";

/* ==========================================================================
   Dialog
   ========================================================================== */

.lumx-dialog {
    $self: &;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map.get($lumx-base-layers, "high");
    display: none;
    opacity: 1;
    transition: opacity $lumx-dialog-transition-duration;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &--is-shown {
        display: block;
    }

    &--is-hidden {
        opacity: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: lumx-color-variant("dark", "L1");
        animation: lumx-dialog-overlay-show $lumx-dialog-transition-duration;

        @include mq($until: desktop) {
            display: none;
        }

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }

    &__container {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transform: translateY(0);

        #{$self}--is-hidden & {
            @include mq($until: desktop) {
                transform: translateY(100%);
            }
        }

        @include mq($until: desktop) {
            transition: transform $lumx-dialog-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
            animation: lumx-dialog-show-mobile $lumx-dialog-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
        }

        @include mq($from: desktop) {
            animation: lumx-dialog-show-desktop $lumx-dialog-transition-duration;
        }

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: lumx-color-variant("light", "N");

        @include mq($until: desktop) {
            min-height: 100%;
        }

        @include mq($from: desktop) {
            @include lumx-elevation(5);

            max-height: 100%;
            border-radius: var(--lumx-border-radius);
        }

        #{$self}--size-huge & {
            @include mq($from: desktop) {
                min-height: 100%;
            }
        }
    }

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__header--has-divider {
        @include lumx-has-divider("theme-light", "position-bottom");
    }

    &__footer--has-divider {
        @include lumx-has-divider("theme-light", "position-top");
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__progress-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: map.get($lumx-base-layers, "high");
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lumx-color-variant("light", "L2");
        border-radius: var(--lumx-border-radius);
    }
}

@keyframes lumx-dialog-overlay-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lumx-dialog-show-mobile {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes lumx-dialog-show-desktop {
    0% {
        opacity: 0;
        transform: translateY(-24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dialog sizes
   ========================================================================== */

@each $key, $size in $lumx-dialog-sizes {
    .lumx-dialog--size-#{$key} .lumx-dialog__container {
        @include mq($until: desktop) {
            top: 0;
            right: 0;
            left: 0;
            height: 100%;
        }

        @include mq($from: desktop) {
            top: $lumx-dialog-offset-desktop;
            left: 50%;
            width: $size;
            height: calc(100% - 96px);
            margin-left: math.div($size, -2);
        }
    }
}

.lumx-dialog--size-huge .lumx-dialog__container {
    @include mq($until: desktop) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @include mq($from: desktop) {
        top: $lumx-dialog-offset-desktop;
        right: $lumx-dialog-offset-desktop;
        bottom: $lumx-dialog-offset-desktop;
        left: $lumx-dialog-offset-desktop;
    }
}
