/* ==========================================================================
   Flex-box
   ========================================================================== */

/* Orientation
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--orientation-horizontal,
.#{$lumx-base-prefix}-flex-box--orientation-vertical {
    display: flex;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal {
    flex-direction: row;
}

.#{$lumx-base-prefix}-flex-box--orientation-vertical {
    min-height: 0;
    flex-direction: column;
}

/* Alignment
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--h-align-top,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--v-align-left {
    align-items: flex-start;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--h-align-center,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--v-align-center {
    align-items: center;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--h-align-bottom,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--v-align-right {
    align-items: flex-end;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--v-align-left,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--h-align-top {
    justify-content: flex-start;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--v-align-center,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--h-align-center {
    justify-content: center;
}

.#{$lumx-base-prefix}-flex-box--orientation-horizontal.#{$lumx-base-prefix}-flex-box--v-align-right,
.#{$lumx-base-prefix}-flex-box--orientation-vertical.#{$lumx-base-prefix}-flex-box--h-align-bottom {
    justify-content: flex-end;
}

/* Wrap
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--wrap {
    flex-wrap: wrap;
}

/* Fill space
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--fill-space {
    flex: 1 1 auto;
}

/* No shrink
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--no-shrink {
    flex-shrink: 0;
}

/* Margin
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--margin-auto-top {
    margin-top: auto;
}

.#{$lumx-base-prefix}-flex-box--margin-auto-right {
    margin-right: auto;
}

.#{$lumx-base-prefix}-flex-box--margin-auto-bottom {
    margin-bottom: auto;
}

.#{$lumx-base-prefix}-flex-box--margin-auto-left {
    margin-left: auto;
}

/* Gap
   ========================================================================== */

.#{$lumx-base-prefix}-flex-box--gap-regular {
    gap: $lumx-spacing-unit;
}

.#{$lumx-base-prefix}-flex-box--gap-big {
    gap: $lumx-spacing-unit-big;
}

.#{$lumx-base-prefix}-flex-box--gap-huge {
    gap: $lumx-spacing-unit-huge;
}
