<div class="lx-select">
    <span class="lx-select__label" ng-if="lxSelect.label">
        {{ lxSelect.label }}
    </span>

    <div class="lx-select__input">
        <lx-dropdown>
            <lx-dropdown-toggle>
                <div class="lx-select__selected">
                    <span class="lx-select__selected-item" ng-if="lxSelect.isModelEmpty() && !lxSelect.multiple">Select a value</span>
                    <span class="lx-select__selected-item" ng-bind-html="lxSelect.displaySelected()" ng-if="!lxSelect.isModelEmpty() && !lxSelect.multiple"></span>
                    <span class="lx-select__selected-item" ng-if="lxSelect.isModelEmpty() && lxSelect.multiple">Select values</span>
                    <span class="lx-select__selected-item" ng-repeat="selected in lxSelect.viewValue" ng-bind-html="lxSelect.displaySelected(selected)" ng-if="!lxSelect.isModelEmpty() && lxSelect.multiple"></span>
                </div>
            </lx-dropdown-toggle>

            <lx-dropdown-menu>
                <div class="lx-select__filter" ng-if="lxSelect.displayFilter">
                    <input type="text"
                           ng-model="lxSelect.filterModel"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="lxSelect.updateFilter()"
                           lx-select-filter>
                </div>

                <ul>
                    <li class="lx-select__choice"
                        ng-class="{ 'lx-select__choice--is-active': lxSelect.isSelected(choice) }"
                        ng-repeat="choice in lxSelect.choices | lxSelectChoicesFilter:lxSelect.filter:lxSelect.filterModel">
                        <a ng-bind-html="lxSelect.displayChoice(choice)" ng-click="lxSelect.select(choice, $event)"></a>
                    </li>
                </ul>

                <span class="lx-select__helper" ng-if="lxSelect.displayHelper">{{ lxSelect.helper }}</span>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>
