/* ==========================================================================
   Thumbnail
   ========================================================================== */

.#{$lumx-base-prefix}-thumbnail {
    &--aspect-ratio-original {
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &--aspect-ratio-horizontal,
    &--aspect-ratio-vertical {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Thumbnail variants
   ========================================================================== */

.#{$lumx-base-prefix}-thumbnail--variant-rounded {
    overflow: hidden;
    border-radius: $lumx-theme-border-radius;
}

/* Thumbnail sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-thumbnail--size-#{$key} {
        width: $size;
    }
}

/* Thumbnail aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .#{$lumx-base-prefix}-thumbnail--aspect-ratio-#{$key} {
        padding-top: $aspect-ratio;
    }
}

/* Thumbnail states
   ========================================================================== */

.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    cursor: pointer;
    outline: none;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        content: '';
        pointer-events: none;
    }

    &:hover::after {
        @include lumx-state(state-hover, emphasis-low, dark);
    }

    &:active::after {
        @include lumx-state(state-active, emphasis-low, dark);
    }
}

.#{$lumx-base-prefix}-thumbnail--theme-light.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(state-focus, emphasis-low, dark);
    }
}

.#{$lumx-base-prefix}-thumbnail--theme-dark.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(state-focus, emphasis-low, light);
    }
}
