/* ==========================================================================
   Web bookmark
   ========================================================================== */

.#{$lumx-base-prefix}-link-preview {
    $self: &;

    &--size-big {
        position: relative;
        padding-top: map-get($lumx-thumbnail-aspect-ratio, 'horizontal');
    }

    &--theme-light {
        background-color: lumx-color-variant('dark', 'L6');
    }

    &--theme-dark {
        background-color: lumx-color-variant('light', 'L6');
    }

    &__wrapper {
        display: flex;

        #{$self}--size-regular & {
            flex-direction: row;
        }

        #{$self}--size-big & {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            flex-direction: column;
        }
    }

    &__thumbnail {
        display: flex;
        flex-direction: column;

        #{$self}--size-regular & {
            flex: 0 0 138px; // 3:2 ratio according to height (92px)
        }

        #{$self}--size-big & {
            flex: 1 1 auto;
        }
    }

    &__container {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding: $lumx-spacing-unit * 2;

        #{$self}--size-regular & {
            flex: 1 1 auto;
        }

        #{$self}--size-big & {
            flex-shrink: 0;
        }
    }

    &__title,
    &__description,
    &__link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__title {
        @include lumx-typography('subtitle1');
    }

    &__description {
        @include lumx-typography('body1');

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'L2');
        }
    }

    &__link {
        @include lumx-typography('body1');
    }
}
