<div class="lumx-progress" ng-class="{ 'lumx-progress--circular': !lumx.variant || lumx.variant === 'circular' }">
    <div class="lumx-progress-circular" ng-if="::!lumx.variant || lumx.variant === 'circular'">
        <div class="lumx-progress-circular__double-bounce1"></div>
        <div class="lumx-progress-circular__double-bounce2"></div>
    </div>

    <div class="lumx-progress-linear" ng-if="::lumx.variant === 'linear'">
        <div class="lumx-progress-linear__line1"></div>
        <div class="lumx-progress-linear__line2"></div>
    </div>
</div>
