<lx-expansion-panel class="lx-theme-background-dark-L6" lx-is-open="vm.isOpen" lx-is-draggable="true">
    <lx-expansion-panel-header>
        <span class="lx-typography-subtitle2">Header</span>
    </lx-expansion-panel-header>

    <lx-expansion-panel-content>
        <lx-list>
            <lx-list-subheader>Lorem ipsum</lx-list-subheader>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>

            <lx-list-subheader>Lorem ipsum</lx-list-subheader>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>

            <lx-list-divider></lx-list-divider>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>

            <lx-list-item>
                <lx-list-item-primary
                    ><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="s"></lx-icon
                ></lx-list-item-primary>
                <lx-list-item-content>Lorem ipsum</lx-list-item-content>
            </lx-list-item>
        </lx-list>
    </lx-expansion-panel-content>

    <lx-expansion-panel-footer>
        <lx-button lx-color="red">Remove</lx-button>
    </lx-expansion-panel-footer>
</lx-expansion-panel>

<lx-button ng-click="vm.isOpen = !vm.isOpen">Toggle</lx-button>
