/* ==========================================================================
   Base
   ========================================================================== */

h1 {
    margin-bottom: $lx-base-spacing-unit * 3;
    font-size: 30px;
    font-weight: 600;
}

h2 {
    margin-bottom: $lx-base-spacing-unit * 1.5;
    font-size: 20px;
    font-weight: 600;
}

ul {
    padding: 0;
    margin-left: $lx-base-spacing-unit * 4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
ul,
table {
    margin: 0 0 $lx-base-spacing-unit * 3 0;

    &:last-child {
        margin-bottom: 0;
    }
}
