/* ==========================================================================
   Demo grid
   ========================================================================== */

.demo-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $lumx-spacing-unit-big;
}
