/* ==========================================================================
   Prop table
   ========================================================================== */

.prop-table {
    padding: $lumx-spacing-unit * 2 $lumx-spacing-unit * 3;
    background-color: lumx-theme-color-variant('dark', 'L6');
    border-radius: $lumx-theme-border-radius;
}
