@use "sass:math";

/* ==========================================================================
   Radio button
   ========================================================================== */

.lumx-radio-button {
    $self: &;

    display: flex;

    &__input-wrapper {
        @include lumx-radio-button-input-wrapper;
    }

    &__input-native {
        @include lumx-radio-button-input-native;
    }

    &__input-placeholder {
        @include lumx-radio-button-placeholder;
    }

    &__input-background {
        @include lumx-radio-button-input-background;

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-radio-button-input-background-status("unchecked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-radio-button-input-background-status("unchecked", "theme-dark");
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-radio-button-input-background-status("checked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-radio-button-input-background-status("checked", "theme-dark");
        }
    }

    &__input-indicator {
        @include lumx-radio-button-input-indicator;

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-radio-button-input-indicator-status("unchecked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-radio-button-input-indicator-status("unchecked", "theme-dark");
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-radio-button-input-indicator-status("checked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-radio-button-input-indicator-status("checked", "theme-dark");
        }
    }

    &__label,
    &__helper {
        padding-left: $lumx-spacing-unit;
    }

    &__helper {
        margin-top: math.div($lumx-spacing-unit, 2);
    }
}

/* Radio button states
   ========================================================================== */

// Disabled state
.lumx-radio-button--is-disabled {
    .lumx-radio-button__input-native {
        pointer-events: none;
    }

    .lumx-radio-button__input-placeholder {
        @include lumx-state-disabled-input;
    }

    &.lumx-radio-button--theme-light {
        .lumx-radio-button__label,
        .lumx-radio-button__helper {
            @include lumx-state-disabled-text("theme-light");
        }
    }

    &.lumx-radio-button--theme-dark {
        .lumx-radio-button__label,
        .lumx-radio-button__helper {
            @include lumx-state-disabled-text("theme-dark");
        }
    }
}

// Hover state
.lumx-radio-button--theme-light.lumx-radio-button--is-unchecked .lumx-radio-button__input-native:hover + .lumx-radio-button__input-placeholder {
    .lumx-radio-button__input-background {
        @include lumx-state("state-hover", "emphasis-low", "dark");
    }
}

.lumx-radio-button--theme-dark.lumx-radio-button--is-unchecked .lumx-radio-button__input-native:hover + .lumx-radio-button__input-placeholder {
    .lumx-radio-button__input-background {
        @include lumx-state("state-hover", "emphasis-low", "light");
    }
}

// Active state
.lumx-radio-button--theme-light.lumx-radio-button--is-unchecked .lumx-radio-button__input-native:active + .lumx-radio-button__input-placeholder {
    .lumx-radio-button__input-background {
        @include lumx-state("state-active", "emphasis-low", "dark");
    }
}

.lumx-radio-button--theme-dark.lumx-radio-button--is-unchecked .lumx-radio-button__input-native:active + .lumx-radio-button__input-placeholder {
    .lumx-radio-button__input-background {
        @include lumx-state("state-active", "emphasis-low", "light");
    }
}

// Focus state
.lumx-radio-button--theme-light.lumx-radio-button--is-unchecked .lumx-radio-button__input-native[data-focus-visible-added] + .lumx-radio-button__input-placeholder {
    @include lumx-state("state-focus", "emphasis-low", "dark");
}

.lumx-radio-button--theme-dark.lumx-radio-button--is-unchecked .lumx-radio-button__input-native[data-focus-visible-added] + .lumx-radio-button__input-placeholder {
    @include lumx-state("state-focus", "emphasis-low", "light");
}

.lumx-radio-button--theme-light.lumx-radio-button--is-checked .lumx-radio-button__input-native[data-focus-visible-added] + .lumx-radio-button__input-placeholder {
    @include lumx-state(
        "state-focus",
        "emphasis-high",
        "primary",
        "theme-light"
    );
}

.lumx-radio-button--theme-dark.lumx-radio-button--is-checked .lumx-radio-button__input-native[data-focus-visible-added] + .lumx-radio-button__input-placeholder {
    @include lumx-state(
        "state-focus",
        "emphasis-high",
        "primary",
        "theme-dark"
    );
}

/* Radio group
   ========================================================================== */

.lumx-radio-group > .lumx-radio-button {
    margin-bottom: $lumx-spacing-unit * 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}
