@mixin lumx-radio-button-input-wrapper() {
    position: relative;
    width: var(--lumx-radio-button-wrapper-size);
    height: var(--lumx-radio-button-wrapper-size);
}

@mixin lumx-radio-button-input-native() {
    position: relative;
    z-index: 4;
    top: 0;
    left: 0;
    width: var(--lumx-radio-button-wrapper-size);
    height: var(--lumx-radio-button-wrapper-size);
    padding: 0;
    margin: 0;
    opacity: 0;
}

@mixin lumx-radio-button-placeholder() {
    position: absolute;
    z-index: 1;
    top: calc(calc(var(--lumx-radio-button-wrapper-size) - var(--lumx-radio-button-control-size)) / 2);
    left: calc(calc(var(--lumx-radio-button-wrapper-size) - var(--lumx-radio-button-control-size)) / 2);
    width: var(--lumx-radio-button-control-size);
    height: var(--lumx-radio-button-control-size);
    border-radius: 50%;
}

@mixin lumx-radio-button-input-background() {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

@mixin lumx-radio-button-input-background-status($status, $theme) {
    @if $status == 'checked' {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            color: lumx-color-variant('primary', 'N');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            color: lumx-color-variant('light', 'N');
        }
    } @else if $status == 'unchecked' {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            color: lumx-color-variant('dark', 'N');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            color: lumx-color-variant('light', 'N');
        }
    }
}

@mixin lumx-radio-button-input-indicator() {
    position: absolute;
    z-index: 3;
    top: calc(calc(var(--lumx-radio-button-control-size) - var(--lumx-radio-button-indicator-size)) / 2);
    left: calc(calc(var(--lumx-radio-button-control-size) - var(--lumx-radio-button-indicator-size)) / 2);
    display: flex;
    width: var(--lumx-radio-button-indicator-size);
    height: var(--lumx-radio-button-indicator-size);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin lumx-radio-button-input-indicator-status($status, $theme) {
    @if $status == 'checked' {
        opacity: 1;
    } @else if $status == 'unchecked' {
        opacity: 0;
    }

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        background-color: lumx-color-variant('primary', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        background-color: lumx-color-variant('light', 'N');
    }
}
