/* ==========================================================================
   Icon
   ========================================================================== */

.#{$lumx-base-prefix}-icon {
    &--no-shape {
        display: block;
    }

    &--has-shape {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &--path {
        &::before {
            display: none;
        }

        svg {
            display: block;
        }
    }

    &--font {
        &::before {
            display: block;
        }

        svg {
            display: none;
        }
    }
}

/* Icon sizes
   ========================================================================== */

@each $size-key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-icon--no-shape.#{$lumx-base-prefix}-icon--size-#{$size-key} {
        @include lumx-icon-size($size-key, false);
    }
}

@each $size-key, $size in $lumx-icon-has-shape-size-map {
    .#{$lumx-base-prefix}-icon--has-shape.#{$lumx-base-prefix}-icon--size-#{$size-key} {
        @include lumx-icon-size($size-key, true);
    }
}

/* Icon colors
   ========================================================================== */

@each $color-key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-icon--color-#{$color-key} {
        &.#{$lumx-base-prefix}-icon--no-shape {
            @include lumx-icon-color($color-key, false);
        }

        &.#{$lumx-base-prefix}-icon--has-shape {
            @include lumx-icon-color($color-key, true);
        }
    }

    @each $color-variant in $lumx-color-variants {
        .#{$lumx-base-prefix}-icon--color-#{$color-key}.#{$lumx-base-prefix}-icon--color-variant-#{$color-variant} {
            color: lumx-color-variant($color-key, $color-variant);
        }
    }
}
