@use "sass:math";

/* ==========================================================================
   Icon
   ========================================================================== */

.lumx-icon {
    &--no-shape {
        display: block;
    }

    &--has-shape {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &--path {
        &::before {
            display: none;
        }

        svg {
            display: block;
        }
    }

    &--font {
        &::before {
            display: block;
        }

        svg {
            display: none;
        }
    }

    &--has-dark-layer {
        position: relative;

        &::after {
            position: absolute;
            top: math.div($lumx-spacing-unit, 2);
            right: math.div($lumx-spacing-unit, 2);
            bottom: math.div($lumx-spacing-unit, 2);
            left: math.div($lumx-spacing-unit, 2);
            z-index: 0;
            content: "";
            background-color: lumx-color-variant("dark", "L1");
            border-radius: 50%;
        }

        &::before,
        svg {
            position: relative;
            z-index: 1;
        }
    }
}

/* Icon sizes
   ========================================================================== */

@each $size-key, $size in $lumx-sizes {
    .lumx-icon--no-shape.lumx-icon--size-#{$size-key} {
        @include lumx-icon-size($size-key, false);
    }
}

@each $size-key, $size in $lumx-icon-has-shape-size-map {
    .lumx-icon--has-shape.lumx-icon--size-#{$size-key} {
        @include lumx-icon-size($size-key, true);
    }
}

/* Icon colors
   ========================================================================== */

@each $color-key, $color in $lumx-color-palette {
    .lumx-icon--color-#{$color-key} {
        &.lumx-icon--no-shape {
            @include lumx-icon-color($color-key, false);
        }

        &.lumx-icon--has-shape {
            @include lumx-icon-color($color-key, true, lumx-base-const("theme", "LIGHT"));

            &.lumx-icon--theme-dark {
                @include lumx-icon-color($color-key, true, lumx-base-const("theme", "DARK"));
            }
        }
    }

    @each $color-variant in $lumx-color-variants {
        .lumx-icon--color-#{$color-key}.lumx-icon--color-variant-#{$color-variant} {
            @if $color-key == "yellow" {
                &.lumx-icon--has-shape {
                    color: lumx-color-variant("dark", "L1");
                }
            }

            color: lumx-color-variant($color-key, $color-variant);
        }
    }
}
