<div
    class="lx-checkbox"
    ng-class="{ 'lx-checkbox--is-checked': lxCheckbox.viewValue,
                'lx-checkbox--is-unchecked': !lxCheckbox.viewValue,
                'lx-checkbox--theme-light': !lxCheckbox.theme || lxCheckbox.theme === 'light',
                'lx-checkbox--theme-dark': lxCheckbox.theme === 'dark' }"
>
    <div class="lx-checkbox__input-wrapper">
        <input
            type="checkbox"
            id="{{ lxCheckbox.checkboxId }}"
            class="lx-checkbox__input-native"
            ng-checked="lxRadioButton.viewValue"
            ng-click="lxCheckbox.updateViewValue()"
        />

        <div class="lx-checkbox__input-placeholder">
            <div class="lx-checkbox__input-background"></div>
            <div class="lx-checkbox__input-indicator">
                <lx-icon lx-id="check" lx-size="xs"></lx-icon>
            </div>
        </div>
    </div>

    <div class="lx-checkbox__content" ng-if="!lxCheckbox.hasLabel && !lxCheckbox.hasHelp && lxCheckbox.hasTranscluded">
        <label for="{{ lxCheckbox.checkboxId }}" class="lx-checkbox__label" ng-transclude></label>
    </div>

    <div class="lx-checkbox__content" ng-if="lxCheckbox.hasLabel">
        <label for="{{ lxCheckbox.checkboxId }}" class="lx-checkbox__label" ng-transclude="label"></label>
        <span class="lx-checkbox__help" ng-transclude="help" ng-if="lxCheckbox.hasHelp"></span>
    </div>
</div>
