@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";

/* ==========================================================================
   Prop table
   ========================================================================== */

.prop-table {
    padding: $lumx-spacing-unit * 2 $lumx-spacing-unit * 3;
    background-color: lumx-color-variant("dark", "L6");
    border-radius: var(--lumx-border-radius);

    &__type {
        word-break: break-all;
    }
}
