/* ==========================================================================
   Main nav
   ========================================================================== */

.main-nav {
    overflow: auto;
    width: 56px;
    flex-shrink: 0;
    background-color: lx-theme-color-variant(blue, N);
}
