/* ==========================================================================
   Text field
   ========================================================================== */

.#{$lumx-base-prefix}-text-field {
    $self: &;

    &__label {
        #{$self}--theme-light & {
            @include lumx-input-label(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-input-label(lumx-base-const('theme', 'DARK'));
        }
    }

    &__helper {
        #{$self}--theme-light & {
            @include lumx-input-helper(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-input-helper(lumx-base-const('theme', 'DARK'));
        }
    }

    &__wrapper {
        #{$self}--has-input#{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'LIGHT'), 'input');
        }

        #{$self}--has-input#{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'DARK'), 'input');
        }

        #{$self}--has-textarea#{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'LIGHT'), 'textarea');
        }

        #{$self}--has-textarea#{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'DARK'), 'textarea');
        }

        #{$self}--has-input-clear & {
            @include lumx-text-field-wrapper-has-input-clear;
        }
    }

    &--has-label &__wrapper {
        @include lumx-text-field-wrapper-has-label;
    }

    &__input-icon {
        flex-shrink: 0;

        #{$self}--theme-light & {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'DARK'));
        }
    }

    &__input-wrapper {
        @include lumx-text-field-input-wrapper;
    }

    &__input-native {
        flex: 1 1 auto;

        input,
        textarea {
            #{$self}--theme-light &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'DARK'));
            }
        }

        input {
            #{$self}--theme-light & {
                @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'), 'input');
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-native(lumx-base-const('theme', 'DARK'), 'input');
            }
        }

        textarea {
            resize: none;

            #{$self}--theme-light & {
                @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'), 'textarea');
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-input-native(lumx-base-const('theme', 'DARK'), 'textarea');
            }
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__chips {
        @include lumx-text-field-chips;
    }
}

/* Text field states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-text-field--is-disabled {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-text-field--theme-light {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-text-field--theme-dark {
        .#{$lumx-base-prefix}-text-field__label,
        .#{$lumx-base-prefix}-text-field__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-text-field--theme-light {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark {
    .#{$lumx-base-prefix}-text-field__wrapper:hover {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'DARK'));
    }
}

// Focus state
.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'DARK'));
    }
}

/* Text field validity
   ========================================================================== */

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'DARK'));
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-text-field__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'DARK'));
    }
}
