@mixin lumx-text-field-wrapper($theme, $type: 'input') {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: $lumx-border-radius;
    outline: none;
    transition-duration: $lumx-text-field-transition-duration;
    transition-property: background-color, box-shadow;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        background-color: lumx-color-variant('dark', 'L6');
        box-shadow: inset 0 0 0 1px lumx-color-variant('dark', 'L4');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        background-color: lumx-color-variant('light', 'L6');
        box-shadow: inset 0 0 0 1px lumx-color-variant('light', 'L4');
    }

    @if $type == 'input' {
        min-height: $lumx-text-field-height;
        padding: 0 $lumx-text-field-horizontal-padding;
    } @else {
        padding: $lumx-text-field-vertical-padding $lumx-text-field-horizontal-padding;
    }
}

@mixin lumx-text-field-wrapper-has-input-clear() {
    padding-right: $lumx-spacing-unit !important;
}

@mixin lumx-text-field-input-wrapper() {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

@mixin lumx-text-field-input-icon($theme) {
    margin-right: $lumx-spacing-unit;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-native($theme, $type) {
    @include lumx-typography('body1');

    display: block;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    outline: none;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }

    @if $type == 'input' {
        height: $lumx-text-field-height;
        line-height: $lumx-text-field-height;
    }
}

@mixin lumx-text-field-input-validity($validity, $theme) {
    flex-shrink: 0;
    margin-left: $lumx-spacing-unit;

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        @if $validity == 'valid' {
            color: lumx-color-variant('green', 'N');
        } @else if $validity == 'error' {
            color: lumx-color-variant('red', 'N');
        }
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-input-clear() {
    flex-shrink: 0;
    margin-left: $lumx-spacing-unit / 2;
}

@mixin lumx-text-field-chips() {
    margin: $lumx-chip-group-spacing 0;
}

@mixin lumx-text-field-placeholder($theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'L2');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'L2');
    }
}

@mixin lumx-text-field-wrapper-state($state, $theme) {
    @if $state == lumx-base-const('state', 'HOVER') {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('dark', 'L5');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: lumx-color-variant('light', 'L5');
        }
    } @else if $state == lumx-base-const('state', 'FOCUS') {
        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('light', 'N');
            box-shadow: inset 0 0 0 2px lumx-color-variant('primary', 'L2');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px lumx-color-variant('light', 'L2');
        }
    }
}

@mixin lumx-text-field-wrapper-validity($validity, $theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        @if $validity == 'valid' {
            box-shadow: inset 0 0 0 2px lumx-color-variant('green', 'N');
        } @else if $validity == 'error' {
            box-shadow: inset 0 0 0 2px lumx-color-variant('red', 'N');
        }
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        box-shadow: inset 0 0 0 2px lumx-color-variant('light', 'N');
    }
}
