/* ==========================================================================
   Dialog
   ========================================================================== */

.#{$lumx-base-prefix}-dialog-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: lumx-dialog-overlay-show $lumx-dialog-transition-duration;
    background-color: lumx-theme-color-variant('dark', 'L1');
    opacity: 1;
    transition: opacity $lumx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }
}

.#{$lumx-base-prefix}-dialog {
    $self: &;

    position: fixed;
    display: none;
    animation: lumx-dialog-show $lumx-dialog-transition-duration;
    opacity: 1;
    transform: translateY(0);
    transition: opacity $lumx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }

    &__wrapper {
        @include lumx-elevation(5);

        display: flex;
        max-height: 100%;
        flex-direction: column;
        background-color: #fff;
        border-radius: $lumx-theme-border-radius;

        #{$self}--size-huge & {
            height: 100%;
        }
    }

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__header--has-divider {
        @include lumx-has-divider('dark', 'bottom');
    }

    &__footer--has-divider {
        @include lumx-has-divider('dark', 'top');
    }

    &__content {
        position: relative;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;

        #{$self}--is-loading & {
            min-height: $lumx-progress-circular-size + $lumx-spacing-unit * 4;
            overflow-y: hidden;
        }
    }

    &__progress-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lumx-theme-color-variant('light', 'L2');
    }
}

@keyframes lumx-dialog-overlay-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lumx-dialog-show {
    0% {
        opacity: 0;
        transform: translateY(-24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dialog sizes
   ========================================================================== */

@each $key, $size in $lumx-dialog-sizes {
    .#{$lumx-base-prefix}-dialog--size-#{$key} {
        @include mq($until: desktop) {
            top: $lumx-dialog-offset-portable;
            right: $lumx-dialog-offset-portable;
            left: $lumx-dialog-offset-portable;
            height: calc(100% - 48px);
        }

        @include mq($from: desktop) {
            top: $lumx-dialog-offset-desktop;
            left: 50%;
            width: $size;
            height: calc(100% - 96px);
            margin-left: $size / -2;
        }
    }
}

.#{$lumx-base-prefix}-dialog--size-huge {
    @include mq($until: desktop) {
        top: $lumx-dialog-offset-portable;
        right: $lumx-dialog-offset-portable;
        bottom: $lumx-dialog-offset-portable;
        left: $lumx-dialog-offset-portable;
    }

    @include mq($from: desktop) {
        top: $lumx-dialog-offset-desktop;
        right: $lumx-dialog-offset-desktop;
        bottom: $lumx-dialog-offset-desktop;
        left: $lumx-dialog-offset-desktop;
    }
}
