/* ==========================================================================
   Dialog
   ========================================================================== */

.#{$lumx-base-prefix}-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: lumx-dialog-overlay-show $lumx-dialog-transition-duration;
    background-color: lumx-theme-color-variant(dark, L1);
    opacity: 1;
    transition: opacity $lumx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }
}

.#{$lumx-base-prefix}-dialog {
    $self: &;

    position: fixed;
    top: $lumx-dialog-offset;
    display: none;
    height: calc(100% - 120px);
    opacity: 1;
    transition: opacity $lumx-dialog-transition-duration;

    &--is-hidden {
        opacity: 0;
    }

    &__wrapper {
        @include lumx-elevation(5);

        display: flex;
        max-height: 100%;
        flex-direction: column;
        background-color: #fff;
        border-radius: $lumx-theme-border-radius;

        #{$self}--size-huge & {
            height: 100%;
        }
    }

    &__header,
    &__footer {
        flex-shrink: 0;
    }

    &__header--has-divider {
        border-bottom: 1px solid lumx-theme-color-variant(dark, $lumx-divider-color-variant);
    }

    &__footer--has-divider {
        border-top: 1px solid lumx-theme-color-variant(dark, $lumx-divider-color-variant);
    }

    &__content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@keyframes lumx-dialog-overlay-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lumx-dialog-show {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes lumx-dialog-huge-show {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dialog sizes
   ========================================================================== */

@each $key, $size in $lumx-dialog-sizes {
    .#{$lumx-base-prefix}-dialog--size-#{$key} {
        left: 50%;
        width: $size;
        animation: lumx-dialog-show $lumx-dialog-transition-duration;
        transform: translateX(-50%) translateY(0);
    }
}

.#{$lumx-base-prefix}-dialog--size-huge {
    right: $lumx-dialog-offset;
    bottom: $lumx-dialog-offset;
    left: $lumx-dialog-offset;
    animation: lumx-dialog-huge-show $lumx-dialog-transition-duration;
    transform: translateY(0);
}
