/* ==========================================================================
   Expansion panel
   ========================================================================== */

.#{$lumx-base-prefix}-expansion-panel {
    $self: &;

    border-radius: $lumx-expansion-panel-radius;

    &--theme-light {
        background-color: lumx-theme-color-variant('dark', 'L6');
    }

    &--theme-dark {
        background-color: lumx-theme-color-variant('light', 'L6');
    }

    &--variant-trimmed {
        background-color: transparent;
    }

    &__header {
        display: flex;
        align-items: center;

        #{$self}--theme-light#{$self}--is-open#{$self}--has-header-divider & {
            @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark#{$self}--is-open#{$self}--has-header-divider & {
            @include lumx-has-divider(lumx-base-const('theme', 'DARK'));
        }
    }

    &__header-drag {
        flex-shrink: 0;
        margin: 0 $lumx-spacing-unit;
    }

    &__header-content {
        flex: 1 1 auto;

        #{$self}--variant-boxed:not(#{$self}--is-draggable):not(#{$self}--has-header) & {
            padding-left: $lumx-spacing-unit * 2;
        }
    }

    &__label {
        @include lumx-typography('body1');

        display: block;

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant('light', 'N');
        }
    }

    &__header-toggle {
        flex-shrink: 0;

        #{$self}--variant-boxed & {
            margin: $lumx-spacing-unit;
        }

        #{$self}--has-header & {
            margin-left: 0;
        }
    }

    &__wrapper {
        overflow: hidden;
        transition: max-height $lumx-expansion-panel-transition-duration;

        #{$self}--is-close & {
            max-height: 0 !important;
        }
    }
}
