/* ==========================================================================
   Select
   ========================================================================== */

.lx-select {
    $self: &;

    position: relative;
    padding-top: $lx-spacing-unit * 4;
    padding-bottom: $lx-spacing-unit;

    &__label {
        #{ $self }--theme-light & {
            @include lx-text-field-material-label(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-material-label(light);
        }

        #{ $self }--has-placeholder &,
        #{ $self }--has-value & {
            transform: scale(0.75) translateY(0);
        }
    }

    &__input-wrapper {
        padding-left: 0 !important;

        #{ $self }--theme-light & {
            @include lx-text-field-material-input-wrapper(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-material-input-wrapper(light);
        }
    }

    &__input-native {
        #{ $self }--theme-light & {
            @include lx-text-field-material-input-native(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-material-input-native(light);
        }
    }

    &__input-chip {
        margin-right: 6px;
        margin-left: 0;
    }
}

/* Select states
   ========================================================================== */

// Focus state
.lx-select--is-focus,
.lx-select--is-open {
    .lx-select__input-wrapper {
        @include lx-text-field-material-input-wrapper-focus;
    }
}

.lx-select--theme-light.lx-select--is-focus,
.lx-select--theme-light.lx-select--is-open {
    .lx-select__label {
        @include lx-text-field-material-label-focus(dark);
    }
}

.lx-select--theme-dark.lx-select--is-focus,
.lx-select--theme-dark.lx-select--is-open {
    .lx-select__label {
        @include lx-text-field-material-label-focus(light);
    }
}
