<!-- Theme light (m) -->

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button>Default</nglx-button>
    <nglx-button ng-disabled="true">Disabled</nglx-button>

    <nglx-button>
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button>
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button>Split</nglx-button>

        <nglx-button lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button lx-emphasis="medium">Default</nglx-button>
    <nglx-button lx-emphasis="medium" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-emphasis="medium">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-emphasis="medium">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-emphasis="medium">Split</nglx-button>

        <nglx-button lx-emphasis="medium" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-emphasis="medium" lx-is-selected="vm.isSelected" ng-click="vm.toggleSelected()">Toggle</nglx-button>

    <nglx-button lx-emphasis="medium" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button lx-emphasis="low">Default</nglx-button>
    <nglx-button lx-emphasis="low" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-emphasis="low">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-emphasis="low">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button lx-emphasis="low" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button lx-size="s">Default</nglx-button>
    <nglx-button lx-size="s" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-size="s">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-size="s">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-size="s">Split</nglx-button>

        <nglx-button lx-size="s" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-size="s" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<!-- Theme light (s) -->

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button lx-emphasis="medium" lx-size="s">Default</nglx-button>
    <nglx-button lx-emphasis="medium" lx-size="s" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-emphasis="medium" lx-size="s">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-emphasis="medium" lx-size="s">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-emphasis="medium" lx-size="s">Split</nglx-button>

        <nglx-button lx-emphasis="medium" lx-size="s" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-emphasis="medium" lx-size="s" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <nglx-button lx-emphasis="low" lx-size="s">Default</nglx-button>
    <nglx-button lx-emphasis="low" lx-size="s" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-emphasis="low" lx-size="s">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-emphasis="low" lx-size="s">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button lx-emphasis="low" lx-size="s" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<!-- Theme dark (m) -->

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-theme="dark">Default</nglx-button>
    <nglx-button lx-theme="dark" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-theme="dark">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-theme="dark">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-theme="dark">Split</nglx-button>

        <nglx-button lx-theme="dark" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-theme="dark" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-color="light" lx-emphasis="medium">Default</nglx-button>
    <nglx-button lx-color="light" lx-emphasis="medium" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-color="light" lx-emphasis="medium">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="medium">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-color="light" lx-emphasis="medium">Split</nglx-button>

        <nglx-button lx-color="light" lx-emphasis="medium" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-color="light" lx-emphasis="medium" lx-is-selected="vm.isSelected" ng-click="vm.toggleSelected()">
        Toggle
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="medium" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-color="light" lx-emphasis="low">Default</nglx-button>
    <nglx-button lx-color="light" lx-emphasis="low" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<!-- Theme dark (s) -->

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-size="s" lx-theme="dark">Default</nglx-button>
    <nglx-button lx-size="s" lx-theme="dark" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-size="s" lx-theme="dark">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-size="s" lx-theme="dark">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-size="s" lx-theme="dark">Split</nglx-button>

        <nglx-button lx-size="s" lx-theme="dark" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-size="s" lx-theme="dark" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s">Default</nglx-button>
    <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button-group>
        <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s">Split</nglx-button>

        <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s" lx-variant="icon">
            <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
        </nglx-button>
    </nglx-button-group>

    <nglx-button lx-color="light" lx-emphasis="medium" lx-size="s" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <nglx-button lx-color="light" lx-emphasis="low" lx-size="s">Default</nglx-button>
    <nglx-button lx-color="light" lx-emphasis="low" lx-size="s" ng-disabled="true">Disabled</nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low" lx-size="s">
        <nglx-icon lx-path="{{ vm.icons.mdiPencil }}"></nglx-icon>
        <span>With Icon</span>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low" lx-size="s">
        <span>Dropdown</span>
        <nglx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></nglx-icon>
    </nglx-button>

    <nglx-button lx-color="light" lx-emphasis="low" lx-size="s" lx-variant="icon">
        <nglx-icon lx-path="{{ vm.icons.mdiPlus }}"></nglx-icon>
    </nglx-button>
</div>
