<!-- Theme light (m) -->

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button>Default</lumx-button>
    <lumx-button ng-disabled="true">Disabled</lumx-button>

    <lumx-button>
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button>
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button>Split</lumx-button>

        <lumx-button lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button lx-emphasis="medium">Default</lumx-button>
    <lumx-button lx-emphasis="medium" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-emphasis="medium">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-emphasis="medium">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-emphasis="medium">Split</lumx-button>

        <lumx-button lx-emphasis="medium" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-emphasis="medium" lx-is-selected="vm.isSelected" ng-click="vm.toggleSelected()">Toggle</lumx-button>

    <lumx-button lx-emphasis="medium" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button lx-emphasis="low">Default</lumx-button>
    <lumx-button lx-emphasis="low" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-emphasis="low">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-emphasis="low">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button lx-emphasis="low" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button lx-size="s">Default</lumx-button>
    <lumx-button lx-size="s" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-size="s">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-size="s">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-size="s">Split</lumx-button>

        <lumx-button lx-size="s" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-size="s" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<!-- Theme light (s) -->

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button lx-emphasis="medium" lx-size="s">Default</lumx-button>
    <lumx-button lx-emphasis="medium" lx-size="s" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-emphasis="medium" lx-size="s">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-emphasis="medium" lx-size="s">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-emphasis="medium" lx-size="s">Split</lumx-button>

        <lumx-button lx-emphasis="medium" lx-size="s" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-emphasis="medium" lx-size="s" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-L6">
    <lumx-button lx-emphasis="low" lx-size="s">Default</lumx-button>
    <lumx-button lx-emphasis="low" lx-size="s" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-emphasis="low" lx-size="s">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-emphasis="low" lx-size="s">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button lx-emphasis="low" lx-size="s" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<!-- Theme dark (m) -->

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-theme="dark">Default</lumx-button>
    <lumx-button lx-theme="dark" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-theme="dark">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-theme="dark">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-theme="dark">Split</lumx-button>

        <lumx-button lx-theme="dark" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-theme="dark" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-color="light" lx-emphasis="medium">Default</lumx-button>
    <lumx-button lx-color="light" lx-emphasis="medium" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-color="light" lx-emphasis="medium">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="medium">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-color="light" lx-emphasis="medium">Split</lumx-button>

        <lumx-button lx-color="light" lx-emphasis="medium" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-color="light" lx-emphasis="medium" lx-is-selected="vm.isSelected" ng-click="vm.toggleSelected()">
        Toggle
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="medium" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-color="light" lx-emphasis="low">Default</lumx-button>
    <lumx-button lx-color="light" lx-emphasis="low" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<!-- Theme dark (s) -->

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-size="s" lx-theme="dark">Default</lumx-button>
    <lumx-button lx-size="s" lx-theme="dark" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-size="s" lx-theme="dark">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-size="s" lx-theme="dark">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-size="s" lx-theme="dark">Split</lumx-button>

        <lumx-button lx-size="s" lx-theme="dark" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-size="s" lx-theme="dark" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s">Default</lumx-button>
    <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s">Split</lumx-button>

        <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s" lx-variant="icon">
            <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lx-color="light" lx-emphasis="medium" lx-size="s" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>

<div class="p++ lx-theme-background-dark-N">
    <lumx-button lx-color="light" lx-emphasis="low" lx-size="s">Default</lumx-button>
    <lumx-button lx-color="light" lx-emphasis="low" lx-size="s" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low" lx-size="s">
        <lumx-icon lx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low" lx-size="s">
        <span>Dropdown</span>
        <lumx-icon lx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button lx-color="light" lx-emphasis="low" lx-size="s" lx-variant="icon">
        <lumx-icon lx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>
