<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <nglx-checkbox ng-checked="vm.checkboxes.model.checked"></nglx-checkbox>
</div>

<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <nglx-checkbox ng-model="vm.checkboxes.model.checked">
        <nglx-checkbox-label>Checkbox</nglx-checkbox-label>
    </nglx-checkbox>
</div>

<div class="lx-theme-background-dark-L6" style="padding: 24px;">
    <nglx-checkbox ng-model="vm.checkboxes.model.unchecked" ng-disabled="vm.checkboxes.states.disabled">
        <nglx-checkbox-label>Checkbox with help</nglx-checkbox-label>
        <nglx-checkbox-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </nglx-checkbox-helper>
    </nglx-checkbox>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <nglx-checkbox ng-model="vm.checkboxes.model.checked" lx-theme="dark"></nglx-checkbox>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <nglx-checkbox ng-model="vm.checkboxes.model.checked" lx-theme="dark">
        <nglx-checkbox-label>Checkbox</nglx-checkbox-label>
    </nglx-checkbox>
</div>

<div class="lx-theme-background-blue-N" style="padding: 24px;">
    <nglx-checkbox ng-model="vm.checkboxes.model.unchecked" ng-disabled="vm.checkboxes.states.disabled" lx-theme="dark">
        <nglx-checkbox-label>Checkbox with help</nglx-checkbox-label>
        <nglx-checkbox-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </nglx-checkbox-helper>
    </nglx-checkbox>
</div>
