<lx-toolbar>
    <lx-toolbar-left>
        <lx-button lx-type="tertiary" lx-size="l">
            <lx-icon lx-path="{{ vm.icons.mdiChevronLeft }}"></lx-icon>
        </lx-button>
    </lx-toolbar-left>

    <lx-toolbar-label>
        <span class="lx-typography-title">Toolbar label</span>
    </lx-toolbar-label>

    <lx-toolbar-right>
        <div lx-grid-container="row">
            <lx-button lx-type="tertiary" lx-size="l">
                <lx-icon lx-path="{{ vm.icons.mdiMagnify }}"></lx-icon>
            </lx-button>

            <lx-button lx-type="tertiary" lx-size="l">
                <lx-icon lx-path="{{ vm.icons.mdiDotsVertical }}"></lx-icon>
            </lx-button>
        </div>
    </lx-toolbar-right>
</lx-toolbar>
