<lx-toolbar>
    <lx-toolbar-left>
        <lx-button lx-type="tertiary" lx-size="l">
            <lx-icon lx-id="chevron-left"></lx-icon>
        </lx-button>
    </lx-toolbar-left>

    <lx-toolbar-label>
        <span class="lx-typography-title">Toolbar label</span>
    </lx-toolbar-label>

    <lx-toolbar-right>
        <div lx-grid-container="row">
            <lx-button lx-type="tertiary" lx-size="l">
                <lx-icon lx-id="magnify"></lx-icon>
            </lx-button>

            <lx-button lx-type="tertiary" lx-size="l">
                <lx-icon lx-id="dots-vertical"></lx-icon>
            </lx-button>
        </div>
    </lx-toolbar-right>
</lx-toolbar>
