<div
    class="lx-dialog"
    ng-class="{ 'lx-dialog--size-s': lxDialog.size === 's',
                'lx-dialog--size-m': lxDialog.size === 'm',
                'lx-dialog--size-l': !lxDialog.size || lxDialog.size === 'l' }"
>
    <div class="lx-dialog__wrapper" ng-if="lxDialog.isOpen">
        <div class="lx-dialog__header" ng-transclude="header"></div>
        <div class="lx-dialog__content" ng-transclude="content"></div>
        <div class="lx-dialog__footer" ng-transclude="footer"></div>
    </div>
</div>
