<div class="p++">
    <lumx-tabs lumx-active-tab="vm.activeTab" lumx-theme="{{ mainBlock.theme }}">
        <lumx-tab lumx-label="Active">
            <p class="p+">Active</p>
        </lumx-tab>

        <lumx-tab lumx-label="Disable" lumx-theme="{{ mainBlock.theme }}" ng-disabled="vm.isTabDisabled">
            <p class="p+">Disable</p>
        </lumx-tab>

        <lumx-tab lumx-label="Active" lumx-theme="{{ mainBlock.theme }}">
            <p class="p+">Active</p>
        </lumx-tab>
    </lumx-tabs>
    <lumx-button ng-click="vm.activeTab = 0">Set first tab as active tab</lumx-button>
    <lumx-button ng-click="vm.isTabDisabled = !vm.isTabDisabled">Toggle second tab disabled state</lumx-button>
</div>
