<div class="p++">
    <lumx-tabs lumx-active-tab="vm.activeTab" lumx-theme="{{ mainBlock.theme }}">
        <lumx-tab lumx-label="Lorem Ipsum 1" lumx-icon="{{ vm.icons.mdiPencil }}">
            <p class="p+">Lorem Ipsum Content 1</p>
        </lumx-tab>

        <lumx-tab lumx-label="Lorem Ipsum 2" lumx-icon="{{ vm.icons.mdiPencil }}" ng-disabled="vm.isTabDisabled">
            <p class="p+">Lorem Ipsum Content 2</p>
        </lumx-tab>

        <lumx-tab lumx-label="Lorem Ipsum 3" lumx-icon="{{ vm.icons.mdiPencil }}">
            <p class="p+">Lorem Ipsum Content 3</p>
        </lumx-tab>
    </lumx-tabs>
</div>
