<lumx-expansion-panel class="lumx-theme-background-dark-L6" lumx-is-open="vm.isOpen" lumx-is-draggable="true">
    <lumx-expansion-panel-header>
        <span class="lumx-typography-subtitle2">Header</span>
    </lumx-expansion-panel-header>

    <lumx-expansion-panel-content>
        <lumx-list>
            <lumx-list-subheader>Lorem ipsum</lumx-list-subheader>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>

            <lumx-list-subheader>Lorem ipsum</lumx-list-subheader>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>

            <lumx-list-divider></lumx-list-divider>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>

            <lumx-list-item lumx-size="tiny">
                <lumx-list-item-before>
                    <lumx-icon lumx-path="{{ vm.icons.mdiSend }}" lumx-size="xs"></lumx-icon>
                </lumx-list-item-before>
                <lumx-list-item-content>Lorem ipsum</lumx-list-item-content>
            </lumx-list-item>
        </lumx-list>
    </lumx-expansion-panel-content>

    <lumx-expansion-panel-footer>
        <lumx-button lumx-color="red">Remove</lumx-button>
    </lumx-expansion-panel-footer>
</lumx-expansion-panel>

<lumx-button ng-click="vm.isOpen = !vm.isOpen">Toggle</lumx-button>
