<div style="padding: 24px;">
    <nglx-dropdown lx-position="left" lx-over-toggle="false" lx-offset="8">
        <lx-dropdown-toggle>
            <nglx-button>Dropdown</nglx-button>
        </lx-dropdown-toggle>

        <lx-dropdown-menu>
            <nglx-list lx-is-clickable="true" lx-focus-on-init>
                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-divider></nglx-list-divider>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>
            </nglx-list>
        </lx-dropdown-menu>
    </nglx-dropdown>
</div>

<div style="padding: 24px;">
    <nglx-dropdown lx-position="left" lx-over-toggle="true">
        <lx-dropdown-toggle>
            <nglx-button>Dropdown</nglx-button>
        </lx-dropdown-toggle>

        <lx-dropdown-menu>
            <nglx-list lx-is-clickable="true" lx-focus-on-init>
                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-divider></nglx-list-divider>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>
            </nglx-list>
        </lx-dropdown-menu>
    </nglx-dropdown>
</div>

<div style="padding: 24px;">
    <nglx-button ng-click="vm.openDropdown($event)" id="{{ vm.dropdownSource }}">Open dropdown</nglx-button>
    <nglx-button ng-click="vm.closeDropdown($event)">Close dropdown</nglx-button>

    <div id="{{ vm.dropdownTarget }}">Target</div>

    <nglx-dropdown lx-position="left" id="{{ vm.dropdownId }}">
        <lx-dropdown-menu>
            <nglx-list lx-is-clickable="true" lx-focus-on-init>
                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-divider></nglx-list-divider>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>

                <nglx-list-item>
                    <lx-list-item-before>
                        <nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon>
                    </lx-list-item-before>
                    <lx-list-item-content>Lorem ipsum</lx-list-item-content>
                </nglx-list-item>
            </nglx-list>
        </lx-dropdown-menu>
    </nglx-dropdown>
</div>
