@import './variables';

@mixin lx-input-label($theme) {
    @include lx-typography($lx-input-label-typography);

    display: block;
    color: lx-theme-color-variant($theme, N);
}

@mixin lx-input-helper($theme) {
    @include lx-typography($lx-input-helper-typography);

    display: block;
    margin-top: $lx-base-spacing-unit / 2;
    color: lx-theme-color-variant($theme, L2);
}
