/* ==========================================================================
   Expansion panel
   ========================================================================== */

.#{$lumx-base-prefix}-expansion-panel {
    $self: &;

    border-radius: $lumx-expansion-panel-radius;

    &--has-background {
        &#{$self}--theme-light {
            background-color: lumx-color-variant('dark', 'L6');
        }

        &#{$self}--theme-dark {
            background-color: lumx-color-variant('light', 'L6');
        }
    }

    &__header {
        display: flex;
        align-items: center;

        #{$self}--theme-light#{$self}--is-open#{$self}--has-header-divider & {
            @include lumx-has-divider(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark#{$self}--is-open#{$self}--has-header-divider & {
            @include lumx-has-divider(lumx-base-const('theme', 'DARK'));
        }
    }

    &__header-drag {
        flex-shrink: 0;
        margin: 0 $lumx-spacing-unit;
    }

    &__header-content {
        flex: 1 1 auto;

        #{$self}--has-background:not(#{$self}--is-draggable):not(#{$self}--has-header) & {
            padding-left: $lumx-spacing-unit * 2;
        }
    }

    &__label {
        @include lumx-typography('body1');

        display: block;

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'N');
        }
    }

    &__header-toggle {
        flex-shrink: 0;

        #{$self}--has-background & {
            margin: $lumx-spacing-unit;
        }

        #{$self}--has-header & {
            margin-left: 0;
        }
    }

    &__wrapper {
        overflow: hidden;
        transition: max-height $lumx-expansion-panel-transition-duration;

        #{$self}--is-close & {
            max-height: 0 !important;
        }
    }
}
