$lx-theme-dark: (
    N: rgba(0, 0, 0, 0.87),
    L1: rgba(rgba(0, 0, 0, 0.87), 0.8),
    L2: rgba(rgba(0, 0, 0, 0.87), 0.54),
    L3: rgba(rgba(0, 0, 0, 0.87), 0.38),
    L4: rgba(rgba(0, 0, 0, 0.87), 0.2),
    L5: rgba(rgba(0, 0, 0, 0.87), 0.12),
    L6: rgba(rgba(0, 0, 0, 0.87), 0.05),
);

$lx-theme-light: (
    N: #fff,
    L1: rgba(#fff, 0.9),
    L2: rgba(#fff, 0.8),
    L3: rgba(#fff, 0.6),
    L4: rgba(#fff, 0.4),
    L5: rgba(#fff, 0.2),
    L6: rgba(#fff, 0.1),
);

$lx-theme-blue: (
    D2: #1976d2,
    D1: #1e88e5,
    N: #2196f3,
    L1: rgba(#2196f3, 0.8),
    L2: rgba(#2196f3, 0.6),
    L3: rgba(#2196f3, 0.4),
    L4: rgba(#2196f3, 0.2),
    L5: rgba(#2196f3, 0.1),
    L6: rgba(#2196f3, 0.05),
);

$lx-theme-yellow: (
    D2: #ffa000,
    D1: #ffb300,
    N: #ffc107,
    L1: rgba(#ffc107, 0.8),
    L2: rgba(#ffc107, 0.6),
    L3: rgba(#ffc107, 0.4),
    L4: rgba(#ffc107, 0.2),
    L5: rgba(#ffc107, 0.1),
    L6: rgba(#ffc107, 0.05),
);

$lx-theme-red: (
    D2: #d32f2f,
    D1: #e53935,
    N: #f44336,
    L1: rgba(#f44336, 0.8),
    L2: rgba(#f44336, 0.6),
    L3: rgba(#f44336, 0.4),
    L4: rgba(#f44336, 0.2),
    L5: rgba(#f44336, 0.1),
    L6: rgba(#f44336, 0.05),
);

$lx-theme-green: (
    D2: #388e3c,
    D1: #43a047,
    N: #4caf50,
    L1: rgba(#4caf50, 0.8),
    L2: rgba(#4caf50, 0.6),
    L3: rgba(#4caf50, 0.4),
    L4: rgba(#4caf50, 0.2),
    L5: rgba(#4caf50, 0.1),
    L6: rgba(#4caf50, 0.05),
);
