@import './color-palette';

$lx-theme-primary: $lx-theme-blue;
$lx-theme-secondary: $lx-theme-green;

$lx-theme-color-palette: (
    primary: $lx-theme-primary,
    secondary: $lx-theme-secondary,
    dark: $lx-theme-dark,
    light: $lx-theme-light,
    blue: $lx-theme-blue,
    yellow: $lx-theme-yellow,
    red: $lx-theme-red,
    green: $lx-theme-green,
);

$lx-theme-border-radius: 2px;
