/* ==========================================================================
   Progress tracker
   ========================================================================== */

.#{$lumx-base-prefix}-progress-tracker {
    position: relative;

    &__steps {
        position: relative;
        z-index: 1;
        display: flex;
    }

    &__background-bar,
    &__foreground-bar {
        position: absolute;
        z-index: 0;
        top: 19px;
        height: $lumx-progress-tracker-bar-height;
    }

    &__background-bar {
        background-color: lumx-theme-color-variant('dark', $lumx-divider-color-variant);
    }

    &__foreground-bar {
        background-color: lumx-theme-color-variant('primary', 'N');
        transform-origin: left;
        transition: transform $lumx-progress-tracker-transition-duration;
    }
}

/* Step
   ========================================================================== */

.#{$lumx-base-prefix}-progress-tracker-step {
    $self: &;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding: $lumx-spacing-unit 0;
    border-radius: $lumx-theme-border-radius;
    outline: none;

    &--is-clickable {
        @include lumx-state-transition;

        cursor: pointer;
    }

    &__state {
        position: relative;
        color: lumx-theme-color-variant('dark', 'L5');

        #{$self}--is-active &,
        #{$self}--is-complete & {
            color: lumx-theme-color-variant('primary', 'N');
        }

        #{$self}--has-error & {
            color: lumx-theme-color-variant('red', 'N');
        }

        &::before {
            position: absolute;
            z-index: -1;
            top: 2px;
            left: 2px;
            width: 20px;
            height: 20px;
            background-color: lumx-theme-color-variant('light', 'N');
            content: '';
        }
    }

    &__label {
        @include lumx-typography('body1');

        margin-top: $lumx-spacing-unit;
        color: lumx-theme-color-variant('dark', 'N');
        text-align: center;

        #{$self}--has-error & {
            color: lumx-theme-color-variant('red', 'N');
        }
    }

    &__helper {
        @include lumx-typography('caption');

        color: lumx-theme-color-variant('dark', 'L2');
        text-align: center;

        #{$self}--has-error & {
            color: lumx-theme-color-variant('red', 'N');
        }
    }
}

/* Step states
   ========================================================================== */

// Hover state
.#{$lumx-base-prefix}-progress-tracker-step--is-clickable:hover {
    @include lumx-state('state-hover', 'emphasis-low', 'dark');
}

// Active state
.#{$lumx-base-prefix}-progress-tracker-step--is-clickable:active {
    @include lumx-state('state-active', 'emphasis-low', 'dark');
}

// Focus state
.#{$lumx-base-prefix}-progress-tracker-step--is-clickable[data-focus-visible-added] {
    @include lumx-state('state-focus', 'emphasis-low', 'dark');
}
