/* ==========================================================================
   Select
   ========================================================================== */

.lx-select {
    $self: &;

    &__label {
        #{ $self }--theme-light & {
            @include lx-input-label(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-input-label(light);
        }
    }

    &__input-wrapper {
        cursor: pointer;

        #{ $self }--theme-light#{ $self }--is-empty &,
        #{ $self }--theme-light#{ $self }--has-unique & {
            @include lx-text-field-input-wrapper(dark, true, false);
        }

        #{ $self }--theme-dark#{ $self }--is-empty &,
        #{ $self }--theme-dark#{ $self }--has-unique & {
            @include lx-text-field-input-wrapper(light, true, false);
        }

        #{ $self }--theme-light#{ $self }--has-multiple & {
            @include lx-text-field-input-wrapper(dark, true, true);
        }

        #{ $self }--theme-dark#{ $self }--has-multiple & {
            @include lx-text-field-input-wrapper(light, true, true);
        }
    }

    &--has-label &__input-wrapper {
        margin-top: $lx-spacing-unit;
    }

    &__input-native {
        #{ $self }--theme-light & {
            @include lx-text-field-input-native(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-input-native(light);
        }

        &--placeholder {
            #{ $self }--theme-light & {
                @include lx-text-field-placeholder(dark);
            }

            #{ $self }--theme-dark & {
                @include lx-text-field-placeholder(light);
            }
        }
    }

    &__input-chips {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    &__input-chip {
        @include lx-select-input-chip;
    }

    &__input-clear {
        flex-shrink: 0;

        #{ $self }--theme-light & {
            @include lx-select-input-clear(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-select-input-clear(dark);
        }
    }

    &__input-validity {
        flex-shrink: 0;
    }

    &__input-indicator {
        flex-shrink: 0;

        #{ $self }--theme-light & {
            @include lx-select-input-indicator(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-select-input-indicator(light);
        }
    }

    &__filter {
        @include lx-select-filter;

        i {
            @include lx-text-field-input-icon(dark);
        }

        input {
            @include lx-text-field-input-native(dark);

            &::placeholder {
                @include lx-text-field-placeholder(dark);
            }
        }
    }

    &__loader {
        @include lx-select-loader;
    }

    &__helper {
        @include lx-select-helper;
    }
}

/* Select states
   ========================================================================== */

// Hover state
.lx-select--theme-light .lx-select__input-wrapper:hover {
    @include lx-text-field-input-wrapper-state(state-hover, dark);
}

.lx-select--theme-dark .lx-select__input-wrapper:hover {
    @include lx-text-field-input-wrapper-state(state-hover, light);
}

// Focus state
.lx-select--theme-light.lx-select--is-open .lx-select__input-wrapper,
.lx-select--theme-light .lx-select__input-wrapper:focus {
    @include lx-text-field-input-wrapper-state(state-focus, dark);
}

.lx-select--theme-dark.lx-select--is-open .lx-select__input-wrapper,
.lx-select--theme-dark .lx-select__input-wrapper:focus {
    @include lx-text-field-input-wrapper-state(state-focus, light);
}

// Disabled state
.lx-select--theme-light.lx-select--is-disabled {
    .lx-select__label {
        @include lx-state-disabled-text(dark);
    }

    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-state(state-disabled, dark);
    }

    .lx-select__input-native {
        @include lx-state-disabled-text(dark);

        &::placeholder {
            @include lx-state-disabled-text(dark);
        }
    }

    .lx-select__input-indicator {
        color: lx-theme-color-variant(dark, L3);
    }
}

.lx-select--theme-dark.lx-select--is-disabled {
    .lx-select__label {
        @include lx-state-disabled-text(light);
    }

    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-state(state-disabled, light);
    }

    .lx-select__input-native {
        @include lx-state-disabled-text(light);

        &::placeholder {
            @include lx-state-disabled-text(light);
        }
    }

    .lx-select__input-indicator {
        color: lx-theme-color-variant(light, L3);
    }
}

/* Select validity
   ========================================================================== */

.lx-select--theme-light.lx-select--is-valid {
    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-validity(valid, dark);
    }

    .lx-select__input-validity {
        @include lx-text-field-input-validity(valid, dark);
    }
}

.lx-select--theme-light.lx-select--has-error {
    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-validity(error, dark);
    }

    .lx-select__input-validity {
        @include lx-text-field-input-validity(error, dark);
    }
}

.lx-select--theme-dark.lx-select--is-valid {
    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-validity(valid, light);
    }

    .lx-select__input-validity {
        @include lx-text-field-input-validity(valid, light);
    }
}

.lx-select--theme-dark.lx-select--has-error {
    .lx-select__input-wrapper {
        @include lx-text-field-input-wrapper-validity(error, light);
    }

    .lx-select__input-validity {
        @include lx-text-field-input-validity(error, light);
    }
}
