<lumx-tabs lumx-active-tab="vm.activeTab">
    <lumx-tab lumx-label="Lorem Ipsum 1" lumx-icon="{{ vm.icons.mdiPencil }}">
        <p class="lumx-spacing-padding-big">Lorem Ipsum Content 1</p>
    </lumx-tab>

    <lumx-tab lumx-label="Lorem Ipsum 2" ng-disabled="vm.isTabDisabled">
        <p class="lumx-spacing-padding-big">Lorem Ipsum Content 2</p>
    </lumx-tab>

    <lumx-tab lumx-label="Lorem Ipsum 3">
        <p class="lumx-spacing-padding-big">Lorem Ipsum Content 3</p>
    </lumx-tab>
</lumx-tabs>

<lumx-button ng-click="vm.activeTab = 0">Set first tab as active tab</lumx-button>
<lumx-button ng-click="vm.isTabDisabled = !vm.isTabDisabled">Toggle second tab disabled state</lumx-button>

<lumx-tabs lumx-layout="clustered">
    <lumx-tab lumx-label="{{ tab.heading }}" ng-repeat="tab in vm.tabs">
        <div class="lumx-spacing-padding-big">
            <p>{{ tab.content }}</p>
            <lumx-button ng-click="vm.removeTab(vm.tabs.indexOf(tab))">Remove current tab</lumx-button>
        </div>
    </lumx-tab>
</lumx-tabs>

<lumx-button ng-click="vm.addTab()">Add a tab</lumx-button>
<lumx-button ng-click="vm.removeFirstTab()">Remove first tab</lumx-button>
