<main-header category="Components" title="Tabs">
    <p>
        Tabs allow users to navigate between groups of content on the same page.
    </p>
</main-header>

<main-block
    js-path="demo/angularjs/components/tabs/controller.js"
    path="demo/angularjs/components/tabs/partials/default.html"
    title="Full width tabs"
>
</main-block>

<main-block
    js-path="demo/angularjs/components/tabs/controller.js"
    path="demo/angularjs/components/tabs/partials/left-tabs.html"
    title="Justify left tabs"
>
</main-block>

<main-block
    js-path="demo/angularjs/components/tabs/controller.js"
    path="demo/angularjs/components/tabs/partials/icon-tabs.html"
    title="Icon tabs"
>
</main-block>
