<div class="main-block">
    <h2 class="main-block__title" ng-if="mainBlock.title">{{ mainBlock.title }}</h2>

    <div class="main-block__description" ng-if="mainBlock.hasDescription" ng-transclude></div>

    <div class="main-block__demo">
        <div ng-class="{ 'lumx-theme-background-dark-N': mainBlock.hasDarkTheme }" ng-include="mainBlock.path"></div>

        <div class="main-block__toolbar">
            <div class="main-block__code-toggle">
                <lumx-button lumx-emphasis="low" ng-click="mainBlock.toggleCode()">
                    <lumx-icon lumx-path="{{ mainBlock.icons.mdiCodeTags }}"></lumx-icon>
                    <span>{{ mainBlock.isCodeOpen ? 'Hide code' : 'Show code' }}</span>
                </lumx-button>
            </div>

            <div class="main-block__theme-toggle">
                <lumx-switch
                    lumx-position="right"
                    ng-model="mainBlock.hasDarkTheme"
                    ng-change="mainBlock.toggleTheme()"
                >
                    Dark Background
                </lumx-switch>
            </div>
        </div>

        <div
            class="main-block__code"
            ng-if="mainBlock.isCodeOpen"
            hljs
            hljs-language="html"
            include="mainBlock.path"
        ></div>
    </div>
</div>
