<div class="main-header" lumx-grid-container="row" lumx-grid-h-align="center">
    <div lumx-grid-item lumx-grid-container="row" lumx-grid-h-align="center">
        <span class="lumx-typography-overline lumx-spacing-margin-right-regular">Theme</span>

        <lumx-chip
            class="lumx-spacing-margin-right-tiny"
            lumx-is-selected="mainHeader.isThemeActive('lumapps')"
            lumx-on-click="mainHeader.setTheme('lumapps')"
            lumx-size="s"
        >
            <lumx-chip-label>LumApps</lumx-chip-label>
        </lumx-chip>

        <lumx-chip
            lumx-is-selected="mainHeader.isThemeActive('material')"
            lumx-on-click="mainHeader.setTheme('material')"
            lumx-size="s"
        >
            <lumx-chip-label>Material</lumx-chip-label>
        </lumx-chip>
    </div>

    <lumx-button lumx-emphasis="low" lumx-size="s">
        <lumx-icon lumx-path="{{ mainHeader.icons.mdiReact }}"></lumx-icon>
        <span>View React version</span>
    </lumx-button>
</div>
