<div>
    <div lx-grid-container="row">
        <div lx-grid-item>
            <span class="lx-typography-overline lx-theme-color-dark-L3">{{ mainHeader.category }}</span>
        </div>

        <div>
            <nglx-button lx-emphasis="low" lx-size="s">
                <nglx-icon lx-path="{{ mainHeader.icons.mdiReact }}"></nglx-icon>
                <span>View React version</span>
            </nglx-button>
        </div>
    </div>

    <h1 class="lx-typography-display1 mt+">{{ mainHeader.title }}</h1>
    <div class="lx-typography-subtitle2 mt+" ng-transclude></div>
</div>
