<li
    class="lumx-list-item"
    ng-class="{ 'lumx-list-item--is-selected': lumx.isSelected }"
    tabindex="{{ lumx.parentController.isClickable ? 0 : -1 }}"
>
    <div
        class="lumx-list-item__content"
        ng-transclude
        ng-if="::!lumx.hasBefore && !lumx.hasContent && !lumx.hasAfter"
    ></div>

    <div class="lumx-list-item__before" ng-transclude="before" ng-if="::lumx.hasBefore"></div>
    <div class="lumx-list-item__content" ng-transclude="content" ng-if="::lumx.hasContent"></div>
    <div class="lumx-list-item__after" ng-transclude="after" ng-if="::lumx.hasAfter"></div>
</li>
