/* ==========================================================================
   Radio button
   ========================================================================== */

@import "./mixins";

.lx-radio-button {
    $self: &;

    display: flex;

    &__input-wrapper {
        @include lx-radio-button-input-wrapper;
    }

    &__input-native {
        @include lx-radio-button-input-native;
    }

    &__input-placeholder {
        @include lx-radio-button-placeholder;
    }

    &__input-background {
        @include lx-radio-button-input-background;

        #{ $self }--theme-light#{ $self }--is-checked & {
            @include lx-radio-button-input-background-status(checked, dark);
        }

        #{ $self }--theme-dark#{ $self }--is-checked & {
            @include lx-radio-button-input-background-status(checked, light);
        }

        #{ $self }--theme-light#{ $self }--is-unchecked & {
            @include lx-radio-button-input-background-status(unchecked, dark);
        }

        #{ $self }--theme-dark#{ $self }--is-unchecked & {
            @include lx-radio-button-input-background-status(unchecked, light);
        }
    }

    &__input-indicator {
        @include lx-radio-button-input-indicator;

        #{ $self }--theme-light#{ $self }--is-checked & {
            @include lx-radio-button-input-indicator-status(checked, dark);
        }

        #{ $self }--theme-dark#{ $self }--is-checked & {
            @include lx-radio-button-input-indicator-status(checked, light);
        }

        #{ $self }--theme-light#{ $self }--is-unchecked & {
            @include lx-radio-button-input-indicator-status(unchecked, dark);
        }

        #{ $self }--theme-dark#{ $self }--is-unchecked & {
            @include lx-radio-button-input-indicator-status(unchecked, light);
        }
    }

    &__content {
        margin-left: $lx-base-spacing-unit;
    }

    &__label {
        #{ $self }--theme-light & {
            @include lx-input-label(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-input-label(light);
        }
    }

    &__help {
        #{ $self }--theme-light & {
            @include lx-input-helper(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-input-helper(light);
        }
    }
}

/* Radio button states
   ========================================================================== */

// Disabled state
.lx-radio-button--theme-light.lx-radio-button--is-disabled {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-disabled, dark);
    }

    .lx-radio-button__input-indicator {
        @include lx-state(primary, state-disabled, dark, primary);
    }

    .lx-radio-button__label,
    .lx-radio-button__help {
        @include lx-state-disabled-text(dark);
    }
}

.lx-radio-button--theme-dark.lx-radio-button--is-disabled {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-disabled, light);
    }

    .lx-radio-button__input-indicator {
        @include lx-state(primary, state-disabled, light, primary);
    }

    .lx-radio-button__label,
    .lx-radio-button__help {
        @include lx-state-disabled-text(light);
    }
}

.lx-radio-button--is-disabled .lx-radio-button__input-native {
    pointer-events: none;
}

// Hover state
.lx-radio-button--theme-light.lx-radio-button--is-unchecked .lx-radio-button__input-native:hover + .lx-radio-button__input-placeholder {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-hover, dark);
    }
}

.lx-radio-button--theme-dark.lx-radio-button--is-unchecked .lx-radio-button__input-native:hover + .lx-radio-button__input-placeholder {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-hover, light);
    }
}

// Focus state
.lx-radio-button--theme-light.lx-radio-button--is-unchecked .lx-radio-button__input-native[data-focus-visible-added] + .lx-radio-button__input-placeholder {
    @include lx-state(secondary, state-focus, dark);
}

.lx-radio-button--theme-light.lx-radio-button--is-checked .lx-radio-button__input-native[data-focus-visible-added] + .lx-radio-button__input-placeholder {
    @include lx-state(primary, state-focus, dark, primary);
}

.lx-radio-button--theme-dark.lx-radio-button--is-unchecked .lx-radio-button__input-native[data-focus-visible-added] + .lx-radio-button__input-placeholder {
    @include lx-state(secondary, state-focus, light);
}

.lx-radio-button--theme-dark.lx-radio-button--is-checked .lx-radio-button__input-native[data-focus-visible-added] + .lx-radio-button__input-placeholder {
    @include lx-state(primary, state-focus, light, primary);
}

// Active state
.lx-radio-button--theme-light.lx-radio-button--is-unchecked .lx-radio-button__input-native:active + .lx-radio-button__input-placeholder {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-active, dark);
    }
}

.lx-radio-button--theme-dark.lx-radio-button--is-unchecked .lx-radio-button__input-native:active + .lx-radio-button__input-placeholder {
    .lx-radio-button__input-background {
        @include lx-state(secondary, state-active, light);
    }
}
