/* ==========================================================================
   Tooltip
   ========================================================================== */

.#{$lumx-base-prefix}-tooltip {
    $self: &;

    @include lumx-elevation(3);

    padding: $lumx-spacing-unit / 2 $lumx-spacing-unit;
    background-color: lumx-theme-color-variant(light, N);
    border-radius: $lumx-theme-border-radius;

    &[x-placement^='top'] {
        margin-bottom: $lumx-spacing-unit;
    }

    &[x-placement^='bottom'] {
        margin-top: $lumx-spacing-unit;
    }

    &[x-placement^='left'] {
        margin-right: $lumx-spacing-unit;
    }

    &[x-placement^='right'] {
        margin-left: $lumx-spacing-unit;
    }

    &__arrow {
        position: absolute;
        width: 0;
        height: 0;
        margin: $lumx-tooltip-arrow-size;
        border-style: solid;
        border-color: lumx-theme-color-variant(light, N);

        #{$self}[x-placement^='top'] & {
            bottom: -$lumx-tooltip-arrow-size;
            margin-top: 0;
            margin-bottom: 0;
            border-width: $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size 0 $lumx-tooltip-arrow-size;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        #{$self}[x-placement^='bottom'] & {
            top: -$lumx-tooltip-arrow-size;
            margin-top: 0;
            margin-bottom: 0;
            border-width: 0 $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size;
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
        }

        #{$self}[x-placement^='left'] & {
            right: -$lumx-tooltip-arrow-size;
            margin-right: 0;
            margin-left: 0;
            border-width: $lumx-tooltip-arrow-size 0 $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }

        #{$self}[x-placement^='right'] & {
            left: -$lumx-tooltip-arrow-size;
            margin-right: 0;
            margin-left: 0;
            border-width: $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size $lumx-tooltip-arrow-size 0;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }

    &__inner {
        @include lumx-typography(caption);

        display: block;
    }
}
