/* ==========================================================================
   Input label
   ========================================================================== */

.#{$lumx-base-prefix}-input-label {
    &--is-required:before {
        margin-right: $lumx-spacing-unit-tiny;
        content: '*';
        font-weight: 700;
    }

    &--theme-light {
        @include lumx-input-label(lumx-base-const('theme', 'LIGHT'));

        &:before {
            color: lumx-color-variant('red', 'N');
        }
    }

    &--theme-dark {
        @include lumx-input-label(lumx-base-const('theme', 'DARK'));
    }
}
