/* ==========================================================================
   Input label
   ========================================================================== */

.lumx-input-label {
    &--is-required::before {
        margin-right: $lumx-spacing-unit-tiny;
        font-weight: 700;
        content: "*";
    }

    &--theme-light {
        @include lumx-input-label("theme-light");

        &::before {
            color: lumx-color-variant("red", "N");
        }
    }

    &--theme-dark {
        @include lumx-input-label("theme-dark");
    }

    /** When there is a custom typography, we create a more specific selector so that it overrides the typo added by the mixin `lumx-input-label` */
    &--has-custom-typography {
        @each $key, $style in $lumx-typography-interface {
            &.lumx-typography-#{$key} {
                @include lumx-typography($key);
            }
        }
    }
}
