@mixin lumx-input-label($theme) {
    display: block;
    font-size: var(--lumx-material-input-label-font-size);
    font-weight: var(--lumx-material-input-label-font-weight);
    line-height: var(--lumx-material-input-label-line-height);

    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "N");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "N");
    }
}
