@mixin lumx-input-label($theme) {
    display: block;
    font-size: var(--lumx-input-label-font-size);
    font-weight: var(--lumx-input-label-font-weight);
    line-height: var(--lumx-input-label-line-height);

    @if $theme == lumx-base-const('theme', 'LIGHT') {
        color: lumx-color-variant('dark', 'N');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        color: lumx-color-variant('light', 'N');
    }
}
