<main-header category="Components" title="Button">
    <p>
        Buttons are used to signal an action.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Primary"
    path="demo/angularjs/components/button/partials/medium-primary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Secondary"
    path="demo/angularjs/components/button/partials/medium-secondary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Tertiary"
    path="demo/angularjs/components/button/partials/medium-tertiary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Small primary button"
    path="demo/angularjs/components/button/partials/small-primary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Small primary button"
    path="demo/angularjs/components/button/partials/small-secondary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Small primary button"
    path="demo/angularjs/components/button/partials/small-tertiary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Danger"
    path="demo/angularjs/components/button/partials/medium-danger.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>
