<main-header category="Components" title="Button">
    <p>
        Buttons allow to trigger actions with a single click .
    </p>
</main-header>

<main-block
    title="Primary"
    path="demo/angularjs/components/button/partials/medium-primary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        Allow users to quickly identify the main action of the current screen. We should limit one primary button per
        view.
    </p>
</main-block>

<main-block
    title="Secondary"
    path="demo/angularjs/components/button/partials/medium-secondary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        Secondary action should be used according to the primary button. For example as a cancel button.
    </p>
</main-block>

<main-block
    title="Tertiary"
    path="demo/angularjs/components/button/partials/medium-tertiary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        We can use the tertiary button as a text link to accentuate the hierarchy between other buttons, or use when
        they have same level actions.
    </p>
</main-block>

<main-block
    title="Small size"
    path="demo/angularjs/components/button/partials/small-button.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>
