<main-header category="Components" title="Button">
    <p>
        Use buttons to trigger actions with a single click .
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Primary"
    path="demo/angularjs/components/button/partials/medium-primary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        Allow users to quickly identify the main action of the current screen. We should limit one primary button per
        view.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Secondary"
    path="demo/angularjs/components/button/partials/medium-secondary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        Use as a secondary action according to the primary button, such as "Cancel".
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Tertiary"
    path="demo/angularjs/components/button/partials/medium-tertiary.html"
    js-path="demo/angularjs/components/button/controller.js"
>
    <p>
        Use tertiary buttons for all same level actions.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Small size"
    path="demo/angularjs/components/button/partials/small-button.html"
    js-path="demo/angularjs/components/button/controller.js"
>
</main-block>
