<div class="p++" lumx-grid-container="row" lumx-grid-v-align="center">
    <lumx-chip class="m-" lumx-theme="{{ mainBlock.theme }}" lumx-on-click="vm.clickCallback()">
        <lumx-chip-label>Dismissible</lumx-chip-label>
        <lumx-chip-after>
            <lumx-icon lumx-path="{{ vm.icons.mdiClose }}" lumx-size="xs"></lumx-icon>
        </lumx-chip-after>
    </lumx-chip>
    <lumx-chip class="m-" lumx-theme="{{ mainBlock.theme }}" lumx-on-click="vm.clickCallback()">
        <lumx-chip-before>
            <lumx-icon lumx-path="{{ vm.icons.mdiEmail }}" lumx-size="xs"></lumx-icon>
        </lumx-chip-before>
        <lumx-chip-label>Dismissible rich</lumx-chip-label>
        <lumx-chip-after>
            <lumx-icon lumx-path="{{ vm.icons.mdiClose }}" lumx-size="xs"></lumx-icon>
        </lumx-chip-after>
    </lumx-chip>
</div>
