<div class="p++" lumx-grid-container="row" lumx-grid-v-align="center">
    <lumx-chip
        lumx-theme="{{ mainBlock.theme }}"
        lumx-has-dropdown-indicator="!vm.isSelected"
        lumx-is-selected="vm.isSelected"
        lumx-on-click="vm.select()"
        lumx-on-after-click="vm.unselect()"
    >
        <lumx-chip-before>
            <lumx-icon lumx-path="{{ vm.icons.mdiFilterVariant }}" lumx-size="xs"></lumx-icon>
        </lumx-chip-before>
        <lumx-chip-label>Filter</lumx-chip-label>
        <lumx-chip-after>
            <lumx-icon lumx-path="{{ vm.icons.mdiCloseCircle }}" lumx-size="xs"></lumx-icon>
        </lumx-chip-after>
    </lumx-chip>
</div>
