@use "sass:list";

/* ==========================================================================
   Inline list
   ========================================================================== */

.#{$lumx-base-prefix}-inline-list {
    display: flex;
    align-items: center;
    list-style: none;

    &--wrap {
        flex-wrap: wrap;
    }

    &__item {
        display: contents;
    }
}
