/* ==========================================================================
   Comment block
   ========================================================================== */

.#{$lumx-base-prefix}-comment-block {
    $self: &;

    #{$self}__children & {
        margin-top: $lumx-spacing-unit * 2;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;

        #{$self}--has-children &::before {
            position: absolute;
            top: 44px;
            bottom: -8px;
            left: 16px;
            width: 4px;
            content: '';
        }

        #{$self}--theme-light#{$self}--has-children &::before {
            background-color: lumx-theme-color-variant('dark', 'L5');
        }

        #{$self}--theme-dark#{$self}--has-children &::before {
            background-color: lumx-theme-color-variant('light', 'L5');
        }

        #{$self}__children #{$self}:last-child &::before {
            display: none;
        }
    }

    &__avatar {
        flex-shrink: 0;
        margin-right: $lumx-spacing-unit * 2;
    }

    &__container {
        flex: 1;
    }

    &__content {
        position: relative;
        overflow: hidden;
        padding: $lumx-spacing-unit * 1.5;
        padding-top: $lumx-spacing-unit;
        border-radius: $lumx-theme-border-radius;

        #{$self}--theme-light > #{$self}__wrapper & {
            background-color: lumx-theme-color-variant('dark', 'L6');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            background-color: lumx-theme-color-variant('light', 'L6');
        }

        #{$self}--is-relevant > #{$self}__wrapper &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background-color: lumx-theme-color-variant('green', 'N');
            content: '';
        }
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        @include lumx-typography('subtitle1');

        margin-right: $lumx-spacing-unit;
        outline: none;

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-theme-color-variant('dark', 'N');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-theme-color-variant('light', 'N');
        }

        &[tabindex='0'] {
            #{$self}--theme-light > #{$self}__wrapper & {
                @include lumx-link('dark');
            }

            #{$self}--theme-dark > #{$self}__wrapper & {
                @include lumx-link('light');
            }
        }
    }

    &__date {
        @include lumx-typography('body1');

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-theme-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-theme-color-variant('light', 'L2');
        }
    }

    &__text {
        @include lumx-typography('body1');

        #{$self}--theme-light > #{$self}__wrapper & {
            color: lumx-theme-color-variant('dark', 'N');
        }

        #{$self}--theme-dark > #{$self}__wrapper & {
            color: lumx-theme-color-variant('light', 'N');
        }
    }

    &__actions {
        margin-top: $lumx-spacing-unit;
    }
}
