/* ==========================================================================
   Comment block
   ========================================================================== */

.#{$lumx-base-prefix}-comment-block {
    position: relative;

    &--has-children::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 16px;
        width: 4px;
        background-color: lumx-theme-color-variant(dark, L5);
        content: '';
    }

    &__wrapper {
        display: flex;
    }

    &__avatar {
        flex-shrink: 0;
        margin-right: $lumx-spacing-unit * 2;
    }

    &__content {
        flex: 1;
    }

    &__meta {
        display: flex;
    }

    &__name {
        @include lumx-typography(subtitle1);
    }

    &__date {
        @include lumx-typography(body1);

        margin-left: $lumx-spacing-unit;
        color: lumx-theme-color-variant(dark, L2);
    }

    &__text {
        @include lumx-typography(body1);
    }

    &__actions {
        margin-top: $lumx-spacing-unit;
    }
}
