<lx-select
    ng-model="vm.selectModel.selectedPerson"
    lx-allow-clear="true"
    lx-choices="vm.selectPeople"
    lx-label="Lorem Ipsum"
>
    <lx-select-selected>{{ $selected.name }} - {{ $selected.age }}</lx-select-selected>
    <lx-select-choices>{{ $choice.email }}</lx-select-choices>
</lx-select>

<lx-select
    ng-model="vm.selectModel.selectedPerson"
    lx-allow-clear="true"
    lx-choices="vm.selectPeople"
    lx-label="Lorem Ipsum"
    lx-valid="true"
>
    <lx-select-selected>{{ $selected.name }} - {{ $selected.age }}</lx-select-selected>
    <lx-select-choices>{{ $choice.email }}</lx-select-choices>
</lx-select>

<lx-select ng-model="vm.selectModel.selectedPerson" lx-choices="vm.selectPeople" lx-label="Lorem Ipsum" lx-error="true">
    <lx-select-selected>{{ $selected.name }} - {{ $selected.age }}</lx-select-selected>
    <lx-select-choices>{{ $choice.email }}</lx-select-choices>
</lx-select>

<lx-select
    ng-model="vm.selectModel.selectedPeople"
    lx-choices="vm.selectPeople"
    lx-label="Lorem Ipsum"
    lx-multiple="true"
    lx-error="true"
>
    <lx-select-selected>{{ $selected.name }} - {{ $selected.age }}</lx-select-selected>
    <lx-select-choices>{{ $choice.email }}</lx-select-choices>
</lx-select>

<lx-select
    ng-change="vm.selectCallback()"
    ng-model="vm.selectAjax.selected"
    lx-choices="vm.selectAjax.list"
    lx-display-filter="true"
    lx-display-helper="!vm.selectAjax.list.length"
    lx-filter="vm.selectAjax.update(newValue)"
    lx-helper="No results"
    lx-label="Lorem Ipsum"
    lx-loading="vm.selectAjax.loading"
    lx-multiple="true"
    lx-model-to-selection="vm.selectAjax.toSelection(data, callback)"
    lx-selection-to-model="vm.selectAjax.toModel(data, callback)"
>
    <lx-select-selected>{{ $selected.name }} (Born in {{ $selected.birth_year }})</lx-select-selected>
    <lx-select-choices>{{ $choice.name }} (Appears in {{ $choice.films.length }} films)</lx-select-choices>
</lx-select>
