/* ==========================================================================
   Fieldset
   ========================================================================== */

.#{$lumx-base-prefix}-fieldset {
    $self: &;
    margin-top: $lumx-spacing-unit-huge;

    &--with-negative-margin-bottom {
        #{$self}__wrapper {
            margin-top: 0;
        }
    }
}
