<nglx-expansion-panel class="lx-theme-background-dark-L6" lx-is-open="vm.isOpen" lx-is-draggable="true">
    <nglx-expansion-panel-header>
        <span class="lx-typography-subtitle2">Header</span>
    </nglx-expansion-panel-header>

    <nglx-expansion-panel-content>
        <nglx-list>
            <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>

            <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>

            <nglx-list-divider></nglx-list-divider>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>

            <nglx-list-item>
                <nglx-list-item-before>
                    <nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon>
                </nglx-list-item-before>
                <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
            </nglx-list-item>
        </nglx-list>
    </nglx-expansion-panel-content>

    <nglx-expansion-panel-footer>
        <nglx-button lx-color="red">Remove</nglx-button>
    </nglx-expansion-panel-footer>
</nglx-expansion-panel>

<nglx-button ng-click="vm.isOpen = !vm.isOpen">Toggle</nglx-button>
