<main-header category="Components" title="File block">
    <p>
        Use to display a file item.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="List"
    path="demo/angularjs/components/file-block/partials/list.html"
    js-path="demo/angularjs/components/file-block/controller.js"
>
    <p>
        List file block come in three sizes: S, M and L.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Grid"
    path="demo/angularjs/components/file-block/partials/grid.html"
    js-path="demo/angularjs/components/file-block/controller.js"
>
    <p>
        Grid come with a selection button, it is common used in media picker and media library.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Display thumbnail"
    path="demo/angularjs/components/file-block/partials/thumbnail.html"
    js-path="demo/angularjs/components/file-block/controller.js"
>
    <p>
        Whenever it is possible, file block will display file thumbnail instead of an icon.
    </p>
</main-block>
