<main-header category="Components" title="File block">
    <p>File block displays a file item.</p>
</main-header>

<main-block
    title=""
    path="demo/angularjs/components/file-block/partials/list.html"
    js-path="demo/angularjs/components/file-block/controller.js"
>
    <p>
        File block comes in three sizes: S, M and L. By default, it displays the file mime type icon.
    </p>
</main-block>

<main-block
    title=""
    path="demo/angularjs/components/file-block/partials/thumbnail.html"
    js-path="demo/angularjs/components/file-block/controller.js"
>
    <p class="lumx-typography-subtitle2">Thumbnail</p>
    <p>
        Whenever it is possible, file block displays the file thumbnail instead of an icon.
    </p>
</main-block>
