<div
    class="lx-tabs"
    ng-class="{ 'lx-tabs--theme-light': !lxTabs.theme || lxTabs.theme === 'light',
                'lx-tabs--theme-dark': lxTabs.theme === 'dark',
                'lx-tabs--layout-fixed': !lxTabs.layout || lxTabs.layout === 'fixed',
                'lx-tabs--layout-clustered': lxTabs.layout === 'clustered',
                'lx-tabs--position-left': !lxTabs.position || lxTabs.position === 'left',
                'lx-tabs--position-center': lxTabs.position === 'center',
                'lx-tabs--position-right': lxTabs.position === 'right' }"
>
    <div class="lx-tabs__links">
        <a
            class="lx-tabs__link"
            ng-class="{ 'lx-tabs__link--is-active': lxTabs.isTabActive(tab.index),
                        'lx-tabs__link--is-disabled': tab.isDisabled }"
            ng-repeat="tab in lxTabs.tabs track by tab.uuid"
            ng-click="lxTabs.setActiveTab(tab)"
            lx-enter-keypress="lxTabs.setActiveTab(tab)"
            tabindex="{{ tab.isDisabled ? -1 : 0 }}"
        >
            <lx-icon lx-path="{{ tab.icon }}" lx-size="s" ng-if="tab.icon"></lx-icon>
            <span ng-if="tab.label">{{ tab.label }}</span>
        </a>
    </div>

    <div class="lx-tabs__panes" ng-transclude></div>
</div>
