/* ==========================================================================
   Progress tracker
   ========================================================================== */

.lumx-progress-tracker {
    position: relative;

    &__steps {
        position: relative;
        z-index: 1;
        display: flex;
    }

    &__background-bar,
    &__foreground-bar {
        position: absolute;
        top: 19px;
        z-index: 0;
        height: $lumx-progress-tracker-bar-height;
    }

    &__background-bar {
        background-color: lumx-color-variant("dark", $lumx-divider-color-variant);
    }

    &__foreground-bar {
        background-color: lumx-color-variant("primary", "N");
        transition: transform $lumx-progress-tracker-transition-duration;
        transform-origin: left;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }
}

/* Step
   ========================================================================== */

.lumx-progress-tracker-step {
    $self: &;

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    padding: $lumx-spacing-unit 0;
    background: none;
    border: none;
    border-radius: var(--lumx-border-radius);
    outline: none;

    &--is-clickable {
        @include lumx-state-transition;

        cursor: pointer;
    }

    &__state {
        position: relative;
        color: lumx-color-variant("dark", "L5");

        #{$self}--is-active &,
        #{$self}--is-complete & {
            color: lumx-color-variant("primary", "N");
        }

        #{$self}--has-error & {
            color: lumx-color-variant("red", "N");
        }

        &::before {
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: -1;
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            background-color: lumx-color-variant("light", "N");
        }
    }

    &__label,
    &__helper {
        text-align: center;
        user-select: none;
    }

    &__label {
        margin-top: $lumx-spacing-unit;
        cursor: unset;
    }
}

/* Step states
   ========================================================================== */

// Hover state
.lumx-progress-tracker-step--is-clickable:hover {
    @include lumx-state("state-hover", "emphasis-low", "dark");
}

// Active state
.lumx-progress-tracker-step--is-clickable:active {
    @include lumx-state("state-active", "emphasis-low", "dark");
}

// Focus state
.lumx-progress-tracker-step[data-focus-visible-added] {
    @include lumx-state("state-focus", "emphasis-low", "dark");
}

/* Step panel
   ========================================================================== */

.lumx-step-panel {
    display: none;
    outline: none;

    // Focus state
    &[data-focus-visible-added] {
        @include lumx-state("state-focus", "emphasis-low", "dark");
    }

    // Active state
    &--is-active {
        display: block;
    }
}
