/* ==========================================================================
   Progress tracker
   ========================================================================== */

.#{$lumx-base-prefix}-progress-tracker {
    position: relative;

    &__steps {
        position: relative;
        z-index: 1;
        display: flex;
    }

    &__background-bar,
    &__foreground-bar {
        position: absolute;
        z-index: 0;
        top: 19px;
        height: $lumx-progress-tracker-bar-height;
    }

    &__background-bar {
        background-color: lumx-color-variant('dark', $lumx-divider-color-variant);
    }

    &__foreground-bar {
        background-color: lumx-color-variant('primary', 'N');
        transform-origin: left;
        transition: transform $lumx-progress-tracker-transition-duration;
    }
}

/* Step
   ========================================================================== */

.#{$lumx-base-prefix}-progress-tracker-step {
    $self: &;

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    padding: $lumx-spacing-unit 0;
    border: none;
    background: none;
    border-radius: var(--lumx-border-radius);
    outline: none;

    &--is-clickable {
        @include lumx-state-transition;

        cursor: pointer;
    }

    &__state {
        position: relative;
        color: lumx-color-variant('dark', 'L5');

        #{$self}--is-active &,
        #{$self}--is-complete & {
            color: lumx-color-variant('primary', 'N');
        }

        #{$self}--has-error & {
            color: lumx-color-variant('red', 'N');
        }

        &::before {
            display: block;
            position: absolute;
            z-index: -1;
            top: 2px;
            left: 2px;
            width: 20px;
            height: 20px;
            background-color: lumx-color-variant('light', 'N');
            content: '';
        }
    }

    &__label,
    &__helper {
        text-align: center;
        user-select: none;
    }

    &__label {
        margin-top: $lumx-spacing-unit;
        cursor: unset;
    }
}

/* Step states
   ========================================================================== */

// Hover state
.#{$lumx-base-prefix}-progress-tracker-step--is-clickable:hover {
    @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
}

// Active state
.#{$lumx-base-prefix}-progress-tracker-step--is-clickable:active {
    @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
}

// Focus state
.#{$lumx-base-prefix}-progress-tracker-step[data-focus-visible-added] {
    @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark');
}

/* Step panel
   ========================================================================== */

.#{$lumx-base-prefix}-step-panel {
    display: none;
    outline: none;

    // Focus state
    &[data-focus-visible-added] {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark', null, true);
    }

    // Active state
    &--is-active {
        display: block;
    }
}
