<div class="p++">
    <lumx-radio-button
        class="pb"
        lumx-theme="{{ mainBlock.theme }}"
        name="test1"
        value="lorem"
        ng-model="vm.radioButtons.basic.test1"
    >
        Radio Button 1
    </lumx-radio-button>

    <lumx-radio-button
        class="pb"
        lumx-theme="{{ mainBlock.theme }}"
        name="test1"
        value="ipsum"
        ng-model="vm.radioButtons.basic.test1"
    >
        Radio Button 2
    </lumx-radio-button>

    <lumx-radio-button
        class="pb"
        lumx-theme="{{ mainBlock.theme }}"
        name="test1"
        value="dolor"
        ng-model="vm.radioButtons.basic.test1"
    >
        Radio Button 3
    </lumx-radio-button>
</div>
