<table
    class="lx-data-table"
    ng-class="{ 'lx-data-table--has-border': lxDataTable.hasBorder,
                'lx-data-table--has-bulk': lxDataTable.hasBulk,
                'lx-data-table--has-thumbnail': lxDataTable.hasThumbnail,
                'lx-data-table--is-activable': lxDataTable.isActivable,
                'lx-data-table--is-selectable': lxDataTable.isSelectable,
                'lx-data-table--theme-light': !lxDataTable.theme || lxDataTable.theme === 'light',
                'lx-data-table--theme-dark': lxDataTable.theme === 'dark' }"
>
    <thead>
        <tr
            class="lx-data-table__row lx-data-table__row--thead"
            ng-class="{ 'lx-data-table__row--is-selected': lxDataTable.hasBulk && lxDataTable.isSelectable && lxDataTable.allRowsSelected }"
        >
            <th
                align="center"
                class="lx-data-table__cell lx-data-table__cell--thead"
                ng-if="::lxDataTable.hasThumbnail"
            >
                <lx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lxDataTable.theme }}"
                    ng-checked="lxDataTable.allRowsSelected"
                    ng-click="lxDataTable.toggleAllSelected()"
                    ng-if="::lxDataTable.hasBulk && lxDataTable.isSelectable"
                ></lx-checkbox>
            </th>
            <th
                align="center"
                class="lx-data-table__cell lx-data-table__cell--thead"
                ng-if="::lxDataTable.isSelectable && !lxDataTable.hasThumbnail"
            >
                <lx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lxDataTable.theme }}"
                    ng-checked="lxDataTable.allRowsSelected"
                    ng-click="lxDataTable.toggleAllSelected()"
                    ng-if="lxDataTable.hasBulk"
                ></lx-checkbox>
            </th>
            <th
                align="left"
                class="lx-data-table__cell lx-data-table__cell--thead"
                ng-class=" { 'lx-data-table__cell--is-sortable': th.sortable,
                             'lx-data-table__cell--is-sorted': th.sortable && th.sort }"
                ng-click="lxDataTable.sort(th)"
                ng-repeat="th in lxDataTable.thead track by $index"
                ng-if="!lxDataTable.hasThumbnail || (lxDataTable.hasThumbnail && $index != 0)"
            >
                <lx-icon lx-path="{{ th.icon }}" lx-size="xxs" ng-if="th.icon && !th.sortable"></lx-icon>
                <lx-icon
                    lx-path="{{ lxDataTable.icons.mdiArrowUp }}"
                    lx-size="xxs"
                    ng-if="th.sortable && th.sort === 'asc'"
                ></lx-icon>
                <lx-icon
                    lx-path="{{ lxDataTable.icons.mdiArrowDown }}"
                    lx-size="xxs"
                    ng-if="th.sortable && th.sort === 'desc'"
                ></lx-icon>
                <span>{{ th.label }}</span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr
            class="lx-data-table__row lx-data-table__row--tbody"
            ng-class="{ 'lx-data-table__row--is-enabled': lxDataTable.isSelectable && !tr.lxDataTableDisabled,
                        'lx-data-table__row--is-disabled': lxDataTable.isSelectable && tr.lxDataTableDisabled,
                        'lx-data-table__row--is-selected': lxDataTable.isSelectable && tr.lxDataTableSelected,
                        'lx-data-table__row--is-activated': lxDataTable.isActivable && tr.lxDataTableActivated }"
            ng-repeat="tr in lxDataTable.tbody"
            ng-click="lxDataTable.toggleActivation(tr)"
        >
            <td
                align="center"
                class="lx-data-table__cell lx-data-table__cell--tbody"
                ng-if="::lxDataTable.hasThumbnail"
            >
                <div
                    class="lx-data-table__thumbnail"
                    ng-if="lxDataTable.thead[0].format"
                    ng-bind-html="lxDataTable.$sce.trustAsHtml(lxDataTable.thead[0].format(tr))"
                ></div>

                <lx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lxDataTable.theme }}"
                    ng-checked="tr.lxDataTableSelected"
                    ng-click="lxDataTable.toggleSelection(tr, undefined, $event)"
                    ng-if="lxDataTable.isSelectable && !tr.lxDataTableDisabled"
                ></lx-checkbox>
            </td>
            <td
                align="center"
                class="lx-data-table__cell lx-data-table__cell--tbody"
                ng-if="::lxDataTable.isSelectable && !lxDataTable.hasThumbnail"
            >
                <lx-checkbox
                    class="lx-data-table__checkbox"
                    lx-theme="{{ lxDataTable.theme }}"
                    ng-checked="tr.lxDataTableSelected"
                    ng-click="lxDataTable.toggleSelection(tr, undefined, $event)"
                    ng-disabled="tr.lxDataTableDisabled"
                ></lx-checkbox>
            </td>
            <td
                align="left"
                class="lx-data-table__cell lx-data-table__cell--tbody"
                ng-repeat="th in lxDataTable.thead track by $index"
                ng-if="!lxDataTable.hasThumbnail || (lxDataTable.hasThumbnail && $index != 0)"
            >
                <span ng-if="!th.format">{{ tr[th.name] }}</span>
                <div ng-if="th.format" ng-bind-html="lxDataTable.$sce.trustAsHtml(th.format(tr))"></div>
            </td>
        </tr>
    </tbody>
</table>
