<div style="padding: 24px;">
    <lx-checkbox ng-model="vm.checkboxes.model.checked">Checkbox</lx-checkbox>
</div>

<div style="padding: 24px;">
    <lx-checkbox ng-model="vm.checkboxes.model.checked">
        <lx-checkbox-label>Checkbox</lx-checkbox-label>
    </lx-checkbox>
</div>

<div style="padding: 24px;">
    <lx-checkbox ng-model="vm.checkboxes.model.unchecked" ng-disabled="vm.checkboxes.states.disabled">
        <lx-checkbox-label>Checkbox with help</lx-checkbox-label>
        <lx-checkbox-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-checkbox-help>
    </lx-checkbox>
</div>
