/* ==========================================================================
   Main nav
   ========================================================================== */

$main-nav-width: 300px;

.main-nav {
    width: $main-nav-width;
    background-color: lumx-color-variant(dark, L6);
    overflow-y: auto;

    &__wrapper {
        padding: $lumx-spacing-unit * 6 $lumx-spacing-unit * 4;
    }

    &__logo {
        @include lumx-link('dark');
        display: flex;
        align-items: center;
        margin-bottom: $lumx-spacing-unit * 4;
        cursor: pointer;

        img {
            height: map-get($lumx-sizes, s);
            margin-right: $lumx-spacing-unit * 1.5;
        }
    }
}
