<div
    class="lx-select"
    ng-class="{ 'lx-select--has-value': !lumx.isModelEmpty(),
                'lx-select--is-empty': lumx.isModelEmpty(),
                'lx-select--unique': !lumx.multiple,
                'lx-select--has-unique': !lumx.isModelEmpty() && !lumx.multiple,
                'lx-select--multiple': lumx.multiple,
                'lx-select--has-multiple': !lumx.isModelEmpty() && lumx.multiple,
                'lx-select--is-open': lumx.isOpen,
                'lx-select--theme-light': !lumx.theme || lumx.theme === 'light',
                'lx-select--theme-dark': lumx.theme === 'dark',
                'lx-select--has-label': lumx.label,
                'lx-select--is-disabled': lumx.isDisabled,
                'lx-select--is-valid': lumx.isValid,
                'lx-select--has-error': lumx.hasError,
                'lx-select--has-placeholder': lumx.placeholder,
                'lx-select--is-focus': lumx.isFocus }"
>
    <span class="lx-select__label" ng-if="::lumx.label && (!lumx.variant || lumx.variant === 'input')">
        {{ lumx.label }}
    </span>

    <div
        class="lx-select__input-wrapper"
        id="{{ lumx.targetUuid }}"
        tabindex="0"
        ng-click="lumx.openDropdown()"
        ng-focus="lumx.enableKeyEvents()"
        ng-blur="lumx.disableKeyEvents()"
        ng-if="!lumx.variant || lumx.variant === 'input'"
    >
        <div
            class="lx-select__input-native lx-select__input-native--placeholder"
            ng-if="lumx.isModelEmpty() && lumx.placeholder"
        >
            <span>{{ lumx.placeholder }}</span>
        </div>

        <div class="lx-select__input-native" ng-if="!lumx.isModelEmpty() && !lumx.multiple">
            <span ng-bind-html="lumx.displaySelected()"></span>
        </div>

        <div class="lx-select__input-chips">
            <div
                class="lx-select__input-chip"
                ng-repeat="selected in lumx.viewValue"
                ng-if="!lumx.isModelEmpty() && lumx.multiple"
            >
                <lumx-chip
                    lx-on-click="lumx.select(selected, $event)"
                    lx-size="s"
                    lx-theme="{{ lumx.theme === 'dark' ? 'dark' : 'light' }}"
                    ng-disabled="lumx.isDisabled"
                >
                    <lumx-chip-label ng-bind-html="lumx.displaySelected(selected)"></lumx-chip-label>
                    <lumx-chip-after
                        ><lumx-icon lx-path="{{ lumx.icons.mdiClose }}" lx-size="xxs"></lumx-icon
                    ></lumx-chip-after>
                </lumx-chip>
            </div>
        </div>

        <div class="lx-select__input-validity" ng-if="lumx.isValid || lumx.hasError">
            <lumx-icon
                lx-path="{{ lumx.isValid ? lumx.icons.mdiCheckCircle : lumx.icons.mdiAlertCircle }}"
                lx-size="xs"
            ></lumx-icon>
        </div>

        <div
            class="lx-select__input-clear"
            ng-if="lumx.isClearable && !lumx.multiple && !lumx.isModelEmpty()"
            ng-click="lumx.clearModel($event)"
        >
            <lumx-icon lx-path="{{ lumx.icons.mdiCloseCircle }}" lx-size="xs"></lumx-icon>
        </div>

        <div class="lx-select__input-indicator">
            <lumx-icon lx-path="{{ lumx.icons.mdiMenuDown }}" lx-size="s"></lumx-icon>
        </div>
    </div>

    <lumx-chip
        id="{{ lumx.targetUuid }}"
        lx-has-dropdown-indicator="lumx.isModelEmpty()"
        lx-on-click="lumx.openDropdown()"
        lx-on-after-click="lumx.clearModel()"
        lx-is-active="!lumx.isModelEmpty()"
        lx-theme="{{ lumx.theme }}"
        ng-focus="lumx.enableKeyEvents()"
        ng-blur="lumx.disableKeyEvents()"
        ng-if="lumx.variant === 'chip'"
    >
        <lumx-chip-label>
            <span ng-if="lumx.isModelEmpty()">{{ lumx.label }}</span>

            <span ng-if="!lumx.isModelEmpty() && !lumx.multiple" ng-bind-html="lumx.displaySelected()"></span>

            <span ng-if="!lumx.isModelEmpty() && lumx.multiple">
                <span ng-bind-html="lumx.displaySelected(lumx.viewValue[0])"></span>
                <span ng-if="lumx.viewValue.length > 1">+{{ lumx.viewValue.length - 1 }}</span>
            </span>
        </lumx-chip-label>

        <lumx-chip-after>
            <lumx-icon
                lx-path="{{ lumx.isModelEmpty() ? lumx.icons.mdiMenuDown : lumx.icons.mdiCloseCircle }}"
                lx-size="xs"
            ></lumx-icon>
        </lumx-chip-after>
    </lumx-chip>

    <lumx-dropdown lx-position="left" lx-width="100%" id="{{ lumx.dropdownUuid }}">
        <lumx-dropdown-menu>
            <div class="lx-select__filter" ng-if="::lumx.hasFilter">
                <lumx-icon lx-path="{{ lumx.icons.mdiMagnify }}" lx-size="xs"></lumx-icon>

                <input
                    type="text"
                    placeholder="Search"
                    ng-model="lumx.filterModel"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="lumx.updateFilter()"
                    lumx-select-filter
                />
            </div>

            <div class="lx-select__loader" ng-if="lumx.isLoading">
                <lumx-progress></lumx-progress>
            </div>

            <lumx-list lumx-focus-on-init lx-is-clickable="true" ng-if="!lumx.isLoading">
                <lumx-list-item
                    lx-is-selected="lumx.isSelected(choice)"
                    ng-repeat="choice in lumx.choices | lumxSelectChoicesFilter:lumx.filter:lumx.filterModel"
                    ng-click="lumx.select(choice, $event)"
                    lumx-enter-keypress="lumx.select(choice, $event)"
                >
                    <lumx-list-item-content ng-bind-html="lumx.displayChoice(choice)"></lumx-list-item-content>
                </lumx-list-item>
            </lumx-list>

            <span class="lx-select__helper" ng-if="lumx.hasHelper && !lumx.isLoading">
                {{ lumx.helper }}
            </span>
        </lumx-dropdown-menu>
    </lumx-dropdown>
</div>
