<main-header category="Components" title="Text field">
    <p>
        Text fields let users enter and edit text.
    </p>
</main-header>

<demo-block
    path="demo/angularjs/components/text-field/partials/default.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block title="States">
    <p>There are three states: <i>disabled,</i> <i>valid</i> and <i>invalid.</i></p>
</demo-block>

<demo-block
    subtitle="Disabled"
    path="demo/angularjs/components/text-field/partials/disabled.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block
    subtitle="Valid"
    path="demo/angularjs/components/text-field/partials/valid.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block
    subtitle="Invalid"
    path="demo/angularjs/components/text-field/partials/error.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block title="Options">
    <p>There are three options: <i>helper text,</i> <i>placeholder,</i> and <i>icon.</i></p>
</demo-block>

<demo-block
    subtitle="Helper text"
    path="demo/angularjs/components/text-field/partials/helper.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block
    subtitle="Placeholder"
    path="demo/angularjs/components/text-field/partials/placeholder.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>

<demo-block
    subtitle="Icon"
    path="demo/angularjs/components/text-field/partials/icon.html"
    js-path="demo/angularjs/components/text-field/controller.js"
></demo-block>
