<main-header category="Components" title="Text fields">
    <p>
        Text fields let users enter and edit text.
    </p>
</main-header>

<main-block
    path="demo/angularjs/components/text-field/partials/default.html"
    js-path="demo/angularjs/components/text-field/controller.js"
>
</main-block>

<div class="main__block">
    <div class="lumx-theme-background-dark-L6" style="padding: 24px;">
        <div style="margin-bottom: 24px;"></div>

        <div style="margin-bottom: 24px;">
            <lumx-text-field
                lumx-label="Name"
                lumx-icon="{{ vm.icons.mdiMagnify }}"
                lumx-helper="Optional helper text"
                lumx-is-valid="true"
            >
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" />
            </lumx-text-field>
        </div>

        <div style="margin-bottom: 24px;">
            <lumx-text-field
                lumx-label="Name"
                lumx-icon="{{ vm.icons.mdiMagnify }}"
                lumx-helper="Optional helper text"
                lumx-has-error="true"
            >
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" />
            </lumx-text-field>
        </div>

        <lumx-text-field lumx-label="Name" lumx-icon="{{ vm.icons.mdiMagnify }}" lumx-helper="Optional helper text">
            <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" ng-disabled="true" />
        </lumx-text-field>
    </div>

    <div style="padding: 24px;" class="lumx-theme-background-blue-N">
        <div style="margin-bottom: 24px;">
            <lumx-text-field
                lumx-label="Name"
                lumx-icon="{{ vm.icons.mdiMagnify }}"
                lumx-helper="Optional helper text"
                lumx-theme="dark"
            >
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" />
            </lumx-text-field>
        </div>

        <div style="margin-bottom: 24px;">
            <lumx-text-field
                lumx-label="Name"
                lumx-icon="{{ vm.icons.mdiMagnify }}"
                lumx-helper="Optional helper text"
                lumx-theme="dark"
                lumx-is-valid="true"
            >
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" />
            </lumx-text-field>
        </div>

        <div style="margin-bottom: 24px;">
            <lumx-text-field
                lumx-label="Name"
                lumx-icon="{{ vm.icons.mdiMagnify }}"
                lumx-helper="Optional helper text"
                lumx-theme="dark"
                lumx-has-error="true"
            >
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" />
            </lumx-text-field>
        </div>

        <lumx-text-field
            lumx-label="Name"
            lumx-icon="{{ vm.icons.mdiMagnify }}"
            lumx-helper="Optional helper text"
            lumx-theme="dark"
        >
            <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" ng-disabled="true" />
        </lumx-text-field>
    </div>
</div>
