/* ==========================================================================
   Image block
   ========================================================================== */

.#{$lumx-base-prefix}-image-block {
    $self: &;

    position: relative;

    &--fill-height {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        #{$self}--fill-height & {
            flex-shrink: 0;
        }

        #{$self}--align-left & {
            align-items: flex-start;
        }

        #{$self}--align-center & {
            align-items: center;
        }

        #{$self}--align-right & {
            align-items: flex-end;
        }

        #{$self}--caption-position-below & {
            padding-top: $lumx-spacing-unit * 2;
        }

        #{$self}--caption-position-over & {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: $lumx-spacing-unit * 2;
        }

        #{$self}--theme-light#{$self}--caption-position-over & {
            background-color: lumx-theme-color-variant('light', 'L1');
        }

        #{$self}--theme-dark#{$self}--caption-position-over & {
            background-color: lumx-theme-color-variant('dark', 'L1');
        }
    }

    &__caption {
        #{$self}--caption-position-over & {
            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__title,
    &__description {
        @include lumx-typography('body1');
    }

    &__title {
        #{$self}--theme-light & {
            color: lumx-theme-color-variant('dark', 'N');
        }

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant('light', 'N');
        }
    }

    &__description {
        #{$self}--theme-light & {
            color: lumx-theme-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant('light', 'L2');
        }
    }

    &__tags {
        margin-top: $lumx-spacing-unit;
    }

    &__actions {
        position: absolute;
        top: $lumx-spacing-unit * 1.5;
        right: $lumx-spacing-unit * 1.5;
    }
}
