/* ==========================================================================
   Image block
   ========================================================================== */

.#{$lumx-base-prefix}-image-block {
    $self: &;

    position: relative;

    &__image {
        background-position: center;
        background-repeat: no-repeat;

        #{$self}--format-original & {
            background-size: contain;
        }

        #{$self}--format-crop & {
            background-size: cover;
        }
    }

    &__wrapper {
        #{$self}--caption-position-below & {
            margin-top: $lumx-spacing-unit;
        }

        #{$self}--caption-position-over & {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: $lumx-spacing-unit * 2;
        }

        #{$self}--theme-light#{$self}--caption-position-over & {
            background-color: lumx-theme-color-variant(light, L1);
        }

        #{$self}--theme-dark#{$self}--caption-position-over & {
            background-color: lumx-theme-color-variant(dark, L1);
        }
    }

    &__caption {
        #{$self}--caption-position-over & {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__title,
    &__description {
        @include lumx-typography(body1);
    }

    &__title {
        #{$self}--theme-light & {
            color: lumx-theme-color-variant(dark, N);
        }

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant(light, N);
        }
    }

    &__description {
        #{$self}--theme-light & {
            color: lumx-theme-color-variant(dark, L2);
        }

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant(light, L2);
        }
    }

    &__tags {
        display: flex;
        margin-top: $lumx-spacing-unit;
    }

    &__tag {
        margin-right: $lumx-spacing-unit / 2;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Image block aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-image-block-aspect-ratio {
    .#{$lumx-base-prefix}-image-block--aspect-ratio-#{$key} .#{$lumx-base-prefix}-image-block__image {
        padding-top: $aspect-ratio;
    }
}
