<div class="p++" lumx-grid-container="row" lumx-grid-v-align="left">
    <lumx-checkbox ng-model="vm.checkboxes.model.checked" lumx-theme="{{ mainBlock.theme }}"></lumx-checkbox>
</div>

<div class="p++" lumx-grid-container="row" lumx-grid-v-align="left">
    <lumx-checkbox ng-model="vm.checkboxes.model.checked" lumx-theme="{{ mainBlock.theme }}">
        <lumx-checkbox-label>Checkbox</lumx-checkbox-label>
    </lumx-checkbox>
</div>

<div class="p++" lumx-grid-container="row" lumx-grid-v-align="left">
    <lumx-checkbox
        ng-model="vm.checkboxes.model.unchecked"
        ng-disabled="vm.checkboxes.states.disabled"
        lumx-theme="{{ mainBlock.theme }}"
    >
        <lumx-checkbox-label>Checkbox with help</lumx-checkbox-label>
        <lumx-checkbox-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lumx-checkbox-helper>
    </lumx-checkbox>
</div>
