<div class="sub-nav__wrapper">
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.button">Button</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.checkbox">Checkbox</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.chip">Chip</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.dialog">Dialog</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.dropdown">Dropdown</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.list">List</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.select">Select</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.tabs">Tabs</a>
    <a class="sub-nav__item" ui-sref-active="sub-nav__item--is-active" ui-sref="app.text-field">Text field</a>
</div>
