<main-header category="Components" title="Chips">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu sem et mauris convallis tempor. Mauris placerat
        enim eget ligula fermentum, in aliquam lorem congue. Vivamus lacinia consectetur mollis.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Default"
    path="demo/angularjs/components/lx-chip/partials/default.html"
    js-path="demo/angularjs/components/lx-chip//controller.js"
>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu sem et mauris convallis tempor. Mauris placerat
        enim eget ligula fermentum, in aliquam lorem congue. Vivamus lacinia consectetur mollis.
    </p>
</main-block>

<strong>dismissible</strong>

<div class="pv++">
    <nglx-chip lx-on-click="vm.clickCallback()">
        <nglx-chip-label>Dismissible</nglx-chip-label>
        <nglx-chip-after><nglx-icon lx-path="{{ vm.icons.mdiClose }}" lx-size="xs"></nglx-icon></nglx-chip-after>
    </nglx-chip>
</div>

<strong>choice</strong>

<div class="pv++">
    <nglx-chip lx-is-selected="vm.isSelected" lx-on-click="vm.toggleSelected()">
        <nglx-chip-label>Choice</nglx-chip-label>
    </nglx-chip>
</div>

<strong>filter</strong>

<div class="pv++">
    <nglx-chip
        lx-has-dropdown-indicator="!vm.isSelected"
        lx-is-selected="vm.isSelected"
        lx-on-click="vm.select()"
        lx-on-after-click="vm.unselect()"
    >
        <nglx-chip-before
            ><nglx-icon lx-path="{{ vm.icons.mdiFilterVariant }}" lx-size="xs"></nglx-icon
        ></nglx-chip-before>
        <nglx-chip-label>Filter</nglx-chip-label>
        <nglx-chip-after><nglx-icon lx-path="{{ vm.icons.mdiCloseCircle }}" lx-size="xs"></nglx-icon></nglx-chip-after>
    </nglx-chip>
</div>

<div class="p++ lx-theme-background-dark-N">
    <strong class="lx-theme-color-light-N">default</strong>

    <div class="pv++">
        <nglx-chip lx-theme="dark">
            <nglx-chip-label>Lorem ipsum</nglx-chip-label>
        </nglx-chip>

        <nglx-chip lx-theme="dark">
            <nglx-chip-before><nglx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></nglx-icon></nglx-chip-before>
            <nglx-chip-label>Lorem ipsum</nglx-chip-label>
        </nglx-chip>
    </div>

    <strong class="lx-theme-color-light-N">dismissible</strong>

    <div class="pv++">
        <nglx-chip lx-on-click="vm.clickCallback()" lx-theme="dark">
            <nglx-chip-label>Dismissible</nglx-chip-label>
            <nglx-chip-after><nglx-icon lx-path="{{ vm.icons.mdiClose }}" lx-size="xs"></nglx-icon></nglx-chip-after>
        </nglx-chip>
    </div>

    <strong class="lx-theme-color-light-N">choice</strong>

    <div class="pv++">
        <nglx-chip lx-is-selected="vm.isSelected" lx-on-click="vm.toggleSelected()" lx-theme="dark">
            <nglx-chip-label>Choice</nglx-chip-label>
        </nglx-chip>
    </div>

    <strong class="lx-theme-color-light-N">filter</strong>

    <div class="pv++">
        <nglx-chip
            lx-has-dropdown-indicator="!vm.isSelected"
            lx-is-selected="vm.isSelected"
            lx-on-click="vm.select()"
            lx-on-after-click="vm.unselect()"
            lx-theme="dark"
        >
            <nglx-chip-before>
                <nglx-icon lx-path="{{ vm.icons.mdiFilterVariant }}" lx-size="xs"></nglx-icon>
            </nglx-chip-before>
            <nglx-chip-label>Filter</nglx-chip-label>
            <nglx-chip-after
                ><nglx-icon lx-path="{{ vm.icons.mdiCloseCircle }}" lx-size="xs"></nglx-icon
            ></nglx-chip-after>
        </nglx-chip>
    </div>
</div>
