/* ==========================================================================
   Slideshow
   ========================================================================== */

.#{$lumx-base-prefix}-slideshow {
    overflow: hidden;

    &__wrapper {
        display: flex;
        transition: transform $lumx-slideshow-transition-duration;
    }
}

/* Slideshow item
   ========================================================================== */

@for $i from 1 through 12 {
    .#{$lumx-base-prefix}-slideshow--group-by-#{$i} .#{$lumx-base-prefix}-slideshow-item {
        max-width: #{100 / $i + '%'};
        flex: 0 0 #{100 / $i + '%'};
    }
}
