/* ==========================================================================
   Spacing
   ========================================================================== */

/* Margin (8px)
   ========================================================================== */
.m {
    margin: $lumx-spacing-unit !important;
}

.mt {
    margin-top: $lumx-spacing-unit !important;
}

.mr {
    margin-right: $lumx-spacing-unit !important;
}

.mb {
    margin-bottom: $lumx-spacing-unit !important;
}

.ml {
    margin-left: $lumx-spacing-unit !important;
}

.mh {
    margin-right: $lumx-spacing-unit !important;
    margin-left: $lumx-spacing-unit !important;
}

.mv {
    margin-top: $lumx-spacing-unit !important;
    margin-bottom: $lumx-spacing-unit !important;
}

/* Margin (4px)
   ========================================================================== */

.m- {
    margin: $lumx-spacing-unit / 2 !important;
}

.mt- {
    margin-top: $lumx-spacing-unit / 2 !important;
}

.mr- {
    margin-right: $lumx-spacing-unit / 2 !important;
}

.mb- {
    margin-bottom: $lumx-spacing-unit / 2 !important;
}

.ml- {
    margin-left: $lumx-spacing-unit / 2 !important;
}

.mh- {
    margin-right: $lumx-spacing-unit / 2 !important;
    margin-left: $lumx-spacing-unit / 2 !important;
}

.mv- {
    margin-top: $lumx-spacing-unit / 2 !important;
    margin-bottom: $lumx-spacing-unit / 2 !important;
}

/* Margin (16px)
   ========================================================================== */

.m\+ {
    margin: $lumx-spacing-unit * 2 !important;
}

.mt\+ {
    margin-top: $lumx-spacing-unit * 2 !important;
}

.mr\+ {
    margin-right: $lumx-spacing-unit * 2 !important;
}

.mb\+ {
    margin-bottom: $lumx-spacing-unit * 2 !important;
}

.ml\+ {
    margin-left: $lumx-spacing-unit * 2 !important;
}

.mh\+ {
    margin-right: $lumx-spacing-unit * 2 !important;
    margin-left: $lumx-spacing-unit * 2 !important;
}

.mv\+ {
    margin-top: $lumx-spacing-unit * 2 !important;
    margin-bottom: $lumx-spacing-unit * 2 !important;
}

/* Margin (24px)
   ========================================================================== */

.m\+\+ {
    margin: $lumx-spacing-unit * 3 !important;
}

.mt\+\+ {
    margin-top: $lumx-spacing-unit * 3 !important;
}

.mr\+\+ {
    margin-right: $lumx-spacing-unit * 3 !important;
}

.mb\+\+ {
    margin-bottom: $lumx-spacing-unit * 3 !important;
}

.ml\+\+ {
    margin-left: $lumx-spacing-unit * 3 !important;
}

.mh\+\+ {
    margin-right: $lumx-spacing-unit * 3 !important;
    margin-left: $lumx-spacing-unit * 3 !important;
}

.mv\+\+ {
    margin-top: $lumx-spacing-unit * 3 !important;
    margin-bottom: $lumx-spacing-unit * 3 !important;
}

/* Margin (32px)
   ========================================================================== */

.m\+\+\+ {
    margin: $lumx-spacing-unit * 4 !important;
}

.mt\+\+\+ {
    margin-top: $lumx-spacing-unit * 4 !important;
}

.mr\+\+\+ {
    margin-right: $lumx-spacing-unit * 4 !important;
}

.mb\+\+\+ {
    margin-bottom: $lumx-spacing-unit * 4 !important;
}

.ml\+\+\+ {
    margin-left: $lumx-spacing-unit * 4 !important;
}

.mh\+\+\+ {
    margin-right: $lumx-spacing-unit * 4 !important;
    margin-left: $lumx-spacing-unit * 4 !important;
}

.mv\+\+\+ {
    margin-top: $lumx-spacing-unit * 4 !important;
    margin-bottom: $lumx-spacing-unit * 4 !important;
}

/* Margin (reset)
   ========================================================================== */

.m0 {
    margin: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mh0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Padding (8px)
   ========================================================================== */

.p {
    padding: $lumx-spacing-unit !important;
}

.pt {
    padding-top: $lumx-spacing-unit !important;
}

.pr {
    padding-right: $lumx-spacing-unit !important;
}

.pb {
    padding-bottom: $lumx-spacing-unit !important;
}

.pl {
    padding-left: $lumx-spacing-unit !important;
}

.ph {
    padding-right: $lumx-spacing-unit !important;
    padding-left: $lumx-spacing-unit !important;
}

.pv {
    padding-top: $lumx-spacing-unit !important;
    padding-bottom: $lumx-spacing-unit !important;
}

/* Padding (4px)
   ========================================================================== */

.p- {
    padding: $lumx-spacing-unit / 2 !important;
}

.pt- {
    padding-top: $lumx-spacing-unit / 2 !important;
}

.pr- {
    padding-right: $lumx-spacing-unit / 2 !important;
}

.pb- {
    padding-bottom: $lumx-spacing-unit / 2 !important;
}

.pl- {
    padding-left: $lumx-spacing-unit / 2 !important;
}

.ph- {
    padding-right: $lumx-spacing-unit / 2 !important;
    padding-left: $lumx-spacing-unit / 2 !important;
}

.pv- {
    padding-top: $lumx-spacing-unit / 2 !important;
    padding-bottom: $lumx-spacing-unit / 2 !important;
}

/* Padding (16px)
   ========================================================================== */

.p\+ {
    padding: $lumx-spacing-unit * 2 !important;
}

.pt\+ {
    padding-top: $lumx-spacing-unit * 2 !important;
}

.pr\+ {
    padding-right: $lumx-spacing-unit * 2 !important;
}

.pb\+ {
    padding-bottom: $lumx-spacing-unit * 2 !important;
}

.pl\+ {
    padding-left: $lumx-spacing-unit * 2 !important;
}

.ph\+ {
    padding-right: $lumx-spacing-unit * 2 !important;
    padding-left: $lumx-spacing-unit * 2 !important;
}

.pv\+ {
    padding-top: $lumx-spacing-unit * 2 !important;
    padding-bottom: $lumx-spacing-unit * 2 !important;
}

/* Padding (24px)
   ========================================================================== */

.p\+\+ {
    padding: $lumx-spacing-unit * 3 !important;
}

.pt\+\+ {
    padding-top: $lumx-spacing-unit * 3 !important;
}

.pr\+\+ {
    padding-right: $lumx-spacing-unit * 3 !important;
}

.pb\+\+ {
    padding-bottom: $lumx-spacing-unit * 3 !important;
}

.pl\+\+ {
    padding-left: $lumx-spacing-unit * 3 !important;
}

.ph\+\+ {
    padding-right: $lumx-spacing-unit * 3 !important;
    padding-left: $lumx-spacing-unit * 3 !important;
}

.pv\+\+ {
    padding-top: $lumx-spacing-unit * 3 !important;
    padding-bottom: $lumx-spacing-unit * 3 !important;
}

/* Padding (32px)
   ========================================================================== */

.p\+\+\+ {
    padding: $lumx-spacing-unit * 4 !important;
}

.pt\+\+\+ {
    padding-top: $lumx-spacing-unit * 4 !important;
}

.pr\+\+\+ {
    padding-right: $lumx-spacing-unit * 4 !important;
}

.pb\+\+\+ {
    padding-bottom: $lumx-spacing-unit * 4 !important;
}

.pl\+\+\+ {
    padding-left: $lumx-spacing-unit * 4 !important;
}

.ph\+\+\+ {
    padding-right: $lumx-spacing-unit * 4 !important;
    padding-left: $lumx-spacing-unit * 4 !important;
}

.pv\+\+\+ {
    padding-top: $lumx-spacing-unit * 4 !important;
    padding-bottom: $lumx-spacing-unit * 4 !important;
}

/* Padding (reset)
   ========================================================================== */

.p0 {
    padding: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.ph0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
