/* ==========================================================================
   Slider
   ========================================================================== */

.#{$lumx-base-prefix}-slider {
    $self: &;

    user-select: none;

    &__helper {
        margin-top: $lumx-spacing-unit / 2;
    }

    &__value-label {
        font-size: 10px;

        #{$self}--theme-light & {
            color: lumx-color-variant('dark', 'L2');
        }

        #{$self}--theme-dark & {
            color: lumx-color-variant('light', 'L2');
        }

        &--min {
            padding-right: $lumx-spacing-unit * 2;
        }

        &--max {
            padding-left: $lumx-spacing-unit * 2;
        }
    }

    &__ui-wrapper {
        display: flex;
        align-items: center;

        #{$self}--has-label & {
            margin-top: $lumx-spacing-unit;
        }
    }

    &__wrapper {
        position: relative;
        height: map-get($lumx-sizes, lumx-base-const('size', 'S'));
        flex: 1 1 auto;
        cursor: pointer;
    }

    &__track {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 2px;
        transform: translateY(-50%);

        &--background {
            #{$self}--theme-light & {
                background-color: lumx-color-variant('dark', 'L5');
            }

            #{$self}--theme-dark & {
                background-color: lumx-color-variant('light', 'L5');
            }
        }

        &--active {
            #{$self}--theme-light & {
                background-color: lumx-color-variant('primary', 'N');
            }

            #{$self}--theme-dark & {
                background-color: lumx-color-variant('light', 'N');
            }
        }
    }

    &__handle {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        padding: 0;
        border: none;
        margin: 0;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transform: translateX(-50%) translateY(-50%);
        user-select: none;

        #{$self}--theme-light & {
            @include lumx-state(
                lumx-base-const('state', 'DEFAULT'),
                lumx-base-const('emphasis', 'HIGH'),
                'primary',
                lumx-base-const('theme', 'LIGHT')
            );
        }

        #{$self}--theme-dark & {
            @include lumx-state(
                lumx-base-const('state', 'DEFAULT'),
                lumx-base-const('emphasis', 'HIGH'),
                'primary',
                lumx-base-const('theme', 'DARK')
            );
        }
    }

    &__ticks {
        position: absolute;
        top: (map-get($lumx-sizes, s) / 2) + 2;
        right: 0;
        left: 0;
    }

    &__tick {
        position: absolute;
        top: 0;
        width: 2px;
        height: 4px;
        transform: translateX(-50%);

        &:first-child,
        &:last-child {
            display: none;
        }

        #{$self}--theme-light & {
            background-color: lumx-color-variant('dark', 'L5');
        }

        #{$self}--theme-dark & {
            background-color: lumx-color-variant('light', 'L5');
        }
    }
}

/* Handle states
   ========================================================================== */

// Hover state
.#{$lumx-base-prefix}-slider__handle:hover {
    .#{$lumx-base-prefix}-slider--theme-light & {
        @include lumx-state(
            lumx-base-const('state', 'HOVER'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'LIGHT')
        );
    }

    .#{$lumx-base-prefix}-slider--theme-dark & {
        @include lumx-state(
            lumx-base-const('state', 'HOVER'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'DARK')
        );
    }
}

// Active state
.#{$lumx-base-prefix}-slider__handle:active {
    .#{$lumx-base-prefix}-slider--theme-light & {
        @include lumx-state(
            lumx-base-const('state', 'ACTIVE'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'LIGHT')
        );
    }

    .#{$lumx-base-prefix}-slider--theme-dark & {
        @include lumx-state(
            lumx-base-const('state', 'ACTIVE'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'DARK')
        );
    }
}

// Focus state
.#{$lumx-base-prefix}-slider__handle[data-focus-visible-added] {
    .#{$lumx-base-prefix}-slider--theme-light & {
        @include lumx-state(
            lumx-base-const('state', 'FOCUS'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'LIGHT')
        );
    }

    .#{$lumx-base-prefix}-slider--theme-dark & {
        @include lumx-state(
            lumx-base-const('state', 'FOCUS'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'DARK')
        );
    }
}
