/* ==========================================================================
   Lightbox
   ========================================================================== */

.#{$lumx-base-prefix}-lightbox {
    position: fixed;
    z-index: map-get($lumx-base-layers, 'high');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    animation: lumx-lightbox-show $lumx-lightbox-transition-duration;
    background-color: lumx-color-variant('dark', 'L1');
    opacity: 1;
    transition: opacity $lumx-lightbox-transition-duration;

    &--is-shown {
        display: block;
    }

    &--is-hidden {
        opacity: 0;
    }

    &__close {
        position: fixed;
        top: $lumx-spacing-unit * 3;
        right: $lumx-spacing-unit * 3;
    }

    &__wrapper {
        position: absolute;
        top: map-get($lumx-sizes, lumx-base-const('size', 'L'));
        right: map-get($lumx-sizes, lumx-base-const('size', 'L'));
        bottom: map-get($lumx-sizes, lumx-base-const('size', 'L'));
        left: map-get($lumx-sizes, lumx-base-const('size', 'L'));
        display: flex;
        flex-direction: column;
    }
}

@keyframes lumx-lightbox-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
