/* ==========================================================================
   Thumbnail
   ========================================================================== */

.#{$lumx-base-prefix}-thumbnail {
    $self: &;

    position: relative;
    flex-shrink: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;

    &--fill-height,
    &--fill-height &__background {
        display: flex;
        /* Safari hack to force the image ratio */
        height: fit-content;
        min-height: 100%;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
    }

    &--variant-rounded {
        border-radius: var(--lumx-border-radius);
    }

    &__background {
        position: relative;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        #{$self}--variant-rounded & {
            border-radius: var(--lumx-border-radius);
        }
    }

    &__focused-image {
        max-width: none;
    }

    &__background,
    &__image {
        display: block;
        max-width: 100%;
        /* IE11 hack related to a bug with IE flexbox implementation (cf. https://stackoverflow.com/a/54054592) */
        min-height: 1px;
        max-height: 100%;

        #{$self}--align-left & {
            margin-right: auto;
        }

        #{$self}--align-center & {
            margin: 0 auto;
        }

        #{$self}--align-right & {
            margin-left: auto;
        }

        #{$self}--variant-rounded & {
            border-radius: var(--lumx-border-radius);
        }
    }

    &__fallback {
        width: fit-content;
        /* Center fallback icon when using fill-height prop */
        margin: 0 auto;
    }

    &__badge {
        position: absolute;
        right: -$lumx-spacing-unit / 2;
        bottom: -$lumx-spacing-unit / 2;
    }
}

/* Thumbnail sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .#{$lumx-base-prefix}-thumbnail--size-#{$key} {
        width: $size;
    }
}

/* Thumbnail aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
    .#{$lumx-base-prefix}-thumbnail--aspect-ratio-#{$key}:not(.#{$lumx-base-prefix}-thumbnail--fill-height)
        .#{$lumx-base-prefix}-thumbnail__background {
        padding-top: $aspect-ratio;
    }
}

/* Thumbnail states
   ========================================================================== */

.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    position: relative;
    cursor: pointer;

    &::after {
        @include lumx-state-transition;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        pointer-events: none;
    }

    &:hover::after {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }

    &:active::after {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-thumbnail--variant-rounded.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    &[data-focus-visible-added]::after {
        border-radius: var(--lumx-border-radius);
    }
}

.#{$lumx-base-prefix}-thumbnail--theme-light.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-thumbnail--theme-dark.#{$lumx-base-prefix}-thumbnail[tabindex='0'] {
    &[data-focus-visible-added]::after {
        @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}

/* Thumbnail badge mask
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    $mask-size: map-get($lumx-sizes, lumx-base-const('size', 'XS')) - $lumx-spacing-unit;
    $mask-offset: $size - 6;

    .#{$lumx-base-prefix}-thumbnail--has-badge.#{$lumx-base-prefix}-thumbnail--size-#{$key} {
        .#{$lumx-base-prefix}-thumbnail__background,
        .#{$lumx-base-prefix}-thumbnail__fallback {
            mask-image: radial-gradient(
                circle at $mask-offset $mask-offset,
                transparent $mask-size,
                /* offset circle size (+1) to soften the edge */ black $mask-size + 1
            );
        }
    }
}
