@use "sass:map";
@use "sass:math";
@use "sass:string";

/* ==========================================================================
   Thumbnail
   ========================================================================== */

.lumx-thumbnail {
    $self: &;

    position: relative;
    flex-shrink: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;

    &--fill-height {
        &,
        #{$self}__background {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            min-height: 100%;
        }

        #{$self}__image {
            width: unset;
        }

        &:not(.lumx-thumbnail--aspect-ratio-original) {
            #{$self}__image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__background {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;

        #{$self}--variant-rounded & {
            border-radius: var(--lumx-border-radius);
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: var(--lumx-thumbnail-image-object-fit, cover);

        &--has-defined-size {
            width: fit-content;
            height: fit-content;
        }
    }

    &__background,
    &__image {
        #{$self}--align-left & {
            margin-right: auto;
        }

        #{$self}--align-center & {
            margin: 0 auto;
        }

        #{$self}--align-right & {
            margin-left: auto;
        }
    }

    &__badge {
        position: absolute;
        right: math.div(-$lumx-spacing-unit, 2);
        bottom: math.div(-$lumx-spacing-unit, 2);
    }

    &__fallback {
        display: block;
    }
}

/* Thumbnail sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    .lumx-thumbnail--size-#{$key} {
        width: $size;
    }
}

/* Thumbnail aspect ratio
   ========================================================================== */

.lumx-thumbnail:not(.lumx-thumbnail--aspect-ratio-original) {
    .lumx-thumbnail__image {
        object-fit: var(--lumx-thumbnail-image-object-fit, cover);
        object-position: center;
        width: 100%;
        height: 100%;

        // When using object-fit:cover + ratio 1/1, Chrome switches to pixelated downsizing algo
        // https://stackoverflow.com/a/77059936
        // The following prevent this so the image is correctly downsized using blurring effect
        translate: 0 0 0.01px;

        @supports not (aspect-ratio: 1 / 1) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

@supports (aspect-ratio: 1 / 1) {
    @each $key, $aspect-ratio-fraction in $lumx-thumbnail-aspect-ratio-fraction {
        .lumx-thumbnail--aspect-ratio-#{$key}:not(.lumx-thumbnail--fill-height)
        .lumx-thumbnail__image {
            aspect-ratio: var(--lumx-thumbnail-aspect-ratio, string.unquote($aspect-ratio-fraction));
        }
    }
}

@supports not (aspect-ratio: 1 / 1) {
    @each $key, $aspect-ratio in $lumx-thumbnail-aspect-ratio {
        .lumx-thumbnail--aspect-ratio-#{$key}:not(.lumx-thumbnail--fill-height)
        .lumx-thumbnail__background {
            padding-top: $aspect-ratio;
        }
    }
}

/* Thumbnail object fit
   ========================================================================== */

.lumx-thumbnail--object-fit-cover {
    --lumx-thumbnail-image-object-fit: cover;
}

.lumx-thumbnail--object-fit-contain {
    --lumx-thumbnail-image-object-fit: contain;
}

/* Thumbnail states
   ========================================================================== */

.lumx-thumbnail--is-clickable {
    &:not(.lumx-thumbnail--fill-height) {
        display: block;
    }

    position: relative;
    cursor: pointer;

    &::after {
        @include lumx-state-transition;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        content: "";
    }

    /* Hover */
    &:hover::after,
    &:focus::after {
        @include lumx-state("state-hover", "emphasis-low", "dark");
    }

    /* Active */
    &:active::after {
        @include lumx-state("state-active", "emphasis-low", "dark");
    }
}

/* Focused (variant rounded) */
.lumx-thumbnail--variant-rounded.lumx-thumbnail--is-clickable {
    &[data-focus-visible-added]::after {
        border-radius: var(--lumx-border-radius);
    }
}

/* Focused (light theme) */
.lumx-thumbnail--theme-light.lumx-thumbnail--is-clickable {
    &[data-focus-visible-added]::after {
        @include lumx-state("state-focus", "emphasis-low", "dark");
    }
}

/* Focused (dark theme) */
.lumx-thumbnail--theme-dark.lumx-thumbnail--is-clickable {
    &[data-focus-visible-added]::after {
        @include lumx-state("state-focus", "emphasis-low", "light");
    }
}

/* Loading state */
.lumx-thumbnail--is-loading {
    &.lumx-thumbnail--theme-light .lumx-thumbnail__background {
        @include lumx-skeleton("light");
    }

    &.lumx-thumbnail--theme-dark .lumx-thumbnail__background {
        @include lumx-skeleton("dark");
    }
}

/* Error state */
.lumx-thumbnail--has-error {
    /** Icon fallback */
    &.lumx-thumbnail--has-icon-error-fallback {
        .lumx-thumbnail__fallback {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.lumx-thumbnail--theme-light .lumx-thumbnail__fallback {
            background-color: lumx-color-variant("dark", "L6");
        }

        &.lumx-thumbnail--theme-dark .lumx-thumbnail__fallback {
            background-color: lumx-color-variant("light", "L6");
        }
    }

    /* Custom fallback */
    &.lumx-thumbnail--has-custom-error-fallback {
        /* Disable aspect ratio */
        .lumx-thumbnail__background {
            padding-top: 0;
        }
    }
}

/* Thumbnail badge mask
   ========================================================================== */

$badge-radius-size: math.div(map.get($lumx-sizes, "xs"), 2) + 2;

.lumx-thumbnail--has-badge {
    .lumx-thumbnail__background,
    .lumx-thumbnail__fallback {
        mask-image:
            radial-gradient(
                circle at calc(100% - #{$badge-radius-size - 6}) calc(100% - #{$badge-radius-size - 6}),
                transparent $badge-radius-size,
                black $badge-radius-size + 1
            );
    }
}
