/* ==========================================================================
   Select
   ========================================================================== */

.#{$lumx-base-prefix}-select {
    $self: &;

    &__label {
        #{$self}--theme-light & {
            @include lumx-input-label('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-label('light');
        }
    }

    &__wrapper {
        flex-wrap: nowrap !important;
        cursor: pointer;

        #{$self}--theme-light & {
            @include lumx-text-field-wrapper('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper('dark');
        }

        #{$self}--has-label & {
            @include lumx-text-field-wrapper-has-label;
        }

        #{$self}--multiple & {
            @include lumx-text-field-wrapper-has-chips;
        }
    }

    &__chips {
        @include lumx-text-field-chips;

        flex: 1;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native('light');
        }

        &--placeholder {
            #{$self}--theme-light & {
                @include lumx-text-field-placeholder('dark');
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-placeholder('light');
            }
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__input-validity {
        flex-shrink: 0;
    }

    &__input-indicator {
        flex-shrink: 0;

        #{$self}--theme-light & {
            @include lumx-select-input-indicator('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-select-input-indicator('light');
        }
    }

    &__filter {
        @include lumx-select-filter;

        i {
            @include lumx-text-field-input-icon('dark');
        }

        input {
            @include lumx-text-field-input-native('dark');

            &::placeholder {
                @include lumx-text-field-placeholder('dark');
            }
        }
    }

    &__loader {
        @include lumx-select-loader;
    }

    &__helper {
        @include lumx-select-helper;
    }
}

/* Select states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-select--is-disabled {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-select--theme-light {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text('dark');
        }
    }

    &.#{$lumx-base-prefix}-select--theme-dark {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text('light');
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state('state-hover', 'dark');
}

.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state('state-hover', 'light');
}

// Focus state
.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state('state-focus', 'dark');
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state('state-focus', 'light');
}

/* Select validity
   ========================================================================== */

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', 'dark');
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', 'dark');
    }
}

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', 'dark');
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', 'dark');
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', 'light');
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', 'light');
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', 'light');
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', 'light');
    }
}
