@mixin lumx-select-input-chip() {
    height: map-get($lumx-chip-sizes, s);
    margin: 3px;
}

@mixin lumx-select-input-clear($theme) {
    margin-left: $lumx-spacing-unit;
    color: lumx-theme-color-variant($theme, N);

    &:hover {
        opacity: 0.8;
    }
}

@mixin lumx-select-input-indicator($theme) {
    margin-left: $lumx-spacing-unit;
    color: lumx-theme-color-variant($theme, N);
}

@mixin lumx-select-filter() {
    display: flex;
    align-items: center;
    padding: 0 $lumx-spacing-unit * 2 $lumx-spacing-unit;
    margin-bottom: $lumx-spacing-unit;
    border-bottom: 1px solid lumx-theme-color-variant(dark, L5);
}

@mixin lumx-select-loader() {
    display: flex;
    justify-content: center;
    padding: $lumx-spacing-unit * 2 0;
}

@mixin lumx-select-helper() {
    @include lumx-typography(body1);

    display: flex;
    height: $lumx-list-item-height;
    align-items: center;
    justify-content: center;
    color: lumx-theme-color-variant(dark, L3);
}
