@mixin lumx-select-input-indicator($theme) {
    margin-left: $lumx-spacing-unit / 2;
    color: lumx-theme-color-variant($theme, 'N');
}

@mixin lumx-select-filter() {
    @include lumx-has-divider(dark);

    display: flex;
    align-items: center;
    padding: 0 $lumx-spacing-unit * 2 $lumx-spacing-unit;
    margin-bottom: $lumx-spacing-unit;
}

@mixin lumx-select-loader() {
    display: flex;
    justify-content: center;
    padding: $lumx-spacing-unit * 2 0;
}

@mixin lumx-select-helper() {
    @include lumx-typography('body1');

    display: flex;
    justify-content: center;
    padding: $lumx-spacing-unit 0;
    color: lumx-theme-color-variant('dark', 'L3');
}
