<div
    class="lumx-image-block"
    ng-class="{ 'lumx-image-block--format-original': !lumx.aspectRatio || lumx.aspectRatio === 'original',
                'lumx-image-block--format-crop': lumx.aspectRatio && lumx.aspectRatio !== 'original',
                'lumx-image-block--aspect-ratio-horizontal': lumx.aspectRatio === 'horizontal',
                'lumx-image-block--aspect-ratio-vertical': lumx.aspectRatio === 'vertical',
                'lumx-image-block--caption-position-below': !lumx.captionPosition || lumx.captionPosition === 'below',
                'lumx-image-block--caption-position-over': lumx.captionPosition === 'over',
                'lumx-image-block--theme-light': !lumx.theme || lumx.theme === 'light',
                'lumx-image-block--theme-dark': lumx.theme === 'dark' }"
>
    <div class="lumx-image-block__image" ng-style="lumx.getImageStyle()">
        <img ng-src="{{ lumx.image }}" ng-if="!lumx.aspectRatio || lumx.aspectRatio === 'original'" />
    </div>

    <div class="lumx-image-block__wrapper" ng-style="lumx.captionStyle">
        <div class="lumx-image-block__caption" ng-if="lumx.title || lumx.description">
            <span class="lumx-image-block__title" ng-if="lumx.title">{{ lumx.title }}</span>
            <span class="lumx-image-block__description" ng-if="lumx.description">
                {{ lumx.description }}
            </span>
        </div>

        <div class="lumx-image-block__tags" ng-if="lumx.tags.length > 0">
            <div class="lumx-image-block__tag" ng-repeat="tag in lumx.tags">
                <lumx-chip lumx-size="s" lumx-theme="{{ lumx.theme }}">
                    <lumx-chip-label>{{ tag }}</lumx-chip-label>
                </lumx-chip>
            </div>
        </div>
    </div>
</div>
