<lx-list>
    <lx-list-subheader>Lorem ipsum</lx-list-subheader>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-subheader>Lorem ipsum</lx-list-subheader>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-divider></lx-list-divider>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-primary><lx-icon lx-id="send" lx-size="s"></lx-icon></lx-list-item-primary>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>
</lx-list>
