/* ==========================================================================
   Select
   ========================================================================== */

.#{$lumx-base-prefix}-select {
    $self: &;

    &__label {
        #{$self}--theme-light & {
            @include lumx-input-label(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-input-label(lumx-base-const('theme', 'DARK'));
        }
    }

    &__wrapper {
        flex-wrap: nowrap !important;
        cursor: pointer;

        #{$self}--theme-light & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-wrapper(lumx-base-const('theme', 'DARK'));
        }

        #{$self}--has-label & {
            @include lumx-text-field-wrapper-has-label;
        }
    }

    &__chips {
        @include lumx-text-field-chips;

        flex: 1 1 auto;
    }

    &__input-native {
        #{$self}--theme-light & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'), 'select');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'DARK'), 'select');
        }

        &--placeholder {
            #{$self}--theme-light & {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }

            #{$self}--theme-dark & {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'DARK'));
            }
        }

        span {
            display: block;
            margin: $lumx-spacing-unit 0;
            word-break: break-word;
        }
    }

    &__input-clear {
        @include lumx-text-field-input-clear;
    }

    &__input-validity {
        flex-shrink: 0;
    }

    &__input-indicator {
        flex-shrink: 0;

        #{$self}--theme-light & {
            @include lumx-select-input-indicator(lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark & {
            @include lumx-select-input-indicator(lumx-base-const('theme', 'DARK'));
        }

        #{$self}--has-input-clear & {
            margin-left: $lumx-spacing-unit / 2;
        }
    }

    &__filter {
        @include lumx-select-filter;

        i {
            @include lumx-text-field-input-icon(lumx-base-const('theme', 'LIGHT'));
        }

        input {
            @include lumx-text-field-input-native(lumx-base-const('theme', 'LIGHT'), 'input');

            &::placeholder {
                @include lumx-text-field-placeholder(lumx-base-const('theme', 'LIGHT'));
            }
        }
    }

    &__loader {
        @include lumx-select-loader;
    }

    &__helper {
        @include lumx-select-helper;
    }
}

/* Select states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-select--is-disabled {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-select--theme-light {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-select--theme-dark {
        .#{$lumx-base-prefix}-select__label {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
}

.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:hover {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'DARK'));
}

// Focus state
.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-light .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'LIGHT'));
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-open .#{$lumx-base-prefix}-select__wrapper,
.#{$lumx-base-prefix}-select--theme-dark .#{$lumx-base-prefix}-select__wrapper:focus {
    @include lumx-text-field-wrapper-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('theme', 'DARK'));
}

/* Select validity
   ========================================================================== */

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-select--theme-light.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'LIGHT'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'LIGHT'));
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--is-valid {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('valid', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('valid', lumx-base-const('theme', 'DARK'));
    }
}

.#{$lumx-base-prefix}-select--theme-dark.#{$lumx-base-prefix}-select--has-error {
    .#{$lumx-base-prefix}-select__wrapper {
        @include lumx-text-field-wrapper-validity('error', lumx-base-const('theme', 'DARK'));
    }

    .#{$lumx-base-prefix}-select__input-validity {
        @include lumx-text-field-input-validity('error', lumx-base-const('theme', 'DARK'));
    }
}
