/* ==========================================================================
   Data table
   ========================================================================== */

.lumx-table {
    $self: &;

    @include lumx-table;

    &__row {
        @include lumx-table-row;

        #{$self}--theme-light#{$self}--has-dividers & {
            @include lumx-has-divider(lumx-base-const("theme", "LIGHT"));
        }

        #{$self}--theme-dark#{$self}--has-dividers & {
            @include lumx-has-divider(lumx-base-const("theme", "DARK"));
        }

        #{$self}--has-dividers &:last-child {
            border-bottom: none;
        }

        &--is-selected {
            #{$self}--theme-light & {
                @include lumx-table-row-is-selected(lumx-base-const("theme", "LIGHT"));
            }

            #{$self}--theme-dark & {
                @include lumx-table-row-is-selected(lumx-base-const("theme", "DARK"));
            }
        }
    }

    &__cell {
        &--head {
            #{$self}--theme-light & {
                @include lumx-table-cell("head", lumx-base-const("theme", "LIGHT"));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell("head", lumx-base-const("theme", "DARK"));
            }
        }

        &--body {
            #{$self}--theme-light & {
                @include lumx-table-cell("body", lumx-base-const("theme", "LIGHT"));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell("body", lumx-base-const("theme", "DARK"));
            }
        }

        &:first-child {
            padding-left: $lumx-spacing-unit * 3;
        }

        #{$self}--has-before &:first-child {
            @include lumx-table-cell-before;
        }

        &--is-sortable #{$self}__cell-wrapper {
            cursor: pointer;
        }

        &--is-sorted #{$self}__cell-wrapper {
            #{$self}--theme-light & {
                @include lumx-table-cell-is-sorted(lumx-base-const("theme", "LIGHT"));
            }

            #{$self}--theme-dark & {
                @include lumx-table-cell-is-sorted(lumx-base-const("theme", "DARK"));
            }
        }
    }

    &__row--is-disabled &__cell {
        pointer-events: none;
        opacity: 0.5;
    }

    &__cell-wrapper {
        @include lumx-table-cell-wrapper;

        #{$self}--has-before #{$self}__cell--head:first-child & {
            @include lumx-table-cell-content-before;
        }
    }

    &__cell-icon {
        @include lumx-table-cell-icon;
    }

    &__cell-content {
        #{$self}__cell--head & {
            @include lumx-table-cell-content("head");
        }

        #{$self}__cell--body & {
            @include lumx-table-cell-content("body");
        }

        #{$self}--has-before #{$self}__cell--body:first-child & {
            @include lumx-table-cell-content-before;
        }

        #{$self}__cell--is-sortable #{$self}__cell-wrapper:hover &,
        #{$self}__cell--is-sortable #{$self}__cell-wrapper[data-focus-visible-added] & {
            text-decoration: underline;
        }
    }
}

/* Clickable row
   ========================================================================== */

.lumx-table__row--is-clickable:not(.lumx-table__row--is-selected) {
    .lumx-table--theme-light & {
        @include lumx-table-row-is-clickable(lumx-base-const("theme", "LIGHT"), false);
    }

    .lumx-table--theme-dark & {
        @include lumx-table-row-is-clickable(lumx-base-const("theme", "DARK"), false);
    }
}

.lumx-table__row--is-clickable.lumx-table__row--is-selected {
    .lumx-table--theme-light & {
        @include lumx-table-row-is-clickable(lumx-base-const("theme", "LIGHT"), true);
    }

    .lumx-table--theme-dark & {
        @include lumx-table-row-is-clickable(lumx-base-const("theme", "DARK"), true);
    }
}
