@use "sass:math";

@mixin lumx-table() {
    width: 100%;
    margin: 0;
    table-layout: fixed;
}

@mixin lumx-table-row() {
    outline: none;
}

@mixin lumx-table-row-is-clickable($theme, $is-selected) {
    &:hover {
        @if $theme == "theme-light" {
            @if $is-selected == true {
                background-color: lumx-color-variant("primary", "L4");
            } @else {
                background-color: lumx-color-variant("dark", "L6");
            }
        } @else if $theme == "theme-dark" {
            @if $is-selected == true {
                background-color: lumx-color-variant("light", "L4");
            } @else {
                background-color: lumx-color-variant("light", "L6");
            }
        }
    }

    &[data-focus-visible-added] {
        @if $theme == "theme-light" {
            @include lumx-state(
                "state-focus",
                "emphasis-low",
                "dark"
            );
        } @else if $theme == "theme-dark" {
            @include lumx-state(
                "state-focus",
                "emphasis-low",
                "light"
            );
        }
    }
}

@mixin lumx-table-row-is-selected($theme) {
    @if $theme == "theme-light" {
        background-color: lumx-color-variant("primary", "L5");
    } @else if $theme == "theme-dark" {
        background-color: lumx-color-variant("light", "L5");
    }
}

@mixin lumx-table-cell($variant, $theme) {
    height: 56px;
    padding: $lumx-spacing-unit $lumx-spacing-unit * 3 $lumx-spacing-unit 0;
    text-align: left;
    outline: none;

    @if $variant == "head" {
        @include lumx-has-divider($theme);

        @if $theme == "theme-light" {
            color: lumx-color-variant("dark", "L2");
        } @else if $theme == "theme-dark" {
            color: lumx-color-variant("light", "L2");
        }
    } @else if $variant == "body" {
        @if $theme == "theme-light" {
            color: lumx-color-variant("dark", "N");
        } @else if $theme == "theme-dark" {
            color: lumx-color-variant("light", "N");
        }
    }
}

@mixin lumx-table-cell-before() {
    width: 68px;
    padding: 0;
}

@mixin lumx-table-cell-is-sorted($theme) {
    @if $theme == "theme-light" {
        color: lumx-color-variant("dark", "N");
    } @else if $theme == "theme-dark" {
        color: lumx-color-variant("light", "N");
    }
}

@mixin lumx-table-cell-wrapper() {
    display: flex;
    align-items: flex-start;
    padding: 0;
    color: inherit;
    background: none;
    border: none;
    appearance: none;
}

@mixin lumx-table-cell-icon() {
    margin-top: 1px;
    margin-right: math.div($lumx-spacing-unit, 2);
}

@mixin lumx-table-cell-content($variant) {
    hyphens: auto;
    word-break: break-word;

    @if $variant == "head" {
        @include lumx-typography("caption");
    } @else if $variant == "body" {
        @include lumx-typography("body1");
    }
}

@mixin lumx-table-cell-content-before() {
    display: flex;
    justify-content: center;
}
