@import "@lumx/core/scss/design-tokens";
@import "@lumx/core/scss/core";

/* Home logo link
   ========================================================================== */

.home-logo-link {
    .lumx-link__content {
        display: inline-flex;
        gap: $lumx-spacing-unit-medium;
        align-items: center;
    }
}
