<div
    class="lx-switch"
    ng-class="{ 'lx-switch--is-checked': lxSwitch.viewValue,
                'lx-switch--is-unchecked': !lxSwitch.viewValue,
                'lx-switch--position-left': !lxSwitch.position || lxSwitch.position === 'left',
                'lx-switch--position-right': lxSwitch.position === 'right',
                'lx-switch--theme-light': !lxSwitch.theme || lxSwitch.theme === 'light',
                'lx-switch--theme-dark': lxSwitch.theme === 'dark' }"
>
    <div class="lx-switch__input-wrapper">
        <input
            type="checkbox"
            id="{{ lxSwitch.switchId }}"
            class="lx-switch__input-native"
            ng-checked="lxRadioButton.viewValue"
            ng-click="lxSwitch.updateViewValue()"
        />

        <div class="lx-switch__input-placeholder">
            <div class="lx-switch__input-background"></div>
            <div class="lx-switch__input-indicator"></div>
        </div>
    </div>

    <div class="lx-switch__content" ng-if="::!lxSwitch.hasLabel && !lxSwitch.hasHelper && lxSwitch.hasTranscluded">
        <label for="{{ lxSwitch.switchId }}" class="lx-switch__label" ng-transclude></label>
    </div>

    <div class="lx-switch__content" ng-if="::lxSwitch.hasLabel">
        <label for="{{ lxSwitch.switchId }}" class="lx-switch__label" ng-transclude="label"></label>
        <span class="lx-switch__helper" ng-transclude="helper" ng-if="::lxSwitch.hasHelper"></span>
    </div>
</div>
