/* ==========================================================================
   Text
   ========================================================================== */

.lumx-text {
    white-space: var(--lumx-text-white-space);

    &--is-truncated {
        --lumx-text-white-space: nowrap;

        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--is-truncated-multiline {
        /* autoprefixer: off */
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--lumx-text-truncate-lines);
    }

    &--no-wrap {
        --lumx-text-white-space: nowrap;
    }

    // Fix icon alignment
    .lumx-icon, .lumx-icon > svg {
        display: inline;
    }
}
