/* ==========================================================================
   Input label
   ========================================================================== */

.#{$lumx-base-prefix}-input-label {
    &--is-required:after {
        content: '*';
        font-weight: 700;
    }

    &--theme-light {
        @include lumx-input-label(lumx-base-const('theme', 'LIGHT'));

        &:after {
            color: lumx-theme-color-variant('red', 'N');
        }
    }

    &--theme-dark {
        @include lumx-input-label(lumx-base-const('theme', 'DARK'));
    }
}
