/* ==========================================================================
   Tabs
   ========================================================================== */

.#{$lumx-base-prefix}-tabs {
    $self: &;

    &__links {
        #{$self}--theme-light & {
            @include lumx-tabs-links(dark);
        }

        #{$self}--theme-dark & {
            @include lumx-tabs-links(light);
        }
    }

    &__link {
        @include lumx-tabs-link;
        @include lumx-state-transition;

        #{$self}--theme-light & {
            @include lumx-state(state-default, emphasis-low, dark);
        }

        #{$self}--theme-dark & {
            @include lumx-state(state-default, emphasis-low, light);
        }
    }
}

/* Tabs layout
   ========================================================================== */

.#{$lumx-base-prefix}-tabs--layout-fixed {
    .#{$lumx-base-prefix}-tabs__link {
        @include lumx-tabs-link-layout(fixed);
    }
}

/* Tabs position
   ========================================================================== */

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-left {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(left);
    }
}

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-center {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(center);
    }
}

.#{$lumx-base-prefix}-tabs--layout-clustered.#{$lumx-base-prefix}-tabs--position-right {
    .#{$lumx-base-prefix}-tabs__links {
        @include lumx-tabs-links-position(right);
    }
}

/* Tabs link states
   ========================================================================== */

// Hover state
.#{$lumx-base-prefix}-tabs__link:hover {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(state-hover, emphasis-low, dark);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(state-hover, emphasis-low, light);
    }
}

// Active state
/* stylelint-disable-next-line no-descending-specificity */
.#{$lumx-base-prefix}-tabs__link:active {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(state-active, emphasis-low, dark);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(state-active, emphasis-low, light);
    }
}

// Focus state
.#{$lumx-base-prefix}-tabs__link[data-focus-visible-added] {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state(state-focus, emphasis-low, dark, null, true);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state(state-focus, emphasis-low, light, null, true);
    }
}

// Disabled state
.#{$lumx-base-prefix}-tabs__link--is-disabled {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-state-disabled-text(dark);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-state-disabled-text(light);
    }
}

/* Tabs link active
   ========================================================================== */

.#{$lumx-base-prefix}-tabs__link--is-active {
    .#{$lumx-base-prefix}-tabs--theme-light & {
        @include lumx-tabs-link-active(dark);
    }

    .#{$lumx-base-prefix}-tabs--theme-dark & {
        @include lumx-tabs-link-active(light);
    }
}
