/* ==========================================================================
   Dropdown
   ========================================================================== */

.#{$lumx-base-prefix}-dropdown {
    z-index: map-get($lumx-base-layers, 'high');

    &--has-toggle {
        display: inline-block;
        vertical-align: top;
    }

    &__menu {
        @include lumx-elevation(3);

        overflow: auto;
        background-color: lumx-color-variant('light', 'N');
        border-radius: var(--lumx-border-radius);
    }
}
