$lx-ripple-identifier: '.lx-ripple';

$lx-ripple-light-opacities: (
    hover: .04,
    focus: .12,
    ripple: .16
) !default;

$lx-ripple-dark-opacities: (
    hover: .08,
    focus: .24,
    ripple: .32
) !default;
