@import "./variables";
@import "./keyframes";

.has-lx-ripple {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.lx-ripple {
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    pointer-events: none;
    transform: scale(0);
}

.lx-ripple--is-animated {
    animation-duration: 0.5s;
    // animation-timing-function: ease-out;
}

.lx-ripple--from-mouse.lx-ripple--is-animated {
    animation-name: lx-ripple-from-mouse;
}

.lx-ripple--from-center.lx-ripple--is-animated {
    animation-name: lx-ripple-from-center;
}
