@use "sass:math";

/* ==========================================================================
   Button
   ========================================================================== */

.lumx-button {
    @include lumx-button-base;

    .lumx-badge {
        position: absolute;
        top: math.div(-$lumx-spacing-unit, 2);
        right: math.div(-$lumx-spacing-unit, 2);
    }
}

/* Button sizes
   ========================================================================== */

@each $size in ("s", "m") {
    .lumx-button--size-#{$size} {
        &.lumx-button--emphasis-high {
            &.lumx-button--variant-button {
                @include lumx-button-size("emphasis-high", "button", $size);
            }

            &.lumx-button--variant-icon {
                @include lumx-button-size("emphasis-high", "icon", $size);
            }
        }

        &.lumx-button--emphasis-medium {
            &.lumx-button--variant-button {
                @include lumx-button-size("emphasis-medium", "button", $size);
            }

            &.lumx-button--variant-icon {
                @include lumx-button-size("emphasis-medium", "icon", $size);
            }
        }

        &.lumx-button--emphasis-low {
            &.lumx-button--variant-button {
                @include lumx-button-size("emphasis-low", "button", $size);
            }

            &.lumx-button--variant-icon {
                @include lumx-button-size("emphasis-low", "icon", $size);
            }
        }

        &.lumx-button--variant-button {
            i:first-child {
                @include lumx-button-icon("button", $size, "position-left");
            }

            i:last-child {
                @include lumx-button-icon("button", $size, "position-right");
            }
        }

        &.lumx-button--variant-icon {
            & > i,
            & > img {
                @include lumx-button-icon("icon", $size);
            }
        }

        & > span {
            @include lumx-button-text($size);
        }
    }
}

/* Button colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    @if $key != "dark" and $key != "light" {
        .lumx-button--color-#{$key} {
            &.lumx-button--emphasis-high.lumx-button--theme-light {
                @include lumx-button-color(
                    "emphasis-high",
                        $key,
                        "theme-light"
                );
            }

            &.lumx-button--emphasis-high.lumx-button--theme-dark {
                @include lumx-button-color("emphasis-high", $key, "theme-dark");
            }
        }
    }
}

@each $key, $color in $lumx-color-palette {
    .lumx-button--color-#{$key} {
        &.lumx-button--emphasis-medium {
            @include lumx-button-color("emphasis-medium", $key);
        }

        &.lumx-button--emphasis-low {
            @include lumx-button-color("emphasis-low", $key);
        }
    }
}

/* Button selected
   ========================================================================== */

.lumx-button.lumx-button--is-selected.lumx-button--emphasis-medium,
.lumx-button.lumx-button--is-selected.lumx-button--emphasis-low, {
    @include lumx-button-size("emphasis-selected");

    @each $key, $color in $lumx-color-palette {
        &.lumx-button--color-#{$key} {
            &.lumx-button--is-selected {
                @include lumx-button-color("emphasis-selected", $key);
            }
        }
    }
}

/* Button wrapper
   ========================================================================== */

.lumx-button-wrapper {
    width: fit-content;

    &--variant-button {
        border-radius: var(--lumx-border-radius);
    }

    &--variant-icon {
        border-radius: var(--lumx-material-button-variant-icon-border-radius, var(--lumx-button-border-radius));
    }

    &--color-light {
        background-color: lumx-color-variant("light", "N");
    }

    &--color-dark {
        background-color: lumx-color-variant("dark", "N");
    }
}

/* Button group
   ========================================================================== */

.lumx-button-group {
    display: inline-flex;
    vertical-align: top;
    gap: 1px;

    .lumx-button {
        // Remove border radius on the right on the first button (if not hidden and not also the last button)
        &:not(:last-of-type:not(.visually-hidden)) {
            &,
            &::before {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        // Remove border radius on the left on the last button (if not hidden and not also the first button)
        &:not(:first-of-type:not(.visually-hidden)) {
            &,
            &::before {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

/* Button full width
   ========================================================================== */

.lumx-button--is-full-width:not(.lumx-button--variant-icon),
.lumx-button-wrapper--is-full-width:not(.lumx-button-wrapper--variant-icon) {
    flex-grow: 1;
    width: 100%;
}
