/* ==========================================================================
   Button
   ========================================================================== */

.#{$lumx-base-prefix}-button {
    @include lumx-state-transition;
    @include lumx-button-base;

    .#{$lumx-base-prefix}-badge {
        position: absolute;
        top: -$lumx-spacing-unit / 2;
        right: -$lumx-spacing-unit / 2;
    }
}

/* Button sizes
   ========================================================================== */

@each $key, $size in $lumx-sizes {
    @if $key == lumx-base-const('size', 'S') or $key == lumx-base-const('size', 'M') {
        .#{$lumx-base-prefix}-button--size-#{$key} {
            &.#{$lumx-base-prefix}-button--emphasis-high {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size(lumx-base-const('emphasis', 'HIGH'), 'button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size(lumx-base-const('emphasis', 'HIGH'), 'icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--emphasis-medium {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size(lumx-base-const('emphasis', 'MEDIUM'), 'button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size(lumx-base-const('emphasis', 'MEDIUM'), 'icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--emphasis-low {
                &.#{$lumx-base-prefix}-button--variant-button {
                    @include lumx-button-size(lumx-base-const('emphasis', 'LOW'), 'button', $key);
                }

                &.#{$lumx-base-prefix}-button--variant-icon {
                    @include lumx-button-size(lumx-base-const('emphasis', 'LOW'), 'icon', $key);
                }
            }

            &.#{$lumx-base-prefix}-button--variant-button {
                i:first-child {
                    @include lumx-button-icon('button', $key, lumx-base-const('position', 'LEFT'));
                }

                i:last-child {
                    @include lumx-button-icon('button', $key, lumx-base-const('position', 'RIGHT'));
                }
            }

            &.#{$lumx-base-prefix}-button--variant-icon {
                & > i {
                    @include lumx-button-icon('icon', $key);
                }
            }

            & > span {
                @include lumx-button-text($key);
            }
        }
    }
}

/* Button reduced spacing
   ========================================================================== */

.#{$lumx-base-prefix}-button--variant-button.#{$lumx-base-prefix}-button--emphasis-high,
.#{$lumx-base-prefix}-button--variant-button.#{$lumx-base-prefix}-button--emphasis-medium {
    &.#{$lumx-base-prefix}-button--size-m {
        &.#{$lumx-base-prefix}-button--has-left-icon {
            @include lumx-button-reduced-spacing(lumx-base-const('size', 'M'), lumx-base-const('position', 'LEFT'));
        }

        &.#{$lumx-base-prefix}-button--has-right-icon {
            @include lumx-button-reduced-spacing(lumx-base-const('size', 'M'), lumx-base-const('position', 'RIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-button--size-s {
        &.#{$lumx-base-prefix}-button--has-left-icon {
            @include lumx-button-reduced-spacing(lumx-base-const('size', 'S'), lumx-base-const('position', 'LEFT'));
        }

        &.#{$lumx-base-prefix}-button--has-right-icon {
            @include lumx-button-reduced-spacing(lumx-base-const('size', 'S'), lumx-base-const('position', 'RIGHT'));
        }
    }
}

/* Button colors
   ========================================================================== */

@each $key, $color in $lumx-color-palette {
    @if $key != 'dark' and $key != 'light' {
        .#{$lumx-base-prefix}-button--color-#{$key} {
            &.#{$lumx-base-prefix}-button--emphasis-high.#{$lumx-base-prefix}-button--theme-light {
                @include lumx-button-color(
                    lumx-base-const('emphasis', 'HIGH'),
                    $key,
                    lumx-base-const('theme', 'LIGHT')
                );
            }

            &.#{$lumx-base-prefix}-button--emphasis-high.#{$lumx-base-prefix}-button--theme-dark {
                @include lumx-button-color(lumx-base-const('emphasis', 'HIGH'), $key, lumx-base-const('theme', 'DARK'));
            }
        }
    }
}

@each $key, $color in $lumx-color-palette {
    .#{$lumx-base-prefix}-button--color-#{$key} {
        &.#{$lumx-base-prefix}-button--emphasis-medium {
            @include lumx-button-color(lumx-base-const('emphasis', 'MEDIUM'), $key);
        }

        &.#{$lumx-base-prefix}-button--emphasis-low {
            @include lumx-button-color(lumx-base-const('emphasis', 'LOW'), $key);
        }
    }
}

/* Toggle button
   ========================================================================== */

.#{$lumx-base-prefix}-button--is-selected {
    &.#{$lumx-base-prefix}-button--color-dark {
        @include lumx-button-is-selected(lumx-base-const('theme', 'LIGHT'));
    }

    &.#{$lumx-base-prefix}-button--color-light {
        @include lumx-button-is-selected(lumx-base-const('theme', 'DARK'));
    }
}

/* Button wrapper
   ========================================================================== */

.#{$lumx-base-prefix}-button-wrapper {
    &--variant-button {
        border-radius: var(--lumx-border-radius);
    }

    &--variant-icon {
        border-radius: var(--lumx-button-variant-icon-border-radius);
    }

    &--color-light {
        background-color: lumx-color-variant('light', 'N');
    }

    &--color-dark {
        background-color: lumx-color-variant('dark', 'N');
    }
}

/* Button group
   ========================================================================== */

.#{$lumx-base-prefix}-button-group {
    display: inline-flex;
    vertical-align: top;

    .#{$lumx-base-prefix}-button {
        margin-right: 1px;
        border-radius: 0 !important;

        &:first-child {
            border-radius: var(--lumx-border-radius) 0 0 var(--lumx-border-radius) !important;
        }

        &:last-child {
            margin-right: 0;
            border-radius: 0 var(--lumx-border-radius) var(--lumx-border-radius) 0 !important;
        }
    }
}
