@use "sass:map";
@use "sass:math";

@mixin lumx-button-base() {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    vertical-align: top;
    user-select: none;
    background-color: transparent;
    border: none;
    outline: none;
    transition-duration: $lumx-state-transition-duration;
    transition-property: padding, border-radius, background-color, color;

    &:hover,
    &[class*="--is-hovered"] {
        cursor: pointer;
    }

    &::before {
        transition-duration: $lumx-state-transition-duration;
        transition-property: border-radius, border-width, border-color;
    }
}

@mixin lumx-button-size($emphasis, $variant: null, $size: null) {
    @if $variant {
        @if $size == "m" {
            height: var(--lumx-button-height);
        } @else if $size == "s" {
            height: calc(var(--lumx-button-height) / 1.5);
        }
    }

    @if $variant == "button" {
        border-radius: var(--lumx-button-border-radius);
    } @else if $variant == "icon" {
        @if $size == "m" {
            width: var(--lumx-button-height);
        } @else if $size == "s" {
            width: calc(var(--lumx-button-height) / 1.5);
        }

        border-radius: var(--lumx-material-button-variant-icon-border-radius, var(--lumx-button-border-radius));
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        content: "";
        border-style: solid;
        border-width: var(--lumx-button-#{$emphasis}-state-default-border-width);

        @if $variant == "button" {
            border-radius: var(--lumx-button-border-radius);
        } @else if $variant == "icon" {
            border-radius: var(--lumx-material-button-variant-icon-border-radius, var(--lumx-button-border-radius));
        }
    }

    @if $variant == "button" {
        @if $size == "m" {
            padding: 0 var(--lumx-button-#{$emphasis}-state-default-padding-horizontal);
        } @else if $size == "s" {
            padding: 0 calc(var(--lumx-button-#{$emphasis}-state-default-padding-horizontal) / 1.5);
        }
    }

    &:hover,
    &[class*="--is-hovered"] {
        @if $variant == "button" {
            @if $size == "m" {
                padding: 0 var(--lumx-button-#{$emphasis}-state-hover-padding-horizontal);
            } @else if $size == "s" {
                padding: 0 calc(var(--lumx-button-#{$emphasis}-state-hover-padding-horizontal) / 1.5);
            }
        }

        &::before {
            border-width: var(--lumx-button-#{$emphasis}-state-hover-border-width);
        }
    }

    &:active,
    &[class*="--is-active"] {
        @if $variant == "button" {
            @if $size == "m" {
                padding: 0 var(--lumx-button-#{$emphasis}-state-active-padding-horizontal);
            } @else if $size == "s" {
                padding: 0 calc(var(--lumx-button-#{$emphasis}-state-active-padding-horizontal) / 1.5);
            }
        }

        &::before {
            border-width: var(--lumx-button-#{$emphasis}-state-active-border-width);
        }
    }
}

@mixin lumx-button-color($emphasis, $color, $theme: null) {
    @if $color == "primary" and $emphasis == "emphasis-high" {
        color: var(--lumx-button-#{$emphasis}-state-default-#{$theme}-color);
        background-color: var(--lumx-button-#{$emphasis}-state-default-#{$theme}-background-color);
    } @else if $color == "dark" and $emphasis != "emphasis-high" {
        color: var(--lumx-button-#{$emphasis}-state-default-theme-light-color);
        background-color: var(--lumx-button-#{$emphasis}-state-default-theme-light-background-color);
    } @else if $color == "light" and $emphasis != "emphasis-high" {
        color: var(--lumx-button-#{$emphasis}-state-default-theme-dark-color);
        background-color: var(--lumx-button-#{$emphasis}-state-default-theme-dark-background-color);
    } @else {
        @include lumx-state("state-default", $emphasis, $color, $theme);
    }

    &::before {
        @if $color == "primary" and $emphasis == "emphasis-high" {
            border-color: var(--lumx-button-#{$emphasis}-state-default-#{$theme}-border-color);
        } @else if $color == "dark" and $emphasis != "emphasis-high" {
            border-color: var(--lumx-button-#{$emphasis}-state-default-theme-light-border-color);
        } @else if $color == "light" and $emphasis != "emphasis-high" {
            border-color: var(--lumx-button-#{$emphasis}-state-default-theme-dark-border-color);
        } @else {
            border-color: transparent;
        }
    }

    &:hover:not([aria-disabled="true"]),
    &[class*="--is-hovered"] {
        @if $color == "primary" and $emphasis == "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-hover-#{$theme}-color);
            background-color: var(--lumx-button-#{$emphasis}-state-hover-#{$theme}-background-color);
        } @else if $color == "dark" and $emphasis != "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-hover-theme-light-color);
            background-color: var(--lumx-button-#{$emphasis}-state-hover-theme-light-background-color);
        } @else if $color == "light" and $emphasis != "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-hover-theme-dark-color);
            background-color: var(--lumx-button-#{$emphasis}-state-hover-theme-dark-background-color);
        } @else {
            @include lumx-state("state-hover", $emphasis, $color, $theme);
        }

        &::before {
            @if $color == "primary" and $emphasis == "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-hover-#{$theme}-border-color);
            } @else if $color == "dark" and $emphasis != "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-hover-theme-light-border-color);
            } @else if $color == "light" and $emphasis != "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-hover-theme-dark-border-color);
            }
        }
    }

    &:active:not([aria-disabled="true"]),
    &[class*="--is-active"] {
        @if $color == "primary" and $emphasis == "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-active-#{$theme}-color);
            background-color: var(--lumx-button-#{$emphasis}-state-active-#{$theme}-background-color);
        } @else if $color == "dark" and $emphasis != "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-active-theme-light-color);
            background-color: var(--lumx-button-#{$emphasis}-state-active-theme-light-background-color);
        } @else if $color == "light" and $emphasis != "emphasis-high" {
            color: var(--lumx-button-#{$emphasis}-state-active-theme-dark-color);
            background-color: var(--lumx-button-#{$emphasis}-state-active-theme-dark-background-color);
        } @else {
            @include lumx-state("state-active", $emphasis, $color, $theme);
        }

        &::before {
            @if $color == "primary" and $emphasis == "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-active-#{$theme}-border-color);
            } @else if $color == "dark" and $emphasis != "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-active-theme-light-border-color);
            } @else if $color == "light" and $emphasis != "emphasis-high" {
                border-color: var(--lumx-button-#{$emphasis}-state-active-theme-dark-border-color);
            }
        }
    }

    &[data-focus-visible-added],
    &[class*="--is-focused"] {
        @include lumx-state("state-focus", $emphasis, $color, $theme);
    }

    &:disabled,
    &[aria-disabled="true"] {
        @include lumx-state-disabled-input;

        // Enabling pointer-events to display label tooltips on hover
        // @TODO: should be moved in the mixin when all disabled states will be aligned
        pointer-events: all;
    }
}

@mixin lumx-button-is-selected($theme) {
    @include lumx-state-as-selected("state-default", $theme);

    &:hover,
    &[class*="--is-hovered"] {
        @include lumx-state-as-selected("state-hover", $theme);
    }

    &:active,
    &[class*="--is-active"] {
        @include lumx-state-as-selected("state-active", $theme);
    }

    &[data-focus-visible-added],
    &[class*="--is-focused"] {
        @include lumx-state-as-selected("state-focus", $theme);
    }
}

@mixin lumx-button($emphasis, $variant, $size, $color, $theme: null, $icon-position: null) {
    @include lumx-state-transition;
    @include lumx-button-base;
    @include lumx-button-size($emphasis, $variant, $size);

    @if $icon-position {
        @include lumx-button-reduced-spacing($size, $icon-position);
    }

    @include lumx-button-color($emphasis, $color, $theme);

    & > i {
        @include lumx-button-icon($variant, $size, $icon-position);
    }

    & > span {
        @include lumx-button-text($size);
    }
}

@mixin lumx-button-icon($variant, $size, $position: null) {
    width: map.get($lumx-button-icon-sizes, $size);
    height: map.get($lumx-button-icon-sizes, $size);
    font-size: map.get($lumx-button-icon-sizes, $size);
    line-height: map.get($lumx-button-icon-sizes, $size);
    pointer-events: none;

    @if $variant == "button" {
        @if $position == "position-left" {
            @if $size == "m" {
                margin-right: $lumx-spacing-unit;
            } @else if $size == "s" {
                margin-right: math.div($lumx-spacing-unit, 2);
            }
        } @else if $position == "position-right" {
            @if $size == "m" {
                margin-left: $lumx-spacing-unit;
            } @else if $size == "s" {
                margin-left: math.div($lumx-spacing-unit, 2);
            }
        }
    }
}

@mixin lumx-button-text($size) {
    font-family: var(--lumx-typography-custom-button-size-#{$size}-font-family);
    font-size: var(--lumx-typography-custom-button-size-#{$size}-font-size);
    font-weight: var(--lumx-typography-custom-button-size-#{$size}-font-weight);
    text-transform: var(--lumx-material-button-text-transform);
    pointer-events: none;

    @if $size == "m" {
        line-height: var(--lumx-button-height);
    } @else if $size == "s" {
        line-height: calc(var(--lumx-button-height) / 1.5);
    }
}
