@import "./variables";

@mixin lx-radio-button-input-wrapper() {
    position: relative;
    width: $lx-radio-button-wrapper-size;
    height: $lx-radio-button-wrapper-size;
}

@mixin lx-radio-button-input-native() {
    position: relative;
    z-index: 4;
    top: 0;
    left: 0;
    width: $lx-radio-button-wrapper-size;
    height: $lx-radio-button-wrapper-size;
    padding: 0;
    margin: 0;
    opacity: 0;
}

@mixin lx-radio-button-placeholder() {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: $lx-radio-button-control-size;
    height: $lx-radio-button-control-size;
    border-radius: 50%;
}

@mixin lx-radio-button-input-background() {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

@mixin lx-radio-button-input-background-status($status, $theme) {
    @if $status == 'checked' {
        @if $theme == dark {
            border-color: lx-theme-color-variant(primary, N);
        }

        @else if $theme == light {
            border-color: lx-theme-color-variant(light, N);
        }
    }

    @else if $status == 'unchecked' {
        border-color: lx-theme-color-variant($theme, N);
    }
}

@mixin lx-radio-button-input-indicator() {
    position: absolute;
    z-index: 3;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin lx-radio-button-input-indicator-status($status, $theme) {
    @if $status == 'checked' {
        opacity: 1;
    }

    @else if $status == 'unchecked' {
        opacity: 0;
    }

    @if $theme == dark {
        background-color: lx-theme-color-variant(primary, N);
    }

    @else if $theme == light {
        background-color: lx-theme-color-variant(light, N);
    }
}
