/* Align
   ========================================================================== */

.#{$lumx-base-prefix}-base-text-left {
    text-align: left;
}

.#{$lumx-base-prefix}-base-text-right {
    text-align: right;
}

.#{$lumx-base-prefix}-base-text-center {
    text-align: center;
}

/* Display
   ========================================================================== */

.#{$lumx-base-prefix}-base-display-block {
    display: block;
}
