$lumx-base-prefix: 'lumx';

$lumx-base-constants: (
    'emphasis': (
        'HIGH': 'emphasis-high',
        'MEDIUM': 'emphasis-medium',
        'LOW': 'emphasis-low',
    ),
    'position': (
        'TOP': 'position-top',
        'RIGHT': 'position-right',
        'BOTTOM': 'position-bottom',
        'LEFT': 'position-left',
        'CENTER': 'position-center',
    ),
    'size': (
        'XXS': 'xxs',
        'XS': 'xs',
        'S': 's',
        'M': 'm',
        'L': 'l',
        'XL': 'xl',
        'XXL': 'xxl',
    ),
    'state': (
        'DEFAULT': 'state-default',
        'HOVER': 'state-hover',
        'ACTIVE': 'state-active',
        'FOCUS': 'state-focus',
    ),
    'theme': (
        'LIGHT': 'theme-light',
        'DARK': 'theme-dark',
    ),
);

$lumx-base-layers: (
    'high': 999,
    'higher': 9999,
);
