@use "sass:map";
@use "sass:math";

/* ==========================================================================
   Popover
   ========================================================================== */

.lumx-popover {
    $self: &;

    z-index: map.get($lumx-base-layers, "high");
    display: flex;
    background-color: lumx-color-variant("light", "N");
    border-radius: var(--lumx-border-radius);

    &--is-initializing {
        opacity: 0;
    }

    > * {
        flex: 1 auto;
    }

    &__wrapper {
        position: relative;
    }

    &__arrow {
        position: absolute;
        z-index: -1;
        width: $lumx-popover-arrow-size;
        height: $lumx-popover-arrow-size;
        fill: lumx-color-variant("light", "N");

        svg {
            display: block;
        }

        #{$self}[data-popper-placement^='top'] & {
            bottom: -$lumx-popover-arrow-size;

            svg {
                transform: rotate(180deg);
            }
        }

        #{$self}[data-popper-placement^='bottom'] & {
            top: -$lumx-popover-arrow-size;
        }

        #{$self}[data-popper-placement^='left'] & {
            right: -$lumx-popover-arrow-size;

            svg {
                transform: rotate(90deg);
            }
        }

        #{$self}[data-popper-placement^='right'] & {
            left: -$lumx-popover-arrow-size;

            svg {
                transform: rotate(-90deg);
            }
        }
    }

    &--theme-dark {
        background: lumx-color-variant("dark", "N");
        color: lumx-color-variant("light", "N");

        #{$self}__arrow {
            fill: lumx-color-variant("dark", "N");
        }
    }
}

/* Elevations
   ========================================================================== */

@each $depth, $shadow in $lumx-elevation-shadows {
    .lumx-popover--elevation-#{$depth} {
        @include lumx-elevation-drop-shadow($depth);
    }
}
