/* ==========================================================================
   Popover
   ========================================================================== */

.#{$lumx-base-prefix}-popover {
    $self: &;

    z-index: map-get($lumx-base-layers, 'high');
    display: flex;
    background-color: lumx-color-variant('light', 'N');
    border-radius: var(--lumx-border-radius);

    > * {
        flex: 1 auto;
    }

    &__wrapper {
        position: relative;
    }

    &__arrow {
        &,
        &::before {
            position: absolute;
            z-index: -1;
            width: $lumx-popover-arrow-size;
            height: $lumx-popover-arrow-size;
        }

        &::before {
            background: lumx-color-variant('light', 'N');
            content: '';
            transform: rotate(45deg);
        }

        #{$self}[data-popper-placement^='top'] & {
            bottom: -$lumx-popover-arrow-size/2;
        }

        #{$self}[data-popper-placement^='bottom'] & {
            top: -$lumx-popover-arrow-size/2;
        }

        #{$self}[data-popper-placement^='left'] & {
            right: -$lumx-popover-arrow-size/2;
        }

        #{$self}[data-popper-placement^='righ'] & {
            left: -$lumx-popover-arrow-size/2;
        }
    }
}

/* Elevations
   ========================================================================== */

@each $depth, $shadow in $lumx-elevation-shadows {
    .#{$lumx-base-prefix}-popover--elevation-#{$depth} {
        @include lumx-elevation($depth);
    }
}
