/* ==========================================================================
   Expansion panel
   ========================================================================== */

.#{$lumx-base-prefix}-expansion-panel {
    $self: &;

    border-radius: $lumx-expansion-panel-radius;

    &__header {
        display: flex;
        align-items: center;

        #{$self}--variant-boxed & {
            padding: $lumx-spacing-unit;
        }
    }

    &__header-drag {
        flex-shrink: 0;
    }

    &__header-content {
        flex: 1 1 auto;
        margin-right: $lumx-spacing-unit;

        #{$self}--variant-boxed &,
        #{$self}--is-draggable & {
            margin-left: $lumx-spacing-unit;
        }
    }

    &__label {
        @include lumx-typography('body1');

        display: block;

        #{$self}--theme-dark & {
            color: lumx-theme-color-variant('light', 'N');
        }
    }

    &__header-toggle {
        flex-shrink: 0;
    }

    &__wrapper {
        overflow: hidden;
        transition: max-height $lumx-expansion-panel-transition-duration;

        #{$self}--is-close & {
            max-height: 0 !important;
        }
    }
}
