@import "./variables";

html {
    box-sizing: border-box;
    @include lx-typography-base_;
    font-size: ($lx-typography-font-size / 16px) * 1em;
    line-height: $lx-typography-line-height / $lx-typography-font-size;
}

*, *:before, *:after {
    box-sizing: inherit;
}
