@use "sass:math";

/* ==========================================================================
   Slideshow
   ========================================================================== */

.lumx-slideshow {
    $self: &;

    outline: none;

    &--fill-height {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        min-height: 0;
    }

    &__slides {
        overflow: hidden;

        #{$self}--fill-height & {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
        }
    }

    &__wrapper {
        display: flex;
        transition: transform $lumx-slideshow-transition-duration;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        #{$self}--fill-height & {
            flex: 1 1 auto;
            min-height: 0;
        }
    }

    &__controls {
        margin-top: $lumx-spacing-unit * 2;

        #{$self}--fill-height & {
            flex-shrink: 0;
        }
    }
}

/* Slideshow item group
   ========================================================================== */

.lumx-slideshow-item-group {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    flex: 0 0 100%;
}

/* Slideshow item
   ========================================================================== */

.lumx-slideshow-item {
    .lumx-slideshow--fill-height & {
        display: flex;
    }
}


@for $i from 1 through 12 {
    .lumx-slideshow--group-by-#{$i} .lumx-slideshow-item {
        flex: 0 0 #{math.div(100, $i) + "%"};
        max-width: #{math.div(100, $i) + "%"};
        overflow: hidden;
    }
}
/* Slideshow controls
   ========================================================================== */

.lumx-slideshow-controls {
    $item-max-count: 6;
    $item-size: $lumx-spacing-unit;
    $item-margin-inline: 2px;
    $item-focus-outline: 4px;
    $self: &;

    display: flex;
    align-items: center;
    justify-content: center;

    &__pagination {
        align-items: center;
        // Compute max width for N items based on their size, margin and focus outline
        max-width: ($item-max-count * ($item-size + $item-margin-inline)) + $item-focus-outline * 2 + $item-size;
        overflow: hidden;
    }

    &__pagination-items {
        display: flex;
        align-items: center;
        padding: $item-focus-outline;
        transition: transform $lumx-slideshow-transition-duration;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &__pagination-item {
        $item: &;

        flex-shrink: 0;
        width: $item-size;
        height: $item-size;
        padding: 0;
        margin: 0 $item-margin-inline;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        background: none;
        border-style: solid;
        border-radius: 50%;
        outline: none;
        transition: transform $lumx-slideshow-transition-duration;
        transform: scale(1);

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        #{$self}--theme-light & {
            border-color:lumx-color-variant("dark", "L2");
            border-width: 2px;

            &[data-focus-visible-added] {
                @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "LOW"), "dark");
            }

            &:hover {
                background-color: lumx-color-variant("primary", "N");
                border-width: 0;
            }
            &--is-active {
                background-color: lumx-color-variant("primary", "N");
                width: $item-size*2;
                border-radius: $lumx-border-radius;
                border-width: 0;

                &[data-focus-visible-added] {
                    @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "LOW"), "primary");
                }
            }
        }

        #{$self}--theme-dark & {
            border-color: lumx-color-variant("light", "L2");

            &[data-focus-visible-added] {
                @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "LOW"), "light");
            }

            &:hover {
                background-color: lumx-color-variant("light", "N");
            }
            &--is-active {
                background-color: lumx-color-variant("light", "N");
                width: $item-size*2;
                border-radius: $lumx-border-radius;

                &[data-focus-visible-added] {
                    @include lumx-state(lumx-base-const("state", "FOCUS"), lumx-base-const("emphasis", "LOW"), "light");
                }
            }
        }

        #{$self}--has-infinite-pagination &--is-on-edge {
            transform: scale(0.5);
        }

        #{$self}--has-infinite-pagination &--is-out-range {
            transform: scale(0);
        }
    }
}
