<div class="p++" lumx-grid-container="row" lumx-grid-v-align="center">
    <img class="mr++" src="demo/angularjs/components/avatar/partials/avatar-xs (20).png" height="20" />
    <img class="mr++" src="demo/angularjs/components/avatar/partials/avatar-s (24).png" height="24" />
    <img class="mr++" src="demo/angularjs/components/avatar/partials/avatar-m (36).png" height="36" />
    <img class="mr++" src="demo/angularjs/components/avatar/partials/avatar-l (64).png" height="64" />
    <img class="mr++" src="demo/angularjs/components/avatar/partials/avatar-xl (128).png" height="128" />
</div>
