@mixin lx-select-input-chip() {
    margin: 3px;
}

@mixin lx-select-input-clear($theme) {
    color: lx-theme-color-variant($theme, N);

    &:hover {
        color: lx-theme-color-variant($theme, L2);
    }
}

@mixin lx-select-input-indicator($theme) {
    position: absolute;
    top: 50%;
    right: 12px;
    color: lx-theme-color-variant($theme, N);
    transform: translateY(-50%);
}

@mixin lx-select-filter() {
    display: flex;
    align-items: center;
    padding: 0 $lx-base-spacing-unit * 2 $lx-base-spacing-unit;
    border-bottom: 1px solid lx-theme-color-variant(dark, L5);
    margin-bottom: $lx-base-spacing-unit;
}

@mixin lx-select-loader() {
    display: flex;
    justify-content: center;
    padding: $lx-base-spacing-unit * 2 0;
}

@mixin lx-select-helper() {
    @include lx-typography(body1);

    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    color: lx-theme-color-variant(dark, L3);
}
