/* ==========================================================================
   Select
   ========================================================================== */

.lx-select {
    $self: &;

    &__label {
        #{ $self }--theme-light & {
            @include lx-text-field-label(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-label(light);
        }
    }

    &__input-wrapper {
        cursor: pointer;

        #{ $self }--theme-light#{ $self }--is-empty &,
        #{ $self }--theme-light#{ $self }--has-unique & {
            @include lx-text-field-input-wrapper(dark, true, false);
        }

        #{ $self }--theme-dark#{ $self }--is-empty &,
        #{ $self }--theme-dark#{ $self }--has-unique & {
            @include lx-text-field-input-wrapper(light, true, false);
        }

        #{ $self }--theme-light#{ $self }--has-multiple & {
            @include lx-text-field-input-wrapper(dark, true, true);
        }

        #{ $self }--theme-dark#{ $self }--has-multiple & {
            @include lx-text-field-input-wrapper(light, true, true);
        }
    }

    &__input-native {
        #{ $self }--theme-light & {
            @include lx-text-field-input-native(dark);
        }

        #{ $self }--theme-dark & {
            @include lx-text-field-input-native(light);
        }

        &--placeholder {
            #{ $self }--theme-light & {
                @include lx-text-field-placeholder(dark);
            }

            #{ $self }--theme-dark & {
                @include lx-text-field-placeholder(light);
            }
        }
    }

    &__input-chip {
        margin: 3px;
    }

    &__input-indicator {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }

    &__filter {
        display: flex;
        align-items: center;
        padding: 0 $lx-base-spacing-unit * 2 $lx-base-spacing-unit;
        border-bottom: 1px solid lx-theme-color-variant(dark, L5);
        margin-bottom: $lx-base-spacing-unit;

        i {
            @include lx-text-field-input-icon(dark);

            flex-shrink: 0;
        }

        input {
            @include lx-text-field-input-native(dark);

            flex: 1;

            &::placeholder {
                @include lx-text-field-placeholder(dark);
            }
        }
    }

    &__choices {
        @include lx-list;
    }

    &__choice {
        @include lx-list-row;

        &--is-focus {
            background-color: lx-theme-color-variant(dark, L5);
        }

        &--is-active {
            background-color: lx-theme-color-variant(primary, L5);
            color: lx-theme-color-variant(primary, N);
        }
    }

    &__choice-icon {
        @include lx-list-row-primary;
    }

    &__choice-content {
        @include lx-list-row-content;
    }

    &__loader {
        display: flex;
        justify-content: center;
    }

    &__helper {
        display: block;
        height: 36px;
        color: lx-theme-color-variant(dark, L3);
        font-size: 14px;
        line-height: 36px;
        text-align: center;
    }
}

/* Select states
   ========================================================================== */

// Hover state
.lx-select--theme-light .lx-select__input-wrapper:hover {
    @include lx-text-field-input-wrapper-state(hover, dark);
}

.lx-select--theme-dark .lx-select__input-wrapper:hover {
    @include lx-text-field-input-wrapper-state(hover, light);
}

// Focus state
.lx-select--theme-light .lx-select--is-open .lx-select__input-wrapper,
.lx-select--theme-light .lx-select__input-wrapper:focus {
    @include lx-text-field-input-wrapper-state(focus, dark);
}

.lx-select--theme-dark .lx-select--is-open .lx-select__input-wrapper,
.lx-select--theme-dark .lx-select__input-wrapper:focus {
    @include lx-text-field-input-wrapper-state(focus, light);
}
