/* ==========================================================================
   Select
   ========================================================================== */

.lx-select {
    $self: &;

    &__label {
        @include lx-text-field-label(dark);
    }

    &__input-wrapper {
        cursor: pointer;

        #{ $self }--is-empty &,
        #{ $self }--has-unique & {
            @include lx-text-field-input-wrapper(dark, true, false);
        }

        #{ $self }--has-multiple & {
            @include lx-text-field-input-wrapper(dark, true, true);
        }
    }

    &__input-native {
        @include lx-text-field-input-native(dark);
    }

    &__input-chip {
        margin: 3px;
    }

    &__input-indicator {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }

    &__filter {
        display: flex;
        align-items: center;
        padding: 0 $lx-base-spacing-unit * 2;

        i {
            @include lx-text-field-input-icon(dark);

            flex-shrink: 0;
        }

        input {
            @include lx-text-field-input-native(dark);

            flex: 1;
        }
    }
}

/* Select states
   ========================================================================== */

// Hover state
.lx-select__input-wrapper:hover {
    @include lx-text-field-input-wrapper-state(hover, dark);
}

// Focus state
.lx-select--is-open .lx-select__input-wrapper,
.lx-select__input-wrapper:focus {
    @include lx-text-field-input-wrapper-state(focus, dark);
}
