$lx-typography-font-family: 'Roboto', sans-serif;

$lx-typography-font-weight: (
    display1: 500,
    headline: 500,
    title: 500,
    subtitle2: 500,
    subtitle1: 500,
    body2: 400,
    body1: 400,
    caption: 400,
    overline: 500
);
