/* ==========================================================================
   Flex-box
   ========================================================================== */

/* Orientation
   ========================================================================== */

.lumx-flex-box--orientation-horizontal,
.lumx-flex-box--orientation-vertical {
    display: flex;
}

.lumx-flex-box--orientation-horizontal {
    flex-direction: row;
}

.lumx-flex-box--orientation-vertical {
    flex-direction: column;
    min-height: 0;
}

/* Alignment
   ========================================================================== */

.lumx-flex-box--orientation-horizontal.lumx-flex-box--h-align-top,
.lumx-flex-box--orientation-vertical.lumx-flex-box--v-align-left {
    align-items: flex-start;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--h-align-center,
.lumx-flex-box--orientation-vertical.lumx-flex-box--v-align-center {
    align-items: center;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--h-align-bottom,
.lumx-flex-box--orientation-vertical.lumx-flex-box--v-align-right {
    align-items: flex-end;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-left,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-top {
    justify-content: flex-start;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-center,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-center {
    justify-content: center;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-right,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-bottom {
    justify-content: flex-end;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-space-between,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-space-between {
    justify-content: space-between;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-space-around,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-space-around {
    justify-content: space-around;
}

.lumx-flex-box--orientation-horizontal.lumx-flex-box--v-align-space-evenly,
.lumx-flex-box--orientation-vertical.lumx-flex-box--h-align-space-evenly {
    justify-content: space-evenly;
}

/* Wrap
   ========================================================================== */

.lumx-flex-box--wrap {
    flex-wrap: wrap;
}

/* Fill space
   ========================================================================== */

.lumx-flex-box--fill-space {
    flex: 1 1 auto;
}

/* No shrink
   ========================================================================== */

.lumx-flex-box--no-shrink {
    flex-shrink: 0;
}

/* Margin
   ========================================================================== */

.lumx-flex-box--margin-auto-top {
    margin-top: auto;
}

.lumx-flex-box--margin-auto-right {
    margin-right: auto;
}

.lumx-flex-box--margin-auto-bottom {
    margin-bottom: auto;
}

.lumx-flex-box--margin-auto-left {
    margin-left: auto;
}

/* Gap
   ========================================================================== */

.lumx-flex-box--gap-tiny {
    gap: $lumx-spacing-unit-tiny;
}

.lumx-flex-box--gap-regular {
    gap: $lumx-spacing-unit;
}

.lumx-flex-box--gap-medium {
    gap: $lumx-spacing-unit-medium;
}

.lumx-flex-box--gap-big {
    gap: $lumx-spacing-unit-big;
}

.lumx-flex-box--gap-huge {
    gap: $lumx-spacing-unit-huge;
}
