@import "@lumx/core/src/scss/design-tokens";
@import "@lumx/core/src/scss/core";
@import "@lumx/core/src/scss/components/link/mixins";

/* Main content
   ========================================================================== */

.main-content {
    &__loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        view-transition-name: main-content-wrapper;

        & > h1 {
            @include lumx-typography(display1);

            display: flex;
        }

        & > h2 {
            @include lumx-typography(headline);
        }

        & > h3 {
            @include lumx-typography(title);
        }

        & > h4 {
            @include lumx-typography(subtitle2);
        }

        & > p > strong {
            @include lumx-typography(subtitle2);
        }

        & p a {
            @include lumx-link("primary");
        }

        /* stylelint-disable-next-line selector-type-no-unknown */
        code {
            padding: 0 $lumx-spacing-unit-tiny;
            font-family: monospace;
            font-size: 14px;
            font-weight: 700;
            color: var(--lumx-color-dark-N);
            background-color: var(--lumx-color-dark-L5);
        }

        & > ul {
            margin-left: $lumx-spacing-unit-huge * 2;
        }

        & > h2,
        & > h3,
        & > h4 {
            margin-top: $lumx-spacing-unit * 2;
        }

        & > h1,
        & > h2,
        & > h3,
        & > h4,
        & > p,
        & > ul,
        & > div,
        & > pre,
        & > img,
        & > table {
            margin-bottom: $lumx-spacing-unit * 2;

            &:last-child {
                margin-bottom: 0;
            }
        }

        & > table tr,
        & > div > table tr {
            border: solid 1px $lumx-color-dark-L5;

            & th,
            & td {
                padding: $lumx-spacing-unit * 2;
            }
        }
    }
}
