<div>
    <lumx-toolbar>
        <lumx-toolbar-label>
            <span class="lumx-typography-title">Toolbar title</span>
        </lumx-toolbar-label>

        <lumx-toolbar-after>
            <lumx-button lumx-color="{{ mainBlock.theme === 'dark' ? 'light' : 'dark' }}" lumx-emphasis="low">
                <lumx-icon lumx-path="{{ vm.icons.mdiTranslate }}"></lumx-icon>
                <span>Value</span>
                <lumx-icon lumx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
            </lumx-button>
        </lumx-toolbar-after>
    </lumx-toolbar>
</div>
