$lx-theme-dark: (
    N: rgba(0, 0, 0, 0.87),
    L1: rgba(rgba(0, 0, 0, 0.87), 0.8),
    L2: rgba(rgba(0, 0, 0, 0.87), 0.54),
    L3: rgba(rgba(0, 0, 0, 0.87), 0.38),
    L4: rgba(rgba(0, 0, 0, 0.87), 0.2),
    L5: rgba(rgba(0, 0, 0, 0.87), 0.12),
    L6: rgba(rgba(0, 0, 0, 0.87), 0.05),
);

$lx-theme-blue: (
    D2: #1976d2,
    D1: #1e88e5,
    N: #2196f3,
    L1: #42a5f5,
    L2: #64b5f6,
    L3: #90caf9,
    L4: #bbdefb,
    L5: #e3f2fd,
);

$lx-theme-yellow: (
    D2: #ffa000,
    D1: #ffb300,
    N: #ffc107,
    L1: #ffca28,
    L2: #ffd54f,
    L3: #ffe082,
    L4: #ffecb3,
    L5: #fff8e1,
);

$lx-theme-red: (
    D2: #d32f2f,
    D1: #e53935,
    N: #f44336,
    L1: #ef5350,
    L2: #e57373,
    L3: #ef9a9a,
    L4: #ffcdd2,
    L5: #ffebee,
);

$lx-theme-green: (
    D2: #388e3c,
    D1: #43a047,
    N: #4caf50,
    L1: #66bb6a,
    L2: #81c784,
    L3: #a5d6a7,
    L4: #c8e6c9,
    L5: #e8f5e9,
);
