@use "sass:math";

/* ==========================================================================
   Switch
   ========================================================================== */

.lumx-switch {
    $self: &;

    display: flex;

    &--position-right {
        flex-direction: row-reverse;
    }

    &__input-wrapper {
        @include lumx-switch-input-wrapper;

        flex-shrink: 0;
    }

    &__input-native {
        @include lumx-switch-input-native;
    }

    &__input-placeholder {
        @include lumx-switch-placeholder;
    }

    &__input-background {
        #{$self}--is-unchecked & {
            @include lumx-switch-input-background("unchecked");
        }

        #{$self}--is-checked & {
            @include lumx-switch-input-background("checked");
        }

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-state("state-default", "emphasis-low", "dark");
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-state("state-default", "emphasis-low", "light");
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-state(
                "state-default",
                "emphasis-high",
                "primary",
                "theme-light"
            );
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-state(
                "state-default",
                "emphasis-high",
                "primary",
                "theme-dark"
            );
        }
    }

    &__input-indicator {
        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-switch-input-indicator("unchecked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-switch-input-indicator("unchecked", "theme-dark");
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-switch-input-indicator("checked", "theme-light");
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-switch-input-indicator("checked", "theme-dark");
        }
    }

    &__content {
        #{$self}--position-left & {
            flex: 0 1 auto;
        }

        #{$self}--position-right & {
            flex: 1 1 auto;
        }
    }

    &__label,
    &__helper {
        #{$self}--position-left & {
            padding-left: $lumx-spacing-unit;
        }

        #{$self}--position-right & {
            padding-right: $lumx-spacing-unit;
        }
    }

    &__helper {
        margin-top: math.div($lumx-spacing-unit, 2);
    }
}

/* Switch states
   ========================================================================== */

// Disabled state
.lumx-switch--is-disabled {
    .lumx-switch__input-native {
        pointer-events: none;
    }

    .lumx-switch__input-placeholder {
        @include lumx-state-disabled-input;
    }

    &.lumx-switch--theme-light {
        .lumx-switch__label,
        .lumx-switch__helper {
            @include lumx-state-disabled-text("theme-light");
        }
    }

    &.lumx-switch--theme-dark {
        .lumx-switch__label,
        .lumx-switch__helper {
            @include lumx-state-disabled-text("theme-dark");
        }
    }
}

// Hover state
.lumx-switch--theme-light.lumx-switch--is-unchecked .lumx-switch__input-native:hover + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state("state-hover", "emphasis-low", "dark");
    }
}

.lumx-switch--theme-dark.lumx-switch--is-unchecked .lumx-switch__input-native:hover + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state("state-hover", "emphasis-low", "light");
    }
}

.lumx-switch--theme-light.lumx-switch--is-checked .lumx-switch__input-native:hover + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state(
            "state-hover",
            "emphasis-high",
            "primary",
            "theme-light"
        );
    }
}

.lumx-switch--theme-dark.lumx-switch--is-checked .lumx-switch__input-native:hover + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state(
            "state-hover",
            "emphasis-high",
            "primary",
            "theme-dark"
        );
    }
}

// Active state
.lumx-switch--theme-light.lumx-switch--is-unchecked .lumx-switch__input-native:active + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state("state-active", "emphasis-low", "dark");
    }
}

.lumx-switch--theme-dark.lumx-switch--is-unchecked .lumx-switch__input-native:active + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state("state-active", "emphasis-low", "light");
    }
}

.lumx-switch--theme-light.lumx-switch--is-checked .lumx-switch__input-native:active + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state(
            "state-active",
            "emphasis-high",
            "primary",
            "theme-light"
        );
    }
}

.lumx-switch--theme-dark.lumx-switch--is-checked .lumx-switch__input-native:active + .lumx-switch__input-placeholder {
    .lumx-switch__input-background {
        @include lumx-state(
            "state-active",
            "emphasis-high",
            "primary",
            "theme-dark"
        );
    }
}

// Focus state
.lumx-switch--theme-light.lumx-switch--is-unchecked .lumx-switch__input-native[data-focus-visible-added] + .lumx-switch__input-placeholder {
    @include lumx-state("state-focus", "emphasis-low", "dark");
}

.lumx-switch--theme-dark.lumx-switch--is-unchecked .lumx-switch__input-native[data-focus-visible-added] + .lumx-switch__input-placeholder {
    @include lumx-state("state-focus", "emphasis-low", "light");
}

.lumx-switch--theme-light.lumx-switch--is-checked .lumx-switch__input-native[data-focus-visible-added] + .lumx-switch__input-placeholder {
    @include lumx-state(
        "state-focus",
        "emphasis-high",
        "primary",
        "theme-light"
    );
}

.lumx-switch--theme-dark.lumx-switch--is-checked .lumx-switch__input-native[data-focus-visible-added] + .lumx-switch__input-placeholder {
    @include lumx-state(
        "state-focus",
        "emphasis-high",
        "primary",
        "theme-dark"
    );
}
