/* ==========================================================================
   Switch
   ========================================================================== */

.#{$lumx-base-prefix}-switch {
    $self: &;

    display: flex;

    &--position-right {
        flex-direction: row-reverse;
    }

    &__input-wrapper {
        @include lumx-switch-input-wrapper;

        flex-shrink: 0;
    }

    &__input-native {
        @include lumx-switch-input-native;
    }

    &__input-placeholder {
        @include lumx-switch-placeholder;
    }

    &__input-background {
        #{$self}--is-unchecked & {
            @include lumx-switch-input-background('unchecked');
        }

        #{$self}--is-checked & {
            @include lumx-switch-input-background('checked');
        }

        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'LOW'), 'dark');
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-state(lumx-base-const('state', 'DEFAULT'), lumx-base-const('emphasis', 'LOW'), 'light');
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-state(
                lumx-base-const('state', 'DEFAULT'),
                lumx-base-const('emphasis', 'HIGH'),
                'primary',
                lumx-base-const('theme', 'LIGHT')
            );
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-state(
                lumx-base-const('state', 'DEFAULT'),
                lumx-base-const('emphasis', 'HIGH'),
                'primary',
                lumx-base-const('theme', 'DARK')
            );
        }
    }

    &__input-indicator {
        #{$self}--theme-light#{$self}--is-unchecked & {
            @include lumx-switch-input-indicator('unchecked', lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark#{$self}--is-unchecked & {
            @include lumx-switch-input-indicator('unchecked', lumx-base-const('theme', 'DARK'));
        }

        #{$self}--theme-light#{$self}--is-checked & {
            @include lumx-switch-input-indicator('checked', lumx-base-const('theme', 'LIGHT'));
        }

        #{$self}--theme-dark#{$self}--is-checked & {
            @include lumx-switch-input-indicator('checked', lumx-base-const('theme', 'DARK'));
        }
    }

    &__content {
        #{$self}--position-left & {
            flex: 0 1 auto;
        }

        #{$self}--position-right & {
            flex: 1 1 auto;
        }
    }

    &__label,
    &__helper {
        #{$self}--position-left & {
            padding-left: $lumx-spacing-unit;
        }

        #{$self}--position-right & {
            padding-right: $lumx-spacing-unit;
        }
    }

    &__helper {
        margin-top: $lumx-spacing-unit / 2;
    }
}

/* Switch states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-switch--is-disabled {
    .#{$lumx-base-prefix}-switch__input-native {
        pointer-events: none;
    }

    .#{$lumx-base-prefix}-switch__input-placeholder {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-switch--theme-light {
        .#{$lumx-base-prefix}-switch__label,
        .#{$lumx-base-prefix}-switch__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'LIGHT'));
        }
    }

    &.#{$lumx-base-prefix}-switch--theme-dark {
        .#{$lumx-base-prefix}-switch__label,
        .#{$lumx-base-prefix}-switch__helper {
            @include lumx-state-disabled-text(lumx-base-const('theme', 'DARK'));
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native:hover
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native:hover
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}

.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native:hover
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(
            lumx-base-const('state', 'HOVER'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'LIGHT')
        );
    }
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native:hover
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(
            lumx-base-const('state', 'HOVER'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'DARK')
        );
    }
}

// Active state
.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native:active
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native:active
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'light');
    }
}

.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native:active
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(
            lumx-base-const('state', 'ACTIVE'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'LIGHT')
        );
    }
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native:active
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    .#{$lumx-base-prefix}-switch__input-background {
        @include lumx-state(
            lumx-base-const('state', 'ACTIVE'),
            lumx-base-const('emphasis', 'HIGH'),
            'primary',
            lumx-base-const('theme', 'DARK')
        );
    }
}

// Focus state
.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native[data-focus-visible-added]
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'dark');
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-unchecked
    .#{$lumx-base-prefix}-switch__input-native[data-focus-visible-added]
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    @include lumx-state(lumx-base-const('state', 'FOCUS'), lumx-base-const('emphasis', 'LOW'), 'light');
}

.#{$lumx-base-prefix}-switch--theme-light.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native[data-focus-visible-added]
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    @include lumx-state(
        lumx-base-const('state', 'FOCUS'),
        lumx-base-const('emphasis', 'HIGH'),
        'primary',
        lumx-base-const('theme', 'LIGHT')
    );
}

.#{$lumx-base-prefix}-switch--theme-dark.#{$lumx-base-prefix}-switch--is-checked
    .#{$lumx-base-prefix}-switch__input-native[data-focus-visible-added]
    + .#{$lumx-base-prefix}-switch__input-placeholder {
    @include lumx-state(
        lumx-base-const('state', 'FOCUS'),
        lumx-base-const('emphasis', 'HIGH'),
        'primary',
        lumx-base-const('theme', 'DARK')
    );
}
