@mixin lumx-switch-input-wrapper() {
    position: relative;
    width: var(--lumx-switch-wrapper-width);
    height: var(--lumx-switch-wrapper-height);
}

@mixin lumx-switch-input-native() {
    position: relative;
    z-index: 4;
    top: 0;
    left: 0;
    width: var(--lumx-switch-wrapper-width);
    height: var(--lumx-switch-wrapper-height);
    padding: 0;
    margin: 0;
    opacity: 0;
}

@mixin lumx-switch-placeholder() {
    position: absolute;
    z-index: 1;
    top: calc(calc(var(--lumx-switch-wrapper-height) - var(--lumx-switch-control-height)) / 2);
    left: 0;
    width: var(--lumx-switch-control-width);
    height: var(--lumx-switch-control-height);
    border-radius: calc(var(--lumx-switch-control-height) / 2);
}

@mixin lumx-switch-input-background($status) {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: calc(var(--lumx-switch-control-height) / 2);

    @if $status == 'unchecked' {
        border-width: 2px;
        border-style: solid;
    }
}

@mixin lumx-switch-input-indicator($status, $theme) {
    position: absolute;
    z-index: 3;
    top: calc(calc(var(--lumx-switch-control-height) - var(--lumx-switch-indicator-size)) / 2);
    width: var(--lumx-switch-indicator-size);
    height: var(--lumx-switch-indicator-size);
    border-radius: calc(var(--lumx-switch-indicator-size) / 2);

    @if $status == 'checked' {
        right: var(--lumx-switch-indicator-offset);

        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('light', 'N');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: lumx-color-variant('primary', 'N');
        }
    } @else if $status == 'unchecked' {
        left: var(--lumx-switch-indicator-offset);

        @if $theme == lumx-base-const('theme', 'LIGHT') {
            background-color: lumx-color-variant('dark', 'N');
        } @else if $theme == lumx-base-const('theme', 'DARK') {
            background-color: lumx-color-variant('light', 'N');
        }
    }
}

@mixin lumx-switch-input-indicator-disabled($theme) {
    @if $theme == lumx-base-const('theme', 'LIGHT') {
        background-color: lumx-color-variant('dark', 'L3');
    } @else if $theme == lumx-base-const('theme', 'DARK') {
        background-color: lumx-color-variant('light', 'L3');
    }
}
