@mixin lumx-switch-input-wrapper() {
    position: relative;
    width: var(--lumx-material-switch-wrapper-width);
    height: var(--lumx-material-switch-wrapper-height);
}

@mixin lumx-switch-input-native() {
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    width: var(--lumx-material-switch-wrapper-width);
    height: var(--lumx-material-switch-wrapper-height);
    padding: 0;
    margin: 0;
    opacity: 0;
}

@mixin lumx-switch-placeholder() {
    position: absolute;
    top: calc((var(--lumx-material-switch-wrapper-height) - var(--lumx-material-switch-control-height)) / 2);
    left: 0;
    z-index: 1;
    width: var(--lumx-material-switch-control-width);
    height: var(--lumx-material-switch-control-height);
    border-radius: calc(var(--lumx-material-switch-control-height) / 2);
}

@mixin lumx-switch-input-background($status) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: calc(var(--lumx-material-switch-control-height) / 2);

    @if $status == "unchecked" {
        border-style: solid;
        border-width: 2px;
    }
}

@mixin lumx-switch-input-indicator($status, $theme) {
    position: absolute;
    top: calc((var(--lumx-material-switch-control-height) - var(--lumx-material-switch-indicator-size)) / 2);
    z-index: 3;
    width: var(--lumx-material-switch-indicator-size);
    height: var(--lumx-material-switch-indicator-size);
    border-radius: calc(var(--lumx-material-switch-indicator-size) / 2);

    @if $status == "checked" {
        right: var(--lumx-material-switch-indicator-offset);

        @if $theme == "theme-light" {
            background-color: lumx-color-variant("light", "N");
        } @else if $theme == "theme-dark" {
            background-color: lumx-color-variant("primary", "N");
        }
    } @else if $status == "unchecked" {
        left: var(--lumx-material-switch-indicator-offset);

        @if $theme == "theme-light" {
            background-color: lumx-color-variant("dark", "N");
        } @else if $theme == "theme-dark" {
            background-color: lumx-color-variant("light", "N");
        }
    }
}

@mixin lumx-switch-input-indicator-disabled($theme) {
    @if $theme == "theme-light" {
        background-color: lumx-color-variant("dark", "L3");
    } @else if $theme == "theme-dark" {
        background-color: lumx-color-variant("light", "L3");
    }
}
