$lumx-switch-wrapper-width: 30px;
$lumx-switch-wrapper-height: 20px;
$lumx-switch-control-width: 30px;
$lumx-switch-control-height: 16px;
$lumx-switch-indicator-size: 8px;
$lumx-switch-indicator-offset: 4px;
$lumx-switch-checked-color: 'primary';
