$lumx-theme-primary: $lumx-theme-blue !default;
$lumx-theme-secondary: $lumx-theme-green !default;

$lumx-theme-color-palette: (
    'primary': $lumx-theme-primary,
    'secondary': $lumx-theme-secondary,
    'dark': $lumx-theme-dark,
    'grey': $lumx-theme-grey,
    'light': $lumx-theme-light,
    'blue': $lumx-theme-blue,
    'yellow': $lumx-theme-yellow,
    'red': $lumx-theme-red,
    'green': $lumx-theme-green,
    'accent': $lumx-theme-secondary,
    'black': $lumx-theme-dark,
    'white': $lumx-theme-light,
    'orange': $lumx-theme-yellow
);

$lumx-theme-border-radius: 2px;

$lumx-theme-grey-N: map-get($lumx-theme-grey, 'N');
$lumx-theme-grey-L1: map-get($lumx-theme-grey, 'L1');
$lumx-theme-grey-L2: map-get($lumx-theme-grey, 'L2');
$lumx-theme-grey-L3: map-get($lumx-theme-grey, 'L3');
$lumx-theme-grey-L4: map-get($lumx-theme-grey, 'L4');
$lumx-theme-grey-L5: map-get($lumx-theme-grey, 'L5');
$lumx-theme-grey-L6: map-get($lumx-theme-grey, 'L6');
