/* ==========================================================================
   Chip
   ========================================================================== */

.#{$lumx-base-prefix}-chip {
    $self: &;

    @include lumx-chip-base;

    &__before {
        @include lumx-chip-before;
    }

    &__label {
        #{$self}--size-m & {
            @include lumx-chip-label('m');
        }

        #{$self}--size-s & {
            @include lumx-chip-label('s');
        }
    }

    &__after {
        @include lumx-chip-after;
    }
}

/* Chip size
   ========================================================================== */

.#{$lumx-base-prefix}-chip--size-m {
    @include lumx-chip-size('m');

    padding: 0 $lumx-spacing-unit * 2;

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit * 1.5;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit * 1.5;
    }
}

.#{$lumx-base-prefix}-chip--size-s {
    @include lumx-chip-size('s');

    padding: 0 $lumx-spacing-unit * 1.5;

    &.#{$lumx-base-prefix}-chip--has-before {
        padding-left: $lumx-spacing-unit;
    }

    &.#{$lumx-base-prefix}-chip--has-after {
        padding-right: $lumx-spacing-unit;
    }
}

/* Chip states
   ========================================================================== */

.#{$lumx-base-prefix}-chip--is-clickable {
    @include lumx-state-transition;

    cursor: pointer;

    &.#{$lumx-base-prefix}-chip--is-highlighted {
        @include lumx-state('state-focus', 'emphasis-medium', 'dark');
    }
}

@each $key, $color in $lumx-theme-color-palette {
    .#{$lumx-base-prefix}-chip--is-unselected.#{$lumx-base-prefix}-chip--color-#{$key} {
        @include lumx-state('state-default', 'emphasis-medium', $key);

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state('state-hover', 'emphasis-medium', $key);
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state('state-active', 'emphasis-medium', $key);
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added] {
            @include lumx-state('state-focus', 'emphasis-medium', $key);
        }
    }
}

.#{$lumx-base-prefix}-chip--is-selected {
    &.#{$lumx-base-prefix}-chip--color-dark {
        @include lumx-state-as-selected('state-default', 'dark');

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state-as-selected('state-hover', 'dark');
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state-as-selected('state-active', 'dark');
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added] {
            @include lumx-state-as-selected('state-focus', 'dark');
        }
    }

    &.#{$lumx-base-prefix}-chip--color-light {
        @include lumx-state-as-selected('state-default', 'light');

        &.#{$lumx-base-prefix}-chip--is-clickable:hover {
            @include lumx-state-as-selected('state-hover', 'light');
        }

        &.#{$lumx-base-prefix}-chip--is-clickable:active {
            @include lumx-state-as-selected('state-active', 'light');
        }

        &.#{$lumx-base-prefix}-chip--is-clickable[data-focus-visible-added] {
            @include lumx-state-as-selected('state-focus', 'light');
        }
    }
}

.#{$lumx-base-prefix}-chip--is-disabled {
    @include lumx-state-disabled-input;
}

/* Chip group
   ========================================================================== */

.#{$lumx-base-prefix}-chip-group {
    display: flex;
    flex-wrap: wrap;

    .#{$lumx-base-prefix}-chip {
        margin: $lumx-chip-group-spacing 0;
    }

    &--align-left .#{$lumx-base-prefix}-chip {
        margin-right: $lumx-chip-group-spacing * 2;
    }

    &--align-center .#{$lumx-base-prefix}-chip {
        margin-right: $lumx-chip-group-spacing;
        margin-left: $lumx-chip-group-spacing;
    }

    &--align-right .#{$lumx-base-prefix}-chip {
        margin-left: $lumx-chip-group-spacing * 2;
    }
}
