<main-header category="Components" title="Data table">
    <p>
        Use data table to show tabular information that are easy comparable and scannable, such a statistical data.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Basic usage"
    path="demo/angularjs/components/data-table/partials/default.html"
    js-path="demo/angularjs/components/data-table/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Layout example"
    path="demo/angularjs/components/data-table/partials/avatar-layout.html"
    js-path="demo/angularjs/components/data-table/controller.js"
>
</main-block>
