<div lumx-grid-container="row" lumx-grid-h-align="center">
    <div lumx-grid-item>
        <span>{{ vm.selectedRows.length || 0 }} selected item(s)</span>
    </div>

    <lumx-button lumx-emphasis="low" lumx-variant="icon" ng-if="vm.selectedRows.length === 1">
        <lumx-icon lumx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
    </lumx-button>

    <lumx-button lumx-emphasis="low" lumx-variant="icon" ng-if="vm.selectedRows.length >= 1">
        <lumx-icon lumx-path="{{ vm.icons.mdiDelete }}"></lumx-icon>
    </lumx-button>
</div>

<div class="lumx-theme-background-blue-N">
    <lumx-data-table
        id="{{ vm.dataTableDemo }}"
        lumx-has-border="true"
        lumx-has-bulk="true"
        lumx-is-activable="true"
        lumx-is-selectable="true"
        lumx-thead="vm.dataTableThead"
        lumx-tbody="vm.dataTableTbody"
        lumx-theme="dark"
    ></lumx-data-table>
</div>

<lumx-data-table
    lumx-has-border="true"
    lumx-has-bulk="true"
    lumx-has-thumbnail="true"
    lumx-is-selectable="true"
    lumx-thead="vm.advancedDataTableThead"
    lumx-tbody="vm.dataTableTbody"
></lumx-data-table>
