/// Typography base mixin to apply Roboto and smooth font
@mixin lx-typography-base() {
    font-family: $lx-typography-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/// Typography mixin to style text
///
/// @param {String} $style - The wanted style
@mixin lx-typography($style) {
    @include lx-typography-base;

    @if $style == title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    @if $style == subtitle2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }

    @if $style == subtitle1 {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    @if $style == body2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    @if $style == body1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    @if $style == caption {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
}
