@import "./functions";

/// Typography base mixin to apply Roboto and smooth font
@mixin lx-typography-base() {
    font-family: $lx-typography-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/// Typography mixin to style text
///
/// @param {String} $style - The wanted style
@mixin lx-typography($style) {
    @include lx-typography-base;

    @if $style == headline1 {
        font-size: lx-typography-to-rem(96px);
        font-weight: 500;
    }

    @if $style == headline2 {
        font-size: lx-typography-to-rem(60px);
        font-weight: 500;
    }

    @if $style == headline3 {
        font-size: lx-typography-to-rem(48px);
        font-weight: 500;
    }

    @if $style == headline4 {
        font-size: lx-typography-to-rem(34px);
        font-weight: 500;
    }

    @if $style == headline5 {
        font-size: lx-typography-to-rem(24px);
        font-weight: 500;
    }

    @if $style == headline6 {
        font-size: lx-typography-to-rem(20px);
        font-weight: 500;
    }

    @if $style == subtitle1 {
        font-size: lx-typography-to-rem(16px);
        font-weight: 500;
    }

    @if $style == subtitle2 {
        font-size: lx-typography-to-rem(14px);
        font-weight: 500;
    }

    @if $style == body1 {
        font-size: lx-typography-to-rem(16px);
        font-weight: 400;
    }

    @if $style == body2 {
        font-size: lx-typography-to-rem(14px);
        font-weight: 400;
    }

    @if $style == caption {
        font-size: lx-typography-to-rem(12px);
        font-weight: 400;
    }
}
