$lx-typography-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !default;
$lx-typography-font-size: 16px !default;
$lx-typography-line-height: 24px !default;
$lx-typography-styles: caption, body2, body1, subtitle2, subtitle1, headline6, headline5, headline4, headline3, headline2, headline1;
