/* ==========================================================================
   Image block
   ========================================================================== */

@import './variables';

.lx-image-block {
    $self: &;

    position: relative;

    &__image {
        background-position: center;
        background-repeat: no-repeat;

        #{ $self }--format-original & {
            background-size: contain;
        }

        #{ $self }--format-crop & {
            background-size: cover;
        }
    }

    &__wrapper {
        #{ $self }--caption-position-below & {
            margin-top: $lx-spacing-unit;
        }

        #{ $self }--caption-position-over & {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: $lx-spacing-unit * 2;
        }

        #{ $self }--theme-light#{ $self }--caption-position-over & {
            background-color: lx-theme-color-variant(light, L1);
        }

        #{ $self }--theme-dark#{ $self }--caption-position-over & {
            background-color: lx-theme-color-variant(dark, L1);
        }
    }

    &__caption {
        #{ $self }--caption-position-over & {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__title,
    &__description {
        @include lx-typography(body1);
    }

    &__title {
        #{ $self }--theme-light & {
            color: lx-theme-color-variant(dark, N);
        }

        #{ $self }--theme-dark & {
            color: lx-theme-color-variant(light, N);
        }
    }

    &__description {
        #{ $self }--theme-light & {
            color: lx-theme-color-variant(dark, L2);
        }

        #{ $self }--theme-dark & {
            color: lx-theme-color-variant(light, L2);
        }
    }

    &__tags {
        display: flex;
        margin-top: $lx-spacing-unit;
    }

    &__tag {
        margin-right: $lx-spacing-unit / 2;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Image block aspect ratio
   ========================================================================== */

@each $key, $aspect-ratio in $lx-image-block-aspect-ratio {
    .lx-image-block--aspect-ratio-#{$key} .lx-image-block__image {
        padding-top: $aspect-ratio;
    }
}
