<div
    class="lx-select"
    ng-class="{ 'lx-select--is-empty': lxSelect.isModelEmpty(),
                'lx-select--unique': !lxSelect.multiple,
                'lx-select--has-unique': !lxSelect.isModelEmpty() && !lxSelect.multiple,
                'lx-select--multiple': lxSelect.multiple,
                'lx-select--has-multiple': !lxSelect.isModelEmpty() && lxSelect.multiple,
                'lx-select--is-open': lxSelect.isOpen,
                'lx-select--theme-light': !lxSelect.theme || lxSelect.theme === 'light',
                'lx-select--theme-dark': lxSelect.theme === 'dark',
                'lx-select--has-label': lxSelect.label,
                'lx-select--is-disabled': lxSelect.isDisabled,
                'lx-select--valid': lxSelect.isValid,
                'lx-select--error': lxSelect.hasError }"
>
    <span class="lx-select__label" ng-if="::lxSelect.label">
        {{ lxSelect.label }}
    </span>

    <div
        class="lx-select__input-wrapper"
        id="{{ lxSelect.targetUuid }}"
        tabindex="0"
        ng-click="lxSelect.openDropdown()"
        ng-focus="lxSelect.enableKeyEvents()"
        ng-blur="lxSelect.disableKeyEvents()"
    >
        <div
            class="lx-select__input-native lx-select__input-native--placeholder"
            ng-if="lxSelect.isModelEmpty() && !lxSelect.multiple"
        >
            <span>Select a value</span>
        </div>

        <div
            class="lx-select__input-native lx-select__input-native--placeholder"
            ng-if="lxSelect.isModelEmpty() && lxSelect.multiple"
        >
            <span>Select values</span>
        </div>

        <div class="lx-select__input-native" ng-if="!lxSelect.isModelEmpty() && !lxSelect.multiple">
            <span ng-bind-html="lxSelect.displaySelected()"></span>
        </div>

        <div class="lx-select__input-chips">
            <div
                class="lx-select__input-chip"
                ng-repeat="selected in lxSelect.viewValue"
                ng-if="!lxSelect.isModelEmpty() && lxSelect.multiple"
            >
                <lx-chip
                    lx-on-click="lxSelect.select(selected, $event)"
                    lx-size="s"
                    lx-theme="{{ lxSelect.theme === 'dark' ? 'dark' : 'light' }}"
                    ng-disabled="lxSelect.isDisabled"
                >
                    <lx-chip-label ng-bind-html="lxSelect.displaySelected(selected)"></lx-chip-label>
                    <lx-chip-after
                        ><lx-icon lx-path="{{ lxSelect.icons.mdiClose }}" lx-size="xxs"></lx-icon
                    ></lx-chip-after>
                </lx-chip>
            </div>
        </div>

        <div class="lx-select__input-validity" ng-if="lxSelect.isValid || lxSelect.hasError">
            <lx-icon
                lx-path="{{ lxSelect.isValid ? lxSelect.icons.mdiCheckCircle : lxSelect.icons.mdiAlertCircle }}"
                lx-size="xs"
            ></lx-icon>
        </div>

        <div
            class="lx-select__input-clear"
            ng-if="lxSelect.allowClear && !lxSelect.multiple && !lxSelect.isModelEmpty()"
            ng-click="lxSelect.clearModel($event)"
        >
            <lx-icon lx-path="{{ lxSelect.icons.mdiCloseCircle }}" lx-size="xs"></lx-icon>
        </div>

        <div class="lx-select__input-indicator">
            <lx-icon lx-path="{{ lxSelect.icons.mdiMenuDown }}" lx-size="s"></lx-icon>
        </div>
    </div>

    <lx-dropdown lx-position="left" lx-width="100%" id="{{ lxSelect.dropdownUuid }}">
        <lx-dropdown-menu>
            <div class="lx-select__filter" ng-if="::lxSelect.displayFilter">
                <lx-icon lx-path="{{ lxSelect.icons.mdiMagnify }}" lx-size="xs"></lx-icon>

                <input
                    type="text"
                    placeholder="Search"
                    ng-model="lxSelect.filterModel"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="lxSelect.updateFilter()"
                    lx-select-filter
                />
            </div>

            <div class="lx-select__loader" ng-if="lxSelect.loading">
                <lx-progress></lx-progress>
            </div>

            <lx-list lx-focus-on-init="true" lx-is-clickable="true">
                <lx-list-item
                    lx-is-selected="lxSelect.isSelected(choice)"
                    ng-repeat="choice in lxSelect.choices | lxSelectChoicesFilter:lxSelect.filter:lxSelect.filterModel"
                    ng-click="lxSelect.select(choice, $event)"
                    lx-enter-keypress="lxSelect.select(choice, $event)"
                >
                    <lx-list-item-primary ng-if="::lxSelect.multiple"
                        ><lx-checkbox ng-checked="lxSelect.isSelected(choice)"></lx-checkbox
                    ></lx-list-item-primary>

                    <lx-list-item-content ng-bind-html="lxSelect.displayChoice(choice)"></lx-list-item-content>
                </lx-list-item>
            </lx-list>

            <span class="lx-select__helper" ng-if="lxSelect.displayHelper && !lxSelect.loading">
                {{ lxSelect.helper }}
            </span>
        </lx-dropdown-menu>
    </lx-dropdown>
</div>
