$lumx-switch-wrapper-width: 35px;
$lumx-switch-wrapper-height: 24px;
$lumx-switch-control-width: 35px;
$lumx-switch-control-height: 14px;
$lumx-switch-indicator-size: 20px;
$lumx-switch-indicator-offset: 0;
$lumx-switch-checked-color: 'primary';
