<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-switch ng-checked="vm.switches.model.checked"></lumx-switch>
</div>

<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-switch ng-model="vm.switches.model.checked">
        <lumx-switch-label>Switch</lumx-switch-label>
    </lumx-switch>
</div>

<div class="lumx-theme-background-dark-L6" style="padding: 24px;">
    <lumx-switch ng-model="vm.switches.model.unchecked" ng-disabled="vm.switches.states.disabled">
        <lumx-switch-label>Switch with help</lumx-switch-label>
        <lumx-switch-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lumx-switch-helper>
    </lumx-switch>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-switch ng-model="vm.switches.model.checked" lx-theme="dark"></lumx-switch>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-switch ng-model="vm.switches.model.checked" lx-theme="dark">
        <lumx-switch-label>Switch</lumx-switch-label>
    </lumx-switch>
</div>

<div class="lumx-theme-background-blue-N" style="padding: 24px;">
    <lumx-switch ng-model="vm.switches.model.unchecked" ng-disabled="vm.switches.states.disabled" lx-theme="dark">
        <lumx-switch-label>Switch with help</lumx-switch-label>
        <lumx-switch-helper>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lumx-switch-helper>
    </lumx-switch>
</div>
