@import './variables';

@mixin lx-button-base() {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

@mixin lx-button-size($emphasis, $variant, $size) {
    height: map-get($lx-sizes, $size);

    @if $variant == variant-button {
        border-radius: $lx-button-radius;
    } @else if $variant == variant-icon {
        width: map-get($lx-sizes, $size);
        border-radius: 50%;
    }
}

@mixin lx-button-color($emphasis, $theme, $color: null) {
    @include lx-state-transitions;
    @include lx-state(state-default, $emphasis, $theme, $color);

    &:hover {
        @include lx-state(state-hover, $emphasis, $theme, $color);
    }

    &:active {
        @include lx-state(state-active, $emphasis, $theme, $color);
    }

    &[data-focus-visible-added] {
        @include lx-state(state-focus, $emphasis, $theme, $color);
    }

    &:disabled {
        @include lx-state(state-disabled, $emphasis, $theme, $color);
    }
}

@mixin lx-button-icon($variant, $position, $size) {
    font-size: map-get($lx-button-icon-sizes, $size);

    @if $variant == variant-button {
        @if $position == position-left {
            @if $size == m {
                margin-right: $lx-base-spacing-unit;
            } @else if $size == s {
                margin-right: $lx-base-spacing-unit / 2;
            }
        } @else if $position == position-right {
            @if $size == m {
                margin-left: $lx-base-spacing-unit;
            } @else if $size == s {
                margin-left: $lx-base-spacing-unit / 2;
            }
        }
    }
}

@mixin lx-button-text($size) {
    font-size: map-get($lx-button-text-sizes, $size);
    font-weight: 600;
    line-height: map-get($lx-sizes, $size);
}
