/* ==========================================================================
   Button
   ========================================================================== */

@import './mixins';

.lx-button {
    @include lx-button-base;
}

/* Button padding
   ========================================================================== */

.lx-button--variant-button.lx-button--emphasis-high,
.lx-button--variant-button.lx-button--emphasis-medium {
    &.lx-button--size-m {
        padding: 0 $lx-base-spacing-unit * 2;

        &.lx-button--has-left-icon {
            padding-left: $lx-base-spacing-unit * 1.5;
        }

        &.lx-button--has-right-icon {
            padding-right: $lx-base-spacing-unit * 1.5;
        }
    }

    &.lx-button--size-s {
        padding: 0 $lx-base-spacing-unit * 1.5;

        &.lx-button--has-left-icon {
            padding-left: $lx-base-spacing-unit;
        }

        &.lx-button--has-right-icon {
            padding-right: $lx-base-spacing-unit;
        }
    }
}

.lx-button--variant-button.lx-button--emphasis-low {
    padding: 0 $lx-base-spacing-unit;
}

/* Button sizes
   ========================================================================== */

@each $key, $size in $lx-sizes {
    @if $key == s or $key == m {
        .lx-button--size-#{$key} {
            &.lx-button--emphasis-high {
                &.lx-button--variant-button {
                    @include lx-button-size(emphasis-high, variant-button, $key);
                }

                &.lx-button--variant-icon {
                    @include lx-button-size(emphasis-high, variant-icon, $key);
                }
            }

            &.lx-button--emphasis-medium {
                &.lx-button--variant-button {
                    @include lx-button-size(emphasis-medium, variant-button, $key);
                }

                &.lx-button--variant-icon {
                    @include lx-button-size(emphasis-medium, variant-icon, $key);
                }
            }

            &.lx-button--emphasis-low {
                &.lx-button--variant-button {
                    @include lx-button-size(emphasis-low, variant-button, $key);
                }

                &.lx-button--variant-icon {
                    @include lx-button-size(emphasis-low, variant-icon, $key);
                }
            }

            &.lx-button--variant-button {
                i:first-child {
                    @include lx-button-icon(variant-button, position-left, $key);
                }

                i:last-child {
                    @include lx-button-icon(variant-button, position-right, $key);
                }
            }

            &.lx-button--variant-icon {
                i:first-child {
                    @include lx-button-icon(variant-icon, position-left, $key);
                }

                i:last-child {
                    @include lx-button-icon(variant-icon, position-right, $key);
                }
            }

            span {
                @include lx-button-text($key);
            }
        }
    }
}

/* Button colors
   ========================================================================== */

@each $key, $color in $lx-theme-color-palette {
    @if $key != dark and $key != light {
        .lx-button--color-#{$key} {
            &.lx-button--emphasis-high.lx-button--theme-light {
                @include lx-button-color(emphasis-high, dark, $key);
            }

            &.lx-button--emphasis-high.lx-button--theme-dark {
                @include lx-button-color(emphasis-high, light, $key);
            }
        }
    }
}

.lx-button--emphasis-medium.lx-button--theme-light {
    @include lx-button-color(emphasis-medium, dark);
}

.lx-button--emphasis-medium.lx-button--theme-dark {
    @include lx-button-color(emphasis-medium, light);
}

.lx-button--emphasis-low.lx-button--theme-light {
    @include lx-button-color(emphasis-low, dark);
}

.lx-button--emphasis-low.lx-button--theme-dark {
    @include lx-button-color(emphasis-low, light);
}

/* Button group
   ========================================================================== */

.lx-button-group {
    display: inline-flex;

    .lx-button {
        margin-right: 1px;
        border-radius: 0 !important;

        &:first-child {
            border-radius: $lx-button-radius 0 0 $lx-button-radius !important;
        }

        &:last-child {
            margin-right: 0;
            border-radius: 0 $lx-button-radius $lx-button-radius 0 !important;
        }
    }
}
