<div class="main__block">
    <h1>Buttons</h1>
    <p class="lx-typography-body1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis suscipit velit, non porttitor sapien condimentum quis. Vestibulum rhoncus, magna non tincidunt aliquam, odio eros consequat libero, non malesuada elit lorem sit amet sem. Etiam eleifend vestibulum imperdiet.</p>
</div>

<div class="main__block">
    <h2>Primary</h2>
    <p class="lx-typography-body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis suscipit velit, non porttitor sapien condimentum quis. Vestibulum rhoncus, magna non tincidunt aliquam, odio eros consequat libero, non malesuada elit lorem sit amet sem. Etiam eleifend vestibulum imperdiet.</p>

    <div class="lx-theme-background-dark-l6" style="padding: 24px;">
        <div style="margin-bottom: 24px">
            <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text">
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
            </lx-text-field>
        </div>

        <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text">
            <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" ng-disabled="true">
        </lx-text-field>
    </div>

    <div style="padding: 24px" class="lx-theme-background-blue-n">
        <div style="margin-bottom: 24px">
            <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text" lx-theme="dark">
                <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
            </lx-text-field>
        </div>

        <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text" lx-theme="dark">
            <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" ng-disabled="true">
        </lx-text-field>
    </div>
</div>
