<div style="padding: 24px;">
    <lx-text-field lx-label="Name">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>

<div style="padding: 24px;">
    <lx-text-field lx-label="Name" lx-icon="search">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>

<div style="padding: 24px;">
    <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>

<div style="padding: 24px;">
    <lx-text-field lx-label="Name" lx-icon="search" lx-helper="Optional helper text">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder" ng-disabled="true">
    </lx-text-field>
</div>
