<div style="padding: 24px;">
    <lx-text-field lx-label="Name" lx-suffix="px">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>

<div style="background-color: #eee; padding: 24px;">
    <lx-text-field lx-label="Name" lx-suffix="px" lx-theme="light">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>

<div style="background-color: #000; padding: 24px;"">
    <lx-text-field lx-label="Name" lx-suffix="px" lx-theme="dark">
        <input type="text" ng-model="vm.textFields.model.name" placeholder="Placeholder">
    </lx-text-field>
</div>
