/* ==========================================================================
   Text field
   ========================================================================== */

.#{$lumx-base-prefix}-text-field {
    $self: &;

    position: relative;
    padding-top: $lumx-spacing-unit * 4;
    padding-bottom: $lumx-spacing-unit;

    &__label {
        #{$self}--theme-light & {
            @include lumx-text-field-material-label('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-material-label('light');
        }

        #{$self}--has-icon & {
            transform: translateY($lumx-spacing-unit * 3) translateX(28px);
        }

        #{$self}--has-placeholder &,
        #{$self}--has-value &,
        #{$self}--is-focus & {
            transform: scale(0.75) translateY(0);
        }
    }

    &__helper {
        display: none !important;
    }

    &__input-wrapper {
        #{$self}--theme-light & {
            @include lumx-text-field-material-input-wrapper('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-text-field-material-input-wrapper('light');
        }
    }

    &__input-native {
        input {
            @include lumx-text-field-material-input-native();
        }
    }
}

/* Text field states
   ========================================================================== */

// Focus state
.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__input-wrapper {
        @include lumx-text-field-material-input-wrapper-focus;
    }
}

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__label {
        @include lumx-text-field-material-label-focus('dark');
    }
}

.#{$lumx-base-prefix}-text-field--theme-dark.#{$lumx-base-prefix}-text-field--is-focus {
    .#{$lumx-base-prefix}-text-field__label {
        @include lumx-text-field-material-label-focus('light');
    }
}

/* Text field validity
   ========================================================================== */

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--is-valid {
    .#{$lumx-base-prefix}-text-field__label {
        @include lumx-text-field-material-label-validity('valid');
    }

    .#{$lumx-base-prefix}-text-field__input-wrapper {
        @include lumx-text-field-material-input-wrapper-validity('valid');
    }
}

.#{$lumx-base-prefix}-text-field--theme-light.#{$lumx-base-prefix}-text-field--has-error {
    .#{$lumx-base-prefix}-text-field__label {
        @include lumx-text-field-material-label-validity('error');
    }

    .#{$lumx-base-prefix}-text-field__input-wrapper {
        @include lumx-text-field-material-input-wrapper-validity('error');
    }
}
