@mixin lumx-text-field-material-label($theme) {
    position: absolute;
    top: $lumx-spacing-unit;
    left: 0;
    height: $lumx-text-field-height;
    color: lumx-theme-color-variant($theme, 'L2');
    line-height: $lumx-text-field-height;
    transform: translateY($lumx-spacing-unit * 3);
    transform-origin: bottom left;
    transition-duration: 200ms;
    transition-property: color, transform;
}

@mixin lumx-text-field-material-label-validity($validity) {
    @if $validity == 'valid' {
        color: lumx-theme-color-variant('green', 'L2');
    } @else if $validity == 'error' {
        color: lumx-theme-color-variant('red', 'N');
    }
}

@mixin lumx-text-field-material-label-focus($theme) {
    @if $theme == 'dark' {
        color: lumx-theme-color-variant('primary', 'N');
    } @else if $theme == 'light' {
        color: lumx-theme-color-variant('light', 'N');
    }
}

@mixin lumx-text-field-material-input-wrapper($theme) {
    position: relative;
    margin-top: 0;
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none !important;

    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: lumx-theme-color-variant($theme, $lumx-divider-color-variant);
        content: '';
        pointer-events: none;
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        content: '';
        pointer-events: none;
        transform: scaleX(0);
        transition: transform 200ms;

        @if $theme == 'dark' {
            background-color: lumx-theme-color-variant('primary', 'N');
        } @else if $theme == 'light' {
            background-color: lumx-theme-color-variant('light', 'N');
        }
    }
}

@mixin lumx-text-field-material-input-wrapper-validity($validity) {
    &::after {
        transform: scaleX(1);
    }

    @if $validity == 'valid' {
        &::after {
            background-color: lumx-theme-color-variant('green', 'N');
        }
    } @else if $validity == 'error' {
        &::after {
            background-color: lumx-theme-color-variant('red', 'N');
        }
    }
}

@mixin lumx-text-field-material-input-wrapper-focus() {
    &::after {
        transform: scaleX(1);
    }
}

@mixin lumx-text-field-material-input-native() {
    font-size: map-get($lumx-typography-font-size, 'body2') !important;
    line-height: $lumx-text-field-height !important;
}
