@mixin lumx-list() {
    padding: $lumx-spacing-unit 0;
    margin: 0;
    list-style: none;
    outline: none;
}

@mixin lumx-list-item($size) {
    display: flex;
    outline: none;
    text-decoration: none;

    @if $size == 'huge' {
        align-items: flex-start;
        padding-top: $lumx-spacing-unit * 2;
        padding-bottom: $lumx-spacing-unit * 2;
    } @else {
        min-height: map-get($lumx-list-item-sizes, $size);
        align-items: center;
        padding-top: $lumx-spacing-unit;
        padding-bottom: $lumx-spacing-unit;
    }
}

@mixin lumx-list-item-clickable() {
    color: lumx-color-variant('dark', 'N');
    cursor: pointer;

    &:hover,
    &[data-focus-visible-added] {
        @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }

    &:active {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

@mixin lumx-list-item-highlighted() {
    cursor: pointer;

    @include lumx-state(lumx-base-const('state', 'HOVER'), lumx-base-const('emphasis', 'LOW'), 'dark');

    &:active {
        @include lumx-state(lumx-base-const('state', 'ACTIVE'), lumx-base-const('emphasis', 'LOW'), 'dark');
    }
}

@mixin lumx-list-item-selected() {
    @include lumx-state-as-selected(lumx-base-const('state', 'DEFAULT'), lumx-base-const('theme', 'LIGHT'));

    &:hover,
    &[data-focus-visible-added] {
        @include lumx-state-as-selected(lumx-base-const('state', 'HOVER'), lumx-base-const('theme', 'LIGHT'));
    }

    &:active {
        @include lumx-state-as-selected(lumx-base-const('state', 'ACTIVE'), lumx-base-const('theme', 'LIGHT'));
    }
}

@mixin lumx-list-item-edge($size) {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

@mixin lumx-list-item-before($size) {
    @include lumx-list-item-edge($size);

    @if $size == 'tiny' {
        width: map-get($lumx-sizes, lumx-base-const('size', 'S'));
        margin-right: $lumx-spacing-unit;
    } @else {
        width: map-get($lumx-sizes, lumx-base-const('size', 'M'));
        margin-right: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-list-item-content() {
    @include lumx-typography('body1');

    flex: 1 1 auto;
}

@mixin lumx-list-item-after($size) {
    @include lumx-list-item-edge($size);

    @if $size == 'tiny' {
        margin-left: $lumx-spacing-unit;
    } @else {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-list-subheader() {
    @include lumx-typography('overline');

    display: flex;
    height: map-get($lumx-list-item-sizes, 'tiny');
    align-items: center;
    color: lumx-color-variant('dark', 'L3');
}

@mixin lumx-list-subheader-icon {
    @include lumx-icon-size(lumx-base-const('size', 'XXS'));

    margin-right: $lumx-spacing-unit;
}

@mixin lumx-list-divider() {
    height: 1px;
    margin: $lumx-spacing-unit 0;
    background-color: lumx-color-variant('dark', $lumx-divider-color-variant);
}

@mixin lumx-list-item-padding($size) {
    @if $size == 'big' {
        padding-right: $lumx-spacing-unit * 2;
        padding-left: $lumx-spacing-unit * 2;
    } @else if $size == 'huge' {
        padding-right: $lumx-spacing-unit * 3;
        padding-left: $lumx-spacing-unit * 3;
    }
}
