<main-header category="Components" title="Stepper indicator">
    <p>
        An area that convey user progress through a linear sequence of steps.
    </p>
</main-header>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-indicator/partials/stepper.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
</main-block>

<main-block
    class="mt+++"
    title="Step states"
    path="demo/angularjs/components/stepper-indicator/partials/current.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
    <p>
        There are four types: <i>Current state,</i> <i>Future state,</i> <i>Completed state</i> and <i>Error state</i>.
        All types of states can be completed by a helper text.
    </p>
    <div class="mt+++">
        <strong>Current</strong>
    </div>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-indicator/partials/future.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
    <strong>Future</strong>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-indicator/partials/completed.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
    <strong>Completed</strong>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-indicator/partials/error.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
    <strong>Error </strong>
    <p class="mt+">⚠️ <i>Always come with an error message which replaces the helper text, if used.</i></p>
</main-block>

<main-block
    class="mt+++"
    path="demo/angularjs/components/stepper-indicator/partials/helper.html"
    js-path="demo/angularjs/components/stepper-indicator/controller.js"
>
    <strong>Future with helper</strong>
</main-block>
