<demo-grid>
    <lumx-chip id="{{ vm.dropdownTarget }}">
        <lumx-chip-label>Target</lumx-chip-label>
    </lumx-chip>
</demo-grid>

<demo-grid>
    <lumx-button id="{{ vm.dropdownSource }}" ng-click="vm.openDropdown($event)">
        Open dropdown
    </lumx-button>

    <lumx-button ng-click="vm.closeDropdown($event)">
        Close dropdown
    </lumx-button>

    <lumx-dropdown lumx-offset="8" lumx-position="left" id="{{ vm.dropdownId }}">
        <lumx-dropdown-menu>
            <lumx-list lumx-is-clickable="true" lumx-focus-on-init>
                <lumx-list-item>
                    <lumx-list-item-content>Los Angeles</lumx-list-item-content>
                </lumx-list-item>

                <lumx-list-item>
                    <lumx-list-item-content>Monterrey</lumx-list-item-content>
                </lumx-list-item>

                <lumx-list-item>
                    <lumx-list-item-content>Georgetown</lumx-list-item-content>
                </lumx-list-item>

                <lumx-list-item>
                    <lumx-list-item-content>Cali</lumx-list-item-content>
                </lumx-list-item>

                <lumx-list-item>
                    <lumx-list-item-content>Trondheim</lumx-list-item-content>
                </lumx-list-item>
            </lumx-list>
        </lumx-dropdown-menu>
    </lumx-dropdown>
</demo-grid>
