/* ==========================================================================
   Base
   ========================================================================== */

@import "./variables";

html {
    @include lx-typography-base;

    box-sizing: border-box;
    color: lx-theme-color-variant(dark, n);
    font-size: ($lx-typography-font-size / 16px) * 1em;
    line-height: $lx-typography-line-height / $lx-typography-font-size;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
