/* ==========================================================================
   Expansion panel
   ========================================================================== */

.lx-expansion-panel {
    $self: &;

    border-radius: $lx-expansion-panel-radius;

    &__header {
        display: flex;
        height: $lx-expansion-panel-header-height;
        align-items: center;
    }

    &__drag-indicator {
        flex-shrink: 0;
        margin: 0 $lx-spacing-unit;
        cursor: move;
    }

    &__label {
        flex: 1;
    }

    &__state-indicator {
        flex-shrink: 0;
        margin: 0 $lx-spacing-unit;
    }

    &__wrapper {
        overflow: hidden;
        transition: max-height $lx-expansion-panel-transition-duration;

        #{ $self }--is-close & {
            max-height: 0 !important;
        }
    }
}
