<div
    class="lx-expansion-panel"
    ng-class="{ 'lx-expansion-panel--is-open': lumx.isWrapperOpen,
                 'lx-expansion-panel--is-close': !lumx.isWrapperOpen,
                 'lx-expansion-panel--theme-light': !lumx.theme || lumx.theme === 'light',
                 'lx-expansion-panel--theme-dark': lumx.theme === 'dark' }"
>
    <div class="lx-expansion-panel__header" ng-click="lumx.toggle()">
        <div class="lx-expansion-panel__drag-indicator" ng-if="::lumx.isDraggable">
            <lumx-icon
                lx-path="{{ lumx.icons.mdiDragVertical }}"
                lx-color="{{ !lumx.theme || lumx.theme === 'light' ? 'dark' : 'light' }}"
                lx-size="s"
            ></lumx-icon>
        </div>

        <div class="lx-expansion-panel__label" ng-transclude="header"></div>

        <div class="lx-expansion-panel__state-indicator">
            <lumx-button
                lx-color="{{ !lumx.theme || lumx.theme === 'light' ? 'dark' : 'light' }}"
                lx-emphasis="low"
                lx-variant="icon"
                ng-click="lumx.toggle($event)"
            >
                <lumx-icon lx-path="{{ lumx.isWrapperOpen ? lumx.icons.mdiChevronUp : lumx.icons.mdiChevronDown }}">
                </lumx-icon>
            </lumx-button>
        </div>
    </div>

    <div class="lx-expansion-panel__wrapper" ng-if="lumx.isWrapperDisplayed">
        <div class="lx-expansion-panel__container">
            <div class="lx-expansion-panel__content" ng-transclude="content"></div>
            <div class="lx-expansion-panel__footer" ng-transclude="footer" ng-if="::lumx.hasFooter"></div>
        </div>
    </div>
</div>
