<div
    class="lx-expansion-panel"
    ng-class="{ 'lx-expansion-panel--is-open': lxExpansionPanel.isWrapperOpen,
                 'lx-expansion-panel--is-close': !lxExpansionPanel.isWrapperOpen,
                 'lx-expansion-panel--theme-light': !lxExpansionPanel.theme || lxExpansionPanel.theme === 'light',
                 'lx-expansion-panel--theme-dark': lxExpansionPanel.theme === 'dark' }"
>
    <div class="lx-expansion-panel__header" ng-click="lxExpansionPanel.toggle()">
        <div class="lx-expansion-panel__drag-indicator" ng-if="::lxExpansionPanel.isDraggable">
            <lx-icon
                lx-path="{{ lxExpansionPanel.icons.mdiDragVertical }}"
                lx-color="{{ !lxExpansionPanel.theme || lxExpansionPanel.theme === 'light' ? 'dark' : 'light' }}"
                lx-size="s"
            ></lx-icon>
        </div>

        <div class="lx-expansion-panel__label" ng-transclude="header"></div>

        <div class="lx-expansion-panel__state-indicator">
            <lx-button
                lx-emphasis="low"
                lx-theme="{{ !lxExpansionPanel.theme || lxExpansionPanel.theme === 'light' ? 'light' : 'dark' }}"
                lx-variant="icon"
                ng-click="lxExpansionPanel.toggle($event)"
            >
                <lx-icon
                    lx-path="{{
                        lxExpansionPanel.isWrapperOpen
                            ? lxExpansionPanel.icons.mdiChevronUp
                            : lxExpansionPanel.icons.mdiChevronDown
                    }}"
                >
                </lx-icon>
            </lx-button>
        </div>
    </div>

    <div class="lx-expansion-panel__wrapper" ng-if="lxExpansionPanel.isWrapperDisplayed">
        <div class="lx-expansion-panel__container">
            <div class="lx-expansion-panel__content" ng-transclude="content"></div>
            <div class="lx-expansion-panel__footer" ng-transclude="footer" ng-if="::lxExpansionPanel.hasFooter"></div>
        </div>
    </div>
</div>
