<lx-list>
    <lx-list-subheader>Lorem ipsum</lx-list-subheader>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-subheader>Lorem ipsum</lx-list-subheader>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-divider></lx-list-divider>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>

    <lx-list-item>
        <lx-list-item-before><lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon></lx-list-item-before>
        <lx-list-item-content>Lorem ipsum</lx-list-item-content>
    </lx-list-item>
</lx-list>
