<nglx-list>
    <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>

    <nglx-list-subheader>Lorem ipsum</nglx-list-subheader>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>

    <nglx-list-divider></nglx-list-divider>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>

    <nglx-list-item>
        <nglx-list-item-before
            ><nglx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></nglx-icon
        ></nglx-list-item-before>
        <nglx-list-item-content>Lorem ipsum</nglx-list-item-content>
    </nglx-list-item>
</nglx-list>
