/* ==========================================================================
   Checkbox
   ========================================================================== */

.#{$lumx-base-prefix}-checkbox {
    $self: &;

    display: flex;
    cursor: default;

    &__input-wrapper {
        @include lumx-checkbox-input-wrapper;
    }

    &__input-native {
        @include lumx-checkbox-input-native;
    }

    &__input-placeholder {
        @include lumx-checkbox-placeholder;
    }

    &__input-background {
        @include lumx-checkbox-input-background;

        #{$self}--theme-light & {
            @include lumx-state('state-default', 'emphasis-low', 'dark');
        }

        #{$self}--theme-dark & {
            @include lumx-state('state-default', 'emphasis-low', 'light');
        }

        #{$self}--is-unchecked & {
            @include lumx-checkbox-input-background-status('unchecked');
        }

        #{$self}--is-checked & {
            @include lumx-checkbox-input-background-status('checked');
        }
    }

    &__input-indicator {
        @include lumx-checkbox-input-indicator;

        #{$self}--theme-light & {
            @include lumx-state('state-default', 'emphasis-high', $lumx-checkbox-color, 'dark');
        }

        #{$self}--theme-dark & {
            @include lumx-state('state-default', 'emphasis-high', $lumx-checkbox-color, 'light');
        }

        #{$self}--is-unchecked & {
            @include lumx-checkbox-input-indicator-status('unchecked');
        }

        #{$self}--is-checked & {
            @include lumx-checkbox-input-indicator-status('checked');
        }
    }

    &__label {
        padding-left: $lumx-spacing-unit;

        #{$self}--theme-light & {
            @include lumx-input-label('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-label('light');
        }
    }

    &__helper {
        padding-left: $lumx-spacing-unit;

        #{$self}--theme-light & {
            @include lumx-input-helper('dark');
        }

        #{$self}--theme-dark & {
            @include lumx-input-helper('light');
        }
    }
}

/* Checkbox states
   ========================================================================== */

// Disabled state
.#{$lumx-base-prefix}-checkbox--is-disabled {
    .#{$lumx-base-prefix}-checkbox__input-native {
        pointer-events: none;
    }

    .#{$lumx-base-prefix}-checkbox__input-placeholder {
        @include lumx-state-disabled-input;
    }

    &.#{$lumx-base-prefix}-checkbox--theme-light {
        .#{$lumx-base-prefix}-checkbox__label,
        .#{$lumx-base-prefix}-checkbox__helper {
            @include lumx-state-disabled-text('dark');
        }
    }

    &.#{$lumx-base-prefix}-checkbox--theme-dark {
        .#{$lumx-base-prefix}-checkbox__label,
        .#{$lumx-base-prefix}-checkbox__helper {
            @include lumx-state-disabled-text('light');
        }
    }
}

// Hover state
.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native:hover
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-background {
        @include lumx-state('state-hover', 'emphasis-low', 'dark');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native:hover
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-background {
        @include lumx-state('state-hover', 'emphasis-low', 'light');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native:hover
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-indicator {
        @include lumx-state('state-hover', 'emphasis-high', $lumx-checkbox-color, 'dark');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native:hover
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-indicator {
        @include lumx-state('state-hover', 'emphasis-high', $lumx-checkbox-color, 'light');
    }
}

// Active state
.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native:active
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-background {
        @include lumx-state('state-active', 'emphasis-low', 'dark');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native:active
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-background {
        @include lumx-state('state-active', 'emphasis-low', 'light');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native:active
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-indicator {
        @include lumx-state('state-active', 'emphasis-high', $lumx-checkbox-color, 'dark');
    }
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native:active
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    .#{$lumx-base-prefix}-checkbox__input-indicator {
        @include lumx-state('state-active', 'emphasis-high', $lumx-checkbox-color, 'light');
    }
}

// Focus state
.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-low', 'dark');
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-unchecked
.#{$lumx-base-prefix}-checkbox__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-low', 'light');
}

.#{$lumx-base-prefix}-checkbox--theme-light.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-high', $lumx-checkbox-color, 'dark');
}

.#{$lumx-base-prefix}-checkbox--theme-dark.#{$lumx-base-prefix}-checkbox--is-checked
.#{$lumx-base-prefix}-checkbox__input-native[data-focus-visible-added]
+ .#{$lumx-base-prefix}-checkbox__input-placeholder {
    @include lumx-state('state-focus', 'emphasis-high', $lumx-checkbox-color, 'light');
}
