<main-header category="Components" title="Radio button">
    <p>
        Radio buttons are used to display multiple and exclusive options, meaning the user must select only one option.
    </p>
</main-header>

<main-block
    title="Default"
    path="demo/angularjs/components/radio-button/partials/default.html"
    js-path="demo/angularjs/components/radio-button/controller.js"
>
</main-block>
<main-block
    title=""
    path="demo/angularjs/components/radio-button/partials/helper.html"
    js-path="demo/angularjs/components/radio-button/controller.js"
>
    <p class="lumx-typography-subtitle2">With optional helper text</p>
</main-block>
