<main-header category="Components" title="Radio button">
    <p>
        Radio buttons are used to display multiple and exclusive options, meaning the user must select only one option.
    </p>
</main-header>

<demo-block
    title="Default"
    path="demo/angularjs/components/radio-button/partials/default.html"
    js-path="demo/angularjs/components/radio-button/controller.js"
></demo-block>

<demo-block
    subtitle="With optional helper text"
    path="demo/angularjs/components/radio-button/partials/helper.html"
    js-path="demo/angularjs/components/radio-button/controller.js"
></demo-block>
