name: 'CD / Deploy storybook'

# Deploy Storybook (chromatic) on pull requests
# - label "need: deploy-storybook-react" to deploy lumx react
# - label "need: deploy-storybook-vue" to deploy lumx vue
#
# When updates are pushed to the PR, we mark previous deploys as outdated

on:
    pull_request:
        types: [labeled, synchronize]

concurrency:
    group: storybook-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    deploy-storybook-react:
        if: "github.event.action == 'labeled' && github.event.label.name == 'need: deploy-storybook-react'"
        uses: ./.github/workflows/workflow-deploy-storybook.yaml
        secrets: inherit
        with:
            package: 'react'
            projectTokenKey: 'CHROMATIC_TOKEN'

    deploy-storybook-vue:
        if: "github.event.action == 'labeled' && github.event.label.name == 'need: deploy-storybook-vue'"
        uses: ./.github/workflows/workflow-deploy-storybook.yaml
        secrets: inherit
        with:
            package: 'vue'
            projectTokenKey: 'CHROMATIC_TOKEN_LUMX_VUE'

    check_up_to_date:
        if: "github.event.action == 'synchronize' && contains(github.event.pull_request.body, '\nStoryBook: ')"
        name: 'Check StoryBook URL is up-to-date'
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Get current short SHA'
              id: short_sha
              run: echo "short_sha=$(git rev-parse --short ${{github.event.pull_request.head.sha}})" >> $GITHUB_OUTPUT

            - name: 'Mark storybook URL as outdated'
              uses: ./.github/actions/update-pr-body
              with:
                  pattern: '(Storybook \w+: (https:\/\/([a-z0-9]+)--[^ ]*).*)'
                  # Ignore if the short SHA in the storybook URL is up-to-date or if it was already marked as outdated
                  skipReplaceIf: |
                      groups[3] === "${{steps.short_sha.outputs.short_sha}}"
                      || groups[0].includes("Outdated commit")
                  replace: '$1 **⚠️ Outdated commit**'
                  whenNotFound: 'ignore'
                  keepLastMatch: true
