name: 'CD / Deploy storybook'

# Deploy Storybook (chromatic) on pull requests
# When updates are pushed to the PR, we mark previous deploys as outdated

on:
    pull_request:
        types: [labeled, synchronize]


jobs:
    deploy-storybook-react:
        concurrency:
            group: storybook-react-${{ github.head_ref }}
            cancel-in-progress: true
        if: "github.event.action == 'labeled' && github.event.label.name == 'need: deploy-storybook-react'"
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0 # retrieve all the repo history (required by chromatic)

            - uses: ./.github/actions/deploy-storybook
              with:
                  package: 'lumx-react'
                  chromatic_token: ${{ secrets.CHROMATIC_TOKEN_LUMX_REACT }}

            - if: always()
              name: 'Remove label'
              uses: ./.github/actions/remove-label
              with:
                  label: 'need: deploy-storybook-react'

    deploy-storybook-vue:
        concurrency:
            group: storybook-vue-${{ github.head_ref }}
            cancel-in-progress: true
        if: "github.event.action == 'labeled' && github.event.label.name == 'need: deploy-storybook-vue'"
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0 # retrieve all the repo history (required by chromatic)

            - uses: ./.github/actions/deploy-storybook
              with:
                  package: 'lumx-vue'
                  chromatic_token: ${{ secrets.CHROMATIC_TOKEN_LUMX_VUE }}

            - if: always()
              name: 'Remove label'
              uses: ./.github/actions/remove-label
              with:
                  label: 'need: deploy-storybook-vue'

    check_up_to_date:
        concurrency:
            group: storybook-check-up-to-date-${{ github.head_ref }}
            cancel-in-progress: true
        if: "github.event.action == 'synchronize' && contains(github.event.pull_request.body, 'StoryBook ')"
        name: 'Check StoryBook URL is up-to-date'
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Get current short SHA'
              id: short_sha
              run: echo "short_sha=$(git rev-parse --short ${{github.event.pull_request.head.sha}})" >> $GITHUB_OUTPUT

            - name: 'Mark storybook URL as outdated'
              uses: ./.github/actions/update-pr-body
              with:
                  pattern: '(StoryBook [^:]+: (https:\/\/([a-z0-9]+)--[^ ]*).*)'
                  # Ignore if the short SHA in the storybook URL is up-to-date or if it was already marked as outdated
                  skipReplaceIf: |
                      groups[3] === "${{steps.short_sha.outputs.short_sha}}"
                      || groups[0].includes("Outdated commit")
                  replace: '$1 **⚠️ Outdated commit**'
                  whenNotFound: 'ignore'
                  keepLastMatch: true
