name: 'CI'

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

concurrency:
    group: ${{ github.head_ref }}-validate-pr
    cancel-in-progress: true

jobs:
    lint:
        if: github.event.pull_request.draft == false
        timeout-minutes: 30
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Setup'
              uses: ./.github/actions/setup

            - name: 'Run packages lint'
              run: yarn lint:code

    tests:
        if: github.event.pull_request.draft == false
        timeout-minutes: 30
        runs-on: ubuntu-latest
        strategy:
            matrix:
                package: ['@lumx/core', '@lumx/react', '@lumx/vue']
                packageOverrides: ['']
                include:
                    - package: '@lumx/react'
                      packageOverrides: 'react@17.0.2 react-dom@17.0.2 @testing-library/react@12.1.2'
                    - package: '@lumx/react'
                      packageOverrides: 'react@19.1.1 react-dom@19.1.1 @testing-library/react@16.3.0'
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Setup'
              uses: ./.github/actions/setup

            - name: 'Override package versions'
              if: ${{ matrix.packageOverrides != '' }}
              run: yarn up ${{ matrix.packageOverrides }}

            - name: 'Run ${{ matrix.package }} tests'
              run: |
                  sudo timedatectl set-timezone Europe/Paris
                  yarn workspace ${{ matrix.package }} test

    # Required "test" job in branch protection rule
    # (tests is running multiple jobs and thus we cannot mark them all as required)
    test:
        runs-on: ubuntu-latest
        needs: [tests]
        if: always() && github.event.pull_request.draft == false
        steps:
            - name: Success
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0
            - name: Failure
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1

    type-check:
        if: github.event.pull_request.draft == false
        timeout-minutes: 30
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Setup'
              uses: ./.github/actions/setup

            - name: 'Run code type check'
              run: yarn type-check

    visual-tests:
        if: github.event.pull_request.draft == false
        uses: ./.github/workflows/workflow-visual-tests.yml
        permissions:
            pull-requests: write
        secrets:
            GITBOT_TOKEN: ${{ secrets.GITBOT_TOKEN }}

    Commit-message-validation:
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5

            - name: 'Commit message validation'
              uses: lumapps/commit-message-validator@master
              with:
                  no_jira: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
