name: Dependencies

# Run on push master so that PRs can get updated dependency cache and skip install if possible
on:
    push:
        branches:
            - master

jobs:
    dependencies:
        timeout-minutes: 30
        name: "dependencies"
        runs-on: ubuntu-latest
        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v5

            -   name: "Setup"
                uses: ./.github/actions/setup

