name: "CD / Prerelease Workflow"

# Manual trigger workflow to automatically setup, build and push a new prerelease on NPM

on:
    workflow_dispatch:
        inputs:
            prereleaseName:
                description: 'Prerelease name'
                required: true
                default: 'alpha'
                type: string

concurrency:
    group: "${{ github.workflow }}-${{ github.ref_name }}"
    cancel-in-progress: true

jobs:
    publish_prerelease:
        name: "Publish Prerelease Version"
        uses: ./.github/workflows/workflow-publish-npm.yml
        with:
            release-type: 'prerelease'
            prerelease-name: ${{ inputs.prereleaseName }}
        secrets: inherit
