name: 'Reusable / Deploy storybook'

on:
    workflow_call:
        inputs:
            package:
                required: true
                type: string
            projectTokenKey:
                required: true
                type: string

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: 'Checkout repository'
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0 # retrieve all the repo history (required by chromatic)

            - name: 'Init variables'
              id: vars
              uses: actions/github-script@v6
              with:
                  script: |
                      // Link to the current run on github website
                      const run_html_url = "${{github.event.repository.html_url}}/actions/runs/${{github.run_id}}?pr=${{github.event.pull_request.number}}";

                      // StoryBook URL
                      const utils = require('./.github/actions/utils');
                      const storybook_url = await utils.getStoryBookURL('${{github.event.pull_request.head.sha}}', 'lumx-${{ inputs.package }}');

                      return { run_html_url, storybook_url };

            - name: 'Update PR body: Deploying state'
              uses: ./.github/actions/update-pr-body
              with:
                  pattern: 'StoryBook ${{ inputs.package }}: .*'
                  replace: 'StoryBook ${{ inputs.package }}: [Deploying...](${{fromJSON(steps.vars.outputs.result).run_html_url}})'
                  whenNotFound: 'append'
                  keepLastMatch: true

            - name: 'Setup'
              uses: ./.github/actions/setup

            - name: 'Deploy chromatic'
              id: deploy
              uses: chromaui/action@d0795df816d05c4a89c80295303970fddd247cce #v13.1.4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  projectToken: ${{ secrets[inputs.projectTokenKey] }}
                  buildScriptName: build:storybook:${{ inputs.package }}

            - if: 'failure()'
              name: 'Update PR body: Failure state'
              uses: ./.github/actions/update-pr-body
              with:
                  pattern: 'StoryBook ${{ inputs.package }}: .*'
                  replace: 'StoryBook ${{ inputs.package }}: [:x: Failed](${{fromJSON(steps.vars.outputs.result).run_html_url}})'
                  whenNotFound: 'ignore'
                  keepLastMatch: true

            - if: "always() && contains(github.event.pull_request.labels.*.name, format('need: deploy-storybook-{0}', inputs.package))"
              name: 'Remove label'
              uses: ./.github/actions/remove-label
              with:
                  label: 'need: deploy-storybook-${{ inputs.package }}'

            - name: 'Update PR body: Deployed state'
              uses: ./.github/actions/update-pr-body
              with:
                  pattern: 'StoryBook ${{ inputs.package }}: .*'
                  replace: 'StoryBook ${{ inputs.package }}: ${{fromJSON(steps.vars.outputs.result).storybook_url}} ([Chromatic build](${{steps.deploy.outputs.buildUrl}}))'
                  whenNotFound: 'append'
                  keepLastMatch: true
