@mixin lumx-list() {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}

@mixin lumx-list-item($size) {
    display: flex;
    padding-right: $lumx-list-item-padding;
    padding-left: $lumx-list-item-padding;
    color: lumx-theme-color-variant(dark, N);
    outline: none;
    text-decoration: none;

    @if $size == huge {
        align-items: flex-start;
        padding-top: $lumx-list-item-padding;
        padding-bottom: $lumx-list-item-padding;
    } @else {
        height: map-get($lumx-list-item-sizes, $size);
        align-items: center;
    }
}

@mixin lumx-list-item-clickable() {
    cursor: pointer;

    &:hover,
    &[data-focus-visible-added] {
        @include lumx-state('state-hover', 'emphasis-low', 'dark');
    }

    &:active {
        @include lumx-state('state-active', 'emphasis-low', 'dark');
    }
}

@mixin lumx-list-item-highlighted() {
    cursor: pointer;

    @include lumx-state(state-hover, emphasis-low, dark);

    &:active {
        @include lumx-state(state-active, emphasis-low, dark);
    }
}

@mixin lumx-list-item-selected() {
    @include lumx-state-as-selected('state-default', 'dark');

    &:hover,
    &[data-focus-visible-added] {
        @include lumx-state-as-selected('state-hover', 'dark');
    }

    &:active {
        @include lumx-state-as-selected('state-active', 'dark');
    }
}

@mixin lumx-list-item-edge($size) {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

@mixin lumx-list-item-before($size) {
    @include lumx-list-item-edge($size);

    @if $size == 'tiny' {
        width: map-get($lumx-sizes, 's');
        margin-right: $lumx-spacing-unit;
    } @else {
        width: map-get($lumx-sizes, 'm');
        margin-right: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-list-item-content() {
    @include lumx-typography('body1');

    flex: 1;
}

@mixin lumx-list-item-after($size) {
    @include lumx-list-item-edge($size);

    @if $size == 'tiny' {
        margin-left: $lumx-spacing-unit;
    } @else {
        margin-left: $lumx-spacing-unit * 2;
    }
}

@mixin lumx-list-subheader() {
    @include lumx-typography('overline');

    display: flex;
    height: map-get($lumx-list-item-sizes, 'tiny');
    align-items: center;
    padding: 0 $lumx-list-item-padding;
    color: lumx-theme-color-variant('dark', 'L3');
}

@mixin lumx-list-subheader-icon {
    @include lumx-icon-size('xxs');

    margin-right: $lumx-spacing-unit;
}

@mixin lumx-list-divider() {
    height: 1px;
    margin: $lumx-spacing-unit 0;
    background-color: lumx-theme-color-variant('dark', $lumx-divider-color-variant);
}
