$lumx-switch-wrapper-width: 30px !default;
$lumx-switch-wrapper-height: 20px !default;
$lumx-switch-control-width: 30px !default;
$lumx-switch-control-height: 16px !default;
$lumx-switch-indicator-size: 8px !default;
$lumx-switch-indicator-offset: 4px !default;
$lumx-switch-checked-color: 'primary' !default;
