<main-header category="Components" title="Chips">
    <p>
        Use chips to display distinct input, attribute or action. They can allow users to make choices, enter
        information or filter content. Chips should always appear as the same action in the same general area.
    </p></main-header
>

<main-block
    class="mt+++"
    title="Default"
    path="demo/angularjs/components/chip/partials/default.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Display distinct attributes such as tags on a blog post.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Dismissible"
    path="demo/angularjs/components/chip/partials/dismissible.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Allow user to dismiss the chip (to remove an item).
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Choice"
    path="demo/angularjs/components/chip/partials/choice.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Use choice chips to allow user to make a unique choice between several values. This chips type should replace a
        common select component if the space is not a constrained.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Choice multiple"
    path="demo/angularjs/components/chip/partials/choice-multiple.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Use choice chips to allow user to make a unique choice between several values. This chips type should replace a
        common select component if the space is not a constrained.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Filter"
    path="demo/angularjs/components/chip/partials/filter.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Fitler chip serves as an entry point to one or several choices. It can have an optional dismiss button when
        active.
    </p>
</main-block>

<main-block
    class="mt+++ mb+++"
    title="Small"
    path="demo/angularjs/components/chip/partials/small.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>For small areas like text fields, selects, dropdown menus and metadatas</p>
</main-block>
