<main-header category="Components" title="Chip">
    <p>
        Use chips to display distinct input, attribute or action. They can allow users to make choices, enter
        information or filter content. Chips should always appear as the same action in the same general area.
    </p>
</main-header>

<demo-block
    title="Default"
    path="demo/angularjs/components/chip/partials/default.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Display distinct attributes such as tags on a blog post.
    </p>
</demo-block>

<demo-block
    title="Dismissible"
    path="demo/angularjs/components/chip/partials/dismissible.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Allow user to dismiss the chip (to remove an item).
    </p>
</demo-block>

<demo-block
    title="Choice"
    path="demo/angularjs/components/chip/partials/choice.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Allow user to make an unique choice between several values. This chip type should replace a common select
        component if the space is not a constrained.
    </p>
</demo-block>

<demo-block
    title="Filter"
    path="demo/angularjs/components/chip/partials/filter.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>
        Serve as an entry point to one or several choices. It can have an optional clear button when active.
    </p>
</demo-block>

<demo-block
    title="Small"
    path="demo/angularjs/components/chip/partials/small.html"
    js-path="demo/angularjs/components/chip/controller.js"
>
    <p>For small areas like text fields, selects, dropdown menus and metadatas</p>
</demo-block>
