<div class="p++">
    <lumx-button lumx-theme="{{ mainBlock.theme }}">Default</lumx-button>

    <lumx-button lumx-theme="{{ mainBlock.theme }}" ng-disabled="true">Disabled</lumx-button>

    <lumx-button lumx-theme="{{ mainBlock.theme }}">
        <lumx-icon lumx-path="{{ vm.icons.mdiPencil }}"></lumx-icon>
        <span>With Icon</span>
    </lumx-button>

    <lumx-button lumx-theme="{{ mainBlock.theme }}">
        <span>Dropdown</span>
        <lumx-icon lumx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
    </lumx-button>

    <lumx-button-group>
        <lumx-button lumx-theme="{{ mainBlock.theme }}">Split</lumx-button>

        <lumx-button lumx-theme="{{ mainBlock.theme }}" lumx-variant="icon">
            <lumx-icon lumx-path="{{ vm.icons.mdiMenuDown }}"></lumx-icon>
        </lumx-button>
    </lumx-button-group>

    <lumx-button lumx-theme="{{ mainBlock.theme }}" lumx-variant="icon">
        <lumx-icon lumx-path="{{ vm.icons.mdiPlus }}"></lumx-icon>
    </lumx-button>
</div>
