<li
    class="lx-list-item"
    ng-class="{ 'lx-list-item--is-selected': lxListItem.isSelected }"
    tabindex="{{ lxListItem.parentController.isClickable ? 0 : -1 }}"
>
    <div
        class="lx-list-item__content"
        ng-transclude
        ng-if="::!lxListItem.hasBefore && !lxListItem.hasContent && !lxListItem.hasAfter"
    ></div>

    <div class="lx-list-item__before" ng-transclude="before" ng-if="::lxListItem.hasBefore"></div>
    <div class="lx-list-item__content" ng-transclude="content" ng-if="::lxListItem.hasContent"></div>
    <div class="lx-list-item__after" ng-transclude="after" ng-if="::lxListItem.hasAfter"></div>
</li>
