/* ==========================================================================
   Navigation
   ========================================================================== */

/* Navigation Item
   ========================================================================== */
.#{$lumx-base-prefix}-navigation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 0;

    &__link {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        min-height: var(--lumx-navigation-item-min-height);
        padding: 0 var(--lumx-navigation-item-padding-horizontal);
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        border-radius: var(--lumx-navigation-item-border-radius);
        outline: none;

        @include lumx-typography("navigation-item", "custom");
    }

    &__label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icon {
        margin-right: $lumx-spacing-unit;
    }
}

// Variants on emphasis, theme and states
@each $emphasis, $selector in (
    "emphasis-low": ".#{$lumx-base-prefix}-navigation-item__link",
    "emphasis-selected": ".#{$lumx-base-prefix}-navigation-item__link--is-selected",
) {
    @each $theme in ("theme-light", "theme-dark") {
        .#{$lumx-base-prefix}-navigation-item--#{$theme} > #{$selector} {
            // Default state
            @include lumx-navigation-link-colors(
                $emphasis,
                lumx-base-const("state", "DEFAULT"),
                $theme
            );
            @include lumx-navigation-link-borders(
                $emphasis,
                lumx-base-const("state", "DEFAULT")
            );

            // Focus state
            &[data-focus-visible-added] {
                @include lumx-state-as-selected(
                    lumx-base-const("state", "FOCUS"),
                    $theme
                );
            }

            // Hover state
            &:hover,
            &[data-lumx-hover], {
                @include lumx-navigation-link-colors(
                    $emphasis,
                    lumx-base-const("state", "HOVER"),
                    $theme
                );
                @include lumx-navigation-link-borders(
                    $emphasis,
                    lumx-base-const("state", "HOVER")
                );
            }

            // Active state
            &:active,
            &[data-lumx-active] {
                @include lumx-navigation-link-colors(
                    $emphasis,
                    lumx-base-const("state", "ACTIVE"),
                    $theme
                );
                @include lumx-navigation-link-borders(
                    $emphasis,
                    lumx-base-const("state", "ACTIVE")
                );
            }
        }
    }
}

/* Navigation Section
  ========================================================================== */

.#{$lumx-base-prefix}-navigation-section {
    flex-direction: column;
    align-items: normal;

    &__drawer {
        padding-left: $lumx-spacing-unit-huge;
    }

    & &__chevron {
        padding-left: $lumx-spacing-unit;
        margin-right: 0;
        margin-left: auto;
    }
}

/* Navigation
   ========================================================================== */
.#{$lumx-base-prefix}-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;

    &--orientation-horizontal {
        .#{$lumx-base-prefix}-navigation__list {
            display: flex;
            flex-direction: row;
            gap: $lumx-spacing-unit;
            overflow: hidden;
        }

        .#{$lumx-base-prefix}-navigation-item {
            max-width: 216px;
        }

        .#{$lumx-base-prefix}-navigation-section__drawer--popover {
            flex-direction: column;
            min-width: $lumx-size-xxl;
            max-width: 400px;
            padding: $lumx-spacing-unit-regular;
            .#{$lumx-base-prefix}-navigation-item {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
