@use "sass:map";

@mixin lumx-navigation-link-borders($emphasis, $state) {
    border-width:
        var(--lumx-navigation-item-#{$emphasis}-#{$state}-border-top-width)
        var(--lumx-navigation-item-#{$emphasis}-#{$state}-border-right-width)
        var(--lumx-navigation-item-#{$emphasis}-#{$state}-border-bottom-width)
        var(--lumx-navigation-item-#{$emphasis}-#{$state}-border-left-width);
}

@mixin lumx-navigation-link-colors($emphasis, $state, $theme) {
    background-color: var(--lumx-navigation-item-#{$emphasis}-#{$state}-#{$theme}-background-color);
    border-color: var(--lumx-navigation-item-#{$emphasis}-#{$state}-#{$theme}-border-color);

    .#{$lumx-base-prefix}-navigation-item__label {
        color: var(--lumx-navigation-item-#{$emphasis}-#{$state}-#{$theme}-label-color);
    }

    .#{$lumx-base-prefix}-navigation-item__icon {
        color: var(--lumx-navigation-item-#{$emphasis}-#{$state}-#{$theme}-icon-color);
    }
}
