<main-header category="Components" title="Dialog">
    <p>
        Dialogs inform users about a task and can contain critical information, require decisions, or involve multiple
        tasks.
    </p>
</main-header>

<demo-block
    title="Default"
    path="demo/angularjs/components/dialog/partials/default.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
></demo-block>

<demo-block
    subtitle="With scrollbar"
    path="demo/angularjs/components/dialog/partials/scrollable.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
>
    <p>
        When scrolling is required, the dialog title is pinned at the top, with buttons pinned at the bottom.
    </p>
</demo-block>

<demo-block
    subtitle="With header action"
    path="demo/angularjs/components/dialog/partials/action.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
>
    <p>
        There can be actions in dialog header.
    </p>
</demo-block>

<demo-block
    title="Alert dialog"
    path="demo/angularjs/components/dialog/partials/alert.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
>
    <p>
        Alert dialogs interrupt users with urgent information, details, or actions.
    </p>
</demo-block>

<demo-block
    title="Confirm dialog"
    path="demo/angularjs/components/dialog/partials/confirm.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
>
    <p>
        Confirmation dialogs require users to confirm a choice before the dialog is dismissed.
    </p>
</demo-block>

<demo-block
    title="Sizes"
    path="demo/angularjs/components/dialog/partials/sizes.html"
    js-path="demo/angularjs/components/dialog/controller.js"
    has-theme-switcher="false"
>
    <p>
        Dialogs comes in four optional sizes: <i>tiny</i> (400dp), <i>regular</i> (600dp), <i>big</i> (800dp), and
        <i>huge</i> (full screen).
    </p>
</demo-block>
