<main-header category="Components" title="Dialogs">
    <p>
        Dialogs inform users about a task and can contain critical information, require decisions, or involve multiple
        tasks.
    </p>
</main-header>

<main-block
    class="mt+++"
    title="Simple dialog"
    path="demo/angularjs/components/dialog/partials/simple.html"
    js-path="demo/angularjs/components/dialog/controller.js"
>
    <p>
        Simple dialogs display a list of items that take immediate effect when selected.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Alert dialog"
    path="demo/angularjs/components/dialog/partials/alert.html"
    js-path="demo/angularjs/components/dialog/controller.js"
>
    <p>
        Alert dialogs interrupt users with urgent information, details, or actions.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Confirm dialog"
    path="demo/angularjs/components/dialog/partials/confirm.html"
    js-path="demo/angularjs/components/dialog/controller.js"
>
    <p>
        Confirmation dialogs require users to confirm a choice before the dialog is dismissed.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Scrollable dialog"
    path="demo/angularjs/components/dialog/partials/scrollable.html"
    js-path="demo/angularjs/components/dialog/controller.js"
>
    <p>
        Most dialog content should avoid scrolling. When scrolling is required, the dialog title is pinned at the top,
        with buttons pinned at the bottom.
    </p>
</main-block>

<main-block
    class="mt+++"
    title="Sizes"
    path="demo/angularjs/components/dialog/partials/sizes.html"
    js-path="demo/angularjs/components/dialog/controller.js"
>
    <p>Dialogs comes in four optional sizes: <i>tiny,</i> <i>regular,</i> <i>big,</i> and <i>huge.</i></p>
</main-block>

<lumx-dialog id="{{ vm.dialogId }}">
    <lumx-dialog-header>
        <lumx-toolbar>
            <lumx-toolbar-label>
                <span class="lumx-typography-title">Dialog title</span>
            </lumx-toolbar-label>

            <lumx-toolbar-after>
                <lumx-button ng-click="vm.addPerson()" lumx-focus-on-init>
                    <span>Add</span>
                </lumx-button>
            </lumx-toolbar-after>
        </lumx-toolbar>

        <lumx-divider></lumx-divider>
    </lumx-dialog-header>

    <lumx-dialog-content>
        <div class="p++">
            <div ng-repeat="person in vm.people">{{ person.name }} - {{ person.email }} - {{ person.age }}</div>
        </div>
    </lumx-dialog-content>

    <lumx-dialog-footer>
        <lumx-divider></lumx-divider>

        <div class="p+" lumx-grid-container="row" lumx-grid-h-align="center" lumx-grid-v-align="right">
            <lumx-button lumx-emphasis="medium" lumx-dialog-close>Cancel</lumx-button>
            <lumx-button class="ml" lumx-dialog-close>Ok</lumx-button>
        </div>
    </lumx-dialog-footer>
</lumx-dialog>
